@charset "utf-8";
/* NHN Technology Services Convergence UI Development Team,LHK 120705 */

/* Common */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0;color:#666}
body,h1,h2,h3,h4,input,button,textarea{font-family:'돋움',dotum,Helvetica,sans-serif;font-size:12px;line-height:16px}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
button*{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}
.hide{display:none}
.dimmed{position:absolute;top:0;left:0;z-index:100;width:100%;height:3453px;background-color:#000;opacity:0.7;filter:alpha(opacity=70);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.pt3{padding-top:3px !important}
.pt10{padding-top:10px}
.pl10{padding-left:10px}
.mt15{margin-top:15px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.overview{overflow:hidden;zoom:1}
.fl{float:left}
.fr{float:right !important}
.color_gray{color:#adadad}

/* Layout */
#header{width:100%;background:#3b3b3b;text-align:left}
.header_area{position:relative;width:938px;height:64px;margin:0 auto}
.header_area h1{padding-top:12px}
.header_area h1 a{display:inline-block;width:166px;height:41px}
.gnb{position:absolute;right:-5px;bottom:0}
.gnb ul{height:47px;zoom:1}
.gnb ul:after{display:block;clear:both;content:''}
.gnb li{float:left}
.gnb li a{display:inline-block;overflow:hidden;height:47px;background:url(../img/bg_gnb.png) no-repeat 0 0;line-height:999px;vertical-align:top}
.gnb li .m{width:165px;background-position:0 0}
.gnb li .m:hover,.gnb li .m.on{background-position:0 -60px}
.gnb li .m2{width:94px;background-position:-165px 0}
.gnb li .m2:hover,.gnb li .m2.on{background-position:-165px -60px}
.gnb li .m3{width:94px;background-position:-259px 0}
.gnb li .m3:hover,.gnb li .m3.on{background-position:-259px -60px}
.gnb li .m4{width:95px;background-position:-353px 0}
.gnb li .m4:hover,.gnb li .m4.on{background-position:-353px -60px}
.gnb li .m5{width:97px;background-position:-448px 0}
.gnb li .m5:hover,.gnb li .m5.on{background-position:-448px -60px}
.template_level{overflow:hidden;position:relaitive;width:876px;margin-top:58px;text-align:left;zoom:1}
#container{position:relative}
#content{position:relative;width:938px;margin:0 auto;padding:50px 0 139px;*padding-top:60px;text-align:left}
.app_content{padding:30px 0 139px !important;*padding-top:40px}
#content h2.h_tit{margin:10px 0 30px}
#footer{position:fixed;left:0;bottom:0;z-index:200;width:100%;background:#3b3b3b}
#footer address{position:relative;width:884px;height:97px;margin:0 auto;background:url(../img/img_address.png) no-repeat 100% 18px}
#footer address a{position:absolute}
#footer address .btn_mail{top:47px;right:267px;width:170px;height:16px}
#footer address .btn_mail2{top:47px;right:0;width:140px;height:16px}
#footer address .btn_copy{top:63px;right:0;width:254px;height:16px}

/* sprite */
.h_spr{display:inline-block;background:url(../img/h_spr.png) no-repeat}
#content h2.h_spr,#content h3.h_spr{overflow:hidden;line-height:999px;vertical-align:top}
.h_intro{width:401px;height:15px;background-position:0 0}
.h_app{width:351px;height:15px;background-position:0 -25px}
.h_modify{width:351px;height:15px;background-position:0 -50px}
.h_cfrm{width:362px;height:15px;background-position:0 -75px}
.h_conf{width:351px;height:15px;background-position:0 -100px}
.h_error{width:425px;height:29px;background-position:0 -130px}
.h_sorry{width:329px;height:14px;background-position:0 -180px}

button.btn_spr{border:0}
.btn_spr{display:inline-block;height:1px;background:url(../img/btn_spr.png) no-repeat}
#content .btn_spr,.cont .btn_spr{overflow:hidden;line-height:999px;vertical-align:top}
.btn_email_cerf{width:89px;height:21px;background-position:0 0}
.btn_goapp{width:104px;height:32px;background-position:0 -25px}
.btn_help{width:14px;height:13px;background-position:0 -75px}
.btn_dnld{width:152px;height:25px;background-position:0 -100px}
.btn_dnld2{width:213px;height:25px;background-position:0 -875px}
.btn_file{width:64px;height:22px;background-position:0 -150px}
.btn_add{width:16px;height:16px;background-position:0 -225px}
.btn_del2{width:16px;height:16px;background-position:-25px -225px}
.btn_del{width:13px;height:13px;margin-left:5px;background-position:2px -173px}
.btn_find{width:21px;height:21px;background-position:0 -200px}
.btn_find.dsb,.dsb .btn_find{background-position:-25px -200px}
.btn_attach{width:50px;height:21px;background-position:-100px -150px}
.btn_attach2{width:44px;height:21px;background-position:-100px -200px}
.btn_cal{width:21px;height:21px;background-position:-50px -200px}
.btn_cal.dsb,.dsb .btn_cal{background-position:-50px -225px}
.btn_save{width:94px;height:29px;background-position:0 -250px}
.btn_prev{width:56px;height:29px;background-position:-75px -300px}
.btn_next{width:56px;height:29px;background-position:0 -300px}
.btn_print{width:44px;height:21px;background-position:-50px -75px}
.btn_chkout{width:94px;height:29px;background-position:0 -350px}
.btn_modify{width:106px;height:29px;background-position:0 -400px}
.btn_modify2{width:98px;height:32px;background-position:0 -675px}
.btn_cfrm{width:116px;height:29px;background-position:0 -450px}
.btn_dctinput{width:65px;height:21px;background-position:0 -500px}
.btn_clse{width:48px;height:23px;background-position:-100px -250px}
.btn_clse2{width:22px;height:22px;background-position:-125px 0}
.btn_input{width:48px;height:21px;background-position:-75px -500px}
.btn_detail{width:55px;height:21px;background-position:0 -525px}
.btn_cncl{width:48px;height:23px;background-position:0 -550px}
.btn_cfrm2{width:48px;height:23px;background-position:-75px -550px}
.btn_pdf{width:185px;height:25px;background-position:0 -575px}
.btn_veri{width:160px;height:25px;background-position:0 -625px}
.btn_nnext{width:150px;height:28px;background-position:0 -725px}
.btn_nextblog{width:130px;height:28px;background-position:0 -775px}
.btn_facebook{width:130px;height:28px;background-position:0 -825px}
.btn_conf{width:106px;height:29px;background-position:0 -920px}

.txt_spr{display:inline-block;background:url(../img/txt_spr.png) no-repeat}
#content .txt_spr{overflow:hidden;line-height:999px;vertical-align:top}
.txt_cerf_cfrm{width:89px;height:21px;background-position:0 0}
.txt_private{width:173px;height:12px;background-position:0 -50px}

/* input */
.input_txt{height:12px;padding:4px 6px 3px;border:1px solid #c0c0c0;line-height:14px;padding*\**:3px 6px 4px}
.input_dsb,.dsb .input_txt{border:1px solid #e4e4e4 !important;background:#fff !important;color:#bdbdbd !important}
.input_txt:disabled{border:1px solid #e4e4e4 !important;background:#fff !important;color:#bdbdbd !important}
label.dim span{position:absolute;top:3px;left:7px;color:#adadad;cursor:text}
label.dim span.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/* Designed File Input */
.browsebutton{position:absolute;top:0;right:0;width:44px;height:100%}
.browsebutton .browse-box{overflow:hidden;position:absolute;left:0;z-index:500;width:69px;height:23px;background-color:gray;opacity:0 !important;-ms-opacity:0 !important;filter:alpha(opacity=0) !important;-ms-filter:alpha(opacity=0) !important}
.browsebutton .browse-file-input{position:absolute;margin:0;padding:0;border:0 none}
.browsebutton .browse-button{overflow:hidden;position:absolute;left:0;width:44px;height:21px;background:url(../img/btn_spr.png) -154px -200px;text-indent:-99em}
.browsebutton .browse-applied{display:block}
.browsebutton .browse-over{background:url(../img/btn_spr.png) -100px -200px}

/* Designed Select Box */
.selectbox-noscript *{display:none}
.selectbox-noscript .selectbox-source{display:inline;position:relative;left:0}
.selectbox-noscript .selectbox-source *{display:block}
.selectbox-source{position:absolute;left:-9999px}
.selbox_area{*display:inline !important;z-index:100;*zoom:1}
.selectbox-box{border:1px solid #c0c0c0;background:#fff url(../img/bg_selbox.gif) no-repeat 100% 0;text-align:left;cursor:pointer}
.selectbox-focused .selectbox-box{background-position:100% -30px}
.selectbox-label{display:block;padding:2px 0 1px 6px;color:#666}
.selectbox-layer{display:none;position:absolute;border:1px solid #c0c0c0;border-top:0 none;text-align:left}
.selectbox-list ul{margin:0;padding:0;list-style:none}
.selectbox-list ul li{padding:4px 0 3px 6px;background:#fff;color:#666;zoom:1;cursor:pointer}
.selectbox-list ul li.selectbox-item-over{background:#eee}
.selectbox-disabled .selectbox-box{border-color:#e4e4e4;background:#fff url(../img/bg_selbox2.gif) no-repeat 100% 0}
.selectbox-disabled .selectbox-box ul li,.selectbox-disabled .selectbox-label{color:#bdbdbd}

/* content */
.bx{position:relative;width:877px;padding:0 30px 35px 29px;border:1px solid #d1d1d1}
.bx .btn_pdf{position:absolute;top:26px;right:30px}
.bx .btn_dnld,.bx .btn_dnld2{float:right;margin-top:-27px}

.bx .alert{margin-top:11px;padding:12px 0 9px 14px;background:#f8f8f8;line-height:20px;color:#000}
.bx .alert em{color:#f36523}
.bx .alert span{display:block;margin:10px 0}

.btns{margin-top:35px;text-align:center}
.btns a{margin-right:6px}

h3{margin-top:41px;margin-left:5px}
h3:first-child{margin-top:59px}
h3 span,h3 a{display:inline-block;margin-top:0;vertical-align:top}
h3 span{margin-right:3px;padding-left:18px;background:url(../img/spr_ico.png) no-repeat 0 3px;font-size:14px;color:#555}
h3 span.txt_subcopy{padding-left:7px;background:none;font-size:12px;font-weight:normal}
h3 em{padding-right:5px;font-size:14px;color:#f26522}
h3 a{margin-top:1px}
h3 a.btn_detail{margin:-3px 0 -2px 3px}
h3.type2{margin-left:0}
h3.type2 span{padding-left:0;background:none}
h3.type3{margin:44px 0 0}
h3.type3 span{padding-left:0;background:none}
.txt_plus{overflow:hidden;width:230px;height:13px;background:url(../img/btn_spr.png) no-repeat 0 -970px;line-height:999px}
h4{margin-top:15px;margin-left:3px;padding-left:7px;background:url(../img/spr_ico.png) no-repeat 0 -20px;color:#333}
h4.h_type1{color:#000;background:0;margin:0 0 10px 0;padding:0}
.tbl_v1 h3{margin-top:50px}
.tbl_line{display:block;overflow:hidden;border-top:1px solid #dbdbdb}

.tbl_info{width:100%;margin-top:7px;border-bottom:2px solid #e3e3e3}
.tbl_info thead th{height:25px;border-left:1px solid #e7e7e7;background:#f0f0f0;color:#333;text-align:center;empty-cells:hide}
.tbl_info thead tr th:first-child,.tbl_info tr td:first-child{border-left:0}
.tbl_info tr:first-child td{border-top:0}
.tbl_info td{padding:10px 20px 9px;border-top:1px solid #e3e3e3;border-left:1px solid #e7e7e7;line-height:20px;color:#666;text-align:left;vertical-align:top}
.tbl_info td.c{text-align:center}
.tbl_info td a{color:#666}
.tbl_info td span,.tbl_info td a.link_grey{color:#333}
.tbl_info td span.p_lft{display:block;color:#666;text-indent:35px}
.tbl_info_v1 td{*padding:10px 0 9px !important}
.tbl_info_v1 td.pr_none{*padding-left:15px !important}
.tbl_form{display:block;width:100%;margin-top:35px;table-layout:fixed}
.tbl_form caption{color:#000}
.tbl_form th,.tbl_form td{vertical-align:top}
.tbl_form th{padding-top:3px;color:#333;text-align:left}
.tbl_form td{padding-bottom:15px;*padding-bottom:14px}
.tbl_form td .input_txt,.tbl_form td .at,.tbl_form td .bar,.tbl_form td .btn_spr,.tbl_form td .selbox_area,.tbl_form td .txt,.tbl_form td .lst_chk{display:inline-block;margin-top:0;margin-right:0;vertical-align:top}
.tbl_form td .lst_chk{margin-top:2px}
.tbl_form td .selbox_area{margin-right:1px;*margin-right:5px}
.tbl_form td .input_txt{*margin-top:-1px;margin-right:1px}
.tbl_form td label{display:inline-block;position:relative}
.tbl_form td .txt{height:18px;*height:19px;margin-top:3px;color:#333}
.tbl_form td .txt_line{margin-right:-1px;margin-left:-2px;color:#c0c0c0}
.tbl_form td strong.txt{margin-right:9px;color:#333}
.tbl_form td p{display:block;float:none;clear:both}
.tbl_form td .txt_sm{padding-top:7px;*padding-top:3px;font-size:11px;line-height:18px;color:#adadad}
.tbl_form td .txt_sm em{color:#666}
.tbl_form td span.line_break{display:block;height:10px;*height:9px;margin:0;padding:0;font-size:0}
.tbl_form td .btn_find{*margin-left:4px}
.tbl_form .lst_chk input,.tbl_form .lst_chk span{display:inline-block;margin-top:0;vertical-align:top}
.tbl_form .lst_chk input{width:12px;height:12px;margin:2px 4px 0 1px}
.tbl_form2{display:block;width:100%;margin-top:7px;border-top:2px solid #e3e3e3;border-bottom:2px solid #e3e3e3;table-layout:fixed}
.tbl_form2 th{border-right:1px solid #e3e3e3;text-align:left}
.tbl_form2 th,.tbl_form2 td{padding:8px 0 6px}
.tbl_form2 th span,.tbl_form2 td span,.tbl_form2 td a{padding-left:9px;color:#333}
.tbl_form2 td a{color:#666}
.tbl_form3{width:100%;margin-top:8px;border-bottom:2px solid #e3e3e3;line-height:20px;table-layout:fixed}
.tbl_form3 th,.tbl_form3 td{empty-cells:hide}
.tbl_form3 thead th{height:25px;border-left:1px solid #e7e7e7;background:#f0f0f0;color:#333;text-align:center;empty-cells:hide}
.tbl_form3 thead th.last span{display:inline-block;overflow:hidden;overflow:hidden;height:5px;line-height:999px}
.tbl_form3 thead tr th:first-child,.tbl_form3 tr td:first-child,.tbl_form3 thead tr th.last,.tbl_form3 tr td.last{border-left:0}
.tbl_form3 tr:first-child td{border-top:0}
.tbl_form3 td{height:30px;padding:0 5px;border-top:1px solid #e7e7e7;border-left:1px solid #e7e7e7;word-break:break-all;word-wrap:break-word}
.tbl_form3 td a{color:#666}
.tbl_form3 td.c{text-align:center}
.tbl_form3 td .txt{margin-left:7px;word-break:break-all;word-wrap:break-word}

.th_txt th{height:34px !important}

.lst_dsc{margin-top:20px}
.lst_dsc li{font-size:11px;line-height:18px;color:#adadad}
.lst_dsc li em{color:#666}
.lst_dsc li span{color:#f36523}
.lst_fdsc2{margin-top:10px}
.lst_fdsc2 li{font-size:11px;line-height:20px;color:#adadad}
.lst_fdsc2 li em{color:#f36523}

.lst_caution{margin:10px 0 0 13px;line-height:20px}
.lst_caution li{display:block;zoom:1}
.lst_caution li:after{display:block;clear:both;content:''}
.lst_caution li span{float:left}
.lst_caution li span:first-child{display:inline-block;width:15px}
.lst_caution li a{color:#666;text-decoration:none}

.dsc_form{padding-top:6px;font-size:11px;line-height:18px;color:#adadad}
.dsc_form a{color:#adadad}
.dsc_form strong{color:#f3661f}
.dsc_form em{margin-left:7px;color:#333}
.app_content .dsc_form{margin-bottom:4px;text-align:right}

.private{margin-left:122px}
.private h2{margin:5px 0 10px}
.private dt{padding:6px 4px 11px 9px;border:1px solid #d9d9d9;font-size:11px;line-height:18px}
.private dt ul{margin:11px 0}
.private dt li{display:block;padding-left:12px;background:url(../img/spr_ico.png) no-repeat 6px -41px;line-height:20px}
.private dd{padding:8px 0 1px;font-size:11px;text-align:right;vertical-align:top}
.private dd input,.private dd span{display:inline-block;margin-top:0;vertical-align:top}
.private dd input{width:12px;height:12px;margin:2px 5px 0 0}

.lnb{overflow:hidden;position:relative;z-index:0;width:936px;height:43px;border:1px solid #d1d1d1;border-bottom:0}
.lnb ul{width:950px;height:43px;background:url(../img/bg_lnb.png) no-repeat}
.lnb ul.step2{background-position:0 -44px}
.lnb ul.step3{background-position:0 -88px}
.lnb li{float:left}
.lnb a{display:inline-block;width:309px;height:43px;margin-right:14px}
.lnb .s2 a{width:298px;margin-right:14px}
.lnb .s3 a{width:301px}

.volunteer{position:relative;margin-top:7px;padding-left:1px;border-bottom:2px solid #dfdfdf;zoom:1}
.volunteer:after{display:block;clear:both;content:''}
.volunteer .pic{position:absolute;top:0;left:1px;width:158px;height:100%;background:#efefef;text-align:center}
.volunteer .pic_v1{background-color:#fff}
.volunteer .pic .pic_area{margin:35px auto 7px}
.volunteer .pic .pic_area_v1{margin-top:0}
.pic_area{width:100px;padding:4px;border:1px solid #d5d5d5;background:#fff}
.volunteer .pic .btn_attach{margin-bottom:15px}
.volunteer .pic .dsc_pic{width:135px;margin:0 0 0 20px;font-size:11px;line-height:13px;color:#666;text-align:left}
.volunteer .info{padding:30px 0 27px 185px;background:#f7f7f7}
.volunteer .info_v1,.volunteer .info_v2{background-color:#fff}
.volunteer .info_v1 th,.volunteer .info_v2 th{padding:6px 0}
.volunteer .info_v1 td,.volunteer .info_v2 td{padding:5px 0}
.volunteer .info_v2{padding-top:0 !important}
.volunteer .info .tbl_form{margin-top:0}
.volunteer .info .tbl_form td{padding-bottom:12px;*padding-bottom:11px}
.volunteer .info .selbox_area{margin-right:0;*margin-right:4px}
.volunteer .info .input_txt{margin-right:0}
.volunteer .lst_rdo{margin-left:0}
.lst_rdo{margin-left:10px;zoom:1}
.lst_rdo:after{display:block;clear:both;content:''}
.lst_rdo li{float:left;margin-right:13px}
.lst_rdo li span,.lst_rdo li input{display:inline-block;margin-top:0;vertical-align:top}
.lst_rdo li input{width:13px;height:13px;margin-top:1px;margin-right:5px}
.lst_rdo li.last{margin-right:0}
.volunteer .txt_sm{margin-top:-1px;padding-top:0;font-size:11px;line-height:18px;color:#adadad}

.attach_area{padding:8px 0;border-bottom:1px solid #e7e7e7;zoom:1}
.attach_area:after{display:block;clear:both;content:''}
.attach_area dt{float:left;margin:2px -5px 0 10px}
.attach_area dd{display:block;float:left;width:600px;padding-left:13px}
.attach_area li{line-height:25px}
.attach_area li a,.attach_area li button{display:inline-block;margin-top:0;vertical-align:top}
.attach_area li a{margin-right:2px;color:#666}
.attach_area li button{margin-top:5px}

.file_area{margin-top:19px;margin-bottom:15px;zoom:1}
.file_area:after{display:block;clear:both;content:''}
.file_area .input,.file_area .view{float:left}
.file_area span,.file_area button,.file_area a{display:inline-block;margin-top:0;vertical-align:top}
.file_area span{margin-top:4px;margin-right:6px}
.file_area a{margin-top:4px;margin-left:19px;color:#666}
.file_area button.btn_del{margin-top:4px}
.p_txt{margin:7px 0 20px;background-color:#f0f0f0;line-height:25px;font-weight:bold;color:#333;text-align:center}

.bx_3d{position:relative;z-index:150;margin:60px 8px 0 1px}
.cfrm .bx_3d{margin-top:40px}
.bx_3d .cont{position:relative;z-index:99;padding:7px 19px 19px;border:1px solid #e2e2e2;background:#fff}
.bx_3d .cont2{padding:70px 30px 30px}
.bx_3d .cont h2{margin-bottom:30px}
.bx_3d .cont h3{margin:0;padding:0;font-size:14px;color:#555;letter-spacing:-1px}
.bx_3d .cont h3 span{margin:0;padding:0;background:none;font-weight:bold;color:#f26522}
.bx_3d dl.type2{margin:6px 0 3px}
.bx_3d dt,.bx_3d dd{position:relative;height:23px}
.bx_3d dl.type2 dt,.bx_3d dl.type2 dd{height:25px}
.bx_3d dt{display:inline-block;float:left;z-index:99;width:110px;border-bottom:1px solid #b4b4b4;font-weight:bold;color:#333}
.bx_3d dd{display:block;border-bottom:1px solid #fff;color:#666}
.bx_3d dt span,.bx_3d dd span{display:inline-block;position:absolute;top:11px;background:#fff}
.bx_3d dd span{padding-left:9px}
.bx_3d h2{font-size:16px;color:#f36523}
.bx_3d .shdw{position:absolute;top:8px;left:8px;z-index:50;width:100%;height:100%;background:url(../img/bg_shdw.gif) 100% 0}
.bx_3d .btn_clse2{position:absolute;top:24px;right:31px}
.bx_3d .btn_veri{position:absolute;right:20px;bottom:18px}
.ly_area{position:absolute;top:83px;left:50%;width:816px;margin-left:-408px;text-align:left}
.ly_area .lst_fdsc2{margin:19px 0 16px}
.ly_area .lst_fdsc2 li{padding:0}
.lst_fdsc3{margin:12px 0 15px}
.lst_fdsc3 li{font-size:11px;line-height:18px;color:#999}
.tbl_form4{width:100%;margin:10px 0 40px;table-layout:fixed}
.tbl_form4 tr th:first-child,.tbl_form4_v1 td:first-child{border-left:0}
.tbl_form4 thead th{height:30px;border-left:1px solid #e7e7e7;background:#f0f0f0;color:#333;text-align:center;empty-cells:hide}
.tbl_form4 tbody th{padding:5px 14px 4px;border-bottom:1px solid #e3e3e3;line-height:20px;text-align:left;font-weight:normal}
.tbl_form4 td{padding:5px 14px 4px;border-bottom:1px solid #e3e3e3;border-left:1px solid #e7e7e7;color:#666;line-height:20px;text-align:left;font-weight:normal}
.tbl_form4 td.t_color{color:#666}
.tbl_form4_v1 td{padding:5px 5px 4px;text-align:center;color:#999}

.section_error{overflow-y:hidden;background:url(../img/bg_error.png) 50% 10% no-repeat}
.section_error #header{position:relative;z-index:900}
.section_error h2{position:absolute;top:-11px;left:0px}
.section_error h3{margin:0 0 23px}
.section_error #wrap{height:100%}
.section_error #container{position:absolute;top:0;left:0;width:100%;height:100%}
.section_error #content{position:absolute;top:50%;left:50%;width:458px;height:260px;margin:-200px 0 0 -465px;padding:0 0 0 480px;line-height:20px}
.section_error p{margin-bottom:20px;color:#555}
.section_error a{font-weight:bold;color:#555;text-decoration:underline}
.lst_link ul{zoom:1}
.lst_link ul:after{display:block;clear:both;content:''}
.lst_link li{float:left;margin-right:2px}

/* popup layout */
#pop_wrap{width:100%;color:#333;text-align:center}
#pop_header{position:relative;height:35px;background:#3b3b3b}

/* popup contents */
.h_type{position:absolute;top:11px;left:19px;font-size:14px;color:#f36523}
.findsch_area{position:relative;margin:19px 0 11px 20px;text-align:left}
.findsch_area strong,.findsch_area input,.findsch_area button{display:inline-block;margin-top:0;color:#333;vertical-align:top}
.findsch_area strong{display:inline-block;margin:4px 4px 0 0}
.findsch_area .input_txt{margin-top:1px;*margin-top:0}
.findsch_area .btn_spr{margin:1px 1px 0 0;*margin-left:4px}
.tbl_type{margin:0 auto;border-bottom:1px solid #dedede}
.tbl_type table{width:100%}
.tbl_type thead th{padding:8px 0 7px;background:#f0f0f0;line-height:15px;color:#333}
.tbl_type thead th:first-child{background:#f0f0f0 url(../img/line_tbl2.gif) 100% 10px no-repeat}
.tbl_type .data{overflow-x:hidden;overflow-y:auto;width:100%;height:154px;padding:5px 0}
.tbl_type .data2{height:133px}
.tbl_type td{color:#7d7d7d}
.tbl_type td.title{text-align:left}
.tbl_type td.title span{display:block;margin-left:14px}
.tbl_type .data td{height:21px;padding-top:1px}
.tbl_type .hover td{background:#ffe6da;color:#333;cursor:pointer}
#pop_content .tbl_type .eof{padding-top:67px;color:#7d7d7d}
#pop_content .tbl_type .data2 .eof{padding-top:56px}
.dct_input{margin:0 auto;text-align:left}
.dct_input h2{margin:18px 0 5px;padding:0;background:none;color:#333}
.dct_input strong,.dct_input input,.dct_input button{display:inline-block;margin-top:0;vertical-align:top}
.dct_input strong{display:inline-block;margin:3px 7px 0 0;color:#333}
.dct_input input{margin-right:1px}
.dct_input .btn_input{*margin-left:4px}
.dct_input div{padding:10px 0 9px;border:1px solid #e3e3e3;background:#f8f8f8;text-align:center}
#pop_footer .btn_area{margin-top:15px;text-align:center}
#pop_footer .btn_area .btn_spr,#pop_footer .btn_area a{margin-right:5px}
.dsc_attach{width:345px;margin:11px auto 0;padding-bottom:9px;border-bottom:1px solid #dedede;font-size:11px;line-height:20px;color:#7d7d7d;text-align:left;zoom:1}
.dsc_attach.v2{margin-bottom:-11px;padding-bottom:0;border-bottom:0}
.dsc_attach:after{display:block;clear:both;content:''}
.dsc_attach span{float:left}
.dsc_attach span:first-child{display:inline-block;width:13px}
.print{margin:10px 20px 0;text-align:left}
.print .bx{width:auto;margin-top:10px;padding:30px 0 0;border:1px solid #d8d8d8;text-align:center}
.print .pic{position:relative;width:170px;height:220px;margin:0 auto}
.print .pic img{position:absolute;top:6px;left:6px}
.print .pic .bg{top:0;left:0}
.print dl{width:268px;margin:29px 0 13px 77px;text-align:left;zoom:1}
.print dl:after{display:block;clear:both;content:''}
.print dt,.print dd{height:30px}
.print dt{float:left;margin-right:22px}
.print dt img{display:inline-block;margin-top:1px;vertical-align:top}
.print dd{display:block;font-size:19px;font-weight:bold;color:#333}
.print .lst_fdsc2{margin:0 0 15px 10px;text-align:left}
.print .lst_fdsc2 span{color:#7d7d7d}

/* 지원결과 확인 */
.txt_comment{padding-bottom:8px;line-height:20px}
.color_orange{color:#f36523 !important}
.color_orange2{color:#f3661f !important}
.ct{text-align:center !important}
.lts{letter-spacing:-1px}
.lts_v1{letter-spacing:-1px;color:#666 !important;font-size:11px}
.pr_none{padding-right:0 !important}
.bg_final{background:url(../img/bg_final.png) 50% 106% no-repeat}
.bg_white{background-color:#fff}

.dsc_form_v1{margin:9px 0;*padding-top:10px;font-size:11px;color:#ababab}
.dsc_form_v1 strong{margin-bottom:6px;color:#f3661f}
.dsc_form_v1 em{width:33px;color:#313131}
.dsc_form_v1 a{color:#ababab}