@charset "utf-8";
/* NHN Web Standard 1Team JJS 111026 */

/* Common */
.spi_default,.spi_default ul,.spi_default li,.spi_default form,.spi_default fieldset,.spi_default legend,.spi_default input{margin:0;padding:0;color:#404040;font-family:'돋움',dotum,applegothic,sans-serif;font-size:12px;line-height:16px}
.spi_default:after{display:block;clear:both;content:''}
.spi_default fieldset{border:0}
.spi_default ul{list-style:none}
.spi_default em{font-style:normal}
.spi_default a{color:#404040;text-decoration:none}
.spi_default a:hover,.spi_default a:active,.spi_default a:focus,.spi_default a:visited{color:#404040}
.spi_default legend{display:none}

/* Social Plugin */
.spi_default{position:relative;z-index:1000}
.spi_default .spi_lst a:hover{text-decoration:none}
.spi_lst{zoom:1}
.spi_lst a,.spi_lst span,.spi_lst em,.spi_cnt_tooltip div{background:url(http://static.naver.net/common/spi/sp_social_plugin17.png) no-repeat}
.spi_default .spi_lst{position:relative;margin-left:-6px}
.spi_lst:after{display:block;clear:both;content:''}
.spi_lst li{display:inline;float:left;position:relative;height:28px;margin-left:6px}
.spi_lst li .spi_dimmed,.spi_lst li .spi_dimmed:link,.spi_lst li .spi_dimmed:hover,.spi_lst li .active,.spi_lst li .spi_dimmed:focus,.spi_lst li .spi_dimmed:visited{color:#999 !important}
.spi_lst a{display:inline-block;float:left;position:relative;height:22px;padding:6px 5px 0 31px;*padding:6px 4px 0 31px;background-position:0 0;font-size:12px;letter-spacing:-1px}
.spi_lst span{display:block;position:absolute;width:24px;height:10px;background-position:0 -80px;cursor:pointer}
.spi_lst em{display:inline-block;position:absolute;top:0;right:-1px;width:2px;height:27px;background-position:-198px 0}
.spi_lst .me2day_me2box{width:auto;height:auto;background:none}
.spi_lst .spi_btn_release{margin-left:8px}
.spi_btn_me a{padding-left:25px}
.spi_btn_me span{top:6px;left:8px;width:15px;height:15px;background-position:0 -80px}
.spi_btn_bookmark a{padding-left:24px}
.spi_btn_bookmark span{top:5px;left:7px;width:16px;height:16px;background-position:-160px -60px}
.spi_lst .spi_btn_me2day{margin-right:-2px;background:none}
.spi_btn_me2day a{padding:6px 8px 0 24px;_padding:6px 7px 0 24px}
.spi_btn_me2day span{top:5px;left:8px;width:15px;height:16px;background-position:-60px -80px}
.spi_lst .spi_cnt_tooltip{display:inline-block;_width:1px;margin:0 -2px 0 0;*margin:0 -1px 0 0}
.spi_lst .spi_cnt_tooltip em{right:1px;*right:0}
.spi_lst .spi_cnt_tooltip .spi_cnt{margin-right:3px;*margin-right:1px;padding-right:4px}
.spi_cnt_tooltip li{margin-left:2px;_margin-left:-1px;background-image:none}
.spi_cnt_tooltip div,.spi_cnt_tooltip a{width:auto;height:21px;_height:27px;padding:5px 4px 1px 8px;background-position:0 -30px;color:#705bb6;font-family:tahoma;font-size:11px;letter-spacing:0}
.spi_cnt_tooltip a:hover,.spi_cnt_tooltip a:link,.spi_cnt_tooltip a:active,.spi_cnt_tooltip a:focus,.spi_cnt_tooltip a:visited{color:#705bb6 !important}
.spi_cnt_tooltip em{background-position:-198px -30px}
.spi_btn_release .spi_lst_release a{display:block;float:none;width:auto;background:none}
.spi_btn_release a{padding:6px 14px 0 25px;*padding:6px 13px 0 25px}
.spi_btn_release .spi_bg_release{top:6px;left:8px;width:16px;height:15px;background-position:-100px -80px}
.spi_btn_release .spi_bu_arr{top:12px;right:7px;left:auto;width:5px;height:3px;background-position:-30px -60px}
.spi_lst .spi_lst_release{position:absolute;top:31px;left:-26px;width:97px;padding:5px 0;border:1px solid #b1b1b1;background-color:#fff;text-align:left}
.spi_lst_release li{float:none;height:auto;margin:0;padding:0;background:none;line-height:16px}
.spi_lst_release a{height:auto;padding:5px 0 4px 32px}
.spi_lst_release a:hover{background:#f1f1f1}
.spi_lnk_mail span{top:6px;left:12px;width:15px;height:14px;background-position:-100px -60px}
.spi_lnk_navertalk span{top:5px;left:12px;width:15px;height:15px;background-position:-120px -60px}
.spi_lnk_blog span{top:6px;left:12px;width:16px;height:17px;background-position:-40px -60px}
.spi_lnk_cafe span{top:4px;left:11px;width:18px;height:16px;background-position:-60px -60px}
.spi_lnk_facebook span{top:5px;left:12px;width:15px;height:16px;background-position:-80px -60px}
.spi_lnk_twitter span{top:5px;left:12px;width:15px;height:16px;background-position:-140px -60px}
.spi_lnk_yozm span{top:3px;left:11px;width:14px;height:18px;background-position:-40px -80px}
.spi_lnk_me2 span{top:5px;left:12px;width:15px;height:15px;background-position:-20px -120px}

/* Social Plugin Variation */
.spi_default_v1 .spi_btn_me,.spi_default_v1 .spi_btn_bookmark,.spi_default_v1 .spi_btn_me2day,.spi_default_v1 .spi_btn_release{height:15px;padding-right:2px}
.spi_default_v1 .spi_btn_me a,.spi_default_v1 .spi_btn_bookmark a,.spi_default_v1 .spi_btn_me2day a,.spi_default_v1 .spi_btn_release a{width:auto;height:auto;padding-top:0}
.spi_default_v1 .spi_btn_me a em,.spi_default_v1 .spi_btn_bookmark a em,.spi_default_v1 .spi_btn_me2day a em,.spi_default_v1 .spi_btn_release a em{top:1px;left:0;width:1px;height:13px;background-position:0 -199px}
.spi_default_v1 .spi_txt .spi_btn_me a em,.spi_default_v1 .spi_txt .spi_btn_bookmark a em,.spi_default_v1 .spi_txt .spi_btn_me2day a em,.spi_default_v1 .spi_txt .spi_btn_release a em{background-position:-10px -199px}
.spi_default_v1 .spi_btn_me a em{background:none}
.spi_default_v1 .spi_btn_me a,.spi_default_v1 .spi_btn_bookmark a,.spi_default_v1 .spi_btn_me2day a,.spi_default_v1 .spi_btn_release a{background:none}
.spi_default_v1 .spi_lst a{padding-right:0}
.spi_default_v1 .spi_txt a,.spi_default_v1 .spi_txt a:link,.spi_default_v1 .spi_txt a:hover,.spi_default_v1 .spi_txt a:active,.spi_default_v1 .spi_txt a:focus,.spi_default_v1 .spi_txt a:visited{color:#ccc}
.spi_default_v1 .spi_txt .spi_default_v1 .spi_txt .spi_dimmed{color:#999}
.spi_default_v1 .spi_txt .spi_cnt_tooltip a{color:#705bb6}
.spi_default_v1 .spi_cnt_tooltip{margin-right:1px}
.spi_default_v1 .spi_cnt_tooltip div,.spi_default_v1 .spi_cnt_tooltip a{float:none;position:static;height:14px;padding:1px 3px 0 7px;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) 0 -100px no-repeat;font-size:9px;letter-spacing:0;line-height:14px}
.spi_default_v1 .spi_cnt_tooltip li{height:auto;margin:0 1px 0 2px;_margin:0 1px 0 -2px}
.spi_default_v1 .spi_lst .spi_cnt{overflow:hidden}
*+html .spi_default_v1 .spi_lst .spi_cnt{margin-top:-1px}
.spi_default_v1 .spi_lst .spi_cnt_tooltip em{top:0;left:auto;width:2px;height:15px;background:url(http://static.naver.net/common/spi/sp_social_plugin17.png) -198px -100px}
.spi_default_v1 .spi_btn_me span{top:0;left:9px;width:14px;height:14px;background-position:-20px -80px}
.spi_default_v1 .spi_btn_bookmark span{top:0;left:8px;width:16px;height:16px;background-position:-180px -60px}
.spi_default_v1 .spi_btn_me2day span{top:0;left:9px;width:13px;height:14px;background-position:-80px -80px}
.spi_default_v1 .spi_btn_me2day .me2day_me2box{width:auto;height:auto}
.spi_default_v1 .spi_btn_me2day .bar{top:1px;left:0;width:1px;height:13px;background-position:0 -199px}
.spi_default_v1 .spi_bg_release{top:0;left:9px;width:15px;height:14px;background-position:-120px -80px}
.spi_default_v1 .spi_btn_release{margin-left:7px}
.spi_default_v1 .spi_btn_release a{width:50px;padding:0 0 0 26px}
.spi_default_v1 .spi_btn_release a:hover{text-decoration:underline}
.spi_default_v1 .spi_lst_release a{width:auto;padding:5px 0 4px 32px;color:#404040 !important}
.spi_default_v1 .spi_bu_arr{position:absolute;top:1px;right:0;width:13px;height:13px;background-position:0 -60px}
.spi_default_v1 .spi_lst_release{top:19px;left:-23px}
.spi_default_v1 .spi_lst_release a:hover{background:#f1f1f1}
.spi_default_v1 .spi_lst a:hover{text-decoration:underline}
.spi_default_v1 .spi_btn_release a:hover,.spi_default_v1 .spi_lst_release a:hover,.spi_default_v1 .spi_cnt_tooltip a:hover{text-decoration:none}
.spi_icon .spi_lst .spi_btn_bookmark{margin-left:5px}
.spi_icon .spi_lst .spi_btn_me2day,.spi_icon .spi_lst .spi_btn_release{margin-left:3px}
.spi_icon .spi_lst .spi_cnt_tooltip a{font-size:9px}
.spi_icon .spi_lst a{width:16px;text-indent:-10000px}
.spi_icon .spi_lst .spi_btn_me a,.spi_icon .spi_lst .spi_cnt_tooltip a,.spi_icon .spi_lst_release a{width:auto;text-indent:0}
.spi_icon .spi_lst_release{left:-57px}
.spi_icon .spi_lst .spi_btn_bookmark a{padding-left:6px}
.spi_icon .spi_lst .spi_btn_me2day{margin-left:4px}
.spi_icon .spi_lst .spi_btn_me2day a{padding-left:6px}

/* Layer Popup */
.spi_default .spi_ly_pop{display:none;position:absolute;z-index:1000;_margin-left:6px;padding:19px 0 17px;border:1px solid #b1b1b1;background:#fff}
.spi_default .spi_ly_pop .spi_dsc{margin:0;color:#333;line-height:19px;text-align:center}
.spi_default .spi_ly_pop .spi_dsc em{color:#390}
.spi_default .spi_ly_pop .spi_dsc .spi_impact{color:#390;text-decoration:underline}
.spi_default .spi_ly_pop .spi_dsc .spi_impact:hover,.spi_default .spi_ly_pop .spi_dsc .spi_impact:active,.spi_default .spi_ly_pop .spi_dsc .spi_impact:focus,.spi_default .spi_ly_pop .spi_dsc .spi_impact:visited{color:#390}
.spi_default .spi_ly_pop .spi_btn{clear:both;position:relative;margin-top:10px;padding-bottom:5px;text-align:center}
.spi_default .spi_ly_pop .spi_btn a{cursor:pointer}
.spi_default .spi_ly_pop .spi_btn .spi_y{display:inline-block;float:none;position:relative;top:0;width:45px;height:25px;padding:0;background:none}
.spi_default .spi_ly_pop .spi_btn .spi_y span{display:inline-block;position:absolute;top:0;left:0;z-index:20;width:45px;height:25px;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) -50px -120px no-repeat}
.spi_default .spi_ly_pop .spi_btn .spi_n{display:inline-block;float:none;position:relative;top:0;width:45px;height:25px;padding:0;background:none}
.spi_default .spi_ly_pop .spi_btn .spi_n span{display:inline-block;position:absolute;top:0;left:0;z-index:20;width:45px;height:25px;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) 0 -140px no-repeat}
.spi_default .spi_ly_pop .spi_close{overflow:visible;position:absolute;top:2px;right:2px;width:auto;padding:0;border:none;background:none;color:#b5b5b5;font-size:10px;cursor:pointer}
.spi_default .spi_ly_pop .spi_close span{display:block;position:relative;top:0;left:0;z-index:20;width:14px;height:12px;margin:0;padding:3px;border:none;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) -100px -120px no-repeat;font-size:0}
.spi_default .spi_ly_pop .spi_close em{position:absolute;top:3px;left:6px}
.spi_default .spi_ly_pop .spi_spi_btn_v1{margin-left:-20px}
.spi_default .spi_ly_pop .spi_spi_btn_v1 .spi_upld{display:inline-block;float:none;position:relative;top:0;width:55px;height:25px;padding:0;background:none}
.spi_default .spi_ly_pop .spi_spi_btn_v1 .spi_upld span{display:inline-block;position:absolute;top:0;left:0;z-index:20;width:55px;height:25px;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) -130px -120px no-repeat}
.spi_default .spi_ly_pop .spi_spi_btn_v1 .spi_cncl{display:inline-block;float:none;position:relative;top:0;width:55px;height:25px;padding:0;background:none}
.spi_default .spi_ly_pop .spi_spi_btn_v1 .spi_cncl span{display:inline-block;position:absolute;top:0;left:0;z-index:20;width:55px;height:25px;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) 0 -170px no-repeat}
.spi_default .spi_ly_pop .spi_lst_type{margin:1px 0 0 20px}
.spi_default .spi_ly_pop .spi_lst_type dt:after{display:block;clear:both;content:''}
.spi_default .spi_ly_pop .spi_lst_type dt{width:298px;margin-bottom:2px}
.spi_default .spi_ly_pop .spi_lst_type dt span{float:left;color:#404040;font-weight:bold;letter-spacing:-1px}
.spi_default .spi_ly_pop .spi_lst_type dt em{float:right;margin-top:3px;color:#818181;font-family:tahoma;font-size:11px;font-weight:normal;letter-spacing:0}
.spi_default .spi_ly_pop .spi_lst_type dd{margin:0}
.spi_default .spi_ly_pop .spi_lst_type textarea{display:block;overflow-y:auto;width:292px;padding:6px 0 0 6px;border:1px solid #c9c9c9;font-family:'돋움',dotum;font-size:12px;letter-spacing:-1px;resize:none}
.spi_default .spi_ly_pop .spi_lst_type textarea::-webkit-input-placeholder{color:#ccc}
.spi_default .spi_ly_pop .spi_lst_type textarea:-moz-placeholder{color:#ccc}
.spi_default .spi_ly_pop .spi_lst_type .spi_txt_box{height:62px;margin-bottom:8px}
.spi_default .spi_ly_pop .spi_lst_type .spi_txt_box2{height:17px}
.spi_default .spi_ly_pop .spi_ico_arr{position:absolute;left:22px;bottom:-6px;width:9px;height:6px;background:url(http://static.naver.net/common/spi/sp_social_plugin12.png) -200px -60px no-repeat;font-size:0;line-height:0}
.spi_default .spi_ly_pop_v1{padding:12px 0 11px}
.spi_default .spi_ly_pop_v1 .spi_dsc{padding-left:14px;line-height:18px;text-align:left}
.spi_default .spi_ly_style{position:absolute;top:30px;left:-126px;z-index:1000;width:271px;padding:22px 10px 20px 19px;border:1px solid #888;background:#fff;word-break:break-word}
.spi_default_v1 .spi_ly_style{top:18px;left:-111px;width:271px}
.spi_default .spi_ly_style .spi_ly_msg{width:244px;margin:0;padding:2px 0;color:#666;font-size:12px;line-height:1.3}
.spi_default .spi_ly_style .spi_ly_msg.spi_icon1{padding-left:21px !important;background:url(http://static.naver.net/common/spi/sp_social_plugin17.png) no-repeat -210px -184px}
.spi_default .spi_ly_style .spi_ly_msg.spi_icon2{padding-left:21px !important;background:url(http://static.naver.net/common/spi/sp_social_plugin17.png) no-repeat -210px 2px}
.spi_default .spi_ly_style .spi_ly_msg strong{display:block;padding-bottom:8px;color:#333;font-weight:normal;letter-spacing:-1px}
.spi_default .spi_ly_style .spi_ly_msg a,.spi_default .spi_ly_style .spi_ly_cfm a{display:inline;float:none;height:auto;padding:0;background:none;line-height:16px}
.spi_default .spi_ly_style .spi_ly_msg a,.spi_default .spi_ly_style .spi_ly_msg a:link,.spi_default .spi_ly_style .spi_ly_msg a:hover,.spi_default .spi_ly_style .spi_ly_msg a:active,.spi_default .spi_ly_style .spi_ly_msg a:visited{color:#e65802;text-decoration:none}
.spi_default .spi_ly_style .spi_ly_cfm{width:180px;margin:4px 0 -2px;padding:8px 28px 8px 18px;background-color:#f0f0f2;font-size:11px}
.spi_default .spi_ly_style .spi_ly_cfm a:hover{text-decoration:none}
.spi_default .spi_ly_style .spi_ly_cfm .spi_myme2_lnk a:link,.spi_default .spi_ly_style .spi_ly_cfm .spi_myme2_lnk a:visited,.spi_default .spi_ly_style .spi_ly_cfm .spi_myme2_lnk{display:inline;position:static;width:auto;background:none;color:#999}
.spi_default .spi_ly_style .spi_ly_cfm .spi_myme2_lnk a:hover{text-decoration:underline}
.spi_default .spi_ly_style .spi_ly_cfm .spi_me2_post{color:#e65802}
.spi_default .spi_ly_style .spi_lnk_myme2{color:#000;text-decoration:underline}
.spi_default .spi_ly_style .spi_other_lnk{display:block;position:static;width:auto;padding:9px 0 1px;background:none;line-height:1}
.spi_default .spi_ly_style .spi_other_lnk a,.spi_default .spi_ly_style .spi_other_lnk a:link,.spi_default .spi_ly_style .spi_other_lnk a:hover,.spi_default .spi_ly_style .spi_other_lnk a:active,.spi_default .spi_ly_style .spi_other_lnk a:visited{color:#999;font-size:11px}
.spi_default .spi_ly_style .spi_me2btn_close{overflow:visible;position:absolute;top:6px;right:2px;width:auto;padding:3px;border:none;background:none;color:#b5b5b5;font-size:10px;cursor:pointer}
.spi_default .spi_ly_style .spi_me2btn_close span{display:block;position:relative;top:0;left:0;z-index:20;width:16px;height:16px;margin:0;border:none;background:#fff url(http://static.naver.net/common/spi/sp_social_plugin17.png) no-repeat -190px -120px;font-size:0}
.spi_default .spi_ly_style .spi_me2btn_close em{position:absolute;top:3px;left:6px;height:auto;background:none}
