@charset "utf-8";
*{margin:0; padding:0;}
img, fieldset, iframe {border:none;}
body, table, td, input, select, textarea, xmp{color:#333; font:12px/1.4em 나눔고딕,Nanumgothic,돋움,dotum,굴림;}
input{padding-right:1px;}

a{text-decoration:none; color:#333;}
a:hover{color:#333; text-decoration:underline;}
li{list-style-type:none;}

#quickmenu{_width:95%; margin:10px 0 15px 15px; padding:10px 0 10px 0; border:3px solid #e4e4e4; color:#ddd;}
#quickmenu a{margin:0 5px; font-weight:bold; color:#666; font-family:나눔고딕,Nanumgothic;}

/* 내용 */
.content{clear:both; margin-bottom:20px; padding:30px 0 0 0;}
.title{overflow:hidden; width:100%; margin-bottom:10px; padding:0 0 6px 0; border-bottom:1px dotted #E5E5E5; letter-spacing:-1px;}
.title h2{display:inline; float:left; margin-left:5px; padding-left:0; font-size:15px; color:#329012; font-family:나눔고딕,Nanumgothic;}
.title .desc{display:inline; float:left; margin:1px 0 -2px 6px; color:#999; font-size:11px; font-family:나눔고딕,Nanumgothic;}
.title .func{display:inline; float:right; margin:0 10px 0 0; padding-left:6px; background:url(http://coder.nhndesign.com/UII/Naver_rnd/WST_document_form/img/bullet_b5_01.gif) no-repeat 0 6px; color:#9f9f9f; font-size:0.95em;}
.title .func a{color:#9f9f9f;}
.title .func em{font-style:normal;}
.title .func.view{font-weight:bold; letter-spacing:-1px;}
.content p{margin:0 0 10px 0;}
.content ul, .content ol{margin:0 0 10px 15px;}
ul.img li{margin-bottom:10px}
.hspace li{float:left; display:inline; margin-right:100px;}
.list li{padding-left:7px; background:url(http://coder.nhndesign.com/UII/Naver_first/guide/img/ico_list01.gif) 0 5px no-repeat;}

.content_inner{clear:both;}
.content_inner p{margin-left:8px;}
h3, .h3{display:block; margin-bottom:2px; padding-left:8px; background:url(http://coder.nhndesign.com/UII/Naver_rnd/WST_document_form/img/bullet_b5_02.gif) no-repeat 0 6px; color:#333; font-size:13px; letter-spacing:-1px;}
h4, h5, h6{font-size:1em;}
h3.stit {overflow:hidden; clear:both; display:inline; position:relative; width:700px; text-align:left; margin-left:15px; padding:5px 0 7px 0; font-size:13px; font-weight:bold; font-family:나눔고딕; letter-spacing:-1px;}
h3.stit a{float:right; *margin-top:-17px; font-weight:normal;}
h3.stit.s2 {width:670px;}

h3.h_tit {display:block; width:95%; margin:0 0 -5px 15px; padding:6px 0 8px 10px; border-top:1px solid #e4e4e4; background:#f7f7f7; font:bold 14px "나눔고딕", Nanumgothic;}
h4.h_stit {display:block; width:95%; margin:30px 0 20px 15px; padding:5px 0 7px 10px; border-top:1px solid #e7e7e7; background:#f9f9f9; color:#36c; font:bold 13px "나눔고딕", Nanumgothic;}

dl.info{overflow:hidden: clear:both; width:100%; margin-bottom:5px;}
dl.info dt{clear:both; float:left; display:inline; margin:0 7px 7px 0; color:#5B820D;}
dl.info dd{overflow:hidden; _width:100%; }

dl.img{overflow:hidden: clear:both; width:100%; margin-bottom:5px;}
dl.img dt{clear:both; margin-bottom:7px; padding-left:8px; background:url(http://coder.nhndesign.com/UII/Naver_rnd/WST_document_form/img/bullet_b5_02.gif) no-repeat 0 6px; color:#333; font-size:14px !important; letter-spacing:-1px; font-weight:bold;}
dl.img dd{margin-bottom:15px;}

ul.txt{margin:10px 0 0 0; padding:0; line-height:1.4em;}
ul.txt li{clear:both; margin-bottom:10px; background:url(http://coder.nhndesign.com/UII/Naver_rnd/WST_document_form/img/bullet_b5_02.gif) 0 6px no-repeat;}

.uio_txt *{line-height:normal;}
.uio_txt{clear:both; width:95%; margin:0 0 20px 25px; padding:0; line-height:1.4;}
.uio_txt xmp {clear:both; overflow:hidden; overflow-x:auto; margin-top:10px; padding:13px 10px 17px; border:1px solid #eee; font:normal 12px "굴림", gulim;}

table{width:95%; margin:20px 0 0 15px; border-collapse:collapse; border:1px solid #BFBFBF;}
table th, table td{margin:0; padding:7px 0 5px 0; border-right:1px solid #b5b5b5; border-bottom:1px solid #BFBFBF; font-size:11px;}
table th{background-color:#F8F8F8; color:#444;}
table td{padding:7px;}
table td.cn{text-align:center;}
caption{position:relative; text-align:left; padding:5px; font-size:13px; font-weight:bold; letter-spacing:-1px;}
caption a{padding-left:15px !important; background:url(http://coder.nhndesign.com/UII/Naver_rnd/WST_document_form/img/btn_top.gif) no-repeat; position:absolute; right:0; font-weight:normal; color:#333 !important;}

.box{border:2px solid #c9c9c9; width:735px; margin:20px 0 0 50px; padding:10px;}
.box strong.view{color:#5C810D;}
p.txt{margin:20px 0 0 50px;}
p strong{font-size:14px;}
textarea{clear:both; text-align:left; width:735px; margin:0 0 0 50px; padding:10px; color:#666666; border:1px #c9c9c9 solid; background-image:url(http://svn.nhndesign.com/svnview/N_search/book/guide/img/textline.gif); font-size:12px; font-family:나눔고딕,Nanumgothic,돋움,dotum,굴림; line-height:20px;
scrollbar-face-color: #fff; 
scrollbar-shadow-color: #C9C9C9; 
scrollbar-highlight-color: #C9C9C9;
scrollbar-3dlight-color: #fff; 
scrollbar-darkshadow-color: #fff; 
scrollbar-track-color: #fff;
scrollbar-arrow-color: #666666;}

.release_note{width:95%; border-bottom:1px solid #e2e2e2;}
.release_note th{padding:5px 20px 8px; border-top:1px solid #e2e2e2; font-size:12px; font-family:나눔고딕,Nanumgothic; line-height:18px; background:#f4f4f4;}
.release_note td{padding:5px 30px 8px 10px; border-top:1px solid #e2e2e2; font-size:12px; font-family:나눔고딕,Nanumgothic; line-height:18px;}
.release_note td span {color:#c90101; font:normal 11px "돋움", dotum;}

/* tab menu */
#menu{position:relative; clear:both; height:32px; background:#6b7180 url(http://svn.nhndesign.com/svnview/N_search/book/guide/img/bg_tab.gif) repeat-x 0 0;}
#navi{height:100%; padding-left:16px;}
#navi li{display:inline; float:left; margin:0 -1px; font:12px/1.3em 나눔고딕,Nanumgothic, 굴림, Gulim;}
#navi a{position:relative; float:left; height:100%; background:url(http://svn.nhndesign.com/svnview/N_search/book/guide/img/bg_grtabmenu_l.gif) no-repeat; color:#fff;}
#navi span{display:block; padding:10px 13px 5px 13px; cursor:pointer; cursor:hand;}
#navi li.menu_on a, #navi li.menu_on a:hover{z-index:10; background:url(http://svn.nhndesign.com/svnview/N_search/book/guide/img/bg_grtabmenu_l.gif) no-repeat 0 -64px; letter-spacing:-1px;}
#navi li.menu_on a{color:#000; font-weight:bold;}
#navi li.menu_on span, #navi li.menu_on a:hover span{padding-top:11px; background:url(http://svn.nhndesign.com/svnview/N_search/book/guide/img/bg_grtabmenu_r.gif) no-repeat 100% -64px;}

#all a{background-position:190px 0;}
#all span{padding-left:12px; padding-right:11px;}

#menu p{position:absolute; right:10px; top:8px; font-family:나눔고딕,Nanumgothic;}
#menu p a{color:#fff;}

.ws_search_wrap{position:relative; width:100% !important; margin-top:20px !important; border-bottom:none !important;}
.ws_search_wrap p{position:absolute; right:10px; top:10px; font:bold 13px 나눔고딕,Nanumgothic; color:#666;}
.box_window{margin-top:0 !important;font-family:나눔고딕,Nanumgothic !important; padding-top:0 !important; height:20px !important;}

/* 푸터 */
#footer{clear:both; width:100% !important; margin:0 15px; padding:10px 0 40px 0; border-top:1px solid #EAEAEA; color:#333; font-size:11px;}
#footer address{font-style:normal; font-size:95%; font-family:Verdana; text-align:center;}