@charset "utf-8";
/* Common */
body,p,h1,h2,h3,h4,h5,h6,menu,figure,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,Helvetica;font-size:14px;line-height:1.25em}
body{-webkit-user-select:none;-webkit-text-size-adjust:none;color:#000}
html,body{-webkit-touch-callout:none;height:100%}
img,fieldset{border:0}
ul,ol{list-style:none}
a{text-decoration:none}
em,address,i,sup{font-style:normal}
input,textarea,button{border:0;border-radius:0;-webkit-appearance:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;word-break:normal}
button{background-color:transparent;white-space:nowrap;cursor:pointer}
input:focus{outline:none}
body{background:url(../img/bg_content.png) 0 0 repeat}
.wrap{max-width:600px;min-width:280px;margin:20px auto 0;padding:0 20px 20px}
.blind{overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0}
/* Main */
.hover_available{overflow:hidden;background-position:0 0;background-repeat:no-repeat;background-size:auto 100%;text-indent:100%;white-space:nowrap;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
.logo{display:block;float:left}
.title{display:inline-block}
.preview{position:relative;width:100%}
.tabs{background:url(../img/sp/tabs_bar.png) 29% 0 no-repeat;background-size:auto 100%}
.tabs_intro,.tabs_admission{display:inline-block}
.tabs_intro{background-image:url(../img/sp/tabs_intro.png)}
.tabs_intro:active,.tabs_intro.active{background-image:url(../img/sp/tabs_intro_hover.png)}
.tabs_admission{background-image:url(../img/sp/tabs_admission.png)}
.tabs_admission:active,.tabs_admission.active{background-image:url(../img/sp/tabs_admission_hover.png)}
.admission_sub{position:absolute;top:12.4%;left:13%;z-index:10;border:2px solid #383838;background:#f6f6f6 url(../img/sp/sp_admission_sub.png) 0 100% no-repeat;background-size:100% auto}
.admission_sub::before{content:'';display:block;position:absolute;width:100%;background:url(../img/sp/admission_sub_arr.png) 50% 0 no-repeat;background-size:auto 100%}
.admission_sub li{display:block}
.admission_sub li + li::before{content:'';display:block;height:2px;background-color:#cecece}
.admission_sub a{display:block;width:100%}
.admission_sub a:active,.admission_sub a.active{background-color:rgba(0, 0, 0, 0.08)}
.player{position:relative;width:100%}
.player .player_preview{margin:0 auto;background-color:#000}
.player .player_preview video{display:block;width:100%}
.player .play{position:absolute;top:50%;left:50%}
.player .play img{margin-top:-41.025%;margin-left:-50%}
.preview .share{position:absolute;top:0;right:0;background:url(../img/sp/share_bar.png) 81.5% 50% no-repeat, url(../img/sp/share_bar.png) 47.3% 50% no-repeat;background-size:1px 64.864%;text-align:right}
.preview .share a{display:inline-block}
.ico_me2{background-image:url(../img/sp/ico_me2.png)}
.ico_me2:active,.ico_me2.active{background-image:url(../img/sp/ico_me2_hover.png)}
.ico_twit{background-image:url(../img/sp/ico_twit.png)}
.ico_twit:active,.ico_twit.active{background-image:url(../img/sp/ico_twit_hover.png)}
.ico_fb{background-image:url(../img/sp/ico_fb.png)}
.ico_fb:active,.ico_fb.active{background-image:url(../img/sp/ico_fb_hover.png)}
.goto_guide{display:block;float:left;background-color:rgba(0, 0, 0, 0.48)}
.goto_guide + .goto_guide{float:right}
.goto_home{display:block;clear:both;background-image:url(../img/sp/goto_home.png)}
.goto_home:active,.goto_home.active{background-image:url(../img/sp/goto_home_hover.png)}
.sub_desc{display:block;margin:0 auto;text-align:center}
.expend{position:relative;vertical-align:top}
.expend img{width:100%;vertical-align:top}
header{margin-bottom:10.71429%}
.logo{width:30.35714%;margin-right:2.67857%}
.title{width:56.07143%;margin-top:-0.35714%}
.player{margin-bottom:2.85714%}
.tabs{margin-bottom:3.21429%}
.tabs_intro{width:26.07143%;height:0;padding-top:4.46429%}
.tabs_admission{width:23.57143%;height:0;padding-top:4.46429%;margin-left:4.82143%}
.admission_sub{width:72.32143%}
.admission_sub::before{height:0;padding-top:2.96296%;top:-2.12346%}
.admission_sub li:first-child a{padding-bottom:0.98765%}
.admission_sub li:last-child a{padding-bottom:1.97531%}
.admission_sub a{height:0;padding-top:16.79012%}
.player_preview{width:99.28571%;padding:0.35714%}
.play{width:11.25%}
.share{width:40%;margin-top:-0.53571%;margin-right:1.60714%}
.share .ico_me2{width:14.28571%;height:0;padding-top:16.51786%}
.share .ico_twit{width:10.71429%;height:0;padding-top:14.28571%;margin-left:18.30357%}
.share .ico_fb{width:8.03571%;height:0;padding-top:15.17857%;margin-left:20.08929%}
.links{margin-bottom:3.57143%}
.goto_guide{width:47.85714%;margin-bottom:2.85714%;padding:0.35714%}
.goto_home{width:100%;height:0;padding-top:16.07143%}
.sub_desc{width:79.28571%}
/* Brand Book */
.book_wrap{position:relative;background:-webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(0.9%, rgba(0, 0, 0, 0.37)), to(rgba(0, 0, 0, 0.37)))}
.book{position:absolute;width:100%}
.book > div{position:absolute;height:100%}
.book .pages{width:100%;height:100%;background-size:100% 100%}
.book_wrap .prev,.book_wrap .next{display:block;position:absolute;z-index:100;top:42.5%}
.book_wrap .prev.disabled,.book_wrap .next.disabled{opacity:0.8}
.book_wrap .prev{left:2%}
.book_wrap .next{right:2%}
.book_wrap .close{display:block;position:absolute;top:1.35%;right:2.2%;z-index:100}
.book_wrap + .pages{text-align:center}
.book_wrap + .pages .page_num{display:inline-block;background:url(../img/sp_book/page_num.png) 0 0 no-repeat;background-size:100% 100%;vertical-align:top}
.book_wrap + .pages .page_num.selected{background-image:url(../img/sp_book/page_num_selected.png)}
/* turn.js 대응속성 */
.book .turn-page{background-color:#ccc;background-size:100% 100%}
.book_wrap{margin-bottom:3.571%;padding-bottom:0.892%}
.book_wrap .book{padding-top:146.607%}
.book_wrap .prev,.book_wrap .next{width:12.142%}
.book_wrap .close{width:14.107%}
.book_wrap + .pages .page_num{width:3.214%;padding-top:3.035%}
.book_wrap + .pages .page_num + .page_num{margin-left:1.25%}
/* Guide */
.guide_wrap{position:relative}
.guide{position:relative}
.guide_wrap .close{display:block;overflow:hidden;position:absolute;top:1.15%;right:2.9%;text-indent:100%;white-space:nowrap}
.guide img{width:100%}
.guide_wrap .close{width:14.107%;height:0;padding-top:14.107%}
