@charset "utf-8";
/* NHN Technology Services UI Developent Team KHM 121015 */

/* Common */
html,body{height:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',nanumgothic,'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
hr,legend{display:none}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
button{cursor:pointer}
button.disabled{cursor:default}
button[disabled=disabled]{cursor:default !important}
textarea{resize:none}
caption{visibility:hidden;overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0}
label{display:inline-block}

/* Type Selecter */
.blind{display:block;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;border:0;background:none;font-size:0;line-height:0}
.imgon{display:inline-block;overflow:hidden;font-size:0;line-height:0 !important;vertical-align:top}

/* Layout */
body{background:#dbdbdb}
#wrap{position:relative;min-width:1024px;height:100%;min-height:816px;text-align:left}
#header,#container,#footer{clear:both}
#header{position:relative;z-index:30;background:url(../img/bg_header_hr.gif) repeat-x 0 0}
#container{position:relative;z-index:20;max-width:1574px;height:100%;min-height:816px;margin:-117px auto -75px}
#content{overflow:hidden;position:absolute;width:100%;height:100%;min-height:816px}
#footer{overflow:hidden;position:relative;z-index:30;background:#dbdbdb url(../img/line_hr.gif) repeat-x 0 0}

#wrap.brandbook5_mode{height:auto;background:url(../img/bg_brandbook5_pattern.jpg)}
#wrap.brandbook5_mode #container{height:auto;margin:0 auto}
#wrap.brandbook5_mode #content{position:static;height:auto}
.brandbook5_mode .section_bgimg img{min-height:0}

#wrap.brandbook_mode{height:auto}
#wrap.brandbook_mode #container{height:auto;margin:0 auto}
#wrap.brandbook_mode #content{position:static;height:auto}

/* Header */
.header_inner{position:relative;max-width:1574px;height:117px;margin:0 auto}
#header h1,#header h1 a{width:232px;height:57px}
#header h1{position:absolute;top:26px;left:30px}
#header h1 a{background:url(../img/sp_h_title.png) no-repeat 0 0}
#header h2,#header h2 a{width:182px;height:52px}
#header h2{position:absolute;top:26px;left:284px}
#header h2{background:url(../img/sp_h_title.png) no-repeat 0 -60px}

.gnb{overflow:hidden;position:absolute;top:49px;right:30px}
.gnb li{float:left;margin-left:42px}
.gnb li:first-child{margin-left:0}
.gnb a{display:inline-block;overflow:hidden;background:url(../img/sp_gnb.png) no-repeat;font-size:0;line-height:0 !important;vertical-align:top}
.gnb .item a{width:80px;height:20px;background-position:0 0}
.gnb .item2 a{width:112px;height:20px;background-position:-150px 0}
.gnb .item3 a{width:64px;height:20px;background-position:-300px 0}
.gnb .item a:hover,.gnb .item .selected{background-position:0 -30px}
.gnb .item2 a:hover,.gnb .item2 .selected{background-position:-150px -30px}
.gnb .item3 a:hover,.gnb .item3 .selected{background-position:-300px -30px}

/* Footer */
.footer_inner{position:relative;max-width:1574px;height:75px;margin:0 auto}
#footer .p_desc{position:absolute;top:25px;left:30px;width:429px;height:30px;background:url(../img/sp_footer.png) no-repeat 0 0}
#footer .p_sns{position:absolute;top:27px;right:30px}
#footer .p_sns .bar{margin:4px 0 0}
#footer .p_sns a{display:inline-block;overflow:hidden;background:url(../img/sp_ico_shape.png) no-repeat;font-size:0;line-height:0 !important;vertical-align:top}
#footer .p_sns a.link_mt{width:22px;height:24px;margin-right:10px;background-position:0 0}
#footer .p_sns a.link_mt:hover{background-position:0 -30px}
#footer .p_sns a.link_tw{width:16px;height:21px;margin:0 11px;background-position:0 -60px}
#footer .p_sns a.link_tw:hover{background-position:0 -90px}
#footer .p_sns a.link_fb{width:12px;height:24px;margin-left:11px;background-position:0 -120px}
#footer .p_sns a.link_fb:hover{background-position:0 -150px}
#footer .p_sns .bar{display:inline-block;overflow:hidden;width:1px;height:18px;background:url(../img/bar.gif) no-repeat;font-size:0;line-height:0 !important;vertical-align:top}
address{position:absolute;top:25px;right:189px;width:340px;height:30px;background:url(../img/sp_footer.png) no-repeat 0 -40px}
address .link_mail{display:inline-block;position:absolute;top:14px;right:0;width:158px;height:14px}

/* Botton */
.btn_view{width:134px;height:24px;background:url(../img/sp_btn_shape.png) no-repeat 0 0}
.btn_support{width:268px;height:48px;background:url(../img/sp_btn_shape.png) no-repeat -150px 0}
.btn_request{width:147px;height:24px;background:url(../img/sp_btn_shape.png) no-repeat 0 -30px}
.btn_apply{width:240px;height:48px;background:url(../img/sp_btn_shape.png) no-repeat -150px -50px}
.btn_confirm{width:64px;height:22px;background:url(../img/sp_btn_shape.png) no-repeat 0 -60px}
.btn_submit{width:268px;height:48px;background:url(../img/sp_btn_shape.png) no-repeat -150px -100px}

/* Layer */
.ly_modal{display:none;position:absolute;top:50%;left:50%;z-index:25}
.ly_modal_inner{overflow:hidden;width:100%;height:100%;margin:-32% 0 0 -50%;border:1px solid #c3c3c3;background:#fbfbfb url(../img/bgline_hr.gif) repeat-x 0 0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.ly_modal .ly_cont{overflow:hidden;position:relative;width:100%;height:100%;background:url(../img/bgline_hr.gif) repeat-x 0 100%}
.ly_modal .p_txt{margin:77px 0 0;font-size:14px;line-height:18px;color:#898a8f;text-align:center}
.ly_modal .p_txt strong{color:#777}
.ly_modal .p_btm{margin:24px 0 0;line-height:19px;text-align:center}
.ly_modal .p_btm .btn_confirm{margin:0 auto}

/* Class Selector */
.section_video,.section_admission3{overflow:hidden;position:absolute;top:50%;left:50%;z-index:10;width:800px;height:525px;margin:-242px 0 0 -400px}
.section_video .menu{float:left}
.section_video .menu>li{float:left;position:relative;z-index:10;margin-left:5px}
.section_video .menu>li:first-child{margin-left:0}
.section_video .menu>li>a{display:inline-block;overflow:hidden;width:156px;height:27px;background:url(../img/sp_menu.png) no-repeat 0 0;font-size:0;line-height:0 !important;vertical-align:top}
.section_video .menu>.item>a{background-position:0 0}
.section_video .menu>.item2>a{background-position:0 -30px}
.section_video .menu>.item3>a{width:222px;background-position:0 -60px}
.section_video .menu>.item>.selected{background-position:-250px 0}
.section_video .menu>.item2>.selected{background-position:-250px -30px}
.section_video .menu>.item3>.selected{background-position:-250px -60px}
.section_video .menu>.item2>.disabled{background-position:-500px -30px;cursor:default}
.section_video .menu>.item3>.disabled{background-position:-500px -60px;cursor:default}
.section_video .menu_child{display:none;position:absolute;z-index:10;top:25px;left:0;width:220px;border-bottom:1px solid #f6f6f6;background:#fff}
.section_video .menu_child li a{display:block;overflow:hidden;height:29px;background:url(../img/sp_menu_child.png) no-repeat;font-size:0;line-height:0 !important;vertical-align:top}
.section_video .menu_child li{border-top:1px solid #dedede}
.section_video .menu_child li:first-child{border-top:0}
.section_video .menu_child .item a{height:32px;background-position:0 0}
.section_video .menu_child .item2 a{background-position:0 -50px}
.section_video .menu_child .item3 a{background-position:0 -100px}
.section_video .menu_child .item4 a{background-position:0 -150px}
.section_video .menu_child .item5 a{background-position:0 -200px}
.section_video .menu_child .item6 a{background-position:0 -250px}
.section_video .menu_child .item7 a{height:32px;background-position:0 -300px}
.section_video .menu_child .item a:hover{background-position:-250px 0}
.section_video .menu_child .item2 a:hover{background-position:-250px -50px}
.section_video .menu_child .item3 a:hover{background-position:-250px -100px}
.section_video .menu_child .item4 a:hover{background-position:-250px -150px}
.section_video .menu_child .item5 a:hover{background-position:-250px -200px}
.section_video .menu_child .item6 a:hover{background-position:-250px -250px}
.section_video .menu_child .item7 a:hover{background-position:-250px -300px}
.section_video .menu_child .item a.selected{background-position:-500px 0}
.section_video .menu_child .item2 a.selected{background-position:-500px -50px}
.section_video .menu_child .item3 a.selected{background-position:-500px -100px}
.section_video .menu_child .item4 a.selected{background-position:-500px -150px}
.section_video .menu_child .item5 a.selected{background-position:-500px -200px}
.section_video .menu_child .item6 a.selected{background-position:-500px -250px}
.section_video .menu_child .item7 a.selected{background-position:-500px -300px}

.group_video{display:inline-block;clear:both;margin:7px 0 0}

.section_arrow{position:absolute;top:50%;z-index:20;width:100%;min-width:800px;margin:-22px auto 0}
.section_arrow a{display:inline-block;overflow:hidden;position:absolute;width:49px;height:83px;background:url(../img/sp_arr_shape.png) no-repeat;font-size:0;line-height:0 !important;vertical-align:top}
.section_arrow a.arr_right{right:30px;background-position:-60px 0}
.section_arrow a.arr_right:hover{background-position:0 0}
.section_arrow a.arr_left{left:30px;background-position:-60px -100px}
.section_arrow a.arr_left:hover{background-position:0 -100px}

.section_bgimg{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%}
.section_bgimg img{position:absolute;min-width:100%;min-height:100%}

.section_admission,.section_admission2{position:absolute;top:50%;left:50%;width:947px;height:629px;margin:-280px 0 0 -473px}
.section_admission{background:url(../img/admission_cont.png) no-repeat 0 100%}
.section_admission2{background:url(../img/admission_cont2.png) no-repeat 0 100%}
.section_admission3 .menu{overflow:hidden}
.section_admission .menu,.section_admission2 .menu{overflow:hidden;margin-left:20px}
.section_admission .menu li,.section_admission2 .menu li,.section_admission3 .menu li{float:left;margin-left:5px}
.section_admission .menu li:first-child,.section_admission2 .menu li:first-child,.section_admission3 .menu li:first-child{margin-left:0}
.section_admission .menu a,.section_admission2 .menu a,.section_admission3 .menu a{display:inline-block;overflow:hidden;width:151px;height:24px;background:url(../img/sp_menu.png) no-repeat 0 0;font-size:0;line-height:0 !important;vertical-align:top}
.section_admission .menu .item a,.section_admission2 .menu .item a,.section_admission3 .menu .item a{background-position:0 -90px}
.section_admission .menu .item2 a,.section_admission2 .menu .item2 a,.section_admission3 .menu .item2 a{background-position:0 -120px}
.section_admission .menu .item3 a,.section_admission2 .menu .item3 a,.section_admission3 .menu .item3 a{background-position:0 -150px}
.section_admission .menu .item .selected,.section_admission2 .menu .item .selected,.section_admission3 .menu .item .selected{background-position:-250px -90px}
.section_admission .menu .item2 .selected,.section_admission2 .menu .item2 .selected,.section_admission3 .menu .item2 .selected{background-position:-250px -120px}
.section_admission .menu .item3 .selected,.section_admission2 .menu .item3 .selected,.section_admission3 .menu .item3 .selected{background-position:-250px -150px}

.section_admission .group_admission,.section_admission .group_admission2,.section_admission .group_admission3,.section_admission2 .group_admission,.section_admission2 .group_admission2,.section_admission2 .group_admission3{display:inline-block;overflow:hidden;font-size:0;line-height:0 !important;vertical-align:top}

.section_admission .btn_view{position:absolute;top:176px;left:399px}
.section_admission .btn_support{position:absolute;top:500px;left:345px}
.section_admission .link_mail{display:inline-block;position:absolute;top:433px;left:728px;width:145px;height:14px}
.section_admission2 .btn_request{position:absolute;top:191px;left:399px}
.section_admission2 .btn_apply{position:absolute;top:500px;left:352px}
.section_admission2 .link_mail{display:inline-block;position:absolute;top:429px;left:177px;width:145px;height:14px}

.section_brandbook{width:939px;margin:58px auto}
.section_brandbook .menu{overflow:hidden;margin:0 0 0 16px}
.section_brandbook .menu li{float:left;margin-left:3px}
.section_brandbook .menu li:first-child{margin-left:0}
.section_brandbook .menu a{display:inline-block;overflow:hidden;width:149px;height:27px;background:url(../img/sp_menu.png) no-repeat 0 0;font-size:0;line-height:0 !important;vertical-align:top}
.section_brandbook .menu .item a{background-position:0 -330px}
.section_brandbook .menu .item2 a{background-position:0 -360px}
.section_brandbook .menu .item3 a{background-position:0 -390px}
.section_brandbook .menu .item4 a{background-position:0 -420px}
.section_brandbook .menu .item5 a{background-position:0 -450px}
.section_brandbook .menu .item6 a{background-position:0 -480px}
.section_brandbook .menu .item .selected{background-position:-250px -330px}
.section_brandbook .menu .item2 .selected{background-position:-250px -360px}
.section_brandbook .menu .item3 .selected{background-position:-250px -390px}
.section_brandbook .menu .item4 .selected{background-position:-250px -420px}
.section_brandbook .menu .item5 .selected{background-position:-250px -450px}
.section_brandbook .menu .item6 .selected{background-position:-250px -480px}

.brandbook5_mode .section_brandbook{position:static;width:947px;margin:58px auto 44px;background:url(../img/brandbook_cont5_top.png) no-repeat 0 16px}
.brandbook5_mode .section_brandbook .menu{margin:0 0 0 20px}

.group_brandbook{position:relative;margin:82px 0 43px;padding:22px 87px 86px 59px;background:url(../img/brandbook_cont5_mid.png) no-repeat 0 100%}
.group_brandbook .btm{margin-top:30px;text-align:center}

.group_brandbook_modal{margin:4px 0 0}

/* ex Class Selector */
.group_brandbook input,.group_brandbook select,.group_brandbook button{vertical-align:middle}
.group_brandbook .input_txt{height:17px;padding:2px 4px 0;border:1px solid #c0c0c0;color:#666}
.group_brandbook button.btn_spr{margin:0;padding:0;border:0;cursor:pointer}

.group_brandbook .btn_spr{display:inline-block;background:url(../img/spr_btn_ex.png) no-repeat}
.group_brandbook .btn_golct{width:232px;height:45px;background-position:0 0}
.group_brandbook .btn_sbmt{width:233px;height:45px;background-position:0 -50px}
.group_brandbook .btn_sbmt2{width:233px;height:45px;background-position:0 -100px}
.group_brandbook .btn_find{width:21px;height:21px;background-position:0 -150px}
.group_brandbook .btn_formdel{width:16px;height:16px;background-position:-50px -150px}
.group_brandbook .btn_formadd{width:16px;height:16px;background-position:-100px -150px}
.group_brandbook .btn_imgrfsh{width:94px;height:21px;background-position:-150px -150px}
.group_brandbook .btn_dctinput{width:65px;height:23px;background-position:0 -200px}
.group_brandbook .btn_clse{width:40px;height:24px;background-position:-100px -200px}
.group_brandbook .btn_input{width:35px;height:21px;background-position:-150px -200px}
.group_brandbook .btn_goadm{width:233px;height:45px;background-position:0 -280px}
.group_brandbook .btn_golive{width:307px;height:45px;background-position:0 -350px}

.group_brandbook h4{clear:both;position:relative;padding-left:11px;background:url(../img/spr_ico2_ex.gif) 0 4px no-repeat;font-size:13px;line-height:17px;color:#333;zoom:1}
.group_brandbook .tbl_type2{padding:7px 0 5px}
.group_brandbook .tbl_type2 th span{margin-top:0}
.group_brandbook .tbl_type2 td{padding:3px 0 4px}
.group_brandbook .tbl_type{margin:-12px 0 26px 196px;padding:8px 0;border-top:1px solid #666;border-bottom:1px solid #e9e9e9;table-layout:fixed}
.group_brandbook .tbl_type table{width:100%}
.group_brandbook .tbl_type th{color:#666;text-align:left}
.group_brandbook .tbl_type th span{display:inline-block;margin-top:1px;padding-left:19px}
.group_brandbook .tbl_type th span.ico_ess{background:url(../img/spr_ico_ex.png) 6px -12px no-repeat}
.group_brandbook .tbl_type th.prize{vertical-align:top}
.group_brandbook .tbl_type th.prize span{margin-top:7px}
.group_brandbook .tbl_type td{padding:4px 0;color:#666}
.group_brandbook .tbl_type td input:first-child{margin-left:0}
.group_brandbook .tbl_type td .selbox_area:first-child{margin-left:0}
.group_brandbook .tbl_type td .input_txt,.group_brandbook .tbl_type td .at,.group_brandbook .tbl_type td .bar,.group_brandbook .tbl_type td .btn_spr,.group_brandbook .tbl_type td .selbox_area,.group_brandbook .tbl_type td .txt{display:inline-block;float:left;margin-left:4px}
.group_brandbook .tbl_type td .eof{color:#adadad}
.group_brandbook .tbl_type td .at{margin:3px 1px 0 5px}
.group_brandbook .tbl_type td .bar{margin:3px -2px 0 2px;color:#9a9a9a}
.group_brandbook .tbl_type td .btn_find{margin-left:3px}
.group_brandbook .tbl_type td .btn_formdel{margin-top:2px;margin-left:4px}
.group_brandbook .tbl_type td .btn_formadd{margin-top:2px;margin-left:2px}
.group_brandbook .tbl_type td .txt{margin-top:3px}
.group_brandbook .tbl_type td strong{color:#46b611}
.group_brandbook .tbl_type td ul{zoom:1}
.group_brandbook .tbl_type td ul:after{display:block;clear:both;content:''}
.group_brandbook .tbl_type td ul.lst_rdo li{float:left;position:relative;margin-right:14px;padding-left:17px;letter-spacing:-1px}
.group_brandbook .tbl_type td ul.lst_rdo li:after{padding-right:1px;content:''}
.group_brandbook .tbl_type td ul.lst_rdo li input{position:absolute;top:1px;left:0;width:14px;height:14px}
.group_brandbook .tbl_type td ul.lst_chk{float:left;margin:3px 6px 0 0}
.group_brandbook .tbl_type td ul.lst_chk li{float:left;position:relative;margin-left:12px;padding-left:19px}
.group_brandbook .tbl_type td ul.lst_chk li input{position:absolute;top:1px;left:0;width:14px;height:14px}
.group_brandbook .tbl_type td ul.lst_chk li:first-child{margin-left:0}
.group_brandbook .tbl_type td ul.lst_prize li{padding-bottom:8px;zoom:1}
.group_brandbook .tbl_type td ul.lst_prize li:after{display:block;clear:both;content:''}
.group_brandbook .tbl_type td .dsc_prize{display:block;clear:both;padding-left:1px;font-size:11px;font-weight:bold;color:#adadad}
.group_brandbook .tbl_type2{padding:7px 0 5px}
.group_brandbook .tbl_type2 th span{margin-top:0}
.group_brandbook .tbl_type2 td{padding:3px 0 4px}
.group_brandbook .tbl_type td strong{color:#444}
.group_brandbook .txt_area .letter strong{color:#666}

.group_brandbook h2.type2{clear:both;margin-bottom:6px;padding:0;background:none;font-size:12px;color:#46b611}
.group_brandbook .txt_area{margin:-12px 0 32px 196px}
.group_brandbook .txt_area .dsc_txt{padding:7px 0 9px 11px;padding-left:11px;font-size:11px;color:#666}
.group_brandbook .txt_area .ico_ess{background:url(../img/spr_ico_ex.png) 1px -7px no-repeat}
.group_brandbook .txt_area .letter{float:right;margin-top:-19px;font-size:11px;color:#888}
.group_brandbook .txt_area .letter strong{color:#6cb464}
.group_brandbook .txt_area textarea{width:581px;height:52px;padding:10px 11px;border:1px solid #c0c0c0;font-size:12px;color:#666}
.group_brandbook .txt_area textarea.eof{color:#adadad}

.group_brandbook .dsc_agree{margin:-30px 0 9px 196px;padding:13px 21px 12px 23px;background:#eff3f3;font-size:11px;line-height:18px;color:#666}
.group_brandbook .agree{float:right;position:relative;margin-bottom:21px;font-size:11px;color:#666}
.group_brandbook .agree input{position:absolute;top:1px;left:-17px;width:12px;height:12px}
.group_brandbook .dsc_agree,.group_brandbook .security{background:#f8f8f8;line-height:18px}
.group_brandbook .security{margin:-52px 0 0 196px;padding-bottom:15px;border-bottom:1px solid #fff;background:#f8f8f8;zoom:1}
.group_brandbook .security:after{display:block;clear:both;content:''}
.group_brandbook .security .img{float:left;margin:15px 21px 0 12px}
.group_brandbook .security .img img{display:block}
.group_brandbook .security .dsc_security{padding-top:48px;font-size:11px;line-height:18px;color:#666}
.group_brandbook .security .input_area{margin-top:10px}
.group_brandbook .security .input_txt{margin-right:3px}
.group_brandbook .tbl_type td ul.lst_rdo li{letter-spacing:0}

/* Designed Select Box */
.selectbox-noscript *{display:none}
.selectbox-noscript .selectbox-source{display:inline;position:relative;left:0}
.selectbox-noscript .selectbox-source *{display:block}
.selectbox-source{position:absolute;left:-9999px}
.selectbox-box{border:1px solid #c0c0c0;background:url(../img/bg_selbox.gif) no-repeat 100% 0;text-align:left;cursor:pointer}
.selectbox-focused .selectbox-box{background-position:100% -30px}
.selectbox-label{display:block;padding:2px 0 3px 6px;color:#666}
.selectbox-layer{display:none;position:absolute;z-index:40;*margin:2px 0 0 2px;border:1px solid #c0c0c0;border-top:0 none;text-align:left}
.selectbox-list ul{margin:0;padding:0;list-style:none}
.selectbox-list ul li{padding:4px 0 3px 6px;background:#fff;color:#666;zoom:1;cursor:pointer}
.selectbox-list ul li.selectbox-item-selected{}
.selectbox-list ul li.selectbox-item-over{background:#eee}