<ul class="provision">
<li class="first"><a href="#" target="_blank" title="새창">키워드광고 서비스 이용약관</a></li>
<li><a href="#" target="_blank" title="새창"><strong>개인정보 취급방침</strong></a></li>
<li><a href="#" target="_blank" title="새창">청소년보호정책</a></li>
<li><a href="#" target="_blank" title="새창">개인정보보호 우수사이트</a></li>
</ul>

<div class="addr_info">
	<p>사업자등록번호 : <span>129-86-31394</span> 통신판매업신고번호 : 제<span>2009</span>-경기성남-<span>0501</span>호</p>
	<p>대표이사 : 최휘영 주소 : 경기도 성남시 분당구 서현동 <span>266-1</span> 퍼스트타워 <span>13</span>층</p>
	<p>대표전화 : <span>1588-5896</span>(유료) &frasl; <span>080-500-5896</span>(무료, 유선만 가능) 팩스 <span>031-299-7800</span></p>
</div>

<address>
	<p><a href="#"><span class="blind">NHN BUSINESS PLATFORM</span></a></p>
	Copyright &copy; <a href="#" target="_blank"><strong>NHN BUSINESS PLATFORM Corp.</strong></a>
	<span>All Rights Reserved.</span>
</address>