<div class="inner">
	<h1><a href="#" target="_blank" title="새창" class="h_naver">네이버</a><a href="#" class="h_keyword">키워드광고</a></h1>
	<div id="gnb" class="gnb_group">
		<h2 class="blind">메인메뉴</h2>
		<!-- [D] 해당페이지 활성화 시 class="on" 적용 -->
		<ul class="gnb">
		<li><a href="#" class="m1">홈</a></li>
		<li><a href="#" class="m2 on">광고안내</a></li>
		<li><a href="#" class="m3">검수안내</a></li>
		<li><a href="#" class="m4">교육센터</a></li>
		<li><a href="#" class="m5">정보광장</a></li>
		<li><a href="#" class="m6">고객센터</a></li>
		<li><a href="#" class="m7">광고관리시스템</a></li>
		</ul>
	</div>
	<div class="uitil_group">
		<h3 class="blind">계정정보</h3>
		<p class="uitil_myinfo">
			<span><a href="#" class="btn_userid">Ahhhhhhhhhhh</a>님</span>
			<span><a href="#" class="btn_myinfo">내정보</a></span>
		</p>
		<div class="util_lst">
			<div class="login"><a href="#">로그인</a></div>
			<div class="ad_naver">
				<a href="#" class="ad_more">네이버 광고</a>
				<!-- [D] 클릭시 dl 태그 열림 -->
				<dl class="main_drop1" style="display:none">
				<dt>네이버 광고 홈</dt>
				<dd class="first"><a href="#">키워드광고</a></dd>
				<dd><a href="#">디스플레이광고</a></dd>
				<dd><a href="#">지역정보광고</a></dd>
				<dd class="divid"><a href="#">부동산매물광고</a></dd>
				<dd class="first"><a href="#">지식쇼핑입점</a></dd>
				<dd><a href="#">샵N입점</a></dd>
				<dd><a href="#">체크아웃센터</a></dd>
				<dd class="divid"><a href="#">마일리지센터</a></dd>
				<dd class="first"><a href="#">검색등록</a></dd>
				<dd><a href="#">애드포스트</a></dd>
				<dd class="last"><a href="#">크로스미디어</a></dd>
				</dl>
			</div>
		</div>
	</div>
</div>