@charset "utf-8";
/* Bluewave Web Standard Team KHJ 130305 */

/* Common */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0}
@font-face{font-family:nanumgothicweb;src:url(../font/NanumGothic.eot);src:local(※), url(../font/NanumGothic.woff) format('woff')}
body,h1,h2,h3,h4,input,button,textarea{font-family:'나눔고딕',NanumGothic,nanumgothicweb,'돋움',dotum,Helvetica,sans-serif;font-size:12px;line-height:16px}
body{background-color:#fff;text-align:left;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0;font-size:0;line-height:999em}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}
.btn{display:inline-block;overflow:hidden;background:url(../img/schoolsession/spr_lecture.png) no-repeat;vertical-align:top;line-height:999px}

/* header */
#header{width:100%;min-width:910px;height:310px;background-color:#181818}
.header_innerarea{overflow:hidden;position:relative;height:270px}
.header_innerarea > img{position:absolute;top:0;left:0;width:100%;min-width:1280px;min-height:270px;z-index:5}
.header_inner{position:relative;overflow:hidden;width:910px;margin:0 auto;z-index:10}
.header_inner h1{float:left;margin-top:50px}
.header_inner h2{float:right;position:relative;height:150px;margin:60px 0 60px}
a.next_home{width:120px;background-position:0 0}
a.next_blog{width:20px;background-position:-170px 0;margin-left:10px}
a.next_facebook{width:20px;background-position:-230px 0;margin-left:2px}

/* gnb */
.gnb_area{overflow:hidden;width:910px;margin:0 auto;padding:13px 0 12px;zoom:1}
.gnb_area ul{overflow:hidden;float:right;color:#fff;zoom:1}
.gnb_area li{float:left;margin:0 20px}
.gnb_area li a{width:25px;height:15px}
.gnb_area a.introduce{background-position:0 -50px}
.gnb_area .selected a.introduce,.gnb_area a.introduce:hover{background-position:-100px -50px}
.gnb_area a.application{background-position:-200px -50px}
.gnb_area .selected a.application,.gnb_area a.application:hover{background-position:-300px -50px}

/* 공통 content */
#content{position:relative;width:910px;margin:0 auto;padding-bottom:80px}
#content dl{overflow:hidden;margin-bottom:48px;zoom:1}
#content dt{float:left;width:170px;font-size:16px;font-weight:bold;color:#333}
#content dd{float:right;width:740px;color:#666}
#content dd table{width:100%;padding:17px 0 2px 19px;*padding-top:14px;border-top:1px solid #666;border-bottom:1px solid #dadada}

/* 인트로페이지 content */
.lecture_intro dd table th{padding-bottom:15px;text-align:left;font-weight:normal;color:#333}
.lecture_intro dd table td{padding-bottom:15px;color:#666}
.lecture_intro dd span{display:block}
.lecture_intro dl:first-child{margin:40px 0 46px}
.lecture_intro dl:first-child dd{text-align:justify;line-height:20px}
.lecture_intro dl:first-child dd strong{display:block;margin-bottom:8px;font-size:14px;font-weight:bold;color:#333}
.place_info{margin-bottom:50px}
.place_info th,.place_info td{padding-bottom:7px !important}
.place_info th:first-child,.place_info td:first-child{padding-bottom:15px !important}
a.map_view{width:121px;height:25px;background-position:0 -90px}
.section_last{margin-bottom:0 !important}
.btn_apply{width:317px;margin:40px 0 0 350px}
.btn_apply a{display:block;overflow:hidden;width:270px;height:60px;background:url(../img/schoolsession/spr_lecture.png) no-repeat 0 -140px;font-size:0;line-height:999px}

/* 신청페이지 content */
.dsc_form{margin:40px 0 8px;text-align:right;color:#999}
.dsc_form .noti{display:inline-block;overflow:hidden;width:7px;height:8px;*margin-bottom:6px;background:url(../img/schoolsession/spr_ico.png) no-repeat 0 -15px;font-size:0;text-indent:-999px}
.apply_area .dsc_parent dt{font-size:15px !important}
.apply_area dt.h3{width:159px !important;padding-left:11px;background:url(../img/schoolsession/spr_parent.png) no-repeat -360px -265px;font-size:13px !important;color:#333}
.apply_area dt span{display:inline-block;padding:3px 0 0 12px;font-size:12px;color:#dd4931}
.apply_area dd table th{text-align:left;font-weight:normal;color:#333}
.apply_area .tbl_parent{padding:6px 0 11px !important}
.apply_area .tbl_parent th{padding-top:7px;padding-left:20px;font-weight:bold;color:#666}
.apply_area .tbl_parent td{padding-top:7px}
.apply_area .tbl_type{width:100%;padding:8px 0 !important;table-layout:fixed}
.apply_area .tbl_type th{padding-bottom:6px;font-weight:bold;vertical-align:top;color:#666}
.tbl_type th span{display:inline-block;margin-top:1px;padding-left:18px}
.tbl_type th .ico_ess{background:url(../img/schoolsession/spr_ico.png) no-repeat 6px -10px}
.tbl_type td{padding-bottom:6px !important}
.tbl_type td .selbox_area{display:inline-block;float:left;margin-right:4px}
.tbl_type td .eof,#content .txt_area textarea.eof{color:#adadad !important}
.tbl_type .input_txt,.tbl_type .at,.tbl_type .bar,.tbl_type .btn_spr{display:inline-block !important;float:left;margin-right:4px}
.tbl_type td ul input{margin-right:3px}
.tbl_type .lst_chk{overflow:hidden;zoom:1}
.tbl_type .lst_chk li{float:left;position:relative;margin-right:10px;*margin-right:6px}
.tbl_type .lst_chk input{*margin-right:0}
.tbl_type td .input_txt,.tbl_type td .at,.tbl_type td .bar,.tbl_type td .btn_spr{display:inline-block;float:left;margin-right:4px}
.tbl_type td .eof{color:#adadad}
.tbl_type td .lst_prize li{padding-bottom:8px;zoom:1}
.tbl_type td .lst_prize li:after{display:block;clear:both;content:''}
.tbl_type td .dsc_prize{display:block;clear:both;padding-left:1px;font-size:11px;color:#888}
.input_txt{height:17px;padding:2px 4px 0;border:1px solid #c0c0c0;color:#666}
.btn_spr{background:url(../img/schoolsession/spr_btn.png) no-repeat 0 0;border:0 none}
.btn_find{width:21px;height:21px;background-position:0 -150px}
.btn_formdel{width:16px;height:16px;background-position:-50px -150px;}
.btn_formadd{width:16px;height:16px;background-position:-100px -150px}
.txt_area{margin-bottom:32px}
.txt_area .ico_ess{margin-left:5px !important;background:url(../img/schoolsession/spr_ico.png) no-repeat 1px -10px}
.txt_area .dsc_txt{margin:7px 0 5px;padding-left:11px;font-size:11px;font-weight:bold;color:#666}
.txt_area .dsc_txt_v2{padding-left:6px}
.txt_area .letter{float:right;margin-top:-20px;font-size:11px;font-family:'돋움',dotum;color:#888}
.txt_area .letter strong{font-family:Tahoma;color:#6cb464}
.txt_area textarea{width:715px;padding:10px 11px;border:1px solid #c0c0c0;font-size:12px}
.dsc_agree{margin:0 0 9px;padding:13px 21px;background:#f8f8f8;font-size:11px;line-height:18px;color:#666}
.agree{float:right;position:relative;margin-bottom:25px;font-size:11px;color:#666}
.agree input{margin-right:5px}
.security{background:#f8f8f8;zoom:1}
.security:after{display:block;clear:both;content:""}
.security img{float:left;margin:15px 21px 15px 15px}
.security .dsc_security{padding-top:48px;line-height:18px;font-size:11px;color:#666}
.security .input_area{margin-top:10px}
.security .input_txt{margin-right:3px}
.btn_imgrfsh{width:94px;height:21px;background-position:-150px -150px}
.btn_area2{margin:40px 0 0 332px}
.btn_applsubmis{display:inline-block;overflow:hidden;width:270px;height:60px;background:url(../img/schoolsession/spr_lecture.png) repeat 0 -230px;line-height:999px}
.placeholder_area{display:inline-block;float:left;position:relative}
.placeholder_txt{display:inline-block;position:absolute;top:0;left:0;padding:2px 4px 0;color:#adadad}
.placeholder_txt_v2{width:556px;padding:10px 11px}
.txt_ellipsis{overflow:hidden;max-width:99%;white-space:nowrap;text-overflow:ellipsis}

/* 공식채널 */
.channel_area{position:absolute;top:0;*top:39px;left:935px;width:113px}
.channel_area h4{margin-bottom:15px;font-size:14px;color:#333}
.channel_area li{overflow:hidden;margin-bottom:2px;text-indent:-999px;font-size:0;width:113px;height:32px;background:url(../img/schoolsession/spr_lecture.png) no-repeat}
.channel_area li.facebook{background-position:0 -330px}
.channel_area li.blog{background-position:-130px -330px}
.channel_area li.homepage{background-position:-260px -330px}
.channel_area li a{display:block;height:32px}