@charset "utf-8";
/* NHN Technology Services Convergence UI Development Team,LHK 120503 */ 

/* Common */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0}
body,h1,h2,h3,h4,input,button,textarea{font-family:'나눔고딕',NanumGothic,'돋움',dotum,Helvetica,sans-serif;font-size:12px;line-height:16px}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/* input */
.input_txt{height:17px;padding:2px 4px 0;border:1px solid #c0c0c0;color:#666}

/* sprite button */
button.btn_spr{margin:0;padding:0;border:0;cursor:pointer}
.btn_spr{display:inline-block;background:url(../img/nextclass/spr_btn.png) no-repeat}
.btn_golct{width:232px;height:45px;background-position:0 0}
.btn_sbmt{width:233px;height:45px;background-position:0 -50px}
.btn_sbmt2{width:233px;height:45px;background-position:0 -100px}
.btn_find{width:21px;height:21px;background-position:0 -150px}
.btn_formdel{width:16px;height:16px;background-position:-50px -150px}
.btn_formadd{width:16px;height:16px;background-position:-100px -150px}
.btn_imgrfsh{width:94px;height:21px;background-position:-150px -150px}
.btn_dctinput{width:65px;height:23px;background-position:0 -200px}
.btn_clse{width:40px;height:24px;background-position:-100px -200px}
.btn_input{width:35px;height:21px;background-position:-150px -200px}
.btn_goadm{width:233px;height:45px;background-position:0 -280px}
.btn_golive{width:307px;height:45px;background-position:0 -350px}

/* Designed Select Box */
.selectbox-noscript *{display:none}
.selectbox-noscript .selectbox-source{display:inline;position:relative;left:0}
.selectbox-noscript .selectbox-source *{display:block}
.selectbox-source{position:absolute;left:-9999px}
.selectbox-box{border:1px solid #c0c0c0;background:url(../img/nextclass/bg_selbox.gif) no-repeat 100% 0;text-align:left;cursor:pointer}
.selectbox-focused .selectbox-box{background-position:100% -30px}
.selectbox-label{display:block;padding:1px 0 2px 6px;color:#666}
.selectbox-layer{display:none;position:absolute;*margin:2px 0 0 2px;border:1px solid #c0c0c0;border-top:0 none;text-align:left}
.selectbox-list ul{list-style:none;margin:0;padding:0}
.selectbox-list ul li{padding:4px 0 3px 6px;background:#fff;color:#666;zoom:1;cursor:pointer}
.selectbox-list ul li.selectbox-item-selected{}
.selectbox-list ul li.selectbox-item-over{background:#eee}

/* lecture layout */
.lecture{background:#eaeff0}
.lecture #wrap{width:100%}
.lecture #header{position:relative;width:938px;height:350px;margin:0 auto;background:url(../img/nextclass/bg_lct_hd.jpg) no-repeat;text-align:left}
.admission #header{background:url(../img/nextclass/bg_adm_hd.jpg) no-repeat}
.admission .header_v2{background:url(../img/nextclass/bg_adm_hd2.jpg) no-repeat !important}
.lecture .sta strong{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
.lecture #header a{overflow:hidden;position:absolute;font-size:0;line-height:999px;vertical-align:top}
.lecture .sta h1 a{top:30px;left:43px;width:141px;height:36px}
.admission .sta h1 a{top:32px;left:42px;width:141px;height:36px}
.lecture .sta dl{position:absolute;top:210px;left:43px;width:600px;text-align:left}
.admission .sta dl{top:197px}
.lecture .sta dt{display:block;float:left;overflow:hidden;width:36px;height:16px;margin-right:5px;background:url(../img/nextclass/spr_img.png) no-repeat;font-size:0;line-height:999px;vertical-align:top}
.admission .sta dt{width:37px;height:20px;background-position:0 -60px}
.lecture .sta dt.place{background-position:0 -30px}
.admission .sta dt.place{display:block;clear:both;margin-top:8px;background-position:0 -90px}
.lecture .sta dt,.lecture .sta dd{margin-top:4px;font-weight:bold;color:#70757d}
.admission .sta dd{margin-top:2px;*padding-left:41px;font-weight:normal;color:#1b1b1b}
.admission .sta dd.place{display:block;margin-top:7px}
.admission .sta dd span{display:inline-block;margin:4px 0 0;color:#505151}
.lecture #header a.go_next{top:262px;left:42px;height:23px;padding-right:5px;background:url(../img/nextclass/bu_arrow.gif) 100% 5px no-repeat;font-weight:bold;font-size:12px;line-height:16px;color:#41ad10}
.admission #header a.go_next{top:276px;padding-right:6px;color:#5c5e5e}
.lecture .sta .go_blog{top:257px;left:216px;width:24px;height:24px}
.lecture .sta .go_facebook{top:257px;left:242px;width:24px;height:24px}
.admission .sta .go_blog{top:271px;left:185px}
.admission .sta .go_facebook{top:271px;left:211px}
.lecture .lnb{position:absolute;bottom:0;left:0;width:938px;text-align:left;zoom:1}
.lecture .lnb:after{display:block;clear:both;content:''}
.lecture .lnb li,.lecture .lnb li a{float:left;width:469px;height:53px}
.lecture .lnb li.on a{background:url(../img/nextclass/bg_lct_lnb.png) no-repeat}
.admission .lnb li.on a{background:url(../img/nextclass/bg_adm_lnb.png) no-repeat}
.admission .header_v2 .lnb li.on a{background:url(../img/nextclass/bg_adm_lnb2.png) no-repeat}
.lecture .lnb li.on a.last{background-position:-469px 0}
.lecture #container{position:relative;clear:both;width:938px;margin:0 auto;background:url(../img/nextclass/bg_lct_ctn.gif) repeat-y}
.lecture #container .bg_ct{position:absolute;width:25px;height:757px;background:url(../img/nextclass/bg_lct_ct.jpg) no-repeat}
.lecture #container .bg_ct_l{bottom:36px;left:0}
.lecture #container .bg_ct_r{top:0;right:0;background-position:-26px 0}
.lecture #container .bg_ct_f{position:absolute;bottom:0;left:0;width:938px;height:36px;background:url(../img/nextclass/bg_lct_ctf.gif) 0 100% no-repeat}
.lecture #content{position:relative;width:886px;min-height:757px;margin:0 auto;padding-bottom:36px;text-align:left}
.lecture #content .inner{width:784px;margin-left:51px;padding:50px 0 10px}
.lecture .bg_l{overflow:hidden;position:absolute;top:0;right:50%;width:50%;height:350px;margin-right:469px;background:url(../img/nextclass/bg_lct_l.gif) 100% 0 no-repeat}
.admission .bg_l{background:url(../img/nextclass/bg_adm_l.png) 100% 0 no-repeat}
.lecture .bg_r{overflow:hidden;position:absolute;top:0;right:0;_right:auto;_left:50%;width:50%;height:350px;background:url(../img/nextclass/bg_lct_r.gif) 469px 0 no-repeat}
.admission .bg_r{background:url(../img/nextclass/bg_adm_r.png) 469px 0 no-repeat}
body:first-of-type .lecture .bg_l{left:-469px}
body:first-of-type .lecture .bg_r{left:50%}

/* lecture content */
.lecture .dsc_form{float:right;padding-left:18px;background:url(../img/nextclass/spr_ico.png) 6px -12px no-repeat;color:#999;letter-spacing:-1px}
.lecture h2{padding-left:11px;color:#333;background:url(../img/nextclass/spr_ico.png) 0 4px no-repeat;font-size:13px}
.lecture h2.type2{margin-bottom:6px;padding:0;color:#46b611;font-size:12px;background:none;clear:both}
.lecture .dsc_lecture{position:relative;margin-left:50px !important;line-height:20px;color:#888}
.lecture .dsc_lecture h2{display:inline-block;height:22px;margin-bottom:7px;margin-left:-2px;padding:4px 0 0 31px;background-position:0 -30px;font-size:15px;color:#46b611}
.admission .dsc_lecture h2{margin-bottom:5px;color:#444}
.lecture .dsc_lecture h2.frst{margin:-12px 0 8px -1px;padding:0;background:none;font-size:18px;line-height:22px;color:#444}
.lecture .dsc_lecture p{margin-bottom:31px}
.lecture .dsc_lecture .p_bold{margin-bottom:21px;font-weight:bold}
.lecture .dsc_lecture .p_bold strong{color:#444}
.lecture .dsc_lecture dl,.lecture .dsc_lecture ol{margin:0 0 14px 30px;line-height:18px;zoom:1}
.admission .dsc_lecture ol{margin-bottom:20px;line-height:20px}
.lecture .dsc_lecture dl:after{display:block;clear:both;content:''}
.lecture .dsc_lecture dt,.lecture .dsc_lecture dd{display:inline-block;float:left;margin-bottom:13px}
.lecture .dsc_lecture dt{width:93px;font-weight:bold;color:#333}
.lecture .dsc_lecture dd{width:637px;color:#666}
.lecture .dsc_lecture dd ul{margin-bottom:2px}
.lecture .dsc_lecture dd li{line-height:18px;color:#666}
.lecture .dsc_lecture dd li strong{display:inline-block;width:54px;margin-right:5px;background:url(../img/nextclass/spr_ico.png) 100% -54px no-repeat;font-weight:normal;color:#444}
.admission .dsc_lecture dd li strong{width:110px}
.lecture .dsc_lecture dt.land{display:block;float:none;clear:both;margin-bottom:7px}
.lecture .dsc_lecture dd.land{display:block;float:none;clear:both;width:726px;margin-bottom:0;padding:0 0 10px}
.lecture .dsc_lecture dd.land table{display:block;width:100%;border-top:2px solid #acd599;table-layout:fixed}
.lecture .dsc_lecture dd.land th,.lecture .dsc_lecture dd.land td{border-bottom:1px solid #e5e5e5;color:#666}
.lecture .dsc_lecture dd.land .last th,.lecture .dsc_lecture dd.land .last td{border-bottom:1px solid #b5e2a0}
.lecture .dsc_lecture dd.land th{width:83px;padding:9px 0 8px;background:#f6fbf3;text-align:center}
.lecture .dsc_lecture dd.land td{width:643px;*width:629px;padding-left:14px}
.lecture .dsc_lecture dl.type2{margin-top:1px;margin-bottom:25px;line-height:21px}
.lecture .dsc_lecture dl.type2 dt,.lecture .dsc_lecture dl.type2 dd{margin-bottom:0 !important}
.lecture .dsc_lecture dl.type2 dd,.lecture .dsc_lecture dl.type3 dd{margin-bottom:11px}
.lecture .dsc_lecture .go_navermap{display:inline-block;overflow:hidden;width:111px;height:21px;margin:-2px 0 0 6px;background:url(../img/nextclass/spr_btn.png) 0 -250px no-repeat;font-size:0;line-height:999px;vertical-align:top}
.lecture .tbl_type{margin:7px 0 31px;padding:8px 0;border-top:1px solid #666;border-bottom:1px solid #e9e9e9;table-layout:fixed}
.lecture .tbl_type table{width:100%}
.lecture .tbl_type th{color:#666;text-align:left}
.lecture .tbl_type th span{display:inline-block;margin-top:1px;padding-left:18px}
.lecture .tbl_type th span.ico_ess{background:url(../img/nextclass/spr_ico.png) 6px -12px no-repeat}
.lecture .tbl_type th.prize{vertical-align:top}
.lecture .tbl_type th.prize span{margin-top:7px}
.lecture .tbl_type td{padding:4px 0 4px;color:#666}
.lecture .tbl_type td .input_txt,.lecture .tbl_type td .at,.lecture .tbl_type td .bar,.lecture .tbl_type td .btn_spr,.lecture .tbl_type td .selbox_area,.lecture .tbl_type td .txt{display:inline-block;float:left;margin-right:4px}
.lecture .tbl_type td .eof{color:#adadad}
.lecture .tbl_type td .at{margin:3px 5px 0 1px}
.lecture .tbl_type td .bar{margin:3px 3px 0 -2px;color:#9a9a9a}
.lecture .tbl_type td .btn_find{margin-right:10px;margin-left:-1px}
.lecture .tbl_type td .btn_formdel,.lecture .tbl_type td .btn_formadd{margin-top:2px;margin-right:2px}
.lecture .tbl_type td .txt{margin-top:3px}
.lecture .tbl_type td strong{color:#46b611}
.lecture .tbl_type td ul{float:left;zoom:1}
.lecture .tbl_type td ul:after{display:block;clear:both;content:''}
.lecture .tbl_type td ul.lst_rdo li{float:left;position:relative;margin-right:14px;padding-left:17px;letter-spacing:-1px}
.lecture .tbl_type td ul.lst_rdo li:after{padding-right:1px;content:''}
.lecture .tbl_type td ul.lst_rdo li input{position:absolute;top:1px;left:0;width:14px;height:14px}
.lecture .tbl_type td ul.lst_chk{margin-top:3px;margin-right:-5px}
.lecture .tbl_type td ul.lst_chk li{float:left;position:relative;margin-right:15px;padding-left:18px}
.lecture .tbl_type td ul.lst_chk li input{position:absolute;top:1px;left:0;width:14px;height:14px}
.lecture .tbl_type td ul.lst_prize li{padding-bottom:8px;zoom:1}
.lecture .tbl_type td ul.lst_prize li:after{display:block;clear:both;content:''}
.lecture .tbl_type td .dsc_prize{display:block;padding-left:1px;font-size:11px;color:#888;clear:both}
.lecture .tbl_type2{padding:7px 0 5px}
.lecture .tbl_type2 th span{margin-top:0}
.lecture .tbl_type2 td{padding:3px 0 4px}
.lecture .txt_area{margin-bottom:32px}
.lecture .txt_area .dsc_txt{margin:7px 0 5px;padding-left:11px;font-size:11px;color:#888}
.lecture .txt_area .ico_ess{background:url(../img/nextclass/spr_ico.png) 1px -12px no-repeat}
.lecture .txt_area .letter{float:right;margin-top:-19px;font-size:11px;color:#888}
.lecture .txt_area .letter strong{color:#6cb464}
.lecture .txt_area textarea{width:760px;padding:10px 11px;border:1px solid #c0c0c0;font-size:12px;color:#666}
.lecture .txt_area textarea.eof{color:#adadad}
.lecture .dsc_agree{margin:0 0 9px;padding:10px 15px 6px 11px;background:#eff3f3;font-size:11px;line-height:18px;color:#666}
.lecture .agree{float:right;position:relative;margin-bottom:25px;font-size:11px;color:#666}
.lecture .agree input{position:absolute;top:1px;left:-17px;width:12px;height:12px}
.lecture .security{background:#eff3f3;zoom:1}
.lecture .security:after{display:block;clear:both;content:''}
.lecture .security .img{float:left;margin:10px 29px 9px 9px}
.lecture .security .dsc_security{padding-top:48px;font-size:11px;line-height:18px;color:#666}
.lecture .security .input_area{margin-top:10px}
.lecture .security .input_txt{margin-right:3px}
.lecture .section_btn{padding:30px 0 35px;border-top:1px solid #f0f0f0;background:#fbfbfb;text-align:center}

/* 라이브 중계 */ 
.admission .live{position:relative;width:100%;height:669px;padding-bottom:110px;background:#fbfbfb url(../img/nextclass/bg_live.jpg) no-repeat} 
/* .admission .live .movie{position:absolute;top:215px;left:123px}  */
.admission .live .movie{position:absolute;top:215px;left:123px;width:640px}
.admission .live .movie p{margin-top:127px;line-height:18px;color:#999;text-align:center}
.admission .live .movie strong{display:block;color:#666}
.admission .live .movie em{color:#666}

/* popup layout */
#pop_wrap{width:100%;color:#666;text-align:center}
#pop_header{position:relative;height:35px;background:url(../img/nextclass/bg_poph.gif) no-repeat}

/* popup contents */
.h_type{position:absolute;top:10px;left:26px;font-size:14px;color:#fff}
.findsch_area{margin:19px 0 11px}
.findsch_area strong,.findsch_area input,.findsch_area button{display:inline-block;margin-top:0;vertical-align:top}
.findsch_area strong{display:inline-block;margin:4px 4px 0 0}
.findsch_area .input_txt{margin-top:1px;*margin-top:0}
.findsch_area .btn_find{margin:1px 6px 0 0;*margin-left:4px}
.tbl_type{margin:0 auto;border-bottom:1px solid #dedede}
.tbl_type table{width:100%}
.tbl_type thead th{padding:8px 0 5px;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background:#f8f8f8;font-size:11px;line-height:15px}
.tbl_type .data{overflow-x:hidden;overflow-y:auto;width:100%;height:154px;padding:5px 0}
.tbl_type td{color:#7d7d7d}
.tbl_type td.title{text-align:left}
.tbl_type .data td{height:22px}
.tbl_type .hover td{background:#e9f6e1;color:#333;cursor:pointer}
#pop_content .tbl_type .eof{padding-top:67px}
.dct_input{margin:0 auto;text-align:left}
.dct_input h2{margin:18px 0 5px}
.dct_input strong,.dct_input input,.dct_input button{display:inline-block;margin-top:0;vertical-align:top}
.dct_input strong{display:inline-block;margin:3px 4px 0 0}
.dct_input .btn_input{*margin-left:4px}
.dct_input div{padding:10px 0 9px;border:1px solid #e3e3e3;background:#f8f8f8;text-align:center}
#pop_footer .btn_area{margin-top:15px;text-align:center}