@charset "utf-8";
/* NHN Technology Services Convergence UI Development Team,LHK 120503 */

/* Common */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0}
body,h1,h2,h3,h4,input,button,textarea{font-family:'나눔고딕',NanumGothic,'돋움',dotum,Helvetica,sans-serif;font-size:12px;line-height:16px}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/* input */
.input_txt{height:17px;padding:2px 4px 0;border:1px solid #c0c0c0;color:#666}

/* sprite button */
button.btn_spr{margin:0;padding:0;border:0;cursor:pointer}
.btn_spr{display:inline-block;background:url(../img/schoolsession/spr_btn.png) no-repeat}
.btn_golct{width:232px;height:45px;background-position:0 0}
.btn_sbmt{width:233px;height:45px;background-position:0 -50px}
.btn_sbmt2{width:233px;height:45px;background-position:0 -100px}
.btn_find{width:21px;height:21px;background-position:0 -150px}
.btn_formdel{width:16px;height:16px;background-position:-50px -150px}
.btn_formadd{width:16px;height:16px;background-position:-100px -150px}
.btn_imgrfsh{width:94px;height:21px;background-position:-150px -150px}
.btn_dctinput{width:65px;height:23px;background-position:0 -200px}
.btn_clse{width:40px;height:24px;background-position:-100px -200px}
.btn_input{width:35px;height:21px;background-position:-150px -200px}
.btn_goadm{width:233px;height:45px;background-position:0 -280px}
.btn_golive{width:307px;height:45px;background-position:0 -350px}

/* Designed Select Box */
.selectbox-noscript *{display:none}
.selectbox-noscript .selectbox-source{display:inline;position:relative;left:0}
.selectbox-noscript .selectbox-source *{display:block}
.selectbox-source{position:absolute;left:-9999px}
.selectbox-box{border:1px solid #c0c0c0;background:url(../img/schoolsession/bg_selbox.gif) no-repeat 100% 0;text-align:left;cursor:pointer}
.selectbox-focused .selectbox-box{background-position:100% -30px}
.selectbox-label{display:block;padding:1px 0 2px 6px;color:#666}
.selectbox-layer{display:none;position:absolute;*margin:2px 0 0 2px;border:1px solid #c0c0c0;border-top:0 none;text-align:left;z-index:20}
.selectbox-list ul{margin:0;padding:0;list-style:none}
.selectbox-list ul li{padding:4px 0 3px 6px;background:#fff;color:#666;zoom:1;cursor:pointer}
.selectbox-list ul li.selectbox-item-selected{}
.selectbox-list ul li.selectbox-item-over{background:#eee}

/* lecture layout */
.lecture{background:#eaeff0}
.lecture #wrap{width:100%}
.lecture #header{position:relative;width:938px;height:350px;margin:0 auto;background:url(../img/schoolsession/bg_lct_hd.jpg) no-repeat;text-align:left}
.admission #header{background:url(../img/schoolsession/bg_adm_hd.jpg) no-repeat}
.admission .header_v2{background:url(../img/schoolsession/bg_adm_hd2.jpg) no-repeat !important}
.lecture .sta strong{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
.lecture #header a{overflow:hidden;position:absolute;font-size:0;line-height:999px;vertical-align:top}
.lecture .sta h1 a{top:30px;left:43px;width:141px;height:36px}
.admission .sta h1 a{top:32px;left:42px;width:141px;height:36px}
.lecture .sta dl{position:absolute;top:210px;left:43px;width:600px;text-align:left}
.admission .sta dl{top:197px}
.lecture .sta dt{display:block;overflow:hidden;float:left;width:36px;height:16px;margin-right:5px;background:url(../img/schoolsession/spr_img.png) no-repeat;font-size:0;line-height:999px;vertical-align:top}
.admission .sta dt{width:37px;height:20px;background-position:0 -60px}
.lecture .sta dt.place{background-position:0 -30px}
.admission .sta dt.place{display:block;clear:both;margin-top:8px;background-position:0 -90px}
.lecture .sta dt,.lecture .sta dd{margin-top:4px;font-weight:bold;color:#70757d}
.admission .sta dd{margin-top:2px;*padding-left:41px;font-weight:normal;color:#1b1b1b}
.admission .sta dd.place{display:block;margin-top:7px}
.admission .sta dd span{display:inline-block;margin:4px 0 0;color:#505151}
.lecture #header a.go_next{top:262px;left:42px;height:23px;padding-right:5px;background:url(../img/schoolsession/bu_arrow.gif) 100% 5px no-repeat;font-weight:bold;font-size:12px;line-height:16px;color:#41ad10}
.admission #header a.go_next{top:276px;padding-right:6px;color:#5c5e5e}
.lecture .sta .go_blog{top:257px;left:216px;width:24px;height:24px}
.lecture .sta .go_facebook{top:257px;left:242px;width:24px;height:24px}
.admission .sta .go_blog{top:271px;left:185px}
.admission .sta .go_facebook{top:271px;left:211px}
.lecture .lnb{position:absolute;left:0;bottom:0;width:938px;text-align:left;zoom:1}
.lecture .lnb:after{display:block;clear:both;content:''}
.lecture .lnb li,.lecture .lnb li a{float:left;width:469px;height:53px}
.lecture .lnb li.on a{background:url(../img/schoolsession/bg_lct_lnb.png) no-repeat}
.admission .lnb li.on a{background:url(../img/schoolsession/bg_adm_lnb.png) no-repeat}
.admission .header_v2 .lnb li.on a{background:url(../img/schoolsession/bg_adm_lnb2.png) no-repeat}
.lecture .lnb li.on a.last{background-position:-469px 0}
.lecture #container{clear:both;position:relative;width:938px;margin:0 auto;background:url(../img/schoolsession/bg_lct_ctn.gif) repeat-y}
.lecture #container .bg_ct{position:absolute;width:25px;height:757px;background:url(../img/schoolsession/bg_lct_ct.jpg) no-repeat}
.lecture #container .bg_ct_l{left:0;bottom:36px}
.lecture #container .bg_ct_r{top:0;right:0;background-position:-26px 0}
.lecture #container .bg_ct_f{position:absolute;left:0;bottom:0;width:938px;height:36px;background:url(../img/schoolsession/bg_lct_ctf.gif) 0 100% no-repeat}
.lecture #content{position:relative;width:886px;min-height:757px;margin:0 auto;padding-bottom:36px;text-align:left}
.lecture #content .inner{width:784px;margin-left:51px;padding:50px 0 10px}
.lecture .bg_l{overflow:hidden;position:absolute;top:0;right:50%;width:50%;height:350px;margin-right:469px;background:url(../img/schoolsession/bg_lct_l.gif) 100% 0 no-repeat}
.admission .bg_l{background:url(../img/schoolsession/bg_adm_l.png) 100% 0 no-repeat}
.lecture .bg_r{overflow:hidden;position:absolute;top:0;right:0;_right:auto;_left:50%;width:50%;height:350px;background:url(../img/schoolsession/bg_lct_r.gif) 469px 0 no-repeat}
.admission .bg_r{background:url(../img/schoolsession/bg_adm_r.png) 469px 0 no-repeat}
body:first-of-type .lecture .bg_l{left:-469px}
body:first-of-type .lecture .bg_r{left:50%}

/* lecture content */
.lecture .dsc_form{float:right;padding-left:18px;background:url(../img/schoolsession/spr_ico.png) 6px -12px no-repeat;color:#999;letter-spacing:-1px}
.lecture h2{padding-left:11px;background:url(../img/schoolsession/spr_ico.png) 0 4px no-repeat;font-size:13px;color:#333}
.lecture h2.type2{clear:both;margin-bottom:6px;padding:0;background:none;font-size:12px;color:#46b611}
.lecture .dsc_lecture{position:relative;margin-left:50px !important;line-height:20px;color:#888}
.lecture .dsc_lecture h2{display:inline-block;height:22px;margin-bottom:7px;margin-left:-2px;padding:4px 0 0 31px;background-position:0 -30px;font-size:15px;color:#46b611}
.admission .dsc_lecture h2{margin-bottom:5px;color:#444}
.lecture .dsc_lecture h2.frst{margin:-12px 0 8px -1px;padding:0;background:none;font-size:18px;line-height:22px;color:#444}
.lecture .dsc_lecture p{margin-bottom:31px}
.lecture .dsc_lecture .p_bold{margin-bottom:21px;font-weight:bold}
.lecture .dsc_lecture .p_bold strong{color:#444}
.lecture .dsc_lecture dl,.lecture .dsc_lecture ol{margin:0 0 14px 30px;line-height:18px;zoom:1}
.admission .dsc_lecture ol{margin-bottom:20px;line-height:20px}
.lecture .dsc_lecture dl:after{display:block;clear:both;content:''}
.lecture .dsc_lecture dt,.lecture .dsc_lecture dd{display:inline-block;float:left;margin-bottom:13px}
.lecture .dsc_lecture dt{width:93px;font-weight:bold;color:#333}
.lecture .dsc_lecture dd{width:637px;color:#666}
.lecture .dsc_lecture dd ul{margin-bottom:2px}
.lecture .dsc_lecture dd li{line-height:18px;color:#666}
.lecture .dsc_lecture dd li strong{display:inline-block;width:54px;margin-right:5px;background:url(../img/schoolsession/spr_ico.png) 100% -54px no-repeat;font-weight:normal;color:#444}
.admission .dsc_lecture dd li strong{width:110px}
.lecture .dsc_lecture dt.land{display:block;float:none;clear:both;margin-bottom:7px}
.lecture .dsc_lecture dd.land{display:block;float:none;clear:both;width:726px;margin-bottom:0;padding:0 0 10px}
.lecture .dsc_lecture dd.land table{display:block;width:100%;border-top:2px solid #acd599;table-layout:fixed}
.lecture .dsc_lecture dd.land th,.lecture .dsc_lecture dd.land td{border-bottom:1px solid #e5e5e5;color:#666}
.lecture .dsc_lecture dd.land .last th,.lecture .dsc_lecture dd.land .last td{border-bottom:1px solid #b5e2a0}
.lecture .dsc_lecture dd.land th{width:83px;padding:9px 0 8px;background:#f6fbf3;text-align:center}
.lecture .dsc_lecture dd.land td{width:643px;*width:629px;padding-left:14px}
.lecture .dsc_lecture dl.type2{margin-top:1px;margin-bottom:25px;line-height:21px}
.lecture .dsc_lecture dl.type2 dt,.lecture .dsc_lecture dl.type2 dd{margin-bottom:0 !important}
.lecture .dsc_lecture dl.type2 dd,.lecture .dsc_lecture dl.type3 dd{margin-bottom:11px}
.lecture .dsc_lecture .go_navermap{display:inline-block;overflow:hidden;width:111px;height:21px;margin:-2px 0 0 6px;background:url(../img/schoolsession/spr_btn.png) 0 -250px no-repeat;font-size:0;line-height:999px;vertical-align:top}
.lecture .tbl_type{margin:7px 0 31px;padding:8px 0;border-top:1px solid #666;border-bottom:1px solid #e9e9e9;table-layout:fixed}
.lecture .tbl_type table{width:100%}
.lecture .tbl_type th{color:#666;text-align:left}
.lecture .tbl_type th span{display:inline-block;margin-top:1px;padding-left:18px}
.lecture .tbl_type th span.ico_ess{background:url(../img/schoolsession/spr_ico.png) 6px -12px no-repeat}
.lecture .tbl_type th.prize{vertical-align:top}
.lecture .tbl_type th.prize span{margin-top:7px}
.lecture .tbl_type td{padding:4px 0;color:#666}
.lecture .tbl_type td .input_txt,.lecture .tbl_type td .at,.lecture .tbl_type td .bar,.lecture .tbl_type td .btn_spr,.lecture .tbl_type td .selbox_area,.lecture .tbl_type td .txt{display:inline-block;float:left;margin-right:4px}
.lecture .tbl_type td .eof{color:#adadad}
.lecture .tbl_type td .at{margin:3px 5px 0 1px}
.lecture .tbl_type td .bar{margin:3px 3px 0 -2px;color:#9a9a9a}
.lecture .tbl_type td .btn_find{margin-right:10px;margin-left:-1px}
.lecture .tbl_type td .btn_formdel,.lecture .tbl_type td .btn_formadd{margin-top:2px;margin-right:2px}
.lecture .tbl_type td .txt{margin-top:3px}
.lecture .tbl_type td strong{color:#46b611}
.lecture .tbl_type td ul{float:left;zoom:1}
.lecture .tbl_type td ul:after{display:block;clear:both;content:''}
.lecture .tbl_type td ul.lst_rdo li{float:left;position:relative;margin-right:14px;padding-left:17px;letter-spacing:-1px}
.lecture .tbl_type td ul.lst_rdo li:after{padding-right:1px;content:''}
.lecture .tbl_type td ul.lst_rdo li input{position:absolute;top:1px;left:0;width:14px;height:14px}
.lecture .tbl_type td ul.lst_chk{margin-top:3px;margin-right:-5px}
.lecture .tbl_type td ul.lst_chk li{float:left;position:relative;margin-right:15px;padding-left:18px}
.lecture .tbl_type td ul.lst_chk li input{position:absolute;top:1px;left:0;width:14px;height:14px}
.lecture .tbl_type td ul.lst_prize li{padding-bottom:8px;zoom:1}
.lecture .tbl_type td ul.lst_prize li:after{display:block;clear:both;content:''}
.lecture .tbl_type td .dsc_prize{display:block;clear:both;padding-left:1px;font-size:11px;color:#888}
.lecture .tbl_type2{padding:7px 0 5px}
.lecture .tbl_type2 th span{margin-top:0}
.lecture .tbl_type2 td{padding:3px 0 4px}
.lecture .txt_area{margin-bottom:32px}
.lecture .txt_area .dsc_txt{margin:7px 0 5px;padding-left:11px;font-size:11px;color:#888}
.lecture .txt_area .ico_ess{background:url(../img/schoolsession/spr_ico.png) 1px -12px no-repeat}
.lecture .txt_area .letter{float:right;margin-top:-19px;font-size:11px;color:#888}
.lecture .txt_area .letter strong{color:#6cb464}
.lecture .txt_area textarea{width:760px;padding:10px 11px;border:1px solid #c0c0c0;font-size:12px;color:#666}
.lecture .txt_area textarea.eof{color:#adadad}
.lecture .dsc_agree{margin:0 0 9px;padding:10px 15px 6px 11px;background:#eff3f3;font-size:11px;line-height:18px;color:#666}
.lecture .agree{float:right;position:relative;margin-bottom:25px;font-size:11px;color:#666}
.lecture .agree input{position:absolute;top:1px;left:-17px;width:12px;height:12px}
.lecture .security{background:#eff3f3;zoom:1}
.lecture .security:after{display:block;clear:both;content:''}
.lecture .security .img{float:left;margin:10px 29px 9px 9px}
.lecture .security .dsc_security{padding-top:48px;font-size:11px;line-height:18px;color:#666}
.lecture .security .input_area{margin-top:10px}
.lecture .security .input_txt{margin-right:3px}
.lecture .section_btn{padding:30px 0 35px;border-top:1px solid #f0f0f0;background:#fbfbfb;text-align:center}

/* 라이브 중계 */
.admission .live{position:relative;width:100%;height:669px;padding-bottom:110px;background:#fbfbfb url(../img/schoolsession/bg_live.jpg) no-repeat}
.admission .live .movie{position:absolute;top:215px;left:123px;width:640px}
.admission .live .movie p{margin-top:127px;line-height:18px;color:#999;text-align:center}
.admission .live .movie strong{display:block;color:#666}
.admission .live .movie em{color:#666}

/* popup layout */
#pop_wrap{width:100%;color:#666;text-align:center}
#pop_header{position:relative;height:35px;background:url(../img/schoolsession/bg_poph.gif) no-repeat}

/* popup contents */
.h_type{position:absolute;top:10px;left:26px;font-size:14px;color:#fff}
.findsch_area{margin:19px 0 11px}
.findsch_area strong,.findsch_area input,.findsch_area button{display:inline-block;margin-top:0;vertical-align:top}
.findsch_area strong{display:inline-block;margin:4px 4px 0 0}
.findsch_area .input_txt{margin-top:1px;*margin-top:0}
.findsch_area .btn_find{margin:1px 6px 0 0;*margin-left:4px}
.tbl_type{margin:0 auto;border-bottom:1px solid #dedede}
.tbl_type table{width:100%}
.tbl_type thead th{padding:8px 0 5px;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background:#f8f8f8;font-size:11px;line-height:15px}
.tbl_type .data{overflow-x:hidden;overflow-y:auto;width:100%;height:154px;padding:5px 0}
.tbl_type td{color:#7d7d7d}
.tbl_type td.title{text-align:left}
.tbl_type .data td{height:22px}
.tbl_type .hover td{background:#e9f6e1;color:#333;cursor:pointer}
#pop_content .tbl_type .eof{padding-top:67px}
.dct_input{margin:0 auto;text-align:left}
.dct_input h2{margin:18px 0 5px}
.dct_input strong,.dct_input input,.dct_input button{display:inline-block;margin-top:0;vertical-align:top}
.dct_input strong{display:inline-block;margin:3px 4px 0 0}
.dct_input .btn_input{*margin-left:4px}
.dct_input div{padding:10px 0 9px;border:1px solid #e3e3e3;background:#f8f8f8;text-align:center}
#pop_footer .btn_area{margin-top:15px;text-align:center}

/* 20120907 학교설명회 */
.admission2{background-color:#fff !important}
.admission2 .bg_l{background:url(../img/schoolsession/bg_adm2_l.png) 100% 0 no-repeat}
.admission2 .bg_r{background:url(../img/schoolsession/bg_adm2_r.png) 469px 0 no-repeat}
.admission2 #header{height:340px;background:url(../img/schoolsession/bg_adm2_hd.jpg) no-repeat}
.admission2 #container{clear:both;position:relative;width:938px;margin:0 auto;background:url(../img/schoolsession/bg_lct_ctn2.gif) repeat-y}
.admission2 #container .bg_ct{position:absolute;width:25px;height:757px;background:url(../img/schoolsession/bg_lct_ct2.jpg) no-repeat}
.admission2 #container .bg_ct_f{position:absolute;left:0;bottom:0;width:938px;height:36px;background:url(../img/schoolsession/bg_lct_ctf2.gif) 0 100% no-repeat}
.admission2 .lnb li.on a{background:url(../img/schoolsession/bg_adm2_lnb.png) no-repeat}

.admission2 .info_school{height:579px;padding-top:38px;background:url(../img/schoolsession/bg_movie.gif) 0 100% no-repeat}
.txt_infoschool{margin:0 51px 48px}
.txt_infoschool h2{margin-bottom:9px;padding:0;background:none !important;font-size:18px;line-height:18px;color:#55b2cf}
.txt_infoschool p{line-height:20px;color:#333}
.admission2 .movie{width:580px;margin:0 auto}

.admission2 .dsc_lecture{position:relative;margin:0 51px 56px;line-height:20px;color:#999}
.admission2 .dsc_lecture h2{background:url(../img/schoolsession/spr_ico2.gif) 0 -30px no-repeat;font-size:15px;color:#55b2cf}
.admission2 .dsc_lecture dl{overflow:hidden;zoom:1}
.admission2 .dsc_lecture dt{float:left}
.admission2 .dsc_lecture dd{float:left}
.type4{border-bottom:1px solid #e5e5e5}
.type4 dt{width:121px !important}
.type4 dd{width:auto !important}
.type4 dd ul li{margin-bottom:7px;color:#999 !important}
.type4 dd ul li span{display:inline-block;width:128px;color:#666}
.type4 dd ul li em{font-weight:bold;color:#55b2cf}
.type4 dd ul li.last{margin-top:17px}

.type5{margin-bottom:0 !important}
.type5 dt{width:85px !important;font-weight:normal !important}
.type5 dd{width:auto !important;color:#999 !important}
.type5 dt,.type5 dd,.margin_b7{margin-bottom:7px !important}

.type6{margin-bottom:0 !important}
.type6 dt{width:219px !important;font-weight:normal !important;color:#666 !important}
.type6 dd{width:auto !important}
.type6 dd span{display:inline-block;width:46px;color:#666}
.type6 dd em{display:inline-block;padding-right:71px;font-weight:bold;color:#55b2cf}
.type6 dt,.type6 dd{margin-bottom:7px !important}

.admission2 .dsc_lecture dd .tbl_style01{border-top:2px solid #b7b7b7 !important}
.admission2 .dsc_lecture dd .tbl_style01 th{background:#f7f7f7}
.admission2 .dsc_lecture dd .tbl_style01 td{width:643px;*width:629px;padding-left:14px;color:#999}
.txt2{margin-left:30px;color:#666}

.fw_normal{font-weight:normal !important}

.admission2 .dsc_form{float:none;margin-bottom:12px;background:url(../img/schoolsession/spr_ico.png) 640px -12px no-repeat;text-align:right}
.admission2 h2{background:url(../img/schoolsession/spr_ico2.gif) 0 4px no-repeat}
.admission2 .tbl_type td strong{color:#444}
.admission2 .txt_area .letter strong{color:#666}
.admission2 h2.type2{color:#555}

.admission2 .dsc_agree,.admission2 .security{background:#f1f1f1}
.admission2 .tbl_type td ul.lst_rdo li{letter-spacing:0}

/* 20120907 학교설명회 버튼 */
button.btn_spr2{margin:0;padding:0;border:0;cursor:pointer}
.btn_spr2{display:inline-block;background:url(../img/schoolsession/spr_btn2.png) no-repeat}
.btn_goadm2{width:232px;height:45px;background-position:0 0}
.btn_sbm3{width:232px;height:45px;background-position:0 -120px}
.btn_navermap{width:79px;height:21px;margin:6px 0 0 128px;background-position:0 -60px}

/* 20120927 인문사회학도 특강 */
caption,.blind{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}
.topic{font-family:'돋움',dotum}
.topic{background-color:#fff !important}
.topic .bg_l{background:url(../img/schoolsession/bg_adm2_l.png) 100% 0 no-repeat}
.topic .bg_r{background:url(../img/schoolsession/bg_adm3_r.png) 469px 0 no-repeat}
.topic #header{height:336px;background:url(../img/schoolsession/bg_adm3_hd.jpg) no-repeat}
.topic #container{clear:both;position:relative;width:938px;margin:0 auto;background:url(../img/schoolsession/bg_lct_ctn2.gif) repeat-y}
.topic #container .bg_ct{position:absolute;width:25px;height:757px;background:url(../img/schoolsession/bg_lct_ct2.jpg) no-repeat}
.topic #container .bg_ct_f{position:absolute;left:0;bottom:0;width:938px;height:36px;background:url(../img/schoolsession/bg_lct_ctf2.gif) 0 100% no-repeat}
.topic .lnb{width:913px;padding-left:25px}
.topic .lnb li{width:444px;height:47px}
.topic .lnb li a.lnb_tit1{width:444px;height:47px;background:url(../img/schoolsession/spr_btn3.png) no-repeat 0 -80px}
.topic .lnb li a.lnb_tit2{width:444px;height:47px;background:url(../img/schoolsession/spr_btn3.png) no-repeat 0 -130px}
.topic .lnb li.on a.lnb_tit1{background:none}
.topic .lnb li.on a.lnb_tit2{background:none}
.txt_topicsin{margin:0 51px 33px;padding-top:43px}
.txt_topicsin h2{margin-bottom:11px;padding:0;background:none !important;font-size:18px;font-family:'나눔고딕',NanumGothic;color:#55b2cf}
.txt_topicsin p{line-height:20px;color:#666}

.topic .dsc_lecture{margin-bottom:45px}
.topic .dsc_lecture p{margin-top:6px}
.topic .dsc_lecture ul{margin-top:3px}
.topic .dsc_lecture p,.topic .dsc_lecture ul{padding-left:30px}
.topic .dsc_lecture li{padding-left:12px;background:url(../img/schoolsession/bg_dott.gif) no-repeat 0 12px;line-height:25px}
.topic .dsc_lecture .txt{font-weight:bold;color:#333}
.topic .dsc_lecture h3{display:inline-block;height:18px;margin-bottom:9px;margin-left:-2px;padding:4px 0 0 31px;background:url(../img/schoolsession/spr_ico2.gif) no-repeat 0 -30px;font-size:15px;font-family:'나눔고딕',NanumGothic;color:#55b2cf}
.topic .dsc_lecture em{color:#666}
.topic .dsc_lecture .tel{padding-left:10px}
.topic .dsc_lecture .line{margin-left:7px;padding-left:11px;background:url(../img/schoolsession/bg_line.gif) no-repeat 0 3px}
.topic .dsc_lecture .tbl_style01{width:786px;border-top:2px solid #b7b7b7;text-align:center}
.topic .dsc_lecture .tbl_style01_v1 th{width:125px;padding-left:20px;text-align:left}
.topic .dsc_lecture .tbl_style01 th{height:35px;border-bottom:1px solid #e5e5e5;background:#f7f7f7;font-weight:normal;color:#333}
.topic .dsc_lecture .tbl_style01 td{height:35px;padding-left:14px;border-bottom:1px solid #e5e5e5;color:#999}
.topic .dsc_lecture .tbl_style01 td.txt_lp{padding-left:20px;text-align:left}
.topic .dsc_lecture .tbl_style01 td .map{display:inline-block;overflow:hidden;width:111px;height:21px;background:url(../img/schoolsession/spr_btn3.png) no-repeat;line-height:999px}
.topic .section_btn{padding:40px 0 45px}
.topic .section_btn span{display:inline-block;overflow:hidden;width:193px;height:45px;background:url(../img/schoolsession/spr_btn3.png) no-repeat 0 -30px;line-height:999px}
.topic .dsc_lecture_v1{margin-bottom:40px}
.topic .dsc_lecture_v1 h3{margin-bottom:7px;padding-bottom:0}
.topic .dsc_lecture_v1 p{margin-bottom:0}
.topic .dsc_lecture_v2 .tbl_style01 th:first-child{width:392px}
.topic .last{margin-bottom:64px}

/* 진로강연회 */
.parent #wrap{width:100%;min-width:980px}
.parent #header{width:100%;min-width:910px;background-color:#181818;text-align:left}

.parent #header .header_innerarea{overflow:hidden;position:relative;height:327px}
#header .header_innerarea > img{position:absolute;top:0;left:0;z-index:5;width:100%;min-width:980px;min-height:327px}
#header .header_inner{overflow:hidden;position:relative;z-index:10;width:910px;margin:0 auto;zoom:1}
.header_inner h1{float:left;margin-top:50px}
.header_inner .p_parent{float:right;margin:67px 0 18px}
.header_inner .p_parent h2{width:428px;height:99px;background:url(../img/schoolsession/spr_parent.png) 0 0 no-repeat;line-height:999px}

.p_parent .place_area{margin:27px 0 71px;text-align:right}
.place_area span{display:inline-block;overflow:hidden;background:url(../img/schoolsession/spr_parent.png) no-repeat;line-height:999px}
.place_area .date{width:175px;height:17px;background-position:0 -130px}
.place_area .bar{width:5px;height:17px;margin:0 7px 0 8px;background-position:-230px -130px}
.place_area .place{width:161px;height:17px;background-position:-290px -130px}

.link_area{text-align:right}
.link_area a{display:inline-block;overflow:hidden;background:url(../img/schoolsession/spr_parent.png) no-repeat;line-height:999px;vertical-align:top}
.link_area .ico_home{width:120px;height:20px;background-position:0 -180px}
.link_area .ico_blog{width:20px;height:20px;margin:0 2px 0 9px;background-position:-170px -180px}
.link_area .ico_facebook{width:20px;height:20px;background-position:-230px -180px}

.gnb_area{width:910px;margin:0 auto;padding:17px 0 16px}
.gnb{overflow:hidden;zoom:1}
.gnb li{float:right;margin:0 3px 0 39px}
.gnb li a{display:inline-block;overflow:hidden;background:url(../img/schoolsession/spr_parent.png) no-repeat;line-height:999px;vertical-align:top}
.gnb li a.info{width:64px;height:15px;background-position:0 -230px}
.gnb li a:hover.info,.gnb li a.info_selected{background-position:-120px -230px}
.gnb li a.application{width:64px;height:15px;background-position:-240px -230px}
.gnb li a:hover.application,.gnb li a.application_selected{background-position:-360px -230px}

.parent #container{width:910px;margin:17px auto 0;padding-bottom:80px;text-align:left}
.parent .dsc_parent{overflow:hidden;padding-top:46px;zoom:1}
.parent .dsc_parent dt{float:left;width:332px;font-size:15px;font-weight:bold;color:#444}
.parent .dsc_parent dd{float:left;width:578px;line-height:20px;color:#444}
.parent .dsc_parent dd span.txt_dsc1{display:block;padding-bottom:3px;font-size:14px;font-weight:bold;color:#555}
.parent .dsc_parent dt h2{padding-left:11px;background:url(../img/schoolsession/spr_parent.png) -360px -265px no-repeat;font-size:13px;color:#333}
.parent .dsc_parent dt span{display:inline-block;padding:3px 0 0 12px;font-size:12px;color:#dd4931}
.parent .dsc_parent dd span.txt_dsc2{font-size:12px;color:#333}
.parent .dsc_parent2{overflow:hidden;zoom:1}
.parent .dsc_parent2 dt{float:left;width:332px;font-size:15px;font-weight:bold;color:#444}
.parent .dsc_parent2 dd{float:left;width:578px;line-height:20px;color:#444}

.margin_l5{margin-left:5px;*margin-left:0}

.tbl_parent{width:100%;padding:6px 0 11px;border-top:1px solid #666;border-bottom:1px solid #e9e9e9}
.tbl_parent th{padding:7px 0 0 20px;color:#666;text-align:left}
.tbl_parent td{padding-top:7px;color:#666}
a.map_skip{display:inline-block;overflow:hidden;width:121px;height:25px;background:url(../img/schoolsession/spr_parent.png) 0 -270px;line-height:999px}

.btn_area2{margin:70px 0 0 332px}
.btn_parentappl{display:inline-block;overflow:hidden;width:317px;height:60px;background:url(../img/schoolsession/spr_parent.png) 0 -320px;line-height:999px}
.btn_applsubmis{display:inline-block;overflow:hidden;width:317px;height:60px;background:url(../img/schoolsession/spr_parent.png) 0 -410px;line-height:999px}

.parent .dsc_form{margin:35px 0 8px;padding-left:18px;background:url(../img/schoolsession/spr_ico.png) 757px -11px no-repeat;color:#999;text-align:right}

.parent .tbl_type{width:100%;padding:8px 0;border-top:1px solid #666;border-bottom:1px solid #e9e9e9;table-layout:fixed}
.parent .tbl_type th{color:#666;text-align:left;vertical-align:top}
.parent .tbl_type th span{display:inline-block;margin-top:1px;padding-left:18px}
.parent .tbl_type th span.ico_ess{background:url(../img/schoolsession/spr_ico.png) 6px -9px no-repeat}
.parent .tbl_type td{padding:4px 0;color:#666}
.parent .tbl_type td .at{margin:3px 5px 0 1px}
.parent .tbl_type td .selbox_area{display:inline-block;float:left;margin-right:4px}
.parent .tbl_type td ul{float:left;zoom:1}
.parent .tbl_type td ul:after{display:block;clear:both;content:''}
.parent .tbl_type td ul.lst_chk{margin-right:-5px}
.parent .tbl_type td ul.lst_chk li{float:left;position:relative;margin-right:10px}
.parent .tbl_type td ul.lst_chk li input{margin-right:3px;*margin-right:0}
.parent .tbl_type td .input_txt,.parent .tbl_type td .at,.parent .tbl_type td .bar,.parent .tbl_type td .btn_spr{display:inline-block;float:left;margin-right:4px}
.parent .tbl_type td .eof{color:#adadad}
.parent .tbl_type td ul.lst_prize li{padding-bottom:8px;zoom:1}
.parent .tbl_type td ul.lst_prize li:after{display:block;clear:both;content:''}
.parent .tbl_type td .dsc_prize{display:block;clear:both;padding-left:1px;font-size:11px;color:#888}

.parent .txt_area{margin-bottom:32px}
.parent .txt_area .dsc_txt{margin:7px 0 5px;padding-left:11px;font-size:11px;font-weight:bold;color:#666}
.parent .txt_area .dsc_txt2{margin:7px 0 5px;padding-left:6px;font-size:11px;font-weight:bold;color:#666}
.parent .txt_area .ico_ess{margin-left:5px;background:url(../img/schoolsession/spr_ico.png) 1px -9px no-repeat}
.parent .txt_area .letter{float:right;margin-top:-24px;font-size:11px;font-family:'돋움',dotum;color:#888}
.parent .txt_area .letter strong{font-family:Tahoma;color:#6cb464}
.parent .txt_area .letter em{font-family:Tahoma}
.parent .txt_area textarea{width:553px;padding:10px 11px;border:1px solid #c0c0c0;font-size:12px;color:#666}
.parent .txt_area textarea.eof{color:#adadad}

.parent .dsc_agree{margin:0 0 9px;padding:13px 21px;background:#f8f8f8;font-size:11px;line-height:18px;color:#666}
.parent .agree{float:right;position:relative;margin-bottom:25px;font-size:11px;color:#666}
.parent .agree input{margin-right:5px}

.parent .security{background:#f8f8f8;zoom:1}
.parent .security:after{display:block;clear:both;content:''}
.parent .security .img{float:left;margin:15px 21px 15px 15px}
.parent .security .dsc_security{padding-top:48px;font-size:11px;line-height:18px;color:#666}
.parent .security .input_area{margin-top:10px}
.parent .security .input_txt{margin-right:3px}

/* 학교 설명회 소개,신청 :: [NEXT] */
.explanation{font-family:'나눔고딕',NanumGothic,'돋움',dotum}
.explanation .header_inner h1{margin-top:61px}
.explanation .p_parent{margin:58px 0 0}
.explanation .p_parent h2{width:532px;height:86px;margin-bottom:18px;background-position:0 -490px}
.explanation .p_parent ul{margin-left:292px}
.explanation .p_parent li{overflow:hidden;width:240px;height:16px;background:url(../img/schoolsession/spr_parent.png) no-repeat;text-indent:-999em}
.explanation li.li_parent1{margin-bottom:5px;background-position:0 -590px}
.explanation li.li_parent2{margin-bottom:8px;background-position:0 -610px}
.explanation li.li_parent3{margin-bottom:67px;background-position:0 -630px}
.explanation .link_area{clear:both}
.explanation .gnb_area a{display:inline-block;overflow:hidden;width:91px;height:15px;background:url(../img/schoolsession/spr_parent.png) no-repeat;line-height:999px;vertical-align:top}
.explanation a.explanation{background-position:0 -670px}
.explanation a.ex_application{background-position:-260px -670px}
.explanation a.on{background-position:-130px -670px}
.explanation .on a.explanation,.explanation a.explanation:hover{background-position:-130px -670px}
.explanation .on a.ex_application,.explanation a.ex_application:hover{background-position:-390px -670px}
.explanation .dsc_parent_v1{margin-top:10px}
.explanation .dsc_parent dt{width:300px}
.explanation .dsc_parent dd{width:606px;color:#666;text-align:justify}
.explanation .dsc_parent dd span.txt_dsc2{display:block;color:#666}
.explanation .dsc_parent strong{display:block;margin-bottom:4px;color:#333}
.explanation .dsc_parent strong.mt{margin-top:17px}
.explanation .tbl_parent{border-collapse:collapse;border-spacing:0}
.explanation .tbl_parent th{padding:12px 0;font-size:12px;font-weight:normal;color:#333;vertical-align:top}
.explanation .tbl_parent th span{padding-left:20px}
.explanation .tbl_parent td{padding:0;line-height:25px}
.explanation .tbl_parent td.last{padding-bottom:10px}
.explanation .tbl_parent_v1{border-collapse:collapse;border-spacing:0}
.explanation .tbl_parent_v1 th{padding:8px 0 7px;background-color:#f7f7f7;font-weight:bold;text-align:center}
.explanation .tbl_parent_v1 td{padding:3px 0 2px}
.explanation .tbl_parent_v1 td span{padding-left:15px}
.explanation .tbl_parent_v1 .center_align th,.explanation .tbl_parent_v1 .center_align td{text-align:center}
.explanation .btn_area2{margin:70px 0 0 300px}
.btn_explanation{display:inline-block;overflow:hidden;width:317px;height:61px;background:url(../img/schoolsession/spr_parent.png) 0 -700px;line-height:999px}
.explanation .dsc_parent_v2{padding-top:0}
.explanation .dsc_parent_v2 td input{margin-right:8px}
.explanation .txt_area .letter{float:right;margin-top:-22px;font-size:11px;color:#888;letter-spacing:-1px}
.explanation .txt_area .letter strong{display:inline-block;margin-bottom:0;color:#6cb464;font-family:'돋움',dotum;letter-spacing:0}
.explanation .txt_area .letter em{vertical-align:top;font-family:'돋움',dotum;letter-spacing:0}
.explanation .txt_area textarea{width:582px;padding:10px 11px;border:1px solid #c0c0c0;font-size:12px;color:#666}
.explanation .txt_area textarea.eof{color:#adadad}
.explanation .txt_area .dsc_txt{font-size:12px}
.explanation .dsc_agree{margin:0 0 9px;padding:13px 21px;background:#f8f8f8;font-size:12px;line-height:18px;font-family:'나눔고딕',NanumGothic;color:#666}
.explanation .explan_tbl{width:100%;border-bottom:1px solid #e9e9e9;border-top:1px solid #666}
.explanation .explan_tbl th{font-weight:normal;text-align:left;vertical-align:top}
.explanation .explan_tbl th span{padding-left:20px}
.explanation .explan_tbl .first td,.explanation .explan_tbl .first th{padding-top:14px}
.explanation .explan_tbl td{padding-bottom:10px}
.explanation .explan_tbl td p{margin-bottom:6px}
.explanation .explan_tbl .last td{padding-bottom:9px}
.explanation .dsc_form{margin-top:32px;*margin-top:15px;padding-right:4px;background-position:750px -11px}
.explanation .tbl_type3{width:100%;border-bottom:1px solid #e9e9e9;border-top:1px solid #666;border-collapse:collapse;border-spacing:0}
.explanation .tbl_type3 th{text-align:left}
.explanation .tbl_type3 th span{}
.explanation .tbl_type3 th span{display:inline-block;padding-left:18px;line-height:15px}
.explanation .tbl_type3 th span.ico_ess{background:url(../img/schoolsession/spr_ico.png) 6px -12px no-repeat}
.explanation .tbl_type3 td{padding-bottom:7px}

.explanation .dsc_parent dd .btn_formadd{float:right;margin-right:0}
.explanation .dsc_parent dd .btn_formdel{}

.explanation .tbl_type3 .last input[type=checkbox]{width:14px;height:14px;margin-right:4px;vertical-align:middle}
.explanation .tbl_type3 .last label{margin-left:5px}
.explanation .tbl_type3 td .eof{color:#adadad}
.explanation .tbl_type3 .first td{padding-top:12px}
.explanation .tbl_type3 .last th,.explanation .tbl_type3 .last td{padding-bottom:12px}

.explanation .lst_prize{width:100%}

/* 고3 수험생을 위한 소프트웨어 */
.software h1{margin-top:59px}
.software .p_software{float:right;margin:56px 0 0}
.software .p_software h2{width:452px;height:160px;margin-bottom:9px;background:url(../img/schoolsession/spr_software.png) 0 0 no-repeat;line-height:999px}
.software .p_software ul{margin:0 0 35px 198px}
.software .p_software li{overflow:hidden;width:254px;height:17px;background:url(../img/schoolsession/spr_software.png) no-repeat;text-indent:-999em}
.software li.txt_day{margin-bottom:3px;background-position:0 -190px}
.software li.txt_location{background-position:40px -230px}
.software .gnb li a{background-image:url(../img/schoolsession/spr_software.png) !important}
.software .gnb li a.info2{width:53px;height:15px;background-position:0 -270px}
.software .gnb li a:hover.info2,.software .gnb li.selected a.info2{background-position:-75px -270px}
.software .gnb li a.application{width:53px;height:15px;background-position:-150px -270px}
.software .gnb li a:hover.application,.software .gnb li.selected a.application{background-position:-225px -270px}
.software .tbl_parent_v1{border-collapse:collapse;border-spacing:0}
.software .tbl_parent_v1 th{padding:8px 0 7px;background-color:#f7f7f7;color:#333;font-weight:bold;text-align:center}
.software .tbl_parent_v1 td{padding:3px 0 2px 20px;line-height:25px;vertical-align:top}

.btn_software{display:inline-block;overflow:hidden;width:317px;height:61px;background:url(../img/schoolsession/spr_software.png) 0 -310px;line-height:999px}
.software .tbl_type td ul.lst_chk li input{margin-right:3px;*margin-right:0}
.mt18{margin-top:18px}