@charset "utf-8";
/* Bluewave Web Standard Team KKS 121022, WSY 121022 */

/* Common */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare,a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',dotum,AppleGothic,sans-serif;font-size:12px}
body{word-break:break-all}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}

/* Common Add */
select{height:20px;font-size:12px;color:#666}
caption,legend,.blind{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}
input[type=text],input[type=password]{height:14px;padding:5px 3px 3px;border:1px solid #acadb1;color:#666;vertical-align:middle}
input[type=radio]{*width:13px;*height:13px;margin:-2px 0 2px;vertical-align:middle}
input[type=checkbox]{*width:13px;*height:13px;vertical-align:top}
hr{display:none}
table{border-collapse:collapse}
th{font-weight:normal}

/* Set Class */
.overview{overflow:hidden;zoom:1}
.section0.section1,.section1_v1,.section2,.section2_v1,.section3,.section3_v1,.section4,.section4_v1,.section5,.section6{overflow:hidden;width:100%;zoom:1}
.section0{margin-bottom:5px}
.section1{margin-bottom:10px}
.section1_v1{margin-bottom:15px}
.section2{margin-bottom:20px}
.section2_v1{margin-bottom:25px}
.section3{margin-bottom:30px}
.section3_v1{margin-bottom:35px}
.section4{margin-bottom:40px}
.section4_v1{margin-bottom:45px}
.section5{margin-bottom:50px}

.fl{float:left}
.fr{float:right}
.ls_base{letter-spacing:0}
.tx_ellipsis{overflow:hidden;text-overflow:ellipsis}
.show{display:block}
.hide{display:none}
.fn{font-weight:normal}
.clr_blue1{color:#45b3e8}