@charset "utf-8";
/* Bluewave Web Standard Team KKS 121022, WSY 121022 */

/* common */
.tr_selecter td{background-color:#d0d3d8 !important;color:#313234 !important}
.tr_selecter a{color:#313234 !important}
.txt_cb_v1{color:#a6c1d5}
.txt_red{color:#f00 !important}
.txt_grey{color:#333 !important}
.txt_grey2{color:#666 !important}
.txt_grey3{color:#999 !important}
.pbt th,.pbt td{padding:10px 5px 7px !important}
.pb2{padding-bottom:2px}
.pb6{padding-bottom:6px}
.pb15{padding-bottom:15px !important}

/* 20130201 추가 */
.pb20{padding-bottom:20px !important}
.pt0{padding-top:0 !important}
.pt5{padding-top:5px !important}

/* 20130201 추가 */
.pt9{padding-top:9px !important}
.pt16{padding-top:16px !important}

/* 20130201 추가 */
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pr0{padding-right:0 !important}
.pl20{padding-left:20px !important}
.mt0{margin-top:0 !important}
.mt3{margin-top:3px !important}
.mt4{margin-top:4px !important}
.mt5{margin-top:5px !important}
.mt8{margin-top:8px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt40{margin-top:40px !important}
.mt_13{margin-top:-13px !important}
.mb3{margin-bottom:3px}
.mb5{margin-bottom:5px}
.mb7{margin-bottom:7px}
.mb10{margin-bottom:10px !important}
.ml8{margin-left:8px}
.ml9{margin-left:9px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.mb11{margin-bottom:11px}
.mb15{margin-bottom:15px !important}
.mb21{margin-bottom:21px !important}
.mb30{margin-bottom:30px !important}
.mr0{margin-right:0 !important}
.mr1{margin-right:1px !important}
.mr3{margin-right:3px !important}
.mr5{margin-right:5px}

/* 20130201 추가 */
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr10_v1{margin-right:20% !important}
.mr18{margin-right:18px}
.mr20{margin-right:20px !important}
.mr29{margin-right:29px !important}
.mr58{margin-right:58px !important}

/* 20130201 추가 */
.mr70{margin-right:70px !important}

/* 20130201 추가 */
.w95{width:95px !important}
.auto_cen{margin:0 auto}
.nameing{margin-right:5px;color:#353535}
.lf_alig{padding-left:10px !important;text-align:left !important}
.lf_alig_v1{padding-left:20px !important;text-align:left !important}
.lf_alig_v2{padding-left:35px !important;text-align:left !important}
.l_alig{text-align:left !important}
.cen_alig{text-align:center !important}
.r_alig{text-align:right !important}
.in_block{display:inline-block}
.rt_alig{padding-right:10px !important;text-align:right !important}
.rt_alig_v1{display:block;margin-right:25%;*margin-right:2.75% !important;text-align:right !important}
.td_txt_input{display:inline-block;width:89.4%;padding:0 5px;vertical-align:middle}
.rt_alig_v2{padding-right:20px !important;text-align:right !important}
.pr{position:relative}
.pa_rt{position:absolute !important;top:0;right:0}
.pos_fixed_cen{position:fixed;left:0;bottom:0;z-index:50;width:100%;background-color:#fff}
.pos_fixed_head{position:fixed;top:0;left:0;z-index:50;width:100%}
.va_top{vertical-align:top !important}
.va_middle{vertical-align:middle !important}
.nameing span{font-weight:normal;color:#666}
.td_bg{background-color:#f9fafa}
.td_bg_v1{background-color:#f7f7f8}
.td_bg td{background-color:#f9fafa}
.schu_line_bg{border:1px solid #999 !important;background-color:#f9fafa}
.tbl_line th,.tbl_line td{border-bottom:1px solid #d9dbdb !important}
.tb_border{display:block;position:absolute;top:-1px;*top:-4px;left:-1px;width:100%;height:100%;border:1px solid #999}
.txt_c6{color:#666;text-decoration:underline}
.txt_appraisal{padding:19px 0 8px;color:#666}
.txt_appraisal a{color:#666;text-decoration:underline}
.txt_appraisal.v2{zoom:1}
.txt_appraisal.v2:after{display:block;clear:both;content:''}
.schedule_close{display:block;position:absolute;top:2px;right:2px;width:15px;height:15px;background:url(../img/spr_ico.png) no-repeat 0 -20px;cursor:pointer}
.lecture_lst{padding:15px 20px}
.first_line{border-left:1px solid #e5e7ea !important}
.c_be{color:#bebebe !important}
.c_red{color:#fe0000 !important}
.c_blue{color:#36aaef !important}
.c_gray{color:#333 !important}
.w_br{word-break:break-all !important}
.w_sp{white-space:pre-line !important}
.w_wbsp{white-space:pre-line !important;word-break:break-all !important}
.sele_p0 li select{padding-left:0 !important}
.lts_none{letter-spacing:0 !important}
.lts_1{letter-spacing:-1px !important}
.tl_fixed{table-layout:fixed !important}
.mh600{min-height:600px !important}

/* skip navigation */
#u_skip{position:relative;z-index:1000;margin-left:20px}
#u_skip a{position:absolute;top:-30px;left:0;width:128px;border:1px solid #4ec53d;background:url(../img/spr_u_skip.png) repeat-x 0 -11px;text-align:center;outline:none}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/spr_u_skip.png) no-repeat 100% 11px;font-size:11px;line-height:26px;color:#fff;letter-spacing:-1px}

/* layout */
#wrap{width:100%}
#header{min-width:1400px;height:77px;padding-top:23px;background:#2c2c2c}
#container{overflow:hidden;position:relative;width:1380px;margin:20px 0 0 20px;zoom:1}
#content{float:left;min-height:558px;margin-top:7px}
#footer{margin-top:40px;padding:25px 0 30px;border-top:1px solid #f2f2f2}

/* header */
#header .inner{width:1380px;padding-left:20px;color:#656565}
#header .inner:after{display:block;clear:both;content:''}
#header h1{margin-top:5px}
#header a.h_logo{display:block;width:180px;height:44px;background:url(../img/spr_logo.png) no-repeat 0 0;text-indent:-999px}
#header .utilmenu{float:right;position:relative;height:19px;color:#fff}
#header .utilmenu:after{display:block;clear:both;content:''}
#header .utilmenu li{float:left;padding:4px 10px 0 12px;background:url(../img/bg_line_v2.gif) no-repeat 0 7px;letter-spacing:-1px}
#header .utilmenu li:first-child{padding-right:7px}
#header .utilmenu li.line_none{background:none}
:root #header .utilmenu li{padding-top:3px}
#header .utilmenu li strong{color:#45b4e6}
#header .utilmenu li em{padding:0 3px 0 4px;color:#a6c1d5;letter-spacing:0}
#header .utilmenu li a{font-size:11px;color:#c0c0c0}
#header .utilmenu li.depth_area a{font-size:12px}
#header .utilmenu li.depth_area a:hover,#header .utilmenu li.depth_area a.on{color:#fff;text-decoration:none}
#header .utilmenu li.depth_area .ico_unfd{display:inline-block;width:15px;height:15px;margin-left:6px;background:url(../img/spr_ico.png) no-repeat 0 -150px;vertical-align:middle}
#header .utilmenu .depth_area ul{z-index:100;margin-top:5px;padding:4px 6px 1px;border:1px solid #141517;background-color:#fff}
#header .utilmenu .depth_area ul li{float:none;padding:0 !important;background:none;line-height:18px;text-align:right}
#header .utilmenu .depth_area ul a{font-size:11px;color:#999}
#header .utilmenu .depth_lst1 li a:hover{color:#999;text-decoration:underline}
#header .utilmenu .depth_lst1 li.selected a{font-weight:bold;color:#333}
#header .utilmenu .depth_lst1 li.selected a:hover{text-decoration:none}
#header .utilmenu .depth_lst2{position:absolute;top:19px;right:0;min-width:88px}
#header .utilmenu .depth_lst2 li a:hover{color:#333;text-decoration:underline}

/* GNB */
.gnb_group{clear:both;right:0;bottom:0;padding-top:23px}
.gnb{overflow:hidden;float:right;width:359px;height:35px;background:url(../img/spr_gnb.png) no-repeat 0 0;zoom:1}
.gnb li{float:left}
.gnb a{display:inline-block;overflow:hidden;width:65px;height:35px;line-height:999em;vertical-align:top}
.gnb a.on{background:url(../img/spr_gnb.png) no-repeat 0 0}
.gnb a.m1{background-position:0 -40px}
.gnb a.m2{width:99px;background-position:-65px -40px}
.gnb a.m3{background-position:-164px -40px}
.gnb a.m4{background-position:-229px -40px}
.gnb a.m5{background-position:-294px -40px}

/* SNB */
.snb_bg1{background:url(../img/bg_snb_cen.png) repeat-y 0 0}
.snb_bg2{overflow:hidden;background:url(../img/bg_snb_btm.png) no-repeat 0 100%;zoom:1}
.snb{position:relative}
.snb_group{float:left;width:13%;border-top:1px solid #c5cace}
.snb_box{width:154px;margin:16px 13px}
.snb h2{height:19px;margin-left:2px;background:url(../img/spr_snb.png) no-repeat 0 0;text-indent:-999em}
.snb h2.h_schoolregister{width:34px;background-position:0 -40px}
.snb h2.h_tuition{width:84px;background-position:0 -70px}
.snb h2.h_lecture{width:37px;background-position:0 -100px}
.snb h2.h_result{width:37px;background-position:0 -130px}
.snb h2.h_graduation{width:37px;background-position:0 -160px}
.snb h2.h_notice{width:73px;background-position:0 -190px}
.snb_list_v1{width:154px;margin-top:16px}
.snb_list_v1 li{padding:15px 0 14px;background:url(../img/bg_snb_divid.png) no-repeat 0 0}
.snb_list_v1 li a{display:block;width:154px;height:17px;padding-top:6px;text-decoration:none}
.snb_list_v1 li a.snb_depth1{background:url(../img/spr_snb.png) no-repeat -48px -11px;font-weight:bold;color:#353535}
.snb_list_v1 li a.snb_depth1.on{background:url(../img/spr_snb.png) no-repeat -48px 9px}
.snb_list_v1 li ul{padding-top:2px}
.snb_list_v1 li ul li{padding:2px 0 0;background:none}
.snb_list_v1 li ul li a{width:148px;padding-left:6px;color:#696969}
.snb_list_v1 li ul li a:hover{background:#d9dbda}
.snb_list_v1 li ul li a.on{background:#47b2e6;color:#fff}
.snb_cont_btn{float:left;width:.8%;height:155px;margin-right:1.4%;background:url(../img/spr_snb.png) no-repeat -160px -40px}
.snb_cont_btn.on{float:left;width:.8%;height:155px;margin-right:1.4%;background:url(../img/spr_snb.png) no-repeat -175px -40px}
.snb_cont_btn a{display:block;width:11px;height:40px;margin-top:49px;text-indent:-999em}
.lst_two{height:40px;padding-top:6px;line-height:16px}
.lst_two:hover{background:#d9dbda}
.lst_two .on{height:30px;margin-top:-2px;padding:6px 0 6px 6px;background:#47b2e6;color:#fff}

/* footer */
#footer .inner{overflow:hidden;width:1380px;padding-left:20px;text-indent:-9999em;zoom:1}
#footer .h_logo{float:left;width:180px;height:44px;background:url(../img/spr_logo.png) no-repeat 0 -50px}
#footer .addr_group1{float:left;padding:8px 0 0 30px}
#footer .addr_group1 p{width:540px;height:11px;margin-bottom:9px;background:url(../img/spr_foot.png) no-repeat 0 0}
.familysite{overflow:hidden;float:right;width:399px;margin-top:11px;zoom:1}
.familysite li{float:left;padding-left:18px}
.familysite li a{display:block;height:23px;background:url(../img/spr_foot.png) no-repeat}
.familysite li a.m1{width:47px;background-position:0 -40px}
.familysite li a.m2{width:47px;background-position:-65px -40px}
.familysite li a.m3{width:63px;background-position:-130px -40px}
.familysite li a.m4{width:51px;background-position:-210px -40px}
.familysite li a.m5{width:34px;background-position:-280px -40px}
.familysite li a.m6{width:49px;background-position:-330px -40px}
address{width:235px;height:9px;background:url(../img/spr_foot.png) no-repeat 0 -20px}

/* title */
.tit_group{overflow:hidden;zoom:1}
.h_tit_v1{float:left;height:32px;padding-top:10px;background:url(../img/bu_h2.png) no-repeat 0 0;font-size:16px;font-weight:bold;color:#000;letter-spacing:-1px}
.location{float:right;margin-top:16px}
.location li{float:left;padding:0 15px 0 8px;background:url(../img/bu_arrow.png) no-repeat 100% 0;font-size:11px;line-height:11px;color:#9ca9af;letter-spacing:-1px}
.location li.last{padding-right:0;background:none}
.location li span{display:block;width:9px;height:9px;background:url(../img/spr_ico.png) no-repeat 0 0;text-indent:-9999em}
.location li em{font-weight:bold}

/* BTN */
.fron{display:inline-block;position:relative;height:24px;padding:0 11px;background:url(../img/spr_btn.png) no-repeat;font-size:12px;font-weight:normal;line-height:25px;color:#444;letter-spacing:-1px;text-decoration:none !important;white-space:nowrap}
.btn_v1{background-position:0 0}
.btn_v1_inactive{background-position:0 -90px;color:#bbb}
.btn_v2{height:23px;background-position:0 -260px;color:#686868}
.btn_v2_inactive{height:23px;background-position:0 -260px;color:#bbb}
.btn_v3{background-position:0 -140px;font-weight:bold;color:#fff !important}
.btn_v3:hover{color:#fff !important}
.btn_v3_inactive{background-position:0 -200px;font-weight:bold;color:#fff}
.btn_v4{background-position:0 -400px;font-weight:bold;color:#fff !important}
.btn_v4:hover{color:#fff !important}
.btn_v4_inactive{background-position:0 -460px;font-weight:bold;color:#fff}

.fron_v2{display:inline-block;position:relative;height:56px;padding:0 16px;background:url(../img/spr_btn.png) no-repeat;font-size:12px;font-weight:bold;line-height:57px;color:#444;letter-spacing:-1px;text-decoration:none !important;white-space:nowrap}
.btn_v5{background-position:0 -830px}

.fron_v3{display:inline-block;position:relative;height:19px;padding:0 3px 0 7px;background:url(../img/spr_btn.png) no-repeat;font-size:11px;line-height:20px;color:#888894;letter-spacing:-1px;text-decoration:none !important;white-space:nowrap}
.btn_v6{background-position:0 -900px}

.fron_v4{display:inline-block;position:relative;height:61px;padding:0 9px 0 13px;background:url(../img/spr_btn.png) no-repeat;font-size:11px;font-weight:bold;line-height:62px;color:#666;letter-spacing:-1px;text-decoration:none !important;white-space:nowrap}
.btn_v7{background-position:0 -930px}

.rear{display:inline-block;position:absolute;top:0;right:0;width:3px;height:24px;background:url(../img/spr_btn.png) no-repeat}
.btn_rgt_v1{background-position:-210px 0}
.btn_rgt_inactive1{background-position:-210px -90px}
.btn_rgt_v2{background-position:-210px -260px}
.btn_rgt_inactive2{background-position:-210px -260px}
.btn_rgt_v3{background-position:-210px -140px}
.btn_rgt_inactive3{background:none}

.btn_rgt_v4{background-position:-210px -400px}
.btn_rgt_inactive4{background:none}

.rear_v2{display:inline-block;position:absolute;top:0;right:0;width:3px;height:56px;background:url(../img/spr_btn.png) no-repeat}
.btn_rgt_v5{background-position:-210px -830px}

.rear_v3{display:inline-block;position:absolute;top:0;right:-3px;width:3px;height:19px;background:url(../img/spr_btn.png) no-repeat}
.btn_rgt_v6{background-position:-210px -900px}

.rear_v4{display:inline-block;position:absolute;top:0;right:-3px;width:3px;height:61px;background:url(../img/spr_btn.png) no-repeat}
.btn_rgt_v7{background-position:-210px -930px}

.btn_v1:hover{background:url(../img/spr_btn.png) no-repeat 0 -30px}
.btn_v1:active{background:url(../img/spr_btn.png) no-repeat 0 -60px;color:#000}
.btn_v1:hover span{background-position:-210px -30px}
.btn_v1:active span{background-position:-210px -60px}
.btn_v2:hover{background:url(../img/spr_btn.png) no-repeat 0 -290px}
.btn_v2:active{background:url(../img/spr_btn.png) no-repeat 0 -320px}
.btn_v2:hover span{background-position:-210px -290px}
.btn_v2:active span{background-position:-210px -320px}
.btn_v3:hover{text-decoration:underline !important}
.btn_v3:active{background:url(../img/spr_btn.png) no-repeat 0 -170px}
.btn_v3:hover span{background-position:-210px -140px}
.btn_v3:active span{background-position:-210px -170px}

.btn_v4:hover{text-decoration:underline !important}
.btn_v4:active{background:url(../img/spr_btn.png) no-repeat 0 -430px}
.btn_v4:hover span{background-position:-210px -400px}
.btn_v4:active span{background-position:-210px -430px}

.btn_align1{margin:-5px 0 5px 8px;vertical-align:top}
.btn_search,.btn_search2,.btn_search_v1,.btn_canclass{display:inline-block;overflow:hidden;width:45px;height:24px;border:0;background:url(../img/spr_btn.png) no-repeat 0 -510px;*line-height:999px;text-indent:-999em;*text-indent:0;cursor:pointer}
.btn_search:hover{background-position:-50px -510px}
.btn_search:active{background-position:-100px -510px}
.btn_search2{width:47px;height:23px;background-position:0 -750px !important}
.btn_search.v2{margin-left:15px}
.btn_canclass{width:47px;height:23px;background-position:0 -790px !important}
.btn_canclass:hover{background-position:-60px -790px !important}
.btn_canclass:active{background-position:-120px -790px !important}
.btn_search_v1{width:47px;height:23px;background-position:0 -610px}
.btn_search_v1:hover{background-position:-60px -610px}
.btn_search_v1:active{background-position:-120px -610px}

.btn_mini{display:inline-block;overflow:hidden;width:15px;height:15px;border:0;background:url(../img/spr_btn.png) no-repeat;*line-height:999px;text-indent:-999em;*text-indent:0;vertical-align:middle;cursor:pointer}
.btn_plus{background-position:0 -650px}
.btn_plus:hover{background-position:-20px -650px}
.btn_plus:active{background-position:-40px -650px}
.plus_inactive{background-position:-60px -650px;cursor:default}
.del_inactive{background-position:-160px -650px;cursor:default}
.btn_del{background-position:-100px -650px}
.btn_del:hover{background-position:-120px -650px}
.btn_del:active{background-position:-140px -650px}
.btn_close{background-position:-180px -650px}

/* search_btn */
.btn_button{position:relative;margin-top:-1px;padding-right:20px}
.btn_button input{display:block;overflow:hidden;float:right;width:56px;height:19px;border:0;background:url(../img/spr_btn.png) no-repeat 0 -440px;text-indent:-999em;cursor:pointer}
.btn_button .btn_close{background-position:0 -550px}
.btn_button .btn_close:hover{background-position:-70px -550px}
.btn_button .btn_close:active{background-position:-140px -550px}
.btn_button .btn_open{background-position:0 -580px}
.btn_button .btn_open:hover{background-position:-70px -580px}
.btn_button .btn_open:active{background-position:-140px -580px}

/* layout */
.con_group{min-height:514px;border:1px solid #cdd5d7}
.btn_area{margin-top:30px;padding-bottom:30px;text-align:center}
.btn_area2{margin-top:-5px;padding-bottom:20px;text-align:left}
.group_lst_v1{margin-top:-18px}
.group_lst_v2{padding:20px}
.group_lst_v3{padding:0 20px 20px}
.group_lst_v3 .bbs_tbl_type3{margin-top:7px}
.group_lst_v4{padding:24px 19px 19px}
.group_lst_v4v1{padding:38px 19px 19px}
.group_lst_v5{padding:38px 20px 40px}
.group_lst_v6{padding:26px 19px 16px 20px}
.group_lst_v7{padding:29px 20px 55px}
.group_lst_v8{padding:20px 19px 16px 20px}
.group_lst_v9{padding:20px 19px 40px}
.group_lst_v10{padding:25px 20px 0}
.layout_tbl{width:100%;border-collapse:collapse;border-spacing:0}
.layout_tbl th,.layout_tbl td{text-align:left;vertical-align:top}
.layout_tbl_v2,.layout_tbl_v3{width:100%;min-height:452px;border-collapse:collapse;border-spacing:0}
.layout_tbl_v2 td{text-align:left;vertical-align:top}
.layout_tbl_v2 .lay_line,.layout_tbl_v3 .lay_line{border-left:1px solid #d0d4d9}
.layout_tbl_v3 .profile_tbl2 th{vertical-align:top}
.layout_tbl_v3 .profile_tbl2 td{color:#333}
.layout_tbl_v3 td{vertical-align:middle}

/* dott */
.tit{padding-left:10px;background:url(../img/spr_dott.png) no-repeat 0 0}
.tit2{padding-left:10px;background:url(../img/spr_dott.png) no-repeat 0 6px}
.dott{padding-left:13px;background:url(../img/spr_dott.png) no-repeat 0 -20px}
.dott_v1{padding-left:10px;background:url(../img/spr_dott.png) no-repeat 0 -20px}

/* ico */
.ico{display:inline-block;overflow:hidden;background:url(../img/spr_ico.png) no-repeat;line-height:999px;vertical-align:middle}
.aff_modify{width:12px;height:13px;background-position:-20px -180px}
.aff_del{width:14px;height:13px;background-position:-40px -180px}
.aff_modify:hover{background-position:-60px -180px}
.aff_del:hover{background-position:-80px -180px}
.calender_min{width:14px;height:15px;background-position:0 -180px}

/* tab */
.tab{width:100%}
.tab ul{height:35px;padding:5px 0 0 8px;background:#7f848a url(../img/bg_tab.png) repeat-x 0 0}
.tab li{float:left;padding-right:1px;background:url(../img/tab_line.gif) no-repeat 100% 12px}
.tab li.last{margin-right:0;padding-right:0;background:none}
.tab span{display:inline-block;width:8px;height:35px;vertical-align:middle}
:root .tab span{vertical-align:top}

/* webkit 엔진 크로스브라우징 핵 */
.tab .on,.tab .on_back{margin-right:0;background:none}
.tab .on strong,.tab .on span{display:inline-block;height:35px;background:url(../img/spr_tab.png) no-repeat;font-weight:bold;color:#333;vertical-align:middle}
.tab .on strong{height:35px;padding-left:10px}
.tab a{display:block;height:35px;padding-left:10px;line-height:32px;color:#e8e8e8 !important}
:root .tab a{line-height:35px}
.tab a:hover,.tab a:active,.tab a:focus{height:35px;padding-left:10px;color:#fff !important;text-decoration:underline}
.tab .on span{background:url(../img/spr_tab.png) no-repeat -220px 0}

/* table_Type common */
.h4_txt{margin:0 0 9px 1px;padding-left:9px;background:url(../img/spr_dott.png) no-repeat 0 -20px;font-size:13px;line-height:13px;color:#353535}
.h4_txt a{font-weight:normal;color:#333;text-decoration:underline;cursor:pointer}
.h4_txt_v2{margin:4px 0 0 1px;padding-bottom:8px;padding-left:9px;background:url(../img/spr_dott.png) no-repeat 0 -20px;font-size:13px;font-weight:normal;line-height:13px;color:#353535}
.line_lft{border-left:1px solid #edeef0 !important}

.bbs_tbl_type1,.bbs_tbl_type2,.bbs_tbl_type3,.bbs_tbl_type5,.bbs_tbl_type7,.bbs_tbl_type7v2{width:100%;border:1px solid #d0d4d9;line-height:16px}
.bbs_regist_type1,.bbs_tbl_type4{width:100%;border-top:1px solid #cfd4d8;border-bottom:1px solid #cfd4d8;line-height:16px}

.bbs_tbl_type1 th,.bbs_tbl_type2 th,.bbs_tbl_type3 th,.bbs_tbl_type4 th,.bbs_tbl_type5 th,.bbs_tbl_type6 th,.bbs_tbl_type7 th,.bbs_tbl_type7v2 th,.bbs_tbl_type8 th,.bbs_tbl_type8v2 th,.bbs_regist_type1 th{background-color:#eff0f2;color:#333}
.bbs_tbl_type1 td,.bbs_tbl_type2 td,.bbs_tbl_type3 td,.bbs_tbl_type4 td,.bbs_tbl_type5 td,.bbs_tbl_type6 td,.bbs_tbl_type7 td,.bbs_tbl_type7v2 td,.bbs_tbl_type8 td,.bbs_tbl_type8v2 td,.bbs_regist_type1 td{color:#666}

.bbs_tbl_type1 tr:first-child th,.bbs_tbl_type1 tr:first-child td,.bbs_tbl_type2 tr:first-child td,.bbs_tbl_type3 tr:first-child td,.bbs_tbl_type5 tr:first-child th,.bbs_tbl_type5 tr:first-child td,.bbs_tbl_type6 tr:first-child td,.bbs_tbl_type7 tr:first-child td,.bbs_tbl_type7v2 tr:first-child td,.bbs_tbl_type8 tr:first-child td,.bbs_tbl_type8v2 tr:first-child td{border-top:0}

.bbs_tbl_type6 .last td{border-bottom:0}

.bbs_tbl_type2 th:first-child,.bbs_tbl_type2 td:first-child,.bbs_tbl_type3 th:first-child,.bbs_tbl_type3 td:first-child,.bbs_tbl_type4 th:first-child,.bbs_tbl_type4 td:first-child,.bbs_tbl_type7 th:first-child,.bbs_tbl_type7 td:first-child,.bbs_tbl_type7v2 td:first-child,.bbs_tbl_type8 td:first-child,.bbs_tbl_type8v2 td:first-child{border-left:0}

.bbs_tbl_type3 tr:hover,.bbs_tbl_type7 tr:hover,.bbs_tbl_type7v2 tr:hover,.bbs_tbl_type8 tr:hover,.bbs_tbl_type8v2 tr:hover,.fixed_container_inner tr:hover,.fixed_container_inner2 tr:hover{background-color:#f9fafa}

.bbs_tbl_type7 td.l,.bbs_tbl_type7v2 td.l,.bbs_type td.l,.bbs_reply2 td.l{text-align:left}

.bbs_regist_type1 th,.bbs_tbl_type8 th,.bbs_tbl_type8v2 th{background-color:#eff0f2;color:#333}
,.bbs_regist_type1 td,.bbs_tbl_type8 td,.bbs_tbl_type8v2 td{color:#666}

.bbs_tbl_type8 tr:first-child td,.bbs_tbl_type8v2 tr:first-child td{border-top:0}
.bbs_tbl_type8 td:first-child,.bbs_tbl_type8v2 td:first-child{border-left:0}

.bbs_tbl_type8 tr:hover,.bbs_tbl_type8v2 tr:hover{background-color:#f9fafa}

.bbs_scroll_type1 tr:hover td,.bbs_scroll_type3 tr:hover td,.bbs_tbl_type1 tr:hover td,.bbs_tbl_type2 tr:hover td,.bbs_tbl_type3 tr:hover td,.bbs_tbl_type7 tr:hover td,.bbs_tbl_type7v2 tr:hover td,.bbs_tbl_type4 tr:hover td,.bbs_regist_type1 tr:hover td,.bbs_tbl_type5 tr:hover td{cursor:default}

/* table_Type 1 */
.bbs_tbl_type1 th{padding:10px 10px 7px;border-top:1px solid #dee0e3;text-align:left;vertical-align:middle}
.bbs_tbl_type1 td{padding:10px 10px 7px;border-top:1px solid #edeef0}
.bbs_tbl_type1 td input[type=text],.bbs_tbl_type1 td input[type=password],.bbs_tbl_type1 td a.fron,.bbs_tbl_type1 td select{margin:-6px 0 -2px}
.bbs_tbl_type1v1 th,.bbs_tbl_type1v1 td{border-left:0}
.bbs_tbl_type1v2 td input[type=text],.bbs_tbl_type1v2 td select,.bbs_tbl_type1v2 textarea{border:1px solid #c0c0c0;color:#666}
.bbs_tbl_type1 a{color:#666}
.bbs_tbl_type1 a:hover{color:#333}

/* table_Type 2 */
.bbs_tbl_type2 th{padding:10px 9px 7px;border-width:0 0 0 1px;border-color:#dcdee2;border-style:solid;text-align:center}
.bbs_tbl_type2 td{padding:10px 9px 7px;border-width:1px 0 0 1px;border-color:#edeef0 #dcdee2;border-style:solid;text-align:center}
.bbs_tbl_type2 td input[type=text],.bbs_tbl_type2 td select,.bbs_tbl_type2 td a.fron{margin:-6px 0 -2px}
.bbs_tbl_type2v2 th,.bbs_tbl_type2v2 td{padding:7px 9px 4px;line-height:20px;vertical-align:middle}
.bbs_tbl_type2v3 td{padding:0;line-height:33px}
.bbs_tbl_type2v3 td:hover{border:1px solid #666 !important}
.bbs_tbl_type2v3 tr:first-child td{border-top:1px solid #dcdee2}
.bbs_tbl_type2v3 tr:first-child td:hover{border-top:1px solid #666 !important}
.bbs_tbl_type2v4 tr:hover{background-color:#f9fafa}
.bbs_tbl_type2v5 th{border-right:1px solid #dfe0e4}
.bbs_tbl_type2v5 th,.bbs_tbl_type2v5 td{border-top:1px solid #dfe0e4}

/* table_Type 3 */
.bbs_tbl_type3 th,.bbs_tbl_type3 td{vertical-align:middle}
.bbs_tbl_type3 th{padding:10px 5px 7px;border-width:0 0 1px 1px;border-color:#d9dbdb #e5e7ea;border-style:solid;text-align:center}
.bbs_tbl_type3 td{padding:10px 5px 7px;border-width:1px 0 0 1px;border-color:#edeef0;border-style:solid;text-align:center}
.bbs_tbl_type3 td input[type=text],.bbs_tbl_type3 td a.fron,.bbs_tbl_type3 td select{margin:-6px 0 -2px}
.bbs_tbl_type3 a{color:#666}
.bbs_tbl_type3 a:hover{color:#000}
.bbs_tbl_type3.v2 td{padding-left:15px;text-align:left}
.bbs_tbl_type3 td.pl20{padding-left:20px;text-align:left}

/* table_Type 4 */
.bbs_tbl_type4 th,.bbs_tbl_type4 td{padding:10px 0 7px;border-left:1px solid #e5e7ea;text-align:center}
.bbs_tbl_type4 th{border-bottom:1px solid #dfdfe1}
.bbs_tbl_type4 td{border-bottom:1px solid #edeef0}
.bbs_tbl_type4 td input[type=text],.bbs_tbl_type4 td a.fron,.bbs_tbl_type4 td select{margin:-6px 0 -2px}

/* table_Type 5 */
.bbs_tbl_type5{border-right:0;border-left:0}
.bbs_tbl_type5 th,.bbs_tbl_type5 td{padding:10px 10px 7px;text-align:left}
.bbs_tbl_type5 th{border-top:1px solid #dee0e4}
.bbs_tbl_type5 td{border-top:1px solid #edeef0}
.bbs_tbl_type5 td input[type=text],.bbs_tbl_type5 td a.fron,.bbs_tbl_type5 td select{margin:-6px 0 -2px}

/* table_Type 6 */
.bbs_tbl_type6{width:100%;line-height:16px}
.bbs_tbl_type6 th{padding:10px 9px 7px;border-bottom:1px solid #d9dbdb}
.bbs_tbl_type6 td{padding:10px 9px 7px;border-top:1px solid #edeef0}
.bbs_tbl_type6 a{color:#666}
.bbs_tbl_type6 td:hover{background-color:#f9fafa}

/* table_Type 7 */
.bbs_tbl_type7 th{padding:10px 20px 7px;border-width:0 0 1px 1px;border-color:#d9dbdb #e5e7ea;border-style:solid;text-align:center}
.bbs_tbl_type7 td{padding:10px 20px 7px;border-width:1px 0 0 1px;border-color:#edeef0;border-style:solid;text-align:center}
.bbs_tbl_type7 td a{color:#666}
.bbs_tbl_type7 td a:hover{color:#000}

.bbs_tbl_type7v2 th{padding:10px 10px 7px;border-width:0 0 1px 1px;border-color:#d9dbdb #e5e7ea;border-style:solid;text-align:center}
.bbs_tbl_type7v2 th:first-child{border-left:0}
.bbs_tbl_type7v2 th .thcell{overflow:hidden;width:72px;text-align:center;white-space:nowrap;text-overflow:ellipsis}
.bbs_tbl_type7v2 th .thcell.v2{width:100%;letter-spacing:-1px}

.bbs_tbl_type7v2 td{padding:10px 10px 7px;border-width:1px 0 0 1px;border-color:#edeef0;border-style:solid;text-align:center;vertical-align:middle}
.bbs_tbl_type7v2.v2 th,.bbs_tbl_type7v2.v2 td{padding:10px 5px 7px}
.bbs_tbl_type7v2 td a{color:#666}
.bbs_tbl_type7v2 td a:hover{color:#000}
.bbs_tbl_type7v2 td input[type=text],.bbs_tbl_type7v2 td a.fron,.bbs_tbl_type7v2 td select{margin:-6px -5px -2px}
.bbs_tbl_type7v2 tfoot tr,.bbs_tbl_type7v2 tfoot tr:hover{background-color:#e4e6e9}
.bbs_tbl_type7v2 tfoot td{color:#333}
.bbs_tbl_type7v2 tfoot .td_divid{padding:0 9px}
.bbs_tbl_pop{border-width:1px 0}
.bbs_tbl_pop th:first-child{border-left:0}

/* table_Type 8 */
.bbs_tbl_type8,.bbs_tbl_type8v2{width:100%;line-height:16px}
.bbs_tbl_type8 th{padding:10px 5px 7px;border-bottom:1px solid #d9dbdb;border-left:1px solid #e5e7ea;text-align:center}
.bbs_tbl_type8 td{padding:10px 5px 7px;border:1px solid #edeef0;border-width:1px 0 0 1px;text-align:center}
.bbs_tbl_type8 td input[type=text],.bbs_tbl_type8 td a.fron,.bbs_tbl_type8 td select{margin:-6px 0 -2px}

.bbs_tbl_type8v2 th{padding:10px 10px 7px;border-bottom:1px solid #d9dbdb;border-left:1px solid #e5e7ea;text-align:center}
.bbs_tbl_type8v2 td{padding:10px 10px 7px;border:1px solid #edeef0;border-width:1px 0 0 1px;text-align:center}

/* bbs_regist_type1 */
.bbs_regist_type1 th,.bbs_regist_type1 td{padding:10px 10px 7px;text-align:left}
.bbs_regist_type1 th{border-bottom:1px solid #dfdfe1}
.bbs_regist_type1 td{border-bottom:1px solid #edeef0}
.bbs_regist_type1 td input[type=text],.bbs_regist_type1 td textarea,.bbs_regist_type1 td a.fron,.bbs_regist_type1 td select{margin:-6px 0 -2px}
.bbs_regist_type1 a{color:#666}
.bbs_regist_type1 a:hover{color:#333}

/* section_scroll */
.section_scroll,.section_scroll_v1{overflow-x:hidden;overflow-y:scroll;position:relative;border:1px solid #d0d4d9}
.section_scroll_v1{border-width:1px 0}
.section_scroll_v2{overflow-x:scroll;overflow-y:hidden;position:relative;width:100%}

/* fixed_table_container */
.fixed_table_container{position:relative;width:100%;padding-top:33px;border:1px solid #d0d4d9;line-height:16px}
.fixed_container_inner{overflow-x:hidden;overflow-y:auto;height:100%}
.fixed_container_inner2{overflow-x:hidden;overflow-y:scroll;height:100%}
.header_background{position:absolute;top:0;right:0;left:0;height:33px;border-bottom:1px solid #d9dbdb;background-color:#eff0f2}

.bbs_scroll_type1,.bbs_scroll_type2,.bbs_scroll_type3{width:100%;border-collapse:separate !important;*border-collapse:collapse!important;background-color:#fff;border-spacing:0}
.bbs_scroll_type1 th,.bbs_scroll_type2 th,.bbs_scroll_type3 th,.bbs_scroll_type3 th span{text-align:left}
.bbs_scroll_type1 th span,.bbs_scroll_type2 th span,.bbs_scroll_type3 th span{display:block;position:absolute;top:0;padding:10px 0 7px;border-left:1px solid #e5e7ea;color:#333;text-align:center}
.bbs_scroll_type1 th:first-child span{border-left:none}
.bbs_scroll_type1 td,.bbs_scroll_type2 td,.bbs_scroll_type3 td{padding:5px;border-bottom:1px solid #edeef0;color:#666;text-align:center}
.bbs_scroll_type1 td+td,.bbs_scroll_type3 td+td{border-left:1px solid #edeef0}
.bbs_scroll_type1 a,.bbs_scroll_type2 a,.bbs_scroll_type3 a{color:#666}
.bbs_scroll_type1 a:hover,.bbs_scroll_type2 a:hover,.bbs_scroll_type3 a:hover{color:#000}

.bbs_scroll_type2 td{padding:10px 5px}

.bbs_scroll_type3 td{padding:10px 5px 7px}
.bbs_scroll_type3 td.de_td{padding-top:150px;border-bottom:0}

.fixed_pop{border-width:1px 0}
.fixed_pop2{padding-top:20px;border-width:0 0 1px}
.fixed_table_container .last td{border-bottom:0}

/* paging */
.paginate{margin:30px 0 20px;text-align:center}
.paginate a{margin-right:8px;color:#999}
.paginate strong{margin-right:8px;color:#45b4e6}
.paginate a,.paginate strong{vertical-align:middle}
.paginate .pagin_img{display:inline-block;overflow:hidden;position:relative;width:22px;height:21px;background:url(../img/spr_btn.png) no-repeat;line-height:999px}
.paginate .pre_end,.paginate .pre,.paginate .next,.paginate .next_end{margin-right:-1px}
.paginate .pre_end{background-position:0 -720px}
.paginate .pre{margin-right:7px;background-position:-21px -720px}
.paginate .next{background-position:0 -680px}
.paginate .next_end{background-position:-21px -680px}
.paginate .pre_end:hover{z-index:10;background-position:-60px -720px}
.paginate .pre_end:active{z-index:10;background-position:-120px -720px}
.paginate .pre:hover{margin-right:7px;background-position:-81px -720px}
.paginate .pre:active{margin-right:7px;background-position:-141px -720px}
.paginate .next:hover{z-index:10;background-position:-60px -680px}
.paginate .next:active{z-index:10;background-position:-120px -680px}
.paginate .next_end:hover{background-position:-81px -680px}
.paginate .next_end:active{background-position:-141px -680px}
.paginate .pre_end_none{margin-right:-1px;background-position:-180px -720px}
.paginate .pre_none{background-position:-201px -720px}
.paginate .next_none{margin-right:-1px;background-position:-180px -680px}
.paginate .next_end_none{background-position:-201px -680px}
.paginate_v2{margin:21px 0 59px}

/* search_etc */
.section_result_v1{margin-bottom:25px}
.p_area{margin-left:15px;color:#666}
.p_area.v2{margin-left:0;font-weight:bold}

/* multifull */
.section_multifull{color:#666}
.section_multifull .tr_selecter strong{color:#333}
.section_multifull .fixed_table_container{float:left;width:32.6%}
.section_multifull .fixed_table_container:first-child{margin-right:.9%}

/* sample_guide */
.select_lst{position:relative;z-index:50;padding:20px 20px 0;border-bottom:1px solid #cdd5d7;background-color:#f6f8f7}
.select_lst2{position:relative;padding:25px 20px;border-bottom:1px solid #cdd5d7;background-color:#f6f8f7}
.select_lst2 p.fr{color:#353535}
.select_lst ul{padding-bottom:16px}
.select_lst ul.line,.select_lst dl.line{margin-bottom:19px;border-bottom:1px solid #c0c8cb}
.select_lst li{float:left;width:20.5%;line-height:24px}
.select_lst li.last_v1{float:right;width:434px}

/* .select_lst li.last_v2{width:18.2%} */

/* .select_lst li.last_v1{float:right;width:434px;*width:435px;height:24px;position:relative;overflow:visible !important} */

/* .select_lst li.last_v1_v2{width:229px;*width:230px} */

/* .select_lst li.last_v1_v3{width:235px} */
.select_lst li.last_v1 .on{font-weight:bold}
.select_lst li.last_v1 input[type=text]{width:98px;margin-left:3px}
.select_lst li.last_v1 input[type=button]{width:45px;height:24px;vertical-align:middle;cursor:pointer}
.select_lst li.last_v1 a{vertical-align:middle}
.select_lst li.last_v1 a.txt_deco{color:#686a69;text-decoration:underline}
.select_lst li.last_v1 .fr{padding-top:1px}

/* .select_lst li.last_v1 .fl{float:none;position:absolute;right:114px} */

/* .select_lst li.last_v1 .fr{float:none;position:absolute;right:0} */
.select_lst li.last,.select_lst li.last_v2{float:right;width:199px}
.select_lst dl{padding-bottom:20px}
.select_lst dt{float:left;width:80px;font-weight:bold}
.select_lst dd{float:left;margin-right:28px}
.select_lst dd input{margin-right:8px}
.select_lst select{width:150px;margin-left:9px;vertical-align:top}
.select_lst .btn_type1{color:#444}
.select_lst .close{position:absolute;right:19px;bottom:-20px;text-align:center}
.select_lst .close a{display:block;padding:4px 8px 2px 20px;border:1px solid #cfd4d8;border-width:0 1px 1px;background:url(../img/dott3.gif) no-repeat 9px 6px;line-height:12px;color:#9097a1}

.select_lst.v2 .tit{display:inline-block;width:60px;background-position:0 6px;vertical-align:middle}
.select_lst.v2 input{width:113px}
.select_lst.v2 select{width:120px;margin-left:0}
.select_lst.v2 .last_v1 input[type=radio]{width:13px;height:13px}

.select_lst_v1 select{width:122px;vertical-align:top}
.select_lst_v1 .last input{width:87px;margin:0 5px 0 9px;padding:5px 0 4px 3px;border:1px solid #acadb1;vertical-align:middle}
.select_lst_v1 strong{display:inline-block;width:54px}
.select_lst_v2 li{width:25.5%}
.select_lst_v2 li strong{display:inline-block;width:81px}
.select_lst_v2 .inner strong{display:inline-block;width:91px}
.select_lst_v2 .inner li{width:26.2%}
.select_lst_v2 .inner li.last{width:238px}
.select_lst_v3 strong{display:inline-block;width:117px}
.select_lst_v3 li{width:25.5%}
.select_lst_v3 select{width:120px}
.select_lst_v3 li.last_v1{width:551px}
.select_lst_v3 li.last_v1 strong{width:122px}
.select_lst_v3 li.last{width:263px}
.select_lst_v3 li .input_wid{width:115px;margin-left:9px}
.select_lst_v4 li{width:22.3%}
.select_lst_v4 li.last_v1{width:354px}
.select_lst_v4 select{width:120px}
.select_lst_v5 strong{display:inline-block;width:79px}
.select_lst_v5 select{width:100px;margin-left:5px}
.select_lst_v6 strong{display:inline-block;width:56px}
.select_lst_v6 select{width:125px;margin-left:5px}

.select_lst_v7 li{width:20.4%}
.select_lst_v7 li:first-child{margin-right:79px}
.select_lst_v7 ul{padding-bottom:16px}
.select_lst_v7 ul.line{margin-bottom:16px}
.select_lst_v7 select{width:130px;margin-left:0;vertical-align:middle}
.select_lst_v7 strong,.select_lst_v7 dt{display:inline-block;width:86px}
.select_lst_v7 li.last_v1{width:225px;margin-right:0}
.select_lst_v7 input[type=text]{width:122px}
.select_lst_v7 .authority{width:25%}
.select_lst_v7 .authority input{margin:0 6px 0 10px;vertical-align:middle}
.select_lst_v7 .authority .first{margin-left:0}
.select_lst_v7 .authority label{color:#686869}

.select_lst_v8 li{width:23%}
.select_lst_v8 strong{display:inline-block;width:86px}
.select_lst_v8 dt{width:100px}
.select_lst_v8 select{margin-left:0}
.select_lst_v8 dd{color:#686869}
.select_lst_v8 dd input{margin-right:5px}

.select_lst_v9 li{width:24%;*width:23.5%}
.select_lst_v9 strong{display:inline-block;width:65px}

.select_lst_v10 li{width:40.5%;margin-right:40px}
.select_lst_v10 strong{display:inline-block;width:85px}
.select_lst_v10 li.last_v1{width:45px;margin-right:0}

.search_lst{overflow-y:scroll;width:140px;padding:20px 20px 0;text-align:left}
.search_lst h3{font-size:12px}
.search_lst ul{padding-bottom:20px}
.search_lst li{margin-top:23px;line-height:13px;vertical-align:middle}
.search_lst li a,.search_lst strong{display:block;overflow:hidden;color:#9a9a9a;text-align:right;zoom:1}
.search_lst li a span:hover{color:#666;text-decoration:underline}
.search_lst .fl{width:71px;text-align:left;white-space:nowrap}
.search_lst .fr{text-align:right}
.search_lst strong{color:#45b3e6}

.profile_lst{padding:20px 20px 0}
.profile_lst h3{margin-bottom:19px;font-size:12px}
.profile_lst .h3{position:relative;margin-bottom:12px;font-size:12px}
.profile_lst .h3 .pa_rt{margin-top:-6px}
.section_profile{position:relative;margin-bottom:35px}
.section_profile_v2{position:relative;margin-bottom:46px}
.section_profile p{position:absolute;top:0;left:0}
.profile_tbl{min-height:134px;padding-left:110px}
.profile_tbl table{width:100%;border:1px solid #d0d3d8;border-width:1px 0}
.profile_tbl table th,.profile_tbl table td{padding:11px 0 10px 23px;border-bottom:1px solid #eee;line-height:16px;color:#666;text-align:left;text-indent:-13px}
.profile_tbl table th{border-bottom:1px solid #dee0e3;background-color:#eff0f2;vertical-align:middle}
.profile_tbl table td{padding-right:5px;vertical-align:middle}
.profile_tbl table .td_none{padding:0}
.profile_tbl table td li{padding:11px 5px 10px 10px;border-bottom:1px solid #eee;text-indent:0}
.profile_tbl table .tr_last th,.profile_tbl table .tr_last td,.profile_tbl table .li_ast{border-bottom:0}
.p_noti{margin-bottom:22px;font-size:12px;color:#999}
.p_noti strong{color:#353535}
.p_noti em{color:#333}

.profile_lst2{padding:38px 19px 0 21px}
.profile_lst2 table th{padding:9px 0 8px 9px}
.profile_lst2 .section2_v1{margin-bottom:15px}

.profile_tbl2{width:100%;border:1px solid #d0d4d9;line-height:16px}
.profile_tbl2 th{padding:10px;border-bottom:1px solid #dee0e3;background-color:#eff0f2;color:#333;text-align:left;vertical-align:middle}
.profile_tbl2 th em{display:block;color:#9e9d9d}
.profile_tbl2 td strong{color:#000}
.profile_tbl2 td{padding:5px 10px;border-bottom:1px solid #edeef0;color:#666}

/* 20130201 수정 */
.profile_tbl2 td a.fron_v3{height:24px;margin-top:5px;padding:3px 29px 0 27px}

/* 20130201 수정 */
.profile_tbl2 td a.btn_v2{margin:-6px -5px -2px 5px}
.profile_tbl2 td.last{border-bottom:0}
.profile_tbl2 .line_b{border-bottom:1px solid #d0d4d9}
.profile_tbl2 input[type=text],.profile_tbl2 .bbs_tbl_type1 input[type=text]{border:1px solid #abadb3}
.profile_tbl2 select{border:1px solid #abadb3}
.profile_tbl2 .input_mail input[type=text]{width:40%}
.profile_tbl2 .textarea,.bbs_tbl_type1 .textarea{height:80px;margin-top:5px;border:1px solid #c0c0c0}
.profile_tbl2_v2 td{padding:10px 10px 5px}

/* edit */
.lecture_information{padding:15px 20px}
.lecture_information h3{height:12px;font-size:12px}
.lecture_information table a{color:#666;text-decoration:underline;vertical-align:middle}
.lecture_information .comment{margin:10px 0;color:#000}
.lecture_information .b_info_srch li{float:left;margin-left:18px}
.lecture_information .b_info_srch li:first-child{margin-left:0}
.lecture_information .ma_finish_add{margin-bottom:3px}
.lecture_information .ma_finish_add li{float:left;margin-bottom:3px;line-height:25px}
.lecture_information .ma_finish_add li:first-child{margin-right:23px}
.lecture_information .teaching_srch{margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #edeef0}
.lecture_information .teaching_srch li{float:left;margin-right:28px;line-height:22px}
.lecture_information .schedule{margin-bottom:5px}
.lecture_information .schedule li{float:left;margin-left:23px}
.lecture_information .schedule li:first-child{margin-left:0}
.lecture_information .schedule .fron{margin-left:-15px}
.lecture_information .b_info_srch li span.tx_mj{margin:0 1px 0 4px}
.lecture_information .b_info_srch li span.tx_mj2{}
.lecture_information .ma_finish_add li span.tx_mj3{margin:0 5px 0 10px}
.lecture_information .schedule li span.tx_mj4{margin-left:16px}
.lecture_information .teaching_srch .btn_search2{margin-left:5px}
.lecture_information .re_professor{padding-bottom:8px;border-bottom:1px solid #edeef0}
.lecture_information .timetable{margin:11px 0 8px;color:#000}

/* view */
.btn_delete{display:inline-block;overflow:hidden;width:15px;height:15px;margin:-2px 0 2px 9px;border:0;background:url(../img/spr_btn.png) no-repeat -100px -650px;text-indent:-999em;vertical-align:middle}
.btn_delete:hover{background-position:-120px -650px}
.btn_delete:active{background-position:-140px -650px}
.btn_delete2{display:inline-block;overflow:hidden;width:15px;height:15px;margin:-2px 14px 2px 5px;border:0;background:url(../img/spr_btn.png) no-repeat -180px -650px;text-indent:-999em;vertical-align:middle}
.btn_search2{display:inline-block;overflow:hidden;width:47px;height:23px;border:0;background:url(../img/spr_btn.png) no-repeat 0 -750px;text-indent:-999em;cursor:pointer}
.txt_gray{color:#666}
.txt_gray a{color:#666}

/* 스케쥴 */
.schedule_area{position:relative;padding:13px 0 11px;line-height:16px;font-size:11px}
.schedule_area p{position:relative}
.schedule_area_v1{position:relative;*top:3px;padding:18px 5px 16px;line-height:18px;font-size:12px}
.schedule_area_v1 a{display:block;position:relative;color:#333}
.schedule_area_v1 a:hover{font-weight:bold}
.schedule_lst th{border-bottom:0 !important}
.bbs_tbl_type2{*border-right:0}
.bbs_tbl_type2 td{*border-left:0;*border-top:0;*border-bottom:1px solid #edeef0;*border-right:1px solid #dcdee2}

/* 등록금 */
.money_tit,.money_col{*position:relative}
.money_tit{border:1px solid #000 !important;border-right:0 !important;background-color:#f6f8f8 !important;font-size:14px !important;font-weight:bold;color:#45b4e6 !important}
.money_col{border:1px solid #000 !important;border-left:0 !important;font-family:arial;font-size:26px;font-weight:bold;color:#45b4e6 !important}
.money_col span{font-size:16px;color:#45b4e6 !important}
.money_nodata{height:203px;margin-bottom:30px;border:1px solid #D0D4d9}
.money_nodata p{margin-top:90px;color:#666;text-align:center}

/* 기본캘린더 */
.calender{position:absolute;width:195px;padding-bottom:10px;border:1px solid #777;background-color:#fff}
.calender .month{position:relative;height:23px;margin-bottom:7px;padding-top:5px;background-color:#f6f6f6;text-align:center}
.calender .month strong{font-size:13px;font-family:verdana;color:#333}
.calender .month strong span{color:#363636}
.calender .month input{display:inline-block;overflow:hidden;position:absolute;top:8px;width:17px;height:17px;border:0;background:url(../img/spr_ico.png) no-repeat;text-indent:-999px;cursor:pointer}
.calender .month .btn_yprev{left:23px;background-position:0 -50px}
.calender .month .btn_prev{left:37px;background-position:0 -65px}
.calender .month .btn_next{right:33px;background-position:0 -95px}
.calender .month .btn_ynext{right:19px;background-position:0 -80px}
.calender table{margin:0 auto}
.calender th{color:#333}
.calender td{height:19px;border:1px solid #fff;font-family:Verdana;font-size:11px;color:#000;letter-spacing:-1px;text-align:center}
.calender td a{display:block;color:#000}
.calender .holiday{color:#ff000a}
.calender .range_out{color:#d1d1d1}
.calender .range_out_holiday{color:#eca9a9}
.calender .today{background-color:#6392d8}
.calender .today strong{font-size:10px;color:#fff}
.calender .satday{color:#4690e9}
.calender .range_out_satday{color:#a9c9fc}
.calender .select_area{background-color:#dbe9fc}

/* login */
.login_container{top:-20px;left:50%;width:1650px !important;height:745px;margin-left:-832px !important}
.login_bg{position:absolute;top:0;height:745px;background:url(../img/spr_login.png) no-repeat}
.le_bg{left:0;width:484px;background-position:0 0}
.ri_bg{top:20px;right:0;width:600px;background-position:-510px 0}
.group_login{position:absolute;top:34.4%;left:50%;z-index:20;width:769px;margin-left:-512px}
.group_login:after{display:block;clear:both;content:''}
.group_login h2{overflow:hidden;width:260px;height:39px;margin-top:33px;background:url(../img/spr_snb.png) no-repeat 0 -220px;line-height:999em}
.bbs_login_type1 .txt{display:inline-block;overflow:hidden;height:12px;background:url(../img/spr_txt.png) no-repeat;line-height:999em}
.bbs_login_type1 .login_tx1{width:30px;background-position:0 0}
.bbs_login_type1 .login_tx2{width:40px;background-position:0 -20px}
.section_login{width:408px;height:119px;padding-left:30px;border-left:1px solid #ececf0}
.line_type{margin-bottom:20px;padding:0 0 20px 15px;border-bottom:1px solid #dbdbe3}
.bbs_login_type1 th{text-align:left}
.bbs_login_type1 td{font-size:11px;color:#565960;text-align:center}
.bbs_login_type1 tr:first-child th,.bbs_login_type1 tr:first-child td{padding-bottom:2px}
.bbs_login_type1 .fron{padding:0 19px}
.bbs_login_type1 input[type=text]{color:#999}
.group_login .login_blut{margin-left:15px;padding-left:10px;background:url(../img/spr_dott.png) no-repeat 0 -45px;line-height:18px;color:#999}
.group_login .login_blut strong{font-weight:normal;color:#45b4e6}
.bbs_login_type1 .btn_v5{margin-top:3px}
:root .bbs_login_type1 .btn_v5{margin-top:0}
.id_save{margin:6px 0 0 50px;font-size:11px;color:#565960}
.id_save input[type=checkbox]{margin-right:3px}
.id_save a{display:inline-block;margin-left:5px;padding-top:2px;padding-left:10px;background:url(../img/bg_line.gif) 0 3px no-repeat;color:#565960}
:root .id_save a{padding-top:1px;background-position:0 3px}

/* 검색결과 없을시 */
.not_search{padding:50px 0;color:#333;text-align:center}
.not_lst{padding:173px 10px 0}
.not_lst2{margin-top:149px;text-align:center}

/* 에러페이지 */
.error{position:relative;min-height:412px;padding:130px 0 0 150px;color:#666}
.er_bg_l{position:absolute;top:0;left:0;width:405px;height:545px;background:url(../img/error_bg.png) no-repeat}
.er_bg_r{position:absolute;top:0;right:0;width:243px;height:545px;background:url(../img/error_bg.png) no-repeat -424px 0}
.error .txt_img{overflow:hidden;width:331px;height:14px;margin-right:125px;background:url(../img/spr_txt.png) no-repeat 0 -50px;line-height:999px}
.error p{line-height:20px;color:#999}
.error em{color:#333}
.error .first{margin-bottom:18px;font-size:25px;line-height:25px;color:#000}
.error a{margin-top:25px}

/* 졸업 */
.garadu_content select{margin-left:0;vertical-align:middle}
.garadu_content_v1 li{width:100%;line-height:15px}
.garadu_content_v1 input{margin-right:2px;vertical-align:middle}
.garadu_content_v1 span{margin-right:24px;vertical-align:middle}

/* 130111 서스테이닝 */
.select_lst .grand_select select{width:125px;margin-left:35px}
.select_lst li.last.v2{width:200px !important}
.bank_type{width:98px;margin-left:29px}
.ymdt{width:11px;margin-left:9px}

/* 사용자관리 */
.all_count{display:inline-block;margin-left:13px;color:#666}

/* 메뉴관리 */
.tree_area{overflow-y:auto;overflow-x:hidden;height:660px}
.tree_area > ul > li > a,.tree_area > ul > li > ul > li > a{color:#333 !important}
.tree_area > ul > li > ul > li > ul > li > a{color:#666 !important}

/* .tree_area ul li.jstree-open a{background:url(../img/images/spr_tree.png) -90px 1px no-repeat} */
.tree_area ul li.jstree-closed a,.tree_area ul li a.none{background:none !important}
.info_notice{float:right;margin-bottom:9px;color:#666}

/* 공지사항 */

/* bbs_type */
.bbs_type{width:100%;border-top:1px solid #cfd4d8;border-bottom:1px solid #cfd4d8;line-height:16px;table-layout:fixed}
.bbs_type th{padding:9px 0 8px;border-bottom:1px solid #cacdcd;background-color:#eff0f2;color:#333}
.bbs_type tr:first-child td{border:none}
.bbs_type td{padding:9px 13px 8px;border-top:1px solid #edeef0;color:#666;text-align:center}

.bbs_reply2{width:100%;font-size:11px}
.bbs_reply2 a{font-size:12px}
.bbs_reply2 tr:first-child th{color:#888}
.bbs_reply2 tr:first-child th,.bbs_reply2 tr:first-child td{border-bottom:1px solid #edeef0}
.bbs_reply2 tr th{padding:10px 0;color:#333}
.bbs_reply2 td{padding:10px 0;color:#aeaeae;text-align:center}
.ico_important{padding-left:11px;background:url(../img/ico_important.gif) 2px 0 no-repeat;color:#fa3200}
.ico_important span.ico_flie{display:inline-block;width:7px;height:13px;padding-left:5px;vertical-align:middle}
.ico_flie{padding-left:11px;background:url(../img/ico_flie.png) 0 0 no-repeat}
.link_grey{color:#333}
.link_grey2{color:#999}
.link_grey3{color:#888}
.color_red{color:#fa3200 !important}
.bbs_type tr.selected td{background-color:#f9fafa}
.paginate_area{position:relative}
.paginate_area a.btn_v1{position:absolute;top:-2px;right:0}

.bbs_view{margin-bottom:60px}
.bbs_view h3{padding:9px 10px 8px;border-top:1px solid #d9dbdb;border-bottom:1px solid #cacdcd;background-color:#eff0f2;font-size:12px;line-height:16px;color:#333}
.date_area{padding:20px 10px 30px}
.date_area span{display:inline-block;font-size:11px}
.txt_hits{float:left;color:#999}
.txt_date{float:right;font-family:Tahoma;color:#aeaeae}
.lst_file{margin-top:9px;padding-bottom:3px;border:1px solid #e8e8e8;font-size:11px}
.lst_file li{padding:6px 10px 3px}
.lst_file li a{color:#666}
.lst_file_v2{position:relative;width:998px;margin-top:3px}
.lst_file_v2 span{display:inline-block;position:absolute;right:8px;padding-left:8px;background:url(../img/bg_line_v3.gif) no-repeat 0 1px;font-size:11px;color:#666}
.ico_flie2{padding-left:9px;background:url(../img/ico_flie.png) 0 0 no-repeat}
.p_view{padding:0 10px 54px;border-bottom:1px solid #c7caca;line-height:20px;color:#666}

.bbs_reply{margin-bottom:50px}
.p_reply{overflow:hidden;padding:0 0 9px 10px;border-bottom:1px solid #edeef0;font-size:11px;color:#666;zoom:1}
.p_reply strong{color:#45b4e6 !important}

.lst_reply{padding:0 10px 20px;border-bottom:1px solid #edeef0}
.lst_reply > li{padding-top:19px}
.lst_reply > li > div > p{float:left;font-size:11px;font-family:Tahoma;color:#aeaeae}
.lst_reply p strong{margin-right:10px;padding-right:11px;background:url(../img/bg_line_v3.gif) 100% 1px no-repeat;font-size:12px;font-family:'돋움',dotum;color:#333}
.btn_reply{overflow:hidden;float:right;margin-top:2px;zoom:1}
.btn_reply li{float:left;font-size:11px}
.btn_reply li a{color:#999}
.btn_reply li.bar{margin-right:9px;padding-right:9px;background:url(../img/bg_line_v3.gif) 100% 0 no-repeat}
.p_comment{padding-top:6px;line-height:20px;color:#666}

.write_reply{margin-bottom:50px;padding:15px 10px;background-color:#fafaf8}
.write_reply textarea{min-width:1021px;height:50px;padding:9px 0 0 8px;border:1px solid #c6c6c6;color:#a8a8a8}
.write_reply .btn_v7{vertical-align:top}

.tah{font-family:Tahoma}

.write_section{padding-bottom:10px;border-top:1px solid #d9dbdb;border-bottom:1px solid #d9dbdb}
.write_section dl{margin-bottom:10px}
.write_section dl:first-child{margin-top:15px}
.write_section dt{width:90px;padding:6px 10px 6px 20px;font-weight:bold;color:#333}
.write_section dd input[type=text]{border:1px solid #d3d3d3}
.write_section dd input[type=radio]{margin-right:2px}
.write_section .important{margin-left:5px;color:#999}
.disclosure dd{width:988px;height:16px;padding:6px 0 0 10px;border:1px solid #d3d3d3;background-color:#fafafa}
.ipt_dummy{display:inline-block;overflow:hidden;position:relative;width:40px;height:21px;margin-top:2px;background:url(../img/spr_btn.png) no-repeat -60px -750px;white-space:nowrap}
.ipt_dummy input{overflow:hidden;position:absolute;top:0;right:0;height:21px;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
.ipt_dummy,x:-moz-any-link,x:default{margin-top:2px}
.write_area{width:1111px;margin-left:10px}
.app_mw{width:114px;margin-left:9px}
.sel_wid{width:128px !important;margin-left:0 !important}
.input_line .input_wid{width:112px !important}
.w120{width:120px}

/* 공지사항 스마트 에디터 */
.textarea_type2{display:none !important;width:1105px !important}

/* 서비스 정기점검 */
.check{min-width:1400px}
.check #container{overflow:visible;width:100%;margin:0 !important}
.check #content{float:none;position:relative;max-width:1650px;margin:0 auto}
.check #content .bg{display:inline-block;position:absolute;height:745px}
.check #content .bg_lft{left:0;width:600px;background:url(../img/error_bg_lft.jpg) no-repeat 0 0}
.check #content .bg_rgt{top:20px;right:0;width:557px;background:url(../img/error_bg_rgt.jpg) no-repeat 0 0}
.check .group_check{position:absolute;top:240px;left:43%;width:765px;margin-left:-365px}
.check .group_check h2{overflow:hidden;float:left;width:260px;height:39px;margin-top:33px;background:url(../img/spr_snb.png) no-repeat 0 -220px;line-height:999em}
.check .check_content{float:right;height:119px;padding-left:69px;border-left:1px solid #ececf0}
.check .check_content h3{margin:10px 0 20px;font-size:27px;letter-spacing:-1px}
.check .check_content p{line-height:18px;color:#999}
.check .check_content p a{color:#333}

/* 증명서 발급 */
.address_inactive td{color:#c2c2c2}
.address_inactive td input[type=text]{border-color:#dddee1;background-color:#fff}
.etc_txt td{height:64px;vertical-align:top}
.noti_txt{line-height:20px;color:#666 !important}
.txt_ellipsis{display:inline-block;overflow:hidden;max-width:99%;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}

/* 수강생 인명부 */
.student_lst .line{overflow:hidden;margin-bottom:15px;zoom:1}
.student_lst .line li{float:left;width:100px;margin-right:29px}
.student_lst .line li p{width:98px;height:132px;margin-bottom:10px;border:1px solid #d0cdcd}
.student_lst .line li span{display:block;padding-left:10px;background:url(../img/bu_dot.png) no-repeat 0 5px}
.student_lst .line li span a{color:#333}
.student_lst .line span a:hover,.student_lst .line span a:hover em{color:#000;text-decoration:underline}
.student_lst .line span em{color:#999}
.student_lst_v2 .line{width:555px;margin-bottom:18px}
.student_lst_v2 .line li{float:left;width:80px;margin-right:13px;padding:0 10px}
.student_lst_v2 .line li p{width:78px;height:105px}
.student_lst_v2 .line span em{display:block;margin-top:4px}

/* SMS 발송 */
.all_count2{display:block;margin-bottom:11px;color:#353535}
.s_box{position:relative;width:632px;height:36px;margin-bottom:24px;border:1px solid #d9d9d9}
.s_box dl{overflow:hidden;padding:6px 8px 6px 9px;zoom:1}
.s_box dt{float:left;margin-right:10px;padding-top:6px;font-weight:bold;color:#333}
.s_box dd{float:left}
.s_box .p_txt{position:relative;width:545px;border:1px solid #d3d3d3;color:#cfcfcf;cursor:pointer}
.s_box .p_txt input[type=text]{width:495px;padding:5px 7px 3px;border:none;color:#cfcfcf}
.s_box .s_box_btn{position:absolute;top:9px;right:11px;width:7px;height:4px;background:url(../img/ico_arrow.gif) no-repeat}
.s_box .p_txt.active{border:1px solid #888d95}
.s_box .p_txt.active input[type=text]{color:#333}
.s_box .p_txt.active .s_box_btn{background:url(../img/ico_arrow_v2.gif) no-repeat}
.s_box .inner{overflow-y:auto;position:absolute;width:545px;max-height:230px;border-width:0 1px 1px;border-style:solid;border-color:#888d95;background-color:#fff}
.s_box .inner li a{display:block;width:514px;padding:6px 7px 5px;color:#888d95}
:root .s_box .inner li a{padding-bottom:3px}
.s_box .inner li:hover{background-color:#f5f5f5}
.s_box .inner li.selected{background-color:#f5f5f5}
.s_box .inner li a:hover,.s_box .inner li a:active{text-decoration:none}
.s_box .inner a strong{color:#47b2e6}

.sms_area{position:relative;width:454px;height:374px;margin:8px 0 20px;border:1px solid #45b4e6}
.sms_txt{overflow-y:auto;width:422px;height:310px;height:313px;padding:15px;border:1px solid #fff;line-height:16px}
.byte_info{position:absolute;left:0;bottom:0;width:440px;height:13px;padding:8px 14px 7px 0;border-top:1px solid #dbe0e1;background-color:#faf9f6;font-size:11px;color:#999}

/* 주소록 검색 */
.pop_select_area{width:100%;margin:24px 0 15px;border:1px solid #ced5d8;background-color:#f6f8f8}
.pop_select_inner{padding:0 20px;color:#353535}
.pop_select_inner div{padding:18px 0 13px}
.pop_select_inner dt{display:inline-block;float:left;width:90px;font-weight:bold;line-height:24px}
.pop_select_inner dd input[type=radio]{margin:0 5px 0 25px;vertical-align:top}
.pop_select_inner dd input.first{margin-left:0}
.pop_select_inner .inner{border-top:1px solid #d0d4d9}
.pop_select_inner .inner li{float:left}
.pop_select_inner .inner li strong{float:left;margin-right:9px;line-height:24px}

/* 멀티셀렉트박스 */
.select_lst .width_set{width:150px;margin-left:9px}
.select_lst_v1 .width_set{width:122px}
.select_lst_v1 .last_v2 .width_set{width:120px}
.select_lst_v2 .width_set{width:126px;margin-left:10px}
.select_lst_v3 .width_set{width:120px;margin-left:8px}
.select_lst_v4 .width_set{width:120px}
.select_lst_v5 .width_set{width:100px;margin-left:5px}
.select_lst_v6 .width_set{width:125px;margin-left:5px}
.select_lst_v6 .last .width_set{width:120px}
.select_lst_v7 .width_set{width:130px;margin-left:0;vertical-align:middle}
.select_lst_v8 .width_set{margin-left:0}

.multi_sbox{display:inline-block;*display:inline;width:120px;vertical-align:top;zoom:1}
.multi_sbox .p_txt{position:relative;width:100%;height:17px;border:1px solid #abadb3;background-color:#fff;cursor:pointer}
.multi_sbox .p_txt .text{display:block;padding:3px 0 0 5px;line-height:13px;color:#686869}
.multi_sbox .sbox_btn{display:block;position:absolute;top:0;right:0;width:17px;height:17px;background:url(../img/btn_select.png) no-repeat 0 0}
.multi_sbox .inner{overflow-y:auto;position:absolute;z-index:100;max-height:205px;margin-left:0 !important;border-width:0 1px 1px;border-style:solid;border-color:#abadb3;background-color:#fff}
.multi_sbox .inner ul{overflow:hidden;padding:7px 0 5px 6px;zoom:1}
.multi_sbox .inner li{width:100%;line-height:22px}
.multi_sbox .inner input{margin-right:5px;vertical-align:middle}
.multi_sbox .inner label{color:#808080}
.pop_select_inner .width_set{width:160px}
.pop_select_inner .multi_sbox,.pop_select_inner .multi_sbox .inner{padding:0}
.pop_select_inner .multi_sbox li{line-height:18px}

/* 20130626 상담기능 개선 */
.btn_sheet{margin:0 0 10px 9px}
.counselsheet_area{margin-bottom:26px;padding:20px 10px 5px;border-bottom:1px solid #e0e1e3;background-color:#f8f9f9}
.counselsheet_area p{margin-bottom:10px;padding-left:9px;color:#666}

/* 20130813 코멘트/도움말 레이어 */
.ly_comt{padding:0 15px}

.ly_help{position:absolute;top:32px;left:235px;z-index:100;width:600px;padding:29px 35px 30px 23px;border:1px solid #8a8a8a;background-color:#fff}
.ly_help h3{overflow:hidden;width:268px;height:14px;margin:0 0 38px 172px;background:url(../img/spr_info.gif) no-repeat;line-height:999px}
.ly_help .ly_strong{display:block;margin:31px 0 8px;font-weight:normal;color:#000}

.lst_ol{padding-left:20px;text-indent:-20px}
.lst_ol li{margin-top:6px;line-height:18px}
.lst_ol li:first-child{margin-top:0}

.lst_ul{padding-left:13px;text-indent:-13px}
.lst_ul li{margin-top:6px;line-height:18px}
.lst_ul li:first-child{margin-top:0}

/* file업로드 */
.up_file{display:inline-block;zoom:1;overflow:hidden;position:relative;width:102px;height:24px;background:url(../img/btn_upfile.gif) no-repeat;white-space:nowrap;cursor:pointer;vertical-align:top}
.up_file:hover{background-image:url(../img/btn_upfile_on.gif)}
.up_file input{position:absolute;top:0;right:0;height:24px;opacity:0;filter:alpha(opacity=0);cursor:pointer}