@charset "utf-8";
/* Bluewave Web Standard Team KKS 121022, WSY 121022 */

/* popup_공통 */
.td_bg{background-color:#f9fafa}
.td_bg td{background-color:#f9fafa}
.txt_gray{color:#666}
.txt_gray a{color:#666}
.tx_left{padding-left:9px !important;text-align:left !important}
.tx_right{padding:10px !important;text-align:right !important}
.bu_line li{float:left;margin-left:10px;padding-left:11px;background:url(../img/tab_line2.png) no-repeat 0 30%}
.bu_line li:first-child{margin-left:0;padding-left:0;background:none}
.tx_mt{display:block;margin:5px 0 0 0}

/* popup_layout */
#pop_wrap.popup_t,#pop_wrap.sj03_pop,#pop_wrap.sj11_pop,#pop_wrap.hj021_pop,#pop_wrap.dj12_pop,#pop_wrap.attach_pop{width:100%;overflow-x:hidden}
body.profile_pop_wrap{overflow-y:scroll}

/* pop_header */
#pop_header h1{height:14px;padding:13px 0 11px 19px;/* margin-bottom:26px; */background-color:#3b3b3b;font-size:14px;color:#fff}

/* pop_container */
#pop_container{padding:0 20px}
#pop_container.container{position:relative;padding:0}

/* top_menu */
.top_menu,.top_menu3{position:relative}
.top_menu{margin-top:26px}
.top_menu .fron{position:absolute;top:-6px;right:0}
.top_menu2{margin-bottom:20px;padding:26px 20px 20px;background-color:#f6f8f8}
.top_menu2 table thead{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
.top_menu2 input{margin-left:9px}
.top_menu3{margin-bottom:30px;padding:26px 20px 19px;background-color:#f6f8f8}
.top_menu3 .fron{position:absolute;top:20px;right:20px}

/* pop_tap */
.pop_tap{overflow:hidden;height:13px;margin-bottom:15px}
.pop_tap li a{color:#999 !important}
.pop_tap li a:hover{text-decoration:underline}
.pop_tap li.on a{font-weight:bold;color:#45b4e6 !important;text-decoration:none}

/* pop_footer */
#pop_footer{margin:10px 20px 20px 0;text-align:right}

/* lecture_information_popup */
.popup_t h2{height:12px;margin:25px 0 11px;font-size:12px;font-weight:bold}

/* hj021_pop */
.hj021_pop em{display:block;height:12px;margin-bottom:11px;font-weight:bold}

/* sj11_pop */
.sj11_pop .bbs_tbl_type4{margin-top:26px}
.seach_title{margin-top:20px}
.seach_title_v1{padding:20px;background-color:#f6f8f8}
.pop_txtarea{width:99%;height:150px}
.pop_txtarea2{width:99%;height:313px}
.p_txt{color:#666}
.bbs_tbl_type4 tr:hover{background-color:#f9fafa}
.textarea{width:99%;height:53px;margin-top:5px}
.textarea2{width:99%;height:53px;margin:10px 0 0 0}
.p_pop{margin-top:10px;text-align:left;word-wrap:break-word;word-break:break-all;white-space: -o-pre-wrap; /* Opera 7 */}
.bo_no{border-left:0 !important}

/*attach_pop*/
.file input[type=text]{width:230px;margin-right:5px;vertical-align:top;border:1px solid #abadb3}
.dsc{margin:12px 0 20px}
.dsc strong{font-weight:bold;color:#45b4e6}
.dsc span{display:block;color:#999}

/* 상담 작성_간편상담 가이드 */
.counsel_area{padding:10px 20px 0}
.counsel_area textarea{width:604px;height:308px}
.counsel_guide{overflow:hidden;padding:20px;background-color:#f6f8f8;zoom:1}
.counsel_guide strong{display:block;float:left;color:#353535}
.counsel_guide a{display:block;float:right;text-decoration:underline;color:#999}
.guide_area{position:absolute;top:61px;left:20px;z-index:1;width:613px;height:320px;background:url(../img/bg_guide_pop.png) no-repeat}
.guide_area.v2{top:107px}
.guide_area dl{padding:19px 21px 5px}
.guide_area dt{width:95px;margin:0 auto 20px;background:url(../img/ico_notice.png) no-repeat 0 1px;text-align:center;font-family:나눔고딕,'NanumGothic';font-weight:bold;font-size:13px;color:#47b2e6}
.guide_area ol li{padding-bottom:19px;color:#666;line-height:18px}
.guide_area ul li,.guide_area li span{display:block;padding:0 0 0 25px;color:#999}
.coun_day{margin:20px 0 0 20px;color:#666}
.coun_day.v2{margin:0 0 5px 0}
.coun_day input{margin-left:5px}

/* 등록금고지서 */
.btn_print{margin:27px 0 17px}
.applicant{padding-top:80px;text-align:center;line-height:24px}