@charset "utf-8";

/* about */
#establish_overview .indicator_title{margin-left:-2px}
#establish_overview .comment{margin-top:283px;margin-left:410px}
#objective_overview .comment{margin-top:363px;margin-left:523px}
#introduce_overview .comment{margin-top:251px;margin-left:409px}
#competitiveness_overview .indicator_title{margin-left:0}
#competitiveness_overview .comment{margin-top:317px;margin-left:30px}
#establish_overview{background-color:#efefed}
#establish_background .column_title{margin-left:-1px}
#establish_background .paragraph{width:580px;padding-top:120px;padding-bottom:76px;word-spacing:0}
#establish_background .paragraph_content{display:block;float:left;width:580px}
#objective_education .desc{margin-top:65px;padding-bottom:76px}
#objective_education .education_column{float:left;width:515px;padding-top:120px}
#objective_education .paragraph_content{display:block;float:left;width:515px;margin-top:9px;word-spacing:0}
#education_column1 .subject{float:right;margin-right:13px}
#education_column1 .thumb{float:left;margin-top:-39px}
#education_column2 .subject{float:left}
#education_column2 .thumb{float:right;margin-top:-53px;margin-right:6px}
#education_column3 .subject{float:left}
#education_column3 .thumb{float:right;margin-top:-79px;margin-right:15px}
#about_competitiveness .competitiveness_column{float:left;padding-top:40px;padding-bottom:44px}
#curriculum_column{margin-top:130px}
#faculty_column{margin-top:36px}
#encouragement_column{margin-top:36px}
#system_column{margin-top:36px}
#about_competitiveness .desc{width:100%}
#about_competitiveness .desc .thumb{float:right}
#curriculum_column .thumb{margin-top:4px}
#competitiveness_faculty .thumb{margin-top:4px}
#about_competitiveness .desc .paragraph{float:left}
#about_competitiveness .desc .paragraph>.paragraph_title{float:left;width:100%;margin-bottom:3px;color:#333;font-weight:bold;font-size:14px}
#about_competitiveness .desc .paragraph>.paragraph_content{float:left;padding-bottom:32px;word-spacing:0}
#about_competitiveness .desc_column{float:left;width:100%}
#competitiveness_curriculum .desc .paragraph{width:320px}
#competitiveness_curriculum .desc .paragraph>.paragraph_content{width:320px}
#competitiveness_faculty .desc .paragraph{width:320px}
#competitiveness_faculty .desc .paragraph>.paragraph_content{width:320px}
#about_competitiveness #encouragement_column{padding-bottom:42px}
#competitiveness_encouragement .desc .paragraph{width:580px}
#competitiveness_encouragement .desc .paragraph>.paragraph_content{width:580px;padding-bottom:34px}
#competitiveness_encouragement .thumbnail_set{display:block;float:left;width:100%;margin-bottom:38px}
#competitiveness_encouragement .desc .thumb{float:left;width:320px;height:160px}
#competitiveness_encouragement .desc .direction{float:right;width:260px;margin-top:-5px}
#competitiveness_encouragement .desc .direction img{float:right}
#about_competitiveness #system_column{padding-bottom:42px}
#competitiveness_system .desc .paragraph{width:580px}
#competitiveness_system .desc .paragraph>.paragraph_content{width:580px;padding-bottom:34px}
#competitiveness_system .thumbnail_set{display:block;float:left;width:100%;margin-bottom:38px}
#competitiveness_system .desc .thumb{float:left;width:320px;height:160px}
#competitiveness_system .desc .direction{float:right;width:260px;margin-top:-5px}
#competitiveness_system .desc .direction img{float:right}
#competitiveness_system .desc .direction .info{float:right;text-align:right;margin-top:25px;word-spacing:0;color:#777}
#competitiveness_curriculum .summary{margin-top:158px;margin-left:0}
#competitiveness_faculty .summary{margin-top:64px;margin-left:-1px}
#competitiveness_encouragement .summary{margin-top:63px}
#competitiveness_system .summary{margin-top:65px;margin-left:-1px}
#talent_overview{background-color:#be99d4}
#talent_overview .indicator_title{margin-left:0}
#talent_overview .comment{margin-top:359px;margin-left:30px}
#talent_want .column_title{margin-left:0}
#type_desc{float:left;width:580px;padding-top:120px;padding-bottom:40px}
#type_list .column_right{padding-bottom:76px}
#type_list .talent_title{float:left;width:580px;padding-top:30px}
#type_list .talent_title img{float:left}
#type_list .talent_desc{float:left;width:580px;padding-top:5px}
#type_list .r_desc .talent_title img{float:right}
#type_list .r_desc .talent_desc{float:right;text-align:right}
body.mobile #establish_background .paragraph_content{height:380px}
body.mobile #education_column1 .paragraph_content{height:100px}
body.mobile #education_column2 .paragraph_content{height:120px}
body.mobile #education_column3 .paragraph_content{height:80px}
body.mobile .competitiveness_column .paragraph_title{height:20px}
body.mobile #fusion_curriculum .paragraph_content{height:140px}
body.mobile #continued_upgrade .paragraph_content{height:100px}
body.mobile #problem_solving_skill .paragraph_content{height:180px}
body.mobile #supervise_system .paragraph_content{height:120px}
body.mobile #achievement_assessment .paragraph_content{height:160px}
body.mobile #encouragement_column .paragraph_content{height:80px}
body.mobile #system_column .paragraph_content{height:120px}
body.mobile #type_desc .paragraph_content{height:80px}
body.mobile #type1 .talent_desc{height:20px}
body.mobile #type2 .talent_desc{height:40px}
body.mobile #type3 .talent_desc{height:20px}
body.mobile #type4 .talent_desc{height:20px}
.introduce_dsc_area{width:582px;padding:55px 0 63px;letter-spacing:-1px}
.player_area{position:relative;margin-top:15px}