@charset "utf-8";

/* admission */
#admission .overview_section{background-color:#f26522}
#pick_overview .comment{margin-top:342px;margin-left:470px}
#pick_recruit .summary{margin-top:174px;margin-left:-1px}
#pick_recruit_column{margin-top:127px}
#recruit_chart{width:100%;height:219px;margin-top:26px;border-top:solid 1px #e5e5e5;background-image:url(../img/content/admission/pick/chart_bg.jpg);font-weight:bold;font-weight:bold;line-height:24px}
#recruit_chart .title{float:left;width:78px;height:100%;padding-left:2px;color:#777;font-size:13px;word-spacing:-1px}
#recruit_chart .desc{display:block;float:left;width:480px;height:100%;padding-left:20px;color:#f26522;font-size:16px}
#recruit_field{width:100%;height:120px;margin-top:24px}
#recruit_persons{width:100%;height:24px;margin-top:24px}
#pick_evaluation .summary{margin-top:85px;margin-left:-1px}
#pick_evaluation .summary .btn_dnld{display:inline-block;margin:10px 0 0 1px;*margin-top:13px}
#pick_evaluation .summary .btn_nschd{display:inline-block;margin-top:23px}
#pick_pick{display:block;float:left;padding-top:4px}
#pick_pick .paragraph{width:580px}
#pick_desc{display:block;float:left;padding-top:75px}
#pick_desc .paragraph{width:580px}
#pick_movie .summary{margin-top:80px} 
#pick_movie .desc{margin-top:70px} 
#pick_movie .movie{margin:10px 0 68px} 
#pick_sum .summary{margin-top:75px}
#pick_sum .desc{margin-top:65px;padding-bottom:67px;line-height:22px}
#pick_sum .desc strong{font-size:14px;color:#333}
#pick_sum .desc a{display:inline-block;height:42px}
#pick_sum .desc a.btn_dnld{margin-top:14px}
#pick_sum .desc a.btn_exam{margin-top:3px}
#movie_sum .summary{margin-top:75px} 
#movie_sum .desc{margin-top:65px;padding-bottom:104px;line-height:22px} 
#movie_sum .desc strong{font-size:14px;color:#333}
#movie_sum .tbl{width:100%;margin-top:16px;border-bottom:1px solid #aeaeae;table-layout:fixed} 
#movie_sum .tbl tr:hover th,#movie_sum .tbl tr:hover td{background:#fafafa} 
#movie_sum .tbl th,#movie_sum .tbl td{border-top:1px solid #d9d9d9;font-size:12px;text-align:left} 
#movie_sum .tbl th span{margin-left:10px;font-weight:normal;color:#333} 
#movie_sum .tbl td{color:#777} 
#movie_sum .tbl td strong{font-size:12px;color:#333} 
#movie_sum .tbl td.dnld{padding:6px 0 5px;text-align:center} 
#movie_sum .tbl td.dnld a{display:inline-block;overflow:hidden;width:96px;height:24px;background:url(../img/content/admission/pick/btn_movdnld2.png) no-repeat;font-size:0;line-height:999px;vertical-align:top} 
#evaluation_chart{display:block;float:left;width:580px;padding-top:26px}
#evaluation_chart .chart_head{float:left;width:100%;border-top:solid 2px #000;font-size:17px;font-weight:bold;color:#333;line-height:37px}
#evaluation_chart .chart_head .p{float:left;width:220px;height:100%;margin-left:139px;padding-left:10px;border-left:solid 1px #e6e6e6}
#evaluation_chart .chart_head .np{float:left;width:199px;height:100%;padding-left:10px;border-left:solid 1px #e6e6e6}
#evaluation_chart .chart_body{display:block;float:left;width:100%;color:#333}
#evaluation_chart .chart_body .step{display:block;float:left;width:100%}
#evaluation_chart .chart_body .step_title{float:left;width:100%;background-color:#f0f0f0;font-size:16px;font-weight:bold;color:#ff6633;line-height:24px}
#evaluation_chart .chart_body .step_title>div{padding-bottom:1px}
#evaluation_chart .chart_body .step_title .t1{overflow:hidden;float:left;width:139px;height:100%;text-indent:-9999px}
#evaluation_chart .chart_body .step_title .t2{float:left;width:219px;height:100%;padding-left:11px;border-left:solid 1px #e6e6e6}
#evaluation_chart .chart_body .step_title .t3{float:left;width:198px;height:100%;padding-bottom:1px;padding-left:11px;border-left:solid 1px #e6e6e6}
#evaluation_chart .chart_body .step1 .t1{background-image:url(../img/content/admission/pick/step1.jpg);background-repeat:no-repeat}
#evaluation_chart .chart_body .step2 .t1{background-image:url(../img/content/admission/pick/step2.jpg);background-repeat:no-repeat}
#evaluation_chart .chart_body .step3 .t1{background-image:url(../img/content/admission/pick/step3.jpg);background-repeat:no-repeat}
#evaluation_chart .chart_body .step4 .t1{background-image:url(../img/content/admission/pick/step4.jpg);background-repeat:no-repeat}
/* #evaluation_chart .chart_body .step4 .t2{height:24px;background-image:url(../img/content/admission/pick/title_empty.png);background-repeat:no-repeat} */
#evaluation_chart .chart_body .step4 .t3{height:24px;background-image:url(../img/content/admission/pick/title_empty.png);background-repeat:no-repeat}
#evaluation_chart .chart_body .step_content{display:block;float:left;width:100%}
#evaluation_chart .chart_body .step_content>div{float:left;width:100%}
#evaluation_chart .column{border-bottom:solid 1px #e6e6e6}
#evaluation_chart .chart_body .step_content .title{float:left;width:139px;font-weight:bold;font-size:13px}
#evaluation_chart .chart_body .step_content .title>span{display:block;float:left;padding-top:16px;padding-left:3px;font-size:13px;color:#333}
#evaluation_chart .chart_body .step_content .desc{float:left;width:441px;font-weight:bold;font-size:12px}
#evaluation_chart .chart_body .step_content .desc>.compare{float:left;width:100%;font-weight:bold}
#evaluation_chart .chart_body .step_content .p_chart{float:left;width:189px;padding-top:14px;padding-right:31px;padding-bottom:9px;padding-left:10px;border-left:solid 1px #e6e6e6}
#evaluation_chart .chart_body .step_content .np_chart{float:left;width:189px;padding-top:14px;padding-right:10px;padding-bottom:9px;padding-left:10px;border-left:solid 1px #e6e6e6}
#evaluation_chart .chart_body .step_content .common_chart{float:left;width:440px;margin-left:139px;border-left:solid 1px #e6e6e6;font-size:12px;word-spacing:0}
#evaluation_chart .chart_body .step_content .common_chart>span{float:left;width:421px;padding:10px}
#evaluation_chart .chart_body .step_content .common_chart .point_common{float:left;width:418px;margin-top:13px;padding-top:0;padding-bottom:0;background-image:url(../img/content/admission/pick/point.png);background-repeat:no-repeat}
#evaluation_chart .evaluation_submit{float:left;width:100%}
#evaluation_chart .chart_body .evaluation_important .common_chart>span{width:420px;padding-top:16px;padding-left:10px;padding-bottom:40px}
#evaluation_chart .chart_body .step2 .evaluation_method .p_chart>span{padding-bottom:30px}
#evaluation_chart .chart_body .step2 .evaluation_method .np_chart>span{padding-bottom:30px}
#evaluation_chart .chart_body .step3 .evaluation_method .p_chart>span{padding-bottom:30px}
#evaluation_chart .chart_body .step3 .evaluation_method .np_chart>span{padding-bottom:30px}
/*#evaluation_chart .chart_body .step1 .evaluation_submit .compare span{height:80px}*/
#evaluation_chart .chart_body .step1 .evaluation_submit .compare span{height:100px}
#evaluation_chart .chart_body .step1 .evaluation_element .compare span{height:60px}
/* #evaluation_chart .chart_body .step1 .evaluation_method .compare span{height:60px} */
#evaluation_chart .chart_body .step1 .evaluation_method .compare span{height:100px}
/* 6/8 임시 추가 */#evaluation_chart .chart_body .step2 .evaluation_method .compare span{height:30px}
#evaluation_chart .chart_body .step3 .evaluation_element .compare span{height:60px}
#evaluation_chart .chart_body .step4 .evaluation_element .compare span{height:20px}
#evaluation_chart .chart_body .step4 .evaluation_method .compare span{height:80px}
#evaluation_chart .chart_body .step1 .step_content .evaluation_important{border-bottom:0px} 
#evaluation_chart .chart_body .step2 .step_content .evaluation_method{border-bottom:0px}
#evaluation_chart .chart_body .step3 .step_content .evaluation_method{border-bottom:0px}
#evaluation_chart .chart_body .step4 .step_content .evaluation_method{border-bottom:0px}
#evaluation_chart .step2 .step_title{position:relative}
#evaluation_chart .step2 .evaluation_element{position:relative}
#evaluation_chart .step2 .evaluation_method{position:relative}
#evaluation_chart .chart_body .step_title .deem{display:none;position:absolute;top:0;left:0;width:580px;height:24px;background-image:url(../img/content/admission/pick/chart_pattern.png);opacity:0}
#evaluation_chart .evaluation_element .deem{display:none;position:absolute;top:0;left:0;width:580px;height:44px;background-image:url(../img/content/admission/pick/chart_pattern.png);opacity:0}
#evaluation_chart .evaluation_method .deem{display:none;position:absolute;top:0;left:0;width:580px;height:113px;background-image:url(../img/content/admission/pick/chart_pattern.png);opacity:0}
/* #evaluation_chart .chart_body .step4 .evaluation_element .p_chart>span{background-image:url(../img/content/admission/pick/empty1.png);background-repeat:no-repeat}
#evaluation_chart .chart_body .step4 .evaluation_method .p_chart>span{background-image:url(../img/content/admission/pick/empty2.png);background-repeat:no-repeat} */
#evaluation_chart .chart_body .step4 .evaluation_element .np_chart>span{background-image:url(../img/content/admission/pick/empty1.png);background-repeat:no-repeat}
#evaluation_chart .chart_body .step4 .evaluation_method .np_chart>span{background-image:url(../img/content/admission/pick/empty2.png);background-repeat:no-repeat}
#pick_faq .summary{margin-top:74px;margin-left:-1px}
#pick_faq_column{display:block;float:left;width:580px;padding-top:80px;padding-bottom:48px}
#pick_faq_column .paragraph{width:100%;padding-bottom:36px}
#pick_faq_column .quest{position:relative;float:left;width:180px;height:100%}
#pick_faq_column .quest>span{position:absolute;margin-top:14px}
#pick_faq_column .answer{float:left;width:400px;height:100%;margin-left:180px}
#pick_faq_column .answer_arrow{float:left;width:27px;height:17px;margin-top:28px;background-image:url(../img/content/admission/pick/a_bg.png)}
#pick_faq_column .answer_content{float:left;width:373px;height:100%;background-color:#f0f0f0}
#pick_faq_column .answer_content>span{float:left;padding:21px 25px 20px 25px;font-size:11px;line-height:20px;word-spacing:-1px}
#pick_faq_column .quest2 .quest>span{margin-left:2px}
#pick_faq_column .quest2 .answer_content{width:240px}
#pick_faq_column .quest3 .quest>span{margin-left:-2px}
#pick_faq_column .quest4 .quest>span{margin-left:2px}
#pick_faq_column .quest5 .quest>span{margin-left:2px}
#pick_faq_column .quest5 .answer_content{width:305px}
#pick_schedule .summary{margin-top:64px}
#pick_schedule>.column_left,#pick_schedule>.column_right{height:150px}
#pick_schedule_column{display:block;float:left;width:580px;padding-top:75px;padding-bottom:55px}
#pick_schedule_column .paragraph{float:left;width:100%;word-spacing:0}
#nonscheduled_chart{float:left;width:100%;padding-bottom:20px}
#nonscheduled_chart>.column_left{display:block;position:relative;float:left;width:330px;height:100%;margin-left:30px}
#nonscheduled_chart>.column_right{display:block;position:relative;float:right;width:580px;height:100%;margin-right:30px;margin-left:50px}
#nonscheduled_chart>.column_right .desc{float:left;width:100%}
#nonscheduled_title{float:left;width:100%}
#nonscheduled_title img{float:left}
#pick_calendar{float:left;width:100%;margin-top:90px}
#pick_calendar .calendar_month, #pick_calendar .month_title, #pick_calendar .calendar_day{float:left;width:100%}
#pick_calendar .month_title img{float:left;margin-left:-1px}
#pick_calendar .calendar_day{padding-top:34px;padding-bottom:37px}
#pick_calendar .calendar_day li{overflow:hidden;float:left;position:relative;width:51px;height:13px;text-align:center;margin-right:2px;margin-bottom:24px;font-size:10px;line-height:13px}
#pick_calendar .calendar_day li.sat{width:27px;margin-right:0;padding-right:4px;text-align:right}
#pick_calendar .calendar_day li.sun{width:28px;padding-left:4px;text-align:left;color:#f26522}
#pick_calendar .calendar_day li.ot{background-color:#f2f2f2}
#pick_calendar .calendar_day li .num{top:0;left:0;position:relative;width:100%;height:100%}
#pick_calendar .calendar_day li .ov{display:none;top:0;left:0;position:absolute;width:51px;height:13px;background-color:#f36523}
#pick_calendar .calendar_day li.select .num{color:#fff}
#pick_calendar .calendar_day li.selected .num{color:#fff}
#pick_calendar #month7 li.empty{width:32px}
/* #pick_calendar #month8 li.empty{width:191px} */
#pick_calendar #month8 li.empty{width:138px}
#pick_calendar #month9 li.empty{width:297px}
.screening_chart{float:left;width:580px;padding-bottom:51px}
#practice_screening_chart{padding-top:38px}
.screening_chart .screening_title{float:left;width:570px;height:34px;padding-left:10px;line-height:34px;border-bottom:solid 1px #555;font-size:17px;font-weight:bold;color:#333;word-spacing:-2px}
.screening_chart .todo_list{float:left;width:580px}
.screening_chart .todo_list li{float:left;width:580px;height:25px;border-bottom:solid 1px #ececec}
.screening_chart .todo_list li a{float:left;width:580px;height:25px;line-height:25px;font-weight:bold;color:#999;word-spacing:0;cursor:pointer}
.screening_chart .todo_list li .todo_item{float:left;width:127px;height:25px;padding-left:10px;font-size:13px;color:#555}
.screening_chart .todo_list li .todo_date{float:left;width:109px;height:25px}
.screening_chart .todo_list li .todo_info{float:left;width:334px;height:25px}
.screening_chart .todo_list li.select{background-color:#fafafa}
.screening_chart .todo_list li.select .todo_item{color:#555}
.screening_chart .todo_list li.select .todo_date{color:#555}
.screening_chart .todo_list li.select .todo_info{color:#555}
.screening_chart .todo_list li.selected{background-color:#fafafa}
.screening_chart .todo_list li.selected a{cursor:default}
.screening_chart .todo_list li.selected .todo_item{color:#f26522}
.screening_chart .todo_list li.selected .todo_date{color:#f26522}
.screening_chart .todo_list li.selected .todo_info{color:#f26522}
#sizar_overview .comment{margin-top:306px;margin-left:411px}
#sizar_overview .indicator_title{margin-left:-1px}
#sizar_system .summary{margin-top:174px;margin-left:-1px}
#sizar_system .column_title{margin-left:0}
#sizar_system_column{width:580px}
#sizar_benefit{float:left;padding-top:175px}
#sizar_benefit .paragraph_content{width:100%;padding-bottom:80px}
#sizar_benefit .paragraph_content>.thumb{position:relative;float:left;width:300px;margin-right:30px}
#sizar_benefit .paragraph_content>.info{width:210px;padding-left:40px}
#sizar_benefit .total>.thumb, #sizar_system_column .space>.thumb{float:left}
#sizar_benefit .total>.info, #sizar_system_column .space>.info{float:right}
#sizar_benefit .notebook>.thumb, #sizar_system_column .supervise>.thumb{float:right}
#sizar_benefit .notebook>.info, #sizar_system_column .supervise>.info{float:left}
#sizar_benefit .thumb>.shadow{position:absolute;top:30px;left:30px;width:300px;height:210px;background-image:url(../img/content/admission/sizar/shadow.png)}
#sizar_benefit .thumb>img{float:left;position:relative;top:0;left:0;width:300px;height:210px}
#sizar_benefit .info .title{float:left;width:100%}
#sizar_benefit .info .title>img{float:left}
#sizar_benefit .info .desc{float:left;width:100%}
#sizar_benefit .total .info .title>img{margin-top:-1px;margin-left:-2px}
#sizar_benefit .total .info .desc{margin-top:5px;margin-left:-2px}
#sizar_benefit .notebook .info .title>img{margin-left:5px}
#sizar_benefit .notebook .info .desc{margin-top:5px;margin-left:5px}
#sizar_benefit .space .info .title>img{margin-top:-1px;margin-left:-1px}
#sizar_benefit .space .info .desc{margin-top:3px;margin-left:2px}
#sizar_benefit .supervise .info .title>img{margin-top:-1px;margin-left:7px}
#sizar_benefit .supervise .info .desc{margin-top:3px;margin-left:8px}
#admission_faq .indicator_container{padding-top:70px}
#admission_faq .indicator_title{margin-left:-1px}
#faq_title{height:154px}
#faq_title .column_title{margin-top:65px;margin-left:-1px}
#faq_title .desc{float:left;width:580px}
#faq_title .desc img{float:right;margin-top:67px}
#board_search{height:34px}
#faq_category{float:left;width:125px;height:22px;border: 1px solid #c5c5c5}
#admission_faq #faq_search_text{float:left;width:132px;margin-left:5px;padding-left:5px;height:18px;line-height:18px;padding:2px 3px 0;line-height:18px;border: 1px solid #c5c5c5}
#admission_faq #faq_search_btn{float:left;width:54px;height:22px;margin-left:5px;}
#faq_notice{float:right}
#board_body .column{width:960px;margin-left:30px;margin-right:30px;border-top:solid 1px #3b3b3b}
#board_body #board_list{float:left;width:330px}
#board_body #board_list ul{float:left;width:330px;padding-bottom:30px}
#board_body #board_list ul li{float:left;width:330px;height:35px;border-bottom:solid 1px #d9d9d9}
#board_body #board_list ul li a{float:left;width:330px;height:35px}
#board_body #board_list ul li a .title{float:left;width:311px;height:35px;margin-left:2px;background-repeat:no-repeat;background-position:0 0}
#board_body #board_list ul li a .title img{float:left;margin-top:11px;margin-left:2px}
#common .title{background-image:url(../img/content/admission/faq/common.png)}
#apply .title{background-image:url(../img/content/admission/faq/apply.png)}
#right .title{background-image:url(../img/content/admission/faq/right.png)}
#doc .title{background-image:url(../img/content/admission/faq/doc.png)}
#pick .title{background-image:url(../img/content/admission/faq/pick.png)}
#campus .title{background-image:url(../img/content/admission/faq/campus.png)}
#after .title{background-image:url(../img/content/admission/faq/after.png)}
#board_body #board_list ul li.select{background-color:#fafafa}
#board_body #board_list ul li.selected a .title{background-position:0 -35px}
#board_body #board_list ul li.selected a .arrow{background-position:0 -35px}
#board_body #board_list ul li a .arrow{float:left;width:17px;height:35px;background-image:url(../img/content/admission/faq/arrow.png);background-repeat:no-repeat}
#board_content{float:left;width:580px}
#faq_board .board_content{float:left;width:580px;padding-bottom:80px}
#faq_board .board_content .board_title{float:left;width:580px;height:35px;margin-top:-1px;border-top:solid 1px #d9d9d9;border-bottom:solid 1px #d9d9d9}
#faq_board .board_content .first{border-top-color:#000}
#faq_board .board_content .select{background-color:#fafafa}
#faq_board .board_content .selected{border-top-color:#000;border-bottom-color:#999;background-color:#fafafa}
#faq_board .board_content .board_title a{float:left;width:553px;height:35px;padding-left:27px;background-image:url(../img/content/admission/faq/btn.png);background-repeat:no-repeat;background-position:0 0;line-height:35px;color:#888}
#faq_board .board_content .select a{color:#333}
#faq_board .result_notice{float:left;width:580px;height:35px;background-color:#fafafa;border-bottom:solid 1px #d9d9d9;font-weight:bold;line-height:35px}
#faq_board .result_desc{float:left;width:570px;height:35px;padding-left:10px}
#faq_board #search_result em{color:#f36523}
#faq_board .board_content .selected a{background-position:0 -35px;font-weight:bold;color:#f36523}
#faq_board .board_desc{float:left;width:553px;padding-top:15px;padding-bottom:25px;padding-left:30px;color:#666}
#faq_board .board_content{display:none}
#faq_board .board_desc{display:none}
#admission_consult .indicator_container{padding-top:70px}
#admission_consult .indicator_title{margin-left:-1px}
#consult_title{height:154px}
#consult_title .column_title{margin-top:65px;margin-left:-1px}
#consult_title .desc{float:left;width:580px}
#consult_title .desc img{float:right;margin-top:67px}
#board_search{height:34px}
#consult_category{float:left;width:125px;height:22px;border: 1px solid #c5c5c5}
#admission_consult #consult_search_text{float:left;width:132px;margin-left:5px;padding-left:5px;height:18px;padding:2px 3px 0;line-height:18px;border: 1px solid #c5c5c5}
#admission_consult #consult_search_btn{float:left;width:54px;height:22px;margin-left:5px}
#consult_inquiry{float:right}
#consult_inquiry a{float:right;width:124px;height:28px;margin-top:-3px;background-image:url(../img/content/admission/consult/inquiry.jpg)}
.consult_board .board_list{float:left;width:100%;padding-bottom:80px}
.consult_board .list_container{overflow:hidden;float:left;width:100%;border-top:solid 1px #3b3b3b}
.consult_board .list_view{float:left;width:100%}
.consult_board .list_view li{float:left;width:100%;border-bottom:solid 1px #d9d9d9}
.consult_board .list_btn{float:left;width:100%;padding-top:10px;padding-bottom:10px;cursor:pointer}
.consult_board .list_btn .list_type{float:left;width:60px;height:40px;color:#fff;font-weight:bold}
.consult_board .list_notice .list_type{background-color:#f36523}
.consult_board .list_waiting .list_type{background-color:#999}
.consult_board .list_complete .list_type{background-color:#3b3b3b}
.consult_board .list_view li .list_btn .list_type p{position:relative;float:left;width:100%;padding-top:10px;text-align:center;line-height:20px;word-spacing:-1px}
.consult_board .list_btn .list_column{float:left;width:180px;margin-left:10px}
.consult_board .list_btn .list_column .list_title{float:left;width:100%;height:16px;padding-top:4px;line-height:16px;color:#999}
.consult_board .list_btn .list_column .list_desc{float:left;width:100%;line-height:16px;color:#555}
.consult_board .list_info{float:left;width:80px;color:#999}
.consult_board .list_info .list_author{float:left;width:80px;line-height:16px;padding-top:4px;text-align:right}
.consult_board .list_info .list_date{float:left;width:80px;line-height:16px;text-align:right}
.consult_board .list_notice .list_column .list_title{color:#f26522} 
.consult_board .board_list .select .list_btn .list_column .list_desc{color:#000}
.consult_board .board_list .selected .list_btn .list_column .list_desc{font-weight:bold;color:#333}
.consult_board .board_list .select .list_info,.board_list .selected .list_info{color:#333}
.consult_board .list_nav{overflow:hidden;float:left;width:100%;height:20px;margin-top:20px}
.consult_board .list_order_view{overflow:hidden;float:left;width:216px;height:20px}
.consult_board .list_order{float:left;height:20px;margin-left:-10px}
.consult_board .list_order li{float:left;width:27px;height:20px}
.consult_board .list_order li a{display:block;float:left;width:17px;padding-left:10px;font-weight:bold;color:#adadad;line-height:20px;text-align:left;cursor:pointer}
.consult_board .list_order li a.selected{color:#000;cursor:default}
.consult_board .list_order li a.select{color:#000}
.consult_board .list_paddle{float:right;width:113px;height:100%;margin-left:1px}
.consult_board .list_paddle li{float:left;width:54px;height:100%}
.consult_board .list_paddle li.next{margin-left:5px}
.consult_board .list_paddle li a{overflow:hidden;float:left;width:54px;height:100%;text-indent:-9999px}
.consult_board .list_paddle li.prev a{background-image:url(../img/ui/board/prev.jpg)}
.consult_board .list_paddle li.next a{background-image:url(../img/ui/board/next.jpg)}
.consult_board .post_content{float:left;width:580px;padding-bottom:80px;border-top:solid 1px #3b3b3b}
.consult_board .post_view{float:left;width:580px}
.consult_board .post_view .post_title_section{float:left;width:560px;padding:25px 10px;border-bottom:solid 1px #999}
.consult_board .post_title_column{float:left;width:380px;font-size:14px;font-weight:bold}
.consult_board .post_title_column .post_line{float:left;width:1px;height:15px;margin-top:3px;margin-right:12px;margin-left:12px;background-color:#d9d9d9}
.consult_board .post_type{float:left}
.consult_board .post_title{float:left;color:#f36523}
.consult_board .post_info{float:right;color:#999}
.consult_board .post_info .post_line{float:left;width:1px;height:11px;margin-top:5px;margin-right:10px;margin-left:10px;background-color:#d9d9d9}
.consult_board .post_author{float:left}
.consult_board .post_date{float:left}
.consult_board .post_desc_section{float:left;width:580px;padding-bottom:25px;border-bottom:solid 1px #999}
.consult_board .post_desc_column{position:relative;float:left;width:560px;padding:20px 10px}
.consult_board .post_edit{position:absolute;right:7px;bottom:-17px}
.consult_board .post_modify{float:left;width:81px;height:25px;margin-right:4px;background-image:url(../img/content/admission/consult/modify.jpg)}
.consult_board .post_delete{float:left;width:81px;height:25px;background-image:url(../img/content/admission/consult/delete.jpg)}
.consult_board .post_view .post_reply_title{float:left;width:560px;margin-top:-1px;padding:7px 10px 8px 10px;border-top:solid 1px #3b3b3b;border-bottom:solid 1px #d9d9d9}
.consult_board .post_view .post_reply_title .post_title_column{font-size:12px}
.consult_board .post_view .post_reply{float:left;padding-left:20px;background-image:url(../img/content/admission/consult/reply.png);background-repeat:no-repeat;color:#f36523}
.consult_board .post_reply_desc{float:left;width:580px;padding-bottom:25px;border-bottom:solid 1px #d9d9d9}
.consult_board .post_reply_desc .post_desc_column{position:relative;float:left;width:538px;padding:20px 10px 20px 32px}
.consult_board .column{float:left;width:960px;margin-left:30px;margin-right:30px;background-color:#f7f7f7;border-top:solid 1px #dbdbdb}
#consult_search_board #search_result{float:left;width:918px;height:26px;padding-left:10px;line-height:26px;font-weight:bold;color:#333}
#consult_search_board em{color:#f36523}
#consult_search_board .item_section>.column_right{margin-left:0;width:630px}
#consult_search_board .post_content{padding-left:50px;border-color:#dbdbdb}
#consult_search_board .list_container{border-color:#dbdbdb} 
#consult_search_board .close{float:right;width:32px;height:26px}
#consult_search_board .close_btn{float:left;width:32px;height:26px;background-image:url(../img/content/admission/consult/close.png)}
.post_write{float:left;width:580px}
.post_write form{float:left;width:580px;padding-top:24px;padding-bottom:80px}
#write_input_area{float:left;width:580px}
#write_input_area>div{float:left;width:580px;margin-top:13px}
#write_input_area>div>label{overflow:hidden;float:left;width:86px;height:12px;margin-top:10px;margin-right:10px;text-indent:-9999px}
#write_input_area>div>input{float:left;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#write_input_area>div>select{float:left;height:22px;border: 1px solid #c5c5c5}
#write_name .write_name{background-image:url(../img/content/admission/consult/name.jpg)}
#write_name #write_name_input{width:97px}
#write_email .write_email{background-image:url(../img/content/admission/consult/email.jpg)}
#write_email #write_email1{float:left;width:97px}
#write_email .write_email_at{float:left;width:17px;height:22px;background-image:url(../img/content/admission/consult/at.png)}
#write_email #write_email2{float:left;width:155px;margin-right:4px}
#write_email #write_email_list{width:111px}
#write_sort .write_sort{background-image:url(../img/content/admission/consult/sort.jpg)}
#write_sort #write_sort_list{width:111px}
#write_title .write_title{background-image:url(../img/content/admission/consult/title.jpg)}
#write_title #write_title_input{width:476px}
#write_content .write_content{background-image:url(../img/content/admission/consult/content.jpg)}
#write_content #write_content_text{float:left;width:468px;height:247px;padding:9px 7px 9px 7px;border: 1px solid #c5c5c5;resize:none}
#pw .pw{background-image:url(../img/content/admission/consult/pw.jpg)}
#pw #pw_input{width:124px}
#pw_check .pw_check{background-image:url(../img/content/admission/consult/pw_check.jpg)}
#pw_check #pw_check_input{width:124px}
#write_security .security{background-image:url(../img/content/admission/consult/security.jpg)}
#write_security .security_captcha{float:left;width:484px}
#write_security .security_captcha .captcha_img{float:left;width:100%}
#write_security .security_captcha .captcha_img img{float:left;width:130px;height:80px;border:1px solid #c5c5c5}
#write_security #security_refresh{float:left;width:88px;height:22px;margin-left:4px}
#write_security .security_captcha .security_input_area{float:left;width:100%;padding-top:4px;padding-bottom:30px}
#write_security .security_captcha .security_input_area input{float:left;width:124px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#write_security .security_captcha .security_input_area span{float:left;margin-left:7px;zcolor:#999}
#write_btn_area{float:left;margin-left:96px;width:490px}
#write_complete{float:left;width:81px;height:25px;margin-right:4px}
#write_cancel{float:left;width:81px;height:25px}
#popup_area{position:absolute;display:none;top:0;left:0;width:580px;height:770px;background-image:url(../img/content/admission/consult/empty.png)}
#write_popup{position:absolute;top:230px;left:190px;width:280px;height:168px;background-image:url(../img/content/admission/consult/popup.png)}
#write_popup .popup_alert{float:left;width:270px;margin-top:43px;text-align:center;line-height:18px}
#write_popup #confirm_btn{position:absolute;top:88px;left:103px;width:64px;height:22px;background-image:url(../img/content/admission/consult/confirm.jpg)}
#consult_board .post_write{display:none}
#consult_board .post_view{display:none}
#consult_search_board{display:none}
#consult_search_board .post_view{display:none}
#board_body .board_content{float:left;width:580px;margin-left:50px}
#guidelines_overview .indicator_title{margin-left:0}
#guidelines_overview .comment{margin-top:318px;margin-left:593px}
#guidelines_menu{float:left;width:100%;margin-top:160px}
#guidelines_menu .guidelines_menu_column{float:left;width:100%;padding-bottom:26px}
#guidelines_menu .guidelines_main{float:left;width:100%;height:23px;padding-bottom:6px}
#guidelines_menu .guidelines_main a{float:left;height:23px;margin-left:1px;background-position:-2px -2px}
#guidelines_menu .guidelines_main a.selected{background-position:-2px -27px;cursor:default}
#guidelines_menu .guidelines_sub{float:left;width:100%}
.pdf_area{float:left;width:100%;height:28px;padding-top:20px;padding-bottom:80px}
.pdf_area .pdf_btn{float:left;width:163px;height:28px;background-image:url(../img/content/admission/guidelines/pdf.jpg)}
#guidelines_schedule_menu a{width:84px;background-image:url(../img/content/admission/guidelines/guide_title1.png)}
#guidelines_major_menu a{width:181px;background-image:url(../img/content/admission/guidelines/guide_title2.png)}
#guidelines_practice_menu a{width:84px;background-image:url(../img/content/admission/guidelines/guide_title3.png)}
#guidelines_nonpractice_menu a{width:104px;background-image:url(../img/content/admission/guidelines/guide_title4.png)}
#guidelines_screening_menu a{width:142px;background-image:url(../img/content/admission/guidelines/guide_title5.png)}
#guidelines_level_menu a{width:142px;background-image:url(../img/content/admission/guidelines/guide_title6.png)}
#guidelines_y2013 .column_title{margin-top:80px;margin-left:0}
#guidelines_y2013 #print_area{margin-top:160px}
#guidelines_y2013 a{color:#f26522;text-decoration:underline}
#guidelines_y2013 em{font-weight:bold;color:#333;text-decoration:underline}
#guidelines_y2013 .guidelines_body{display:none;float:left;width:580px}
#guidelines_y2013 .guidelines_header{float:left;width:580px;height:31px}
#guidelines_y2013 .guidelines_header .guidelines_title{float:left;width:420px;height:29px}
#guidelines_y2013 .guidelines_header .guidelines_title img{float:left}
#guidelines_y2013 .guidelines_header .print_btn_area{float:left;width:160px;height:31px}
#guidelines_y2013 .guidelines_header .print_btn_area .print_btn{float:left;width:163px;height:28px;margin-top:3px;background-image:url(../img/content/admission/guidelines/print.jpg)}
#guidelines_y2013 .guidelines_content{float:left;width:580px}
#guidelines_y2013 #guidelines_schedule .guidelines_content{margin-top:45px}
#guidelines_y2013 .guidelines_content .guidelines_subject{float:left;width:580px;font-size:18px;font-weight:bold;color:#333}
#guidelines_y2013 #guidelines_schedule .guidelines_content .guidelines_subject{padding-bottom:9px}
#guidelines_y2013 .guidelines_chart{float:left;width:580px}
#guidelines_y2013 #guidelines_schedule .guidelines_chart{padding-bottom:50px}
#guidelines_y2013 .guidelines_chart .chart_title{float:left;width:580px;height:25px;background-color:#f0f0f0}
#guidelines_y2013 .guidelines_chart .chart_title>div{float:left;padding-left:10px;font-size:15px;font-weight:bold;line-height:25px;color:#ff6633}
#guidelines_y2013 .guidelines_chart .schedule_todo{width:120px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .schedule_date{width:169px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .schedule_info{width:258px}
#guidelines_y2013 .guidelines_chart .chart_content{float:left;width:580px;border-bottom:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .chart_content .select{;background-color:#eee}
#guidelines_y2013 .guidelines_chart .chart_content .column{float:left;width:580px;border-bottom:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .chart_content .column>div{float:left;padding-left:10px}
#guidelines_y2013 #guidelines_schedule .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 .guidelines_chart .chart_content .column .schedule_todo{font-weight:bold;color:#333}
#guidelines_schedule{padding-bottom:30px}
#schedule_chart1 .column1>div{height:40px}
#schedule_chart1 .column2>div{height:100px}
#schedule_chart1 .column3>div{height:40px}
#schedule_chart1 .column4>div{height:60px}
#schedule_chart1 .column5>div{height:20px}
#schedule_chart1 .column6>div{height:40px}
#schedule_chart2 .column1>div{height:40px}
#schedule_chart2 .column2>div{height:100px}
#schedule_chart2 .column3>div{height:40px}
#schedule_chart2 .column4>div{height:60px}
#schedule_chart2 .column5>div{height:20px}
#schedule_chart2 .column6>div{height:60px}
#schedule_chart2 .column7>div{height:20px}
#schedule_chart2 .column8>div{height:40px}
#guidelines_y2013 #guidelines_major .guidelines_content{margin-top:23px}
#guidelines_y2013 #guidelines_major .guidelines_desc{padding-bottom:26px}
#guidelines_y2013 #guidelines_major .guidelines_chart>div{font-weight:bold;color:#333;line-height:24px}
#guidelines_y2013 #guidelines_major .guidelines_chart .chart_content .column>div{height:120px;padding-top:12px;padding-bottom:12px}
#guidelines_y2013 .guidelines_chart .major_major{width:182px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .major_practice{width:118px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .major_nonpractice{width:118px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .major_people{width:119px}
#guidelines_major{padding-bottom:80px}
#guidelines_y2013 #guidelines_practice .guidelines_content{margin-top:45px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_subject{padding-bottom:24px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_first{float:left;width:580px;padding-bottom:45px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_first .guidelines_subject{padding-bottom:4px}
#guidelines_y2013 #guidelines_practice .guidelines_desc{padding-bottom:10px}
#guidelines_y2013 .guidelines_content .guidelines_point_desc{float:left;width:580px}
#guidelines_y2013 .guidelines_content .point_desc{float:left;width:570px;padding-left:10px;background-image:url(../img/content/admission/guidelines/point.png);background-repeat:no-repeat}
#guidelines_y2013 .guidelines_content .guidelines_object{float:left;width:580px}
#guidelines_y2013 .guidelines_content .guidelines_object .object_title{float:left;width:580px;font-size:14px;font-weight:bold}
#guidelines_y2013 .guidelines_content .guidelines_object .object_title em{color:#f26522;font-size:13px;text-decoration:none}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_object{padding-bottom:16px}
#guidelines_y2013 .guidelines_chart .evaluation_step{width:184px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .evaluation_note{width:375px}
#guidelines_y2013 #guidelines_practice .guidelines_chart{padding-bottom:5px}
#guidelines_y2013 #guidelines_practice .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_practice .guidelines_chart .chart_content .column .empty{background-image:url(../img/content/admission/guidelines/practice_empty.png);background-repeat:no-repeat}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_step{float:left;width:580px;padding-bottom:20px}
#practice_chart1 .column1>div{height:20px}
#practice_chart1 .column2>div{height:40px} 
#practice_chart1 .column3>div{height:20px}
#practice_chart2 .column1>div{height:40px}
#practice_chart3 .column1>div{height:20px}
#practice_chart4 .column1>div{height:20px}
#guidelines_practice{padding-bottom:60px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content{margin-top:45px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_subject{padding-bottom:24px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_first .guidelines_subject{padding-bottom:4px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_first>.guidelines_desc{padding-bottom:22px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_first .guidelines_object{padding-bottom:16px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_second{float:left;width:580px;margin-top:8px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_second .guidelines_object{padding-bottom:16px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 .guidelines_chart .apply_level{width:184px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .apply_right{width:375px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_chart{padding-bottom:5px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_first .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:22px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_second .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_chart .chart_content .column .empty{background-image:url(../img/content/admission/guidelines/practice_empty.png);background-repeat:no-repeat}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_step{float:left;width:580px;padding-bottom:20px}
#nonpractice_chart1_c1 .column1>div{height:120px}
#nonpractice_chart1_c1 .column2>div{height:100px} 
#nonpractice_chart1_c2 .column1>div{height:80px}
#nonpractice_chart1_c3 .column1>div{height:20px}
#nonpractice_chart1_c3 .column2>div{height:40px}
#nonpractice_chart1_c3 .column3>div{height:40px}
#nonpractice_chart1_c3 .column4>div{height:20px}
#nonpractice_chart1_c4 .column1>div{height:20px}
#nonpractice_chart1_c5 .column1>div{height:20px}
#nonpractice_chart1_c6 .column1>div{height:20px}
#nonpractice_chart1_c7 .column1>div{height:20px}
#guidelines_nonpractice{padding-bottom:60px}
#guidelines_y2013 #guidelines_screening .guidelines_content{margin-top:23px}
#guidelines_y2013 .guidelines_content .guidelines_point_desc .em{color:#f26522}
#guidelines_y2013 #guidelines_screening .guidelines_content .guidelines_point_desc{padding-bottom:22px}
#guidelines_y2013 #guidelines_screening .guidelines_content .guidelines_chart{margin-top:4px}
#guidelines_y2013 #guidelines_screening .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 .guidelines_chart .submit_article{width:252px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .submit_form{width:102px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .submit_screening{width:194px}
#guidelines_y2013 .guidelines_chart .chart_sub_title>div>div{float:left;height:25px;line-height:25px}
#guidelines_y2013 .guidelines_chart .submit_screening .practice_screening{width:94px;border-right:solid 1px #e3e3e3;color:#333}
#guidelines_y2013 .guidelines_chart .submit_screening .nonpractice_screening{width:89px;margin-left:10px}
#guidelines_y2013 .guidelines_chart .chart_sub_title{float:left;width:580px;height:25px;background-color:#e8e8e8;font-size:15px;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .chart_sub_title>div{float:left;height:25px;margin-left:10px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_article{height:20px;padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_form{height:20px;padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_screening>div{float:left;height:20px;padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_screening>div>div{float:left;width:11px;height:14px;background-repeat:no-repeat}
#guidelines_y2013 #guidelines_screening .guidelines_chart .essential{background-image:url(../img/content/admission/guidelines/essential.png)}
#guidelines_y2013 #guidelines_screening .guidelines_chart .need{background-image:url(../img/content/admission/guidelines/need.png)}
#guidelines_y2013 #guidelines_screening .guidelines_chart .choice{background-image:url(../img/content/admission/guidelines/choice.png)}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_annotation{float:left;width:580px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_annotation>div{float:left;margin-top:6px;padding-bottom:32px;padding-right:20px;padding-left:15px;background-repeat:no-repeat}
#guidelines_screening{padding-bottom:58px}
#guidelines_y2013 #guidelines_level .guidelines_content{margin-top:23px}
#guidelines_y2013 #guidelines_level .guidelines_content .guidelines_point_desc{padding-bottom:22px}
#guidelines_y2013 #guidelines_level .guidelines_content .guidelines_chart{margin-top:4px}
#guidelines_y2013 #guidelines_level .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 .guidelines_chart .applicant_level{width:201px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .applicant_document{width:358px}
#guidelines_y2013 #guidelines_level .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_level .guidelines_chart{padding-bottom:35px}
#level_chart .column1>div{height:40px}
#level_chart .column2>div{height:20px}
#level_chart .column3>div{height:40px}
#level_chart .column4>div{height:20px}
#level_chart .column5>div{height:20px}
#level_chart .column6>div{height:20px}
#level_chart .column7>div{height:20px}
#level_chart .column8>div{height:40px}
#level_chart .column9>div{height:20px}
#guidelines_level{padding-bottom:58px}

#pick_milestone .summary{margin-top:80px;margin-left:-1px}
#pick_milestone .desc{padding-bottom:10px;}
#pick_milestone .tbl_pick_milestone{width:580px;margin:98px 0 10px;border-top:2px solid #000}
#pick_milestone .tbl_pick_milestone thead th{font-size:16px;line-height:36px;border-bottom:1px solid #f0f0f0}
#pick_milestone .tbl_pick_milestone tbody th{width:160px;padding-left:31px;text-align:left;font-weight:bold;border-bottom:1px solid #f0f0f0}
#pick_milestone .tbl_pick_milestone tbody td{padding-left:90px;line-height:29px;border-bottom:1px solid #f0f0f0}
#pick_milestone .pick_milestone_dsc{padding-left:4px;text-indent:-6px;color:#777}
#pick_evaluation_column .ec_2013r{padding-bottom:13px}
#pick_evaluation_column .ec_2013r .step_title .t2{padding-left:5px}
#pick_evaluation_column .ec_2013r .chart_body{border-top:2px solid #000}
#pick_evaluation_column .ec_2013r .chart_body .step_content .desc .compare{font-weight:normal}
#pick_evaluation_column .ec_2013r .chart_body .step_content .desc .compare .p_chart{width:auto;padding-left:4px;}
#pick_evaluation_column .ec_2013r .chart_body .step1 .evaluation_method .compare span,
#pick_evaluation_column .ec_2013r .chart_body .step2 .evaluation_method .compare span,
#pick_evaluation_column .ec_2013r .chart_body .step3 .evaluation_method .compare span{height:25px;padding-bottom:0}
#pick_paper .summary{margin-top:80px;margin-left:-1px}
#pick_paper .desc{padding-bottom:10px;}
#pick_paper .tbl_pick_paper{width:580px;margin:98px 0 10px;border-top:2px solid #000}
#pick_paper .tbl_pick_paper thead th{font-size:16px;line-height:36px;border-bottom:1px solid #f0f0f0}
#pick_paper .tbl_pick_paper tbody th{width:160px;padding-left:31px;text-align:left;font-weight:bold;border-bottom:1px solid #f0f0f0}
#pick_paper .tbl_pick_paper tbody td{padding-left:90px;line-height:29px;border-bottom:1px solid #f0f0f0}
#pick_paper .pick_paper_dsc{padding-left:4px;text-indent:-6px;color:#999}

#movie_sum .tbl_mv_2013r{width:580px}

.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}
.tbl_pick_milestone{}

/* 20121016 정시모집 요강안내 */
.item_wrap a.spr{display:inline-block;overflow:hidden;width:390px;height:42px;margin-bottom:10px;background:url(../img/content/admission/pick/btn_movdndl3.png) no-repeat;line-height:999px;vertical-align:middle}
.item_wrap a.spr_v2{display:inline-block;overflow:hidden;width:390px;height:42px;margin-bottom:10px;background:url(../img/content/admission/pick/btn_movdndl3_1.png) no-repeat;line-height:999px;vertical-align:middle}
.item_wrap a.spr_btn1{margin-top:15px;background-position:0 0}
.item_wrap a.spr_btn2{background-position:0 -50px}
.item_wrap a.spr_btn3{background-position:0 -100px}

/* 20130510 2014수시모집*/
.noti_orange{color:#f26522 !important}
.result_txt{margin:86px 0 40px}
.result_graph{overflow:hidden;zoom:1}
.result_graph li{float:left;overflow:hidden;margin-bottom:35px;font-size:0;text-indent:-999px}
.result_graph li ol{width:290px;height:290px;background:url(../img/content/admission/pick/summary2014_graph.png) no-repeat}
.result_graph ol.graph1{background-position:0 0}
.result_graph ol.graph2{background-position:0 -350px}
.result_graph ol.graph3{background-position:0 -700px}
.result_graph ol.graph4{background-position:0 -1050px}

