@charset "utf-8";

/* brochure */
#header{position:fixed;display:block;float:left;height:170px}
#next_logo_small{display:none;position:absolute;z-index:900;top:20px;left:30px;width:166px;height:41px}
#next_logo_small a{position:relative;float:left;width:166px;height:41px}
#next_logo_small a img{float:left;width:166px;height:41px}
input{line-height:18px}
#brochure{overflow:hidden;position:relative;display:block;top:0;left:0;float:left;width:100%;margin-top:170px}
#brochure a{cursor:pointer}
#brochure_wrap{display:block;top:0;left:0;position:relative;width:1020px;margin:0 auto}
#brochure_container{float:left;width:100%}
#brochure_indicator{float:left;width:960px;height:77px;margin-left:30px}
#brochure_column{float:left;width:960px;height:230px;margin-left:30px}
#student{float:left;width:391px;height:100%;margin-left:102px;border-right:solid 1px #4e4e4e}
.thumb{float:left;width:165px;height:232px}
#student .title{float:left;width:212px;height:126px;margin-top:9px;margin-left:14px}
/*#student .btn{float:left;width:209px;height:60px;margin-top:37px;margin-left:17px}*/
#student .btn{float:left;width:209px;height:30px;margin-top:68px;margin-left:17px}
.pdf{float:left;width:163px;height:28px;background-image:url(../img/brochure/pdf_down_btn.png)}
.post{float:left;width:163px;height:28px;margin-top:4px;background-image:url(../img/brochure/post_btn.png)}
#faculty{float:left;width:437px;height:100%;margin-left:28px}
#faculty .title{float:left;width:212px;height:126px;margin-top:10px;margin-left:15px}
#faculty .btn{float:left;width:209px;height:30px;margin-top:69px;margin-left:17px}
#post{position:relative;display:none;top:0;left:0;float:left;width:100%;height:485px;margin-top:15px;padding-bottom:65px;background-color:#fff}
#post_popup_wrap{display:none;position:absolute;z-index:100;top:0;left:0;width:100%;height:500px;margin-top:-15px;background-image:url(../img/brochure/deem.png)}
#post_popup_container{display:block;top:0;left:0;position:relative;width:1020px;margin:0 auto}
#post_popup{position:relative;float:left;width:279px;height:151px;margin-top:183px;margin-left:371px;background-image:url(../img/brochure/bg.png)}
#post_popup .popup_alert{float:left;width:270px;margin-top:46px;text-align:center;line-height:18px}
#post_popup #confirm_btn{position:absolute;top:76px;left:103px;width:64px;height:22px;background-image:url(../img/brochure/confirm.jpg)}
#post_wrap{display:block;top:0;left:0;position:relative;width:1020px;margin:0 auto}
#post_arrow{position:absolute;width:18px;height:15px;top:-15px;left:147px;background-image:url(../img/brochure/arrow.png)}
#post_column_left{float:left;width:330px;margin-left:30px}
#post_column_right{float:left;width:580px;margin-left:50px;margin-right:30px}
#post_title{float:left;margin-top:75px}
#post_form{float:left;width:455px;margin-top:75px}
#input_area{float:left;width:455px;height:307px}
#sort{float:left;width:455px;height:18px;margin-bottom:27px}
#sort .sort{overflow:hidden;float:left;width:77px;height:12px;margin-top:2px;margin-right:5px;background-image:url(../img/brochure/sort.jpg);text-indent:-9999px}
#sort .sort_radio{float:left}
#sort .sort_radio input.radio {float:left;position:relative;top:-1px;margin:3px 3px 0 0}
#sort .sort_radio label{float:left;margin-right:19px;line-height:18px}
#name{float:left;width:455px;height:24px;margin-bottom:11px}
#name .name{overflow:hidden;float:left;width:77px;height:12px;margin-top:11px;margin-right:5px;background-image:url(../img/brochure/name.jpg);text-indent:-9999px}
#name input{float:left;width:158px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#post_number{float:left;width:455px;height:24px;margin-bottom:11px}
#post_number .post_number{overflow:hidden;float:left;width:77px;height:12px;margin-top:11px;margin-right:5px;background-image:url(../img/brochure/post_number.jpg);text-indent:-9999px}
#post_number input{float:left;height:18px}
.line{float:left;width:13px;height:20px;background-image:url(../img/brochure/line.jpg)}
#post1{width:38px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#post2{width:38px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#post_number #post_search{float:left;width:57px;height:22px;margin:0 0 1px 4px}
#address{float:left;width:455px;height:58px;margin-bottom:12px}
#address .address{overflow:hidden;float:left;width:77px;height:12px;margin-top:11px;margin-right:5px;background-image:url(../img/brochure/address.jpg);text-indent:-9999px}
#address_input{float:left;width:342px;height:100%}
#address input{float:left;height:18px}
#address1{float:left;width:181px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#address2{float:left;width:334px;;height:18px;margin-top:13px;padding:2px 3px 0;border: 1px solid #c5c5c5}
.notice_detail{float:left;width:145px;height:20px;margin:1px 0 1px 0;background-image:url(../img/brochure/detail.jpg)}
#tel{float:left;width:455px;height:24px;margin-bottom:11px}
#tel .tel{overflow:hidden;float:left;width:77px;height:12px;margin-top:11px;margin-right:5px;background-image:url(../img/brochure/tel.jpg);text-indent:-9999px}
#tel1{float:left;width:46px;height:22px;border: 1px solid #c5c5c5}
#tel2{float:left;width:38px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#tel3{float:left;width:38px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#mobile{float:left;width:455px;height:24px;margin-bottom:11px}
#mobile1{float:left;width:46px;height:22px;border: 1px solid #c5c5c5}
#mobile2{float:left;width:38px;height:18px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#mobile3{float:left;width:38px;height:18px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#mobile .mobile{overflow:hidden;float:left;width:77px;height:12px;margin-top:11px;margin-right:5px;background-image:url(../img/brochure/mobile.jpg);text-indent:-9999px}
#email{float:left;width:455px;height:24px;margin-bottom:12px}
#email .email{overflow:hidden;float:left;width:77px;height:12px;margin-top:11px;margin-right:5px;background-image:url(../img/brochure/email.jpg);text-indent:-9999px}
.email_at{float:left;width:17px;height:20px;background-image:url(../img/brochure/email_at.jpg)}
#email1{float:left;width:97px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#email2{float:left;width:97px;height:18px;padding:2px 3px 0;border: 1px solid #c5c5c5}
#email_list{float:left;width:111px;height:22px;margin-left:4px;border: 1px solid #c5c5c5}
#btn_area{float:left;width:373px;height:28px;padding-left:82px}
#application{float:left;width:124px;height:28px;margin-right:8px}
#cancel{float:left;width:124px;height:28px}
#close{float:left;width:26px;height:26px;background-image:url(../img/brochure/close.jpg);margin-top:76px;margin-left:99px;cursor:pointer}