@charset "utf-8";

/* community */
#community .indicator_container{height:187px;padding-top:70px}
#community .indicator_title{margin-left:-1px}
.board_list{float:left;width:100%;padding-bottom:30px}
.list_container{float:left;width:100%;border-top:solid 3px #3b3b3b}
.list_container:after{display:block;clear:both;content:""}
.list_view{float:left;width:100%;margin-top:15px}
.list_view li{float:left;width:100%;height:74px;padding-top:10px;border-bottom:solid 1px #ccc}
.list_view li .info{float:left;width:100%;height:64px;cursor:pointer}
.list_view li .date_container{float:left;width:84px;height:100%;background-color:#3b3b3b}
.list_view li .date_container a{position:relative;float:left;top:0;left:0;width:100%;height:100%;color:#fff;font-weight:bold}
.list_view li .thumb_container{float:left;width:84px;height:100%}
.list_view li .thumb_container div{position:relative;float:left;top:0;left:0;width:100%;height:100%}
.list_view li>div p{position:absolute;top:0;left:0}
.list_view li>div p.out{width:84px;height:64px;background-color:#3b3b3b}
.list_view li>div p.over{display:none;width:84px;height:64px;background-color:#f7ae00}
.list_view li>div p.date{position:relative;float:left;width:100%;padding-top:21px;text-align:center;line-height:20px;word-spacing:-1px}
.list_view li .name{float:left;width:167px;height:100%;margin-left:9px;}
.list_view li .name div{float:left;padding-top:2px;color:#7a7a7a}
.list_view li .name2{float:left;width:237px;height:45px;margin-left:9px;}
.list_view li .name2 div{float:left;overflow:hidden;width:237px;height:45px;padding-top:2px;white-space:nowrap;text-overflow:ellipsis}
#notice_board .list_view li .name a{color:#666}
#letter_board .list_view li .name a{color:#777}
#square_board .list_view li .name a{color:#666}
.list_view li .sort{float:left;width:70px;height:100%}
.list_view li .sort span{float:right;color:#777;padding-top:2px;line-height:20px;word-spacing:-1px;text-align:right}
.list_view li .sort2{float:left;width:237px;height:17px}
.list_view li .sort2 span{float:right;color:#ccc;line-height:17px;word-spacing:-1px;text-align:right}
#community .list_view li div.selected{cursor:default}
#community .list_view li div.selected .date_container{background-color:#f7ae00}
#community .list_view li div.selected .date_container div{font-weight:bold}
#community .list_view li div.selected p.over{display:block}
#community .list_view li div.selected .name div,#community .list_view li div.selected .name2 div{font-weight:bold;color:#957105}
#community .list_view li div.selected .sort span,#community .list_view li div.selected .sort2 span{font-weight:bold;color:#957105}
.list_nav{overflow:hidden;float:left;width:100%;height:20px;margin-top:30px}
.list_order_view{overflow:hidden;float:left;width:216px;height:20px}
.list_order{float:left;height:20px;margin-left:-10px}
.list_order li{float:left;width:27px;height:20px}
.list_order li a{display:block;float:left;width:17px;padding-left:10px;font-weight:bold;color:#adadad;line-height:20px;text-align:left;cursor:pointer}
.list_order li a.selected{color:#000;cursor:default}
.list_order li a.select{color:#000}
.list_paddle{float:right;width:113px;height:100%;margin-left:1px}
.list_paddle li{float:left;width:54px;height:100%}
.list_paddle li.next{margin-left:5px}
.list_paddle li a{overflow:hidden;float:left;width:54px;height:100%;text-indent:-9999px}
.list_paddle li.prev a{background-image:url(../img/ui/board/prev.jpg)}
.list_paddle li.next a{background-image:url(../img/ui/board/next.jpg)}
.board_column{float:left;width:100%;padding-top:80px;padding-bottom:80px}
.board_title{float:left;width:100%;height:174px;border-top:solid 3px #3b3b3b;border-bottom:solid 3px #3b3b3b}
.board_title .title{float:left;width:500px;margin-left:-3px;font-size:40px;font-weight:bold;font-family:NanumGothicExtraBold,나눔고딕;color:#333;line-height:42px;word-spacing:-2px}
.board_title .col1{height:42px;margin-top:66px;margin-bottom:66px}
.board_title .col2{height:84px;margin-top:45px;margin-bottom:45px}
.board_title .col3{height:126px;margin-top:24px;margin-bottom:24px}
.board_title .sort{float:right;width:80px;height:98px;margin-top:2px}
.board_title .sort_category{float:right;width:100%;height:20px;line-height:20px;text-align:right;font-weight:bold;color:#333}
.board_title .sort_info{float:right;width:100%;height:20px;line-height:20px;text-align:right;color:#333}
.board_title .sort_episode{float:right;width:100%;height:20px;line-height:20px;text-align:right;font-weight:bold;color:#777}
.board_desc{float:left;width:100%}
.post_view{position:relative;float:left;width:100%;margin-top:21px;line-height:18px;word-spacing:0}
.post_view>.paragraph_content{float:left;width:580px}
.profile,.celebrity,.post_view .desc,.post_view .comment,.post_view .post_title{float:left;width:580px;word-spacing:1px}
.post_view>.celebrity_photo{float:left;width:580px}
.post_view img{float:left}
#post_episode1 .celebrity_introduce{margin-top:35px;margin-bottom:35px}
#post_episode1 .profile{border-top:solid 2px #3b3b3b;border-bottom:solid 3px #3b3b3b}
#post_episode1 .profile .post_column_left{float:left;width:305px}
#post_episode1 .profile .post_column_right{float:right;width:275px}
.celebrity_name{float:left;width:100%;margin-top:20px}
.celebrity_name img{margin-left:30px}
.person_search{float:left;margin-top:16px;width:100%}
.person_search img{margin-left:30px}
#post_episode1 .profile .post_column_right .post_title{float:left;margin-top:20px;width:100%}
#post_episode1 .profile .post_column_right .post_title img{margin-left:1px}
#post_episode1 .profile .post_column_right .post_desc{float:left;margin-top:6px;width:100%;padding-bottom:16px;line-height:20px;word-spacing:-1px}
#post_episode1 #post1 .post_title img{margin-top:53px;margin-left:3px}
#post_episode1 #post1 .desc1{float:left;width:510px;margin-left:70px;padding-top:34px;padding-bottom:22px;word-spacing:1px;color:#666}
#post_episode1 #post1 .comment1 img{float:right;margin-top:20px;margin-bottom:25px}
#post_episode1 #post1 .comment2 img{float:left;margin-top:20px;margin-bottom:25px}
#post_episode1 #post1 .photo1{float:left;width:580px;margin-top:20px}
#post_episode1 #post2 .post_title img{margin-top:61px}
#post_episode1 #post2 .desc1{float:left;width:510px;margin-left:70px;padding-top:20px;padding-bottom:20px;word-spacing:1px;color:#666}
#post_episode1 #post2 .comment1 img{float:right;margin-top:20px;padding-bottom:25px}
#post_episode1 #post2 .comment2 img{float:left;margin-top:20px;padding-bottom:25px}
#post_episode1 #post2 .photo1_v1{overflow:hidden;width:580px;zoom:1}
#post_episode1 #post2 .photo1_v1 img{margin-top:27px}
#post_episode1 #post3 .post_title img{margin-top:75px}
#post_episode1 #post3 .post_img{position:absolute;top:0;left:0;width:580px}
#post_episode1 #post3 .post_img img{float:right;margin-right:16px;margin-top:40px}
#post_episode1 #post3 .desc1{float:left;width:510px;margin-left:70px;padding-top:20px;padding-bottom:32px;word-spacing:1px;color:#666}
#post_episode1 #post3 .photo1{float:left;width:580px;margin-top:15px;margin-bottom:20px}
#post_episode1 #post4 .post_title img{margin-top:60px}
#post_episode1 #post4 .desc1{float:left;width:510px;margin-left:70px;margin-right:10px;padding-top:22px;padding-bottom:25px;word-spacing:1px;color:#666}
#post_episode1 #post4 .desc3{float:left;width:510px;margin-left:70px;margin-right:10px;padding-top:22px;padding-bottom:25px;word-spacing:1px;color:#666}
#post_episode1 #post4 .comment1 img{float:left;margin-top:2px;padding-bottom:25px}
#post_episode1 #post4 .comment2 img{float:left;margin-top:24px;padding-bottom:25px}
.board_desc .next{float:left;width:55px;height:27px;padding-top:15px}
.board_desc .next img{float:left;width:55px;height:27px}
.pb60{padding-bottom:60px !important}
.mt27{margin-top:27px !important}
.mb18{margin-bottom:18px !important}