@charset "utf-8";

/* content */
/* top */
#top_wrap{display:block;float:left;position:relative;left:0;width:100%}
.top_up{bottom:130px}
.top_m_up{bottom:70px}
.top_down{top:680px}
.top_o_down{top:80px}
#top_container{position:relative;width:1020px;margin:0 auto}
#top{display:block;z-index:800;width:23px;height:57px;background-image:url(../img/ui/common/top.jpg);cursor:pointer;text-indent:-9999px}
.top_right{position:absolute;right:-23px}
.top_ver_right{position:fixed;right:10px}
.top_m_right{position:absolute;right:10px}
/* Container */
#container{display:none;float:left;width:100%}
#content{display:block;float:left;position:relative;width:100%}
.next_item{display:block;float:left;width:100%;padding-bottom:65px}
.items{display:inline-block;float:left;position:relative;width:100%;background-color:#fff}
/* overview common */
.overview_section{display:block;overflow:hidden;float:left;position:relative;width:100%;height:600px}
.overview_image_wrap{position:absolute;top:0;left:0;width:100%;height:600px;text-align:left}
.overview_wrap{position:relative;top:0;left:0;width:100%;height:100%}
.overview{position:relative;width:1020px;height:100%;margin:0 auto}
.overview>.indicator_wrap{display:block;position:absolute;top:0;left:0}
.overview>.overview_comment{display:block;position:absolute;top:0;left:0}
.overview>.indicator_wrap>.indicator_container{display:block;float:left;width:330px;/*margin-top:150px;*/margin-top:100px;margin-left:30px}
.overview>.overview_comment>.comment{display:block;float:left}
/* items common */
.desc{color:#555}
.item_wrap{overflow:hidden;display:block;float:left;position:relative;top:0;left:0;width:100%}
.item_indicator{position:absolute;top:0;left:0;width:100%}
.item_indicator>.indicator_wrap{float:left;position:relative;width:100%}
.item_indicator>.indicator_wrap>.indicator_container{display:block;position:relative;float:left;width:330px;margin-top:79px}
.indicator{display:block;float:left;height:18px}
.indicator_title{float:left;margin-top:7px;margin-left:-2px}
.image_wrap{position:absolute;top:0;left:0;width:100%;text-align:center}
.item_section{position:relative;width:1020px;margin:0 auto}
.item_section>.column_left{display:block;position:relative;float:left;width:330px;height:100%;margin-left:30px}
.item_section>.column_right{display:block;position:relative;float:right;width:580px;height:100%;margin-right:30px;margin-left:50px}
.item_section>.column_right input[type=text]{width:173px !important;font-size:11px;color:#999}
.related_section .column_right{width:610px;margin-right:0}
#content .summary,#content .desc,#content .paragraph,#content .paragraph_content{display:block;position:relative;float:left}
.column_title{position:absolute;top:0;left:0;margin-top:75px;margin-left:-2px}
.end_line_wrap{display:block;position:relative;width:1020px;margin:0 auto}
.end_line{overflow:hidden;display:block;float:left;width:2000px;height:4px;margin-top:-4px;margin-left:410px;background-color:#333;text-indent:-9999px}
.related_section{display:block;position:relative;float:left;width:100%;padding-bottom:70px}
.related_indicator{float:left}
.related_nav{display:block;float:left}
.related_nav li{float:left;width:192px;height:280px;margin-right:10px;margin-bottom:10px}
.related_nav li a{cursor:pointer}
.related{position:relative;float:left;width:192px;height:280px;background-color:#fff}
.related>.shadow{overflow:hidden;position:absolute;top:-1px;left:-2px;width:198px;height:286px;background-image:url(../img/shadow/related.png);text-indent:-9999px}
.related>.related_thumb{float:left;width:192px;height:165px}
.related>.related_thumb>img{float:left;width:192px;height:165px}
.related>.related_info{float:left;width:192px;height:115px}
.related_info>.related_title{float:right;width:172px;height:14px;margin-top:10px;margin-right:10px;color:#000;font-weight:bold;font-size:14px;text-align:right;line-height:14px}
.related_info>.related_desc{float:left;width:172px;margin-top:23px;margin-left:10px;margin-right:10px;color:#555;font-size:12px;line-height:17px;word-spacing:-1px}
.related_info>.col1{margin-top:57px}
.related_info>.col2{margin-top:40px}
.related_info>.col3{margin-top:23px}
.related_info>.col4{margin-top:6px}
#util_item{display:block;float:left;padding-top:80px;padding-bottom:60px}
.share_indicator{float:left;margin-left:-1px}
.comment_indicator{float:left;margin-top:6px;margin-left:-1px}
.do_share{float:left;width:582px;height:53px;padding-bottom:46px}
.do_share>li{float:left;width:194px;height:53px}
.do_share>li>a{float:left;width:194px;height:53px;cursor:pointer}
.do_share .share_icon{float:left;width:53px;height:53px}
.do_share .share_icon img{float:left;width:53px;height:53px}
.do_share .share_info{overflow:hidden;position:relative;float:left;width:140px;height:51px;border-top:solid 1px #d3d3d3;border-bottom:solid 1px #d3d3d3;border-right:solid 1px #d3d3d3;background-image:url(../img/ui/sns/share/bg.jpg)}
.do_share .share_over{display:none;position:absolute;top:0;left:0;width:140px;height:51px}
.do_share .share_desc{position:relative;float:left;top:0;left:0;width:140px;height:51px;font-weight:bold}
.do_share .share_send{float:left;width:47px;height:28px;margin-left:13px;margin-top:12px;margin-bottom:11px;color:#3b3b3b;font-size:11px;line-height:14px}
.do_share .share_count{float:right;width:70px;height:20px;margin-top:20px;margin-right:10px;margin-bottom:11px;font-size:16px;text-align:right;word-spacing:-4px}
.do_share>li.me2day .share_over{background-image:url(../img/ui/sns/share/me2day_bg.jpg)}
.do_share>li.twitter .share_over{background-image:url(../img/ui/sns/share/twitter_bg.jpg)}
.do_share>li.facebook .share_over{background-image:url(../img/ui/sns/share/facebook_bg.jpg)}
.do_share>li.me2day .share_send em{color:#5b449b}
.do_share>li.twitter .share_send em{color:#23c0e2}
.do_share>li.facebook .share_send em{color:#35548e}
.do_share>li.me2day .share_count{color:#5b449b}
.do_share>li.twitter .share_count{color:#23c0e2}
.do_share>li.facebook .share_count{color:#35548e}
.do_share>li.me2day a.select .share_info{border-color:#5b449b}
.do_share>li.twitter a.select .share_info{border-color:#23c0e2}
.do_share>li.facebook a.select .share_info{border-color:#35548e}
#content .do_share a.select .share_send{color:#fff}
#content .do_share a.select .share_send em{color:#fff}
#content .do_share a.select .share_count{color:#fff}
.do_comment{float:left;width:580px}
.comment_input_box{float:left;width:580px;padding-bottom:35px}
.sns_login_info{float:left;width:580px;height:31px}
.sns_login_info ul{float:left;width:94px;height:31px}
.sns_login_info ul>li{float:left;width:30px;height:30px;border-top:solid 1px #d3d3d3;border-left:solid 1px #d3d3d3}
.sns_login_info ul>li.facebook{border-right:solid 1px #d3d3d3}
.sns_login_info ul>li a{float:left;width:30px;height:30px;background-position:-2px -2px}
.sns_login_info ul>li.me2day a{background-image:url(../img/ui/sns/comment/me2day_log.png)}
.sns_login_info ul>li.twitter a{background-image:url(../img/ui/sns/comment/twitter_log.png)}
.sns_login_info ul>li.facebook a{background-image:url(../img/ui/sns/comment/facebook_log.png)}
.sns_login_info ul>li a.log_out{background-position:-2px -2px}
.sns_login_info ul>li a.log_off{background-position:-2px -34px}
.sns_login_info ul>li a.log_on{background-position:-2px -66px}
.sns_login_info .user_name{float:left;width:486px;height:31px}
.sns_login_info .user_name span{float:left;margin-left:8px;margin-top:6px;font-weight:bold;text-transform:uppercase}
.comment_form{display:block;float:left;width:580px;min-height:70px}
.comment_form .comment_message_box{float:left;width:509px;border:solid 1px #d3d3d3}
.comment_form .comment_send{float:left;width:68px;height:68px;border-top:solid 1px #d3d3d3;border-bottom:solid 1px #d3d3d3;border-right:solid 1px #d3d3d3}
.comment_form input{float:left;width:68px;height:68px;border:0;background-color:transparent;color:#fff;font-weight:bold;text-align:center;cursor:pointer}
.comment_user{float:left;padding:12px;width:44px;height:44px}
.user_thumbnail{float:left;width:44px;height:44px}
.user_thumbnail img{float:left;width:38px;height:38px;padding:3px}
.comment_message{float:left;width:433px;min-height:54px;padding-top:7px;padding-bottom:7px;}
.comment_message .mensions{overflow:hidden;float:left;border:0;width:433px;min-height:54px;padding-right:4px;padding-left:4px;background-color:transparent;resize:none}
.do_comment>div.me2day .user_name{color:#5b449b}
.do_comment>div.me2day .comment_send{background-color:#5b449b}
.do_comment>div.me2day .user_thumbnail{background-color:#5b449b}
.do_comment>div.twitter .user_name{color:#23c0e2}
.do_comment>div.twitter .comment_send{background-color:#23c0e2}
.do_comment>div.twitter .user_thumbnail{background-color:#23c0e2}
.do_comment>div.facebook .user_name{color:#35548e}
.do_comment>div.facebook .comment_send{background-color:#35548e}
.do_comment>div.facebook .user_thumbnail{background-color:#35548e}
.comment_reply_list{float:left;width:580px}
.comment_count{float:left;width:580px;padding-bottom:6px;font-size:15px;font-weight:bold}
.comment_reply_wrap{float:left;width:580px}
.comment_reply_wrap li{float:left;width:580px;border-top:solid 1px #d3d3d3;padding-top:20px;padding-bottom:20px}
.comment_reply_wrap li>.reply_content{position:relative;float:left;width:580px}
.reply_thumbnail{float:left;width:38px;height:38px;margin-right:13px;margin-left:13px;padding:3px}
.reply_thumbnail img{float:left;width:38px;height:38px}
.reply_writed{float:left;width:500px;margin-right:10px}
.reply_writed .reply_info{float:left;width:498px;height:17px;margin-left:1px;line-height:17px;}
.reply_writed .reply_info a{float:left;height:17px;padding-left:20px;background-repeat:no-repeat}
.reply_writed .reply_info .date{float:left;height:17px;margin-left:4px}
.reply_writed .reply_count{position:absolute;top:-3px;right:12px;height:17px;text-align:right;line-height:17px;color:#999;cursor:pointer}
.reply_text{float:left;width:500px;margin-top:2px;line-height:18px}
.comment_reply_wrap>li.me2day .reply_thumbnail{background-color:#5b449b}
.comment_reply_wrap>li.me2day .reply_info{}
.comment_reply_wrap>li.me2day .reply_info a{background-image:url(../img/ui/sns/comment/me2day_reply.jpg);color:#5b449b}
.comment_reply_wrap>li.me2day .reply_info .date{color:#5b449b}
.comment_reply_wrap>li.twitter .reply_thumbnail{background-color:#23c0e2}
.comment_reply_wrap>li.twitter .reply_info{}
.comment_reply_wrap>li.twitter .reply_info a{background-image:url(../img/ui/sns/comment/twitter_reply.jpg);color:#23c0e2}
.comment_reply_wrap>li.twitter .reply_info .date{color:#23c0e2}
.comment_reply_wrap>li.facebook .reply_thumbnail{background-color:#35548e}
.comment_reply_wrap>li.facebook .reply_info{}
.comment_reply_wrap>li.facebook .reply_info a{background-image:url(../img/ui/sns/comment/facebook_reply.jpg);color:#35548e}
.comment_reply_wrap>li.facebook .reply_info .date{color:#35548e}

