@charset "utf-8";

/* curriculum */
#curriculum .overview_section{background-color:#fff}
#feature_overview .comment{margin-top:320px;margin-left:31px}
#feature_curriculum .summary{margin-top:91px;margin-left:-1px}
#feature_curriculum .column_title{margin-left:-1px}
#feature_curriculum_column{float:left;width:420px;padding-top:88px;padding-bottom:44px}
#feature_curriculum .desc .paragraph{position:relative}
#feature_curriculum .desc .paragraph>.line{position:absolute;right:-160px}
#feature_curriculum .desc .paragraph>.figure{position:absolute;left:-322px}
#feature_curriculum .desc .paragraph>.paragraph_title{display:block;float:left;width:420px;padding-bottom:4px;color:#333;font-weight:bold;font-size:14px;line-height:20px;word-spacing:-2px}
#feature_curriculum .desc .paragraph>.paragraph_content{display:block;float:left;width:420px;padding-bottom:32px}
#feature_point>.paragraph_content{width:580px;padding-bottom:35px}
#feature_point{margin-top:120px;padding-bottom:4px}
#feature_graph{float:left;width:580px;padding-bottom:65px}
#feature_graph img{float:left;margin-left:5px}
#software_curriculum .line{top:131px}
#software_curriculum .figure{top:94px}
#site_curriculum .line{top:229px}
#site_curriculum .figure{top:90px}
#balance_curriculum .line{top:170px}
#balance_curriculum .figure{top:52px}
#humanities_curriculum .line{top:210px}
#humanities_curriculum .figure{top:37px}
#technology_curriculum .line{top:167px}
#technology_curriculum .figure{top:-2px}
#web_overview .indicator_title{margin-left:1px}
#web_overview .comment{margin-top:250px;margin-left:28px}
#web_understand .indicator_title{margin-top:68px;margin-left:72px} 
#ui_overview .indicator_title{margin-left:0}
#ui_overview .comment{margin-top:279px;margin-left:31px}
#ui_understand .indicator_title{margin-top:65px;margin-left:66px} 
#mobile_overview .indicator_title{margin-left:0}
#mobile_overview .comment{margin-top:300px;margin-left:30px}
#mobile_understand .indicator_title{margin-top:67px;margin-left:75px}
#game_overview .indicator_title{margin-left:-2px}
#game_overview .comment{margin-top:361px;margin-left:33px}
#game_understand .indicator_title{margin-top:62px;margin-left:71px}
#server_overview .indicator_title{margin-left:-2px}
#server_overview .comment{margin-top:361px;margin-left:33px}
#server_understand .indicator_title{margin-top:61px;margin-left:73px}
.understand .column_title{margin-left:-3px}
.introduce .column_title{margin-top:60px;margin-left:-1px}
.understand .column_right .desc{width:580px}
.understand_paragraph{padding-top:282px;padding-bottom:44px}
.understand .title{display:block;float:left;width:100%;padding-bottom:3px;font-size:14px;font-weight:bold}
.understand .content_desc{display:block;float:left;width:100%;padding-bottom:32px}
.interview_info_item{overflow:visible;background-color:#f3f3f3}
.interview_item{background-color:#f3f3f3}
.introduce .indicator_title{margin-top:21px;margin-left:142px}
.introduce .column_right .desc{width:580px}
.introduce_paragraph{margin-top:106px;padding-bottom:76px}
.interview_info_item .interview_title{position:absolute;top:61px;left:1px}
.interview_info_item .interview_quest{float:left;width:330px;height:177px}
.interview_info_item .interview_profile{float:left;width:580px;padding-bottom:53px}
.interview_info_item .interviewer_name{float:left;width:280px;height:210px}
.interview_info_item .interviewer_photo{float:left;width:300px;height:210px}
.interview_info_item .interviewer_photo>img{float:right;margin-top:-55px;margin-right:-30px}
.interview_item .interview_column{display:block;float:left;position:relative;width:960px;margin-right:30px;margin-left:30px}
.interviewer_info{float:left;width:580px;padding-top:8px;word-spacing:1px;text-align:justify}
.interview_column .quest1{float:left}
.interview_column .quest2{float:left}
.interview_column .quest3{float:left}
.interview_column .quest4{float:left}
.interview_column .quest5{float:left}
.interview_column .title{float:left;font-size:14px;font-weight:bold;color:#2e8912;line-height:18px;word-spacing:-2px}
.interview_column .desc{float:left;padding-top:7px}
.interview_btn_wrap{display:block;position:relative;width:1020px;margin:0 auto}
.interview_btn{overflow:hidden;z-index:150;display:block;float:left;position:relative;width:120px;height:40px;margin-top:-20px;margin-left:870px;cursor:pointer}
.interview_btn>div{position:absolute;top:0;left:0}
.btn_default{display:none}
#web_interview_overview .interview_quest img{margin-top:121px;margin-left:-1px}
#web_interview_overview .interviewer_name img{float:left;margin-top:119px;margin-left:-1px}
#web_interview .default{height:160px}
#web_interview .deem{position:absolute;z-index:100;top:80px;left:0;width:960px;height:80px;background-image:url(../img/content/curriculum/common/deem.jpg)}
#web_interview .interview_column1{float:left;width:960px;height:513px}
#web_interview .quest_column1{float:left;width:330px;height:513px}
#web_interview .quest1{width:330px}
#web_interview .quest1 .title{width:300px}
#web_interview .quest1 .desc{width:300px;padding-bottom:89px}
#web_interview .quest1 .visual{float:left}
#web_interview .quest_column2{float:left;width:630px}
#web_interview .quest2{width:330px}
#web_interview .quest2 .title{width:300px}
#web_interview .quest2 .desc{width:300px;padding-bottom:35px}
#web_interview .quest3{width:300px}
#web_interview .quest3 .title{width:300px}
#web_interview .quest3 .desc{width:300px;padding-bottom:35px}
#web_interview .important{float:left;margin-left:50px}
#web_interview .interview_column2{float:left;width:960px}
#web_interview .quest_column3{float:left;width:660px;padding-bottom:75px}
#web_interview .quest4 .title{width:630px;margin-top:36px}
#web_interview .quest4 .desc{width:630px;padding-bottom:25px}
#web_interview .quest4 .photo{width:630px;height:357px;padding-bottom:25px}
#web_interview .quest_column4{float:left;width:300px;padding-bottom:75px}
#web_interview .quest_column4 .desc{padding-bottom:25px}
#ui_interview_overview .interview_quest img{margin-top:121px;margin-left:-1px}
#ui_interview_overview .interviewer_name img{float:left;margin-top:119px;margin-left:-1px}
#ui_interview .default{height:160px}
#ui_interview .deem{position:absolute;z-index:100;top:80px;left:0;width:960px;height:80px;background-image:url(../img/content/curriculum/common/deem.jpg)}
#ui_interview .interview_column1{float:left;width:330px;height:513px}
#ui_interview .quest_column1{float:left;width:330px;height:513px}
#ui_interview .quest1{width:330px}
#ui_interview .quest1 .title{width:300px}
#ui_interview .quest1 .desc{width:300px;padding-bottom:26px}
#ui_interview .quest4 .photo{float:left;width:299px;height:313px;padding-bottom:27px}
#ui_interview .quest4 .title{width:300px}
#ui_interview .quest4 .desc{width:300px;padding-bottom:25px}
#ui_interview .quest_column2{float:left;width:630px}
#ui_interview .important{float:left;width:630px;height:170px}
#ui_interview .quest2{width:330px}
#ui_interview .quest2 .title{width:300px}
#ui_interview .quest2 .desc{width:300px;padding-bottom:30px}
#ui_interview .quest3{width:300px}
#ui_interview .quest3 .title{width:300px}
#ui_interview .quest3 .desc{width:300px;padding-bottom:30px}
#ui_interview .interview_column2{float:left;width:630px}
#ui_interview .interview_column3{float:left;width:630px}
#ui_interview .quest_column3{float:left;width:630px;padding-bottom:23px}
#ui_interview .quest_column4{float:left;width:630px}
#ui_interview .quest_column4 .desc{padding-bottom:26px}
#ui_interview .interview_column3 .visual{float:left;width:630px;padding-bottom:50px}
#ui_interview .interview_column3 .visual img{float:left;margin-left:-204px}
#ui_interview .quest5{width:630px}
#ui_interview .quest5 .title{width:630px}
#ui_interview .quest5 .desc{width:630px}
#ui_interview .quest6{width:630px}
#ui_interview .quest6 .title{width:630px}
#ui_interview .quest6 .desc{width:630px}
#mobile_interview_overview .interview_quest{float:left;width:330px;height:177px}
#mobile_interview_overview .interview_profile{float:left;width:580px;padding-bottom:53px}
#mobile_interview_overview .interviewer_name{float:left;width:280px;height:265px}
#mobile_interview_overview .interviewer_photo{float:left;width:300px;height:265px}
#mobile_interview_overview .interviewer_photo>img{float:right;margin-top:-38px;margin-right:-30px}
#mobile_interview_overview .interview_quest img{margin-top:120px;margin-left:2px}
#mobile_interview_overview .interviewer_name img{float:left;margin-top:99px;margin-left:3px}
#mobile_interview .default{height:160px}
#mobile_interview .deem{position:absolute;z-index:100;top:80px;left:0;width:960px;height:80px;background-image:url(../img/content/curriculum/common/deem.jpg)}
#mobile_interview .interview_column1{float:left;width:960px;padding-bottom:17px}
#mobile_interview .quest1{width:330px}
#mobile_interview .quest1 .title{width:300px}
#mobile_interview .quest1 .desc{width:300px}
#mobile_interview .quest2{width:330px}
#mobile_interview .quest2 .title{width:300px}
#mobile_interview .quest2 .desc{width:300px}
#mobile_interview .quest3{width:300px}
#mobile_interview .quest3 .title{width:300px}
#mobile_interview .quest3 .desc{width:300px}
#mobile_interview .interview_column2{float:left;width:960px}
#mobile_interview .interview_column2 .photo{float:left;width:330px;height:385px}
#mobile_interview .quest_column2{float:left;width:630px}
#mobile_interview .important{float:left;width:630px;height:206px}
#mobile_interview .important img{float:left;margin-top:-1px;margin-left:8px}
#mobile_interview .quest4{float:left;width:330px}
#mobile_interview .quest4 .title{width:300px}
#mobile_interview .quest4 .desc{width:300px;padding-bottom:22px}
#mobile_interview .visual{float:left;width:300px;height:179px}
#mobile_interview .visual img{float:left;margin-top:-46px;margin-left:5px}
#mobile_interview .interview_column3{float:left;width:660px}
#mobile_interview .quest5{float:left;width:630px}
#mobile_interview .quest5 .title{width:630px}
#mobile_interview .quest5 .desc{width:630px;padding-bottom:23px}
#mobile_interview .quest6{float:left;width:630px}
#mobile_interview .quest6 .title{width:630px}
#mobile_interview .quest6 .desc{width:630px;padding-bottom:145px}
#game_interview_overview .interview_quest{float:left;width:330px}
#game_interview_overview .interview_profile{float:left;width:580px;padding-bottom:53px}
#game_interview_overview .interviewer_name{float:left;width:280px;height:266px}
#game_interview_overview .interviewer_photo{float:left;width:300px;height:266px}
#game_interview_overview .interviewer_photo>img{float:right;margin-top:-28px;margin-right:-30px}
#game_interview_overview .interview_quest img{margin-top:120px;margin-left:2px}
#game_interview_overview .interviewer_name img{float:left;margin-top:123px;margin-left:4px}
#game_interview .default{height:160px}
#game_interview .deem{position:absolute;z-index:100;top:80px;left:0;width:960px;height:80px;background-image:url(../img/content/curriculum/common/deem.jpg)}
#game_interview .interview_column1{float:left;width:330px;height:513px}
#game_interview .quest1{width:330px}
#game_interview .quest1 .title{width:300px}
#game_interview .quest1 .desc{width:300px;padding-bottom:30px}
#game_interview .visual{float:left;width:330px;padding-bottom:17px}
#game_interview .visual img{float:left}
#game_interview .quest4 .title{width:300px}
#game_interview .quest4 .desc{width:300px}
#game_interview .interview_column2{float:left;width:630px;padding-bottom:100px}
#game_interview .quest_column2{float:left;width:630px;padding-bottom:39px}
#game_interview .quest2{width:630px}
#game_interview .quest2 .title{width:630px}
#game_interview .quest2 .desc{width:630px}
#game_interview .quest_column3{float:left;width:630px}
#game_interview .quest3{width:300px}
#game_interview .quest3 .title{width:300px}
#game_interview .quest3 .desc{width:300px}
#game_interview .important{float:left;width:300px;margin-left:30px;padding-bottom:35px}
#game_interview .photo{float:left;width:630px;height:286px;padding-bottom:27px}
#game_interview .quest5{width:630px}
#game_interview .quest5 .title{width:630px}
#game_interview .quest5 .desc{width:630px;padding-bottom:23px}
#game_interview .quest6{width:630px}
#game_interview .quest6 .title{width:630px}
#game_interview .quest6 .desc{width:630px;padding-bottom:36px}
#server_interview_overview .interview_quest{float:left;width:330px}
#server_interview_overview .interview_profile{float:left;width:580px;padding-bottom:53px}
#server_interview_overview .interviewer_name{float:left;width:280px;height:226px}
#server_interview_overview .interviewer_photo{float:left;width:300px;height:226px}
#server_interview_overview .interviewer_photo>img{float:right;margin-top:-40px;margin-right:-30px}
#server_interview_overview .interview_quest img{margin-top:120px;margin-left:1px}
#server_interview_overview .interviewer_name img{float:left;margin-top:121px;margin-left:2px}
#server_interview .default{height:160px}
#server_interview .deem{position:absolute;z-index:100;top:80px;left:0;width:960px;height:80px;background-image:url(../img/content/curriculum/common/deem.jpg)}
#server_interview .interview_column1{float:left;width:660px}
#server_interview .quest_column1{float:left;width:330px}
#server_interview .quest1{width:330px}
#server_interview .quest1 .title{width:300px;padding-bottom:17px}
#server_interview .quest1 .desc{width:300px;padding-bottom:23px}
#server_interview .important{float:left;width:300px}
#server_interview .quest_column2{float:left;width:330px}
#server_interview .quest2{width:330px}
#server_interview .quest2 .title{width:300px}
#server_interview .quest2 .desc{width:300px;padding-bottom:51px}
#server_interview .quest_column3{float:left;width:660px;padding-bottom:100px}
#server_interview .quest4{width:660px}
#server_interview .quest4 .title{width:630px}
#server_interview .quest4 .desc{width:630px;padding-bottom:35px}
#server_interview .photo{float:left;width:630px;height:446px;padding-bottom:37px}
#server_interview .quest5{width:660px}
#server_interview .quest5 .title{width:630px}
#server_interview .quest5 .desc{width:630px}
#server_interview .interview_column2{float:left;width:300px}
#server_interview .quest3{width:300px}
#server_interview .quest3 .title{width:300px}
#server_interview .quest3 .desc{width:300px;padding-bottom:27px}
#server_interview .visual{float:left;width:300px;padding-bottom:18px}
#server_interview .visual img{float:left;margin-left:-1px}
#server_interview .quest6{width:300px}
#server_interview .quest6 .title{width:300px}
#server_interview .quest6 .desc{width:300px}
.chart_section .chart_indicator{float:left;width:181px;height:200px/*;margin-left:149px*/}
.chart_section ul.chart_sort{float:left;width:230px;height:60px}/*수정*/
.chart_section ul.chart_sort li{float:left;width:100%;height:12px;margin-bottom:8px}
.chart_section ul.chart_sort li .title{float:left;width:125px;height:12px;line-height:12px}/*수정*/
.chart_section ul.chart_sort li .color{float:right;width:56px;height:10px;margin-top:1px}/*수정*/
.chart_section ul.chart_sort li.basic .color{background-color:#313131}/*수정*/
.chart_section ul.chart_sort li.major .color{background-color:#2e8912}/*수정*/
.chart_section ul.chart_sort li.refinement .color{background-color:#777}/*수정*/
/*.chart_section .chart_notice{float:left;width:181px;height:80px;margin-top:22px;color:#4dd5a6;line-height:17px;word-spacing:-2px}*/
.chart_section .grade_sort{border-top:solid 3px #333}
.chart_section .first{float:left;width:100%}
.chart_section .second{float:left;width:100%}
.chart_section .internship{float:left;width:100%}
.chart_section .grade_indicator_wrap{float:left;width:130px;height:100%}
.chart_section .grade_indicator{float:left;margin-left:5px}
.chart_section .first .grade_indicator{margin-top:36px}
.chart_section .second .grade_indicator{margin-top:35px}
.chart_section .internship .grade_indicator{margin-top:30px}
.term_wrap{float:left;width:450px;height:100%;background-image:url(../img/content/curriculum/web/term_note.png);padding-bottom:30px}
.term_wrap>div{float:left;width:450px;background-image:url(../img/content/curriculum/web/term_note_line.png)}
.term_wrap .term_indicator{float:left;width:58px;height:23px;margin-left:2px;margin-bottom:1px;font-weight:bold;color:#333}
.term_wrap .process{float:left;width:390px;padding-top:1px}
.term_wrap .process li{float:left;width:100%;padding-bottom:1px}
.term_wrap .process li .subject{float:left;width:350px;height:23px}
.term_wrap .process li .lab{float:left;width:327px;height:23px;padding-left:18px;background:url(../img/content/curriculum/common/lab_arrow.png) no-repeat 0 2px}
.term_wrap .process li .choice{float:right;width:29px;height:23px;margin-right:11px;font-size:11px;color:#333;text-align:right}
.term_wrap .sub_process{clear:both;overflow:hidden;zoom:1}
.term_wrap .sub_process li{padding-top:1px}
.term_wrap .first_term{display:block;float:left;width:100%;margin-top:30px}
.term_wrap .second_term{display:block;float:left;width:100%;margin-top:23px}
.term_wrap .third_term{display:block;float:left;width:100%;margin-top:23px}
.term_wrap .basic{color:#313131}/*수정*/
.term_wrap .major{color:#2e8912}/*수정*/
.term_wrap .refinement{color:#777}/*수정*/
.internship .term_wrap{padding-bottom:104px}
.term_wrap .internship_term {float:left;width:100%;height:100%;margin-top:30px}
.term_wrap .internship_term .process{margin-left:60px;line-height:24px;word-spacing:1px;color:#313131}/*수정*/
.understand .desc .paragraph_content{line-height:20px;word-spacing:-1px}
.introduce .desc .paragraph_content{line-height:20px;word-spacing:-1px}
#web_chart{}/*수정*/
#ui_chart{}/*수정*/
#mobile_chart{}/*수정*/
#game_chart{}/*수정*/
#server_chart{}/*수정*/
#cultural_overview .indicator_title{margin-left:-1px}
#cultural_overview .comment{margin-top:242px;margin-left:28px}
#cultural_info .desc{width:580px;padding-top:120px;padding-bottom:56px;word-spacing:0}
#cultural_type .summary{margin-top:107px}
#cultural_type .desc{position:relative;width:580px;padding-bottom:35px}
#cultural_type .thumb{position:relative;float:left;top:0;left:0;width:310px;height:310px;margin-left:11px;padding-bottom:50px}
#cultural_type .thumb img{position:relative;float:left;top:0;left:0;width:311px;height:310px}
#cultural_type .type3 .thumb{padding-bottom:156px}
#cultural_type .type_title{float:right;width:259px}
#cultural_type .type_title img{float:left;margin-left:-10px}
#cultural_type .type1 .type_title{margin-top:126px}
#cultural_type .type2 .type_title{margin-top:123px}
#cultural_type .type3 .type_title{margin-top:127px}
#cultural_type .type_desc{float:right;width:170px;margin-top:5px;margin-right:2px;word-spacing:0;letter-spacing:-1px}
#cultural_type .type_desc em{letter-spacing:0}
#cultural_feature .summary{margin-top:0;margin-left:-1px}
#cultural_feature .desc{width:580px;padding-top:41px;padding-bottom:44px}
#cultural_feature .feature_title{float:left;width:580px;padding-bottom:3px;font-size:14px;font-weight:bold}
#cultural_feature .feature_desc{float:left;width:580px;padding-bottom:32px}
#degree_overview .comment{margin-top:222px;margin-left:29px}
#degree_system .column_title{margin-top:74px;margin-left:-1px}
#degree_system .column_right{width:581px;margin-right:29px;background-image:url(../img/content/curriculum/degree/bg.png)}
#degree_system_column{float:left;width:581px}
#degree_system_column .title{margin-bottom:3px;font-weight:bold;font-size:20px;color:#3b3b3b}
#degree_system_column .info{float:left;margin-left:1px}
#degree_system_column .desc{width:250px;word-spacing:0}
#degree_system_column #degree_major .desc{width:580px;padding-bottom:30px}
#degree_system_column #degree_graph{float:left;width:580px;padding-bottom:136px}
#degree_system_column #degree_graph img{float:left;margin-left:-17px}
#degree_system_column .info>.title{padding-bottom:2px}
#degree_system_column .num{position:absolute}
#degree_major{float:left;width:290px;margin-top:119px;margin-right:290px;padding-bottom:26px}
#content #degree_course{position:relative;float:right;width:290px}
#degree_course .num{top:-87px;left:95px}
#degree_course .info{float:left;width:250px;margin-left:38px}
#degree_course .thumb{float:right;height:141px;padding-top:24px}
#degree_credit{width:290px;margin-top:196px}
#degree_credit .num{top:-88px;left:0}
#degree_credit .info{float:left;width:250px;margin-right:38px}
#degree_credit .thumb{float:left;height:142px;margin-top:28px}
#content #degree_degree{position:relative;float:right;width:290px;margin-top:218px}
#degree_degree .num{top:-88px;left:95px}
#degree_degree .info{float:left;width:250px;margin-left:38px}
#degree_degree .thumb{float:right;height:101px;padding-top:69px}
#degree_graduation{width:290px;margin-top:82px;margin-left:145px;padding-bottom:80px}
#degree_graduation .num{top:-86px;left:-145px}
#degree_graduation .info{float:left;width:250px}
#degree_graduation .thumb{float:right;height:141px;padding-top:28px}
body.mobile #feature_curriculum_column .paragraph_title{height:24px}
body.mobile #feature_point .paragraph_content{height:235px}
body.mobile #software_curriculum .paragraph_content{height:175px}
body.mobile #site_curriculum .paragraph_content{height:295px}
body.mobile #balance_curriculum .paragraph_content{height:215px}
body.mobile #humanities_curriculum .paragraph_content{height:275px}
body.mobile #technology_curriculum .paragraph_content{height:235px}
body.mobile .understand_paragraph .title{height:20px}
body.mobile .understand_paragraph .web_define{height:60px}
body.mobile .understand_paragraph .web_worth{height:120px}
body.mobile .understand_paragraph .web_character{height:60px}
body.mobile #web_interview .quest1 .title{height:36px}
body.mobile #web_interview .quest2 .title{height:36px}
body.mobile #web_interview .quest3 .title{height:36px}
body.mobile #web_interview .quest4 .title{height:18px}
body.mobile #web_interview .quest5 .title{height:54px}
body.mobile #web_interview .quest6 .title{height:36px}
body.mobile #web_interview .quest1 .desc{height:120px}
body.mobile #web_interview .quest2 .desc{height:220px}
body.mobile #web_interview .quest3 .desc{height:180px}
body.mobile #web_interview .quest4 .desc{height:140px}
body.mobile #web_interview .quest5 .desc{height:240px}
body.mobile #web_interview .quest6 .desc{height:220px}
body.mobile #web_introduce .paragraph_content{height:140px}
body.mobile .understand_paragraph .ui_define{height:120px}
body.mobile .understand_paragraph .ui_worth{height:100px}
body.mobile .understand_paragraph .ui_character{height:80px}
body.mobile #ui_interview .quest1 .title{height:36px}
body.mobile #ui_interview .quest2 .title{height:54px}
body.mobile #ui_interview .quest3 .title{height:36px}
body.mobile #ui_interview .quest4 .title{height:36px}
body.mobile #ui_interview .quest5 .title{height:18px}
body.mobile #ui_interview .quest6 .title{height:18px}
body.mobile #ui_interview .quest1 .desc{height:220px}
body.mobile #ui_interview .quest2 .desc{height:200px}
body.mobile #ui_interview .quest3 .desc{height:240px}
body.mobile #ui_interview .quest4 .desc{height:280px}
body.mobile #ui_interview .quest5 .desc{height:80px}
body.mobile #ui_interview .quest6 .desc{height:100px}
body.mobile #ui_introduce .paragraph_content{height:180px}
body.mobile .understand_paragraph .mobile_define{height:60px}
body.mobile .understand_paragraph .mobile_worth{height:80px}
body.mobile .understand_paragraph .mobile_character{height:100px}
body.mobile #mobile_interview .quest1 .title{height:36px}
body.mobile #mobile_interview .quest2 .title{height:36px}
body.mobile #mobile_interview .quest3 .title{height:54px}
body.mobile #mobile_interview .quest4 .title{height:36px}
body.mobile #mobile_interview .quest5 .title{height:18px}
body.mobile #mobile_interview .quest6 .title{height:18px}
body.mobile #mobile_interview .quest1 .desc{height:260px}
body.mobile #mobile_interview .quest2 .desc{height:240px}
body.mobile #mobile_interview .quest3 .desc{height:220px}
body.mobile #mobile_interview .quest4 .desc{height:140px}
body.mobile #mobile_interview .quest5 .desc{height:80px}
body.mobile #mobile_interview .quest6 .desc{height:140px}
body.mobile #mobile_introduce .paragraph_content{height:220px}
body.mobile .understand_paragraph .game_define{height:60px}
body.mobile .understand_paragraph .game_worth{height:220px}
body.mobile .understand_paragraph .game_character{height:60px}
body.mobile #game_interview .quest1 .title{height:36px}
body.mobile #game_interview .quest2 .title{height:36px}
body.mobile #game_interview .quest3 .title{height:36px}
body.mobile #game_interview .quest4 .title{height:36px}
body.mobile #game_interview .quest5 .title{height:18px}
body.mobile #game_interview .quest6 .title{height:18px}
body.mobile #game_interview .quest1 .desc{height:100px}
body.mobile #game_interview .quest2 .desc{height:160px}
body.mobile #game_interview .quest3 .desc{height:120px}
body.mobile #game_interview .quest4 .desc{height:240px}
body.mobile #game_interview .quest5 .desc{height:80px}
body.mobile #game_interview .quest6 .desc{height:100px}
body.mobile #game_introduce .paragraph_content{height:160px}
body.mobile .understand_paragraph .server_define{height:100px}
body.mobile .understand_paragraph .server_worth{height:100px}
body.mobile .understand_paragraph .server_character{height:80px}
body.mobile #server_interview .quest1 .title{height:36px}
body.mobile #server_interview .quest2 .title{height:54px}
body.mobile #server_interview .quest3 .title{height:54px}
body.mobile #server_interview .quest4 .title{height:18px}
body.mobile #server_interview .quest5 .title{height:18px}
body.mobile #server_interview .quest6 .title{height:36px}
body.mobile #server_interview .quest1 .desc{height:140px}
body.mobile #server_interview .quest2 .desc{height:260px}
body.mobile #server_interview .quest3 .desc{height:220px}
body.mobile #server_interview .quest4 .desc{height:120px}
body.mobile #server_interview .quest5 .desc{height:100px}
body.mobile #server_interview .quest6 .desc{height:200px}
body.mobile #server_introduce .paragraph_content{height:140px}
body.mobile #degree_major .desc{height:180px}
body.mobile #degree_major .desc{height:180px}
body.mobile #degree_system_column .info>.title{height:22px}
body.mobile #degree_course .desc{height:40px}
body.mobile #degree_credit .desc{height:180px}
body.mobile #degree_degree .desc{height:100px}
body.mobile #degree_graduation .desc{height:120px}
body.mobile #cultural_info .paragraph_content{height:100px}
body.mobile #cultural_type .type1 .type_desc{height:60px}
body.mobile #cultural_type .type2 .type_desc{height:100px}
body.mobile #cultural_type .type3 .type_desc{height:40px}
body.mobile #cultural_feature .feature_title{height:20px}
body.mobile #cultural_self .feature_desc{height:60px}
body.mobile #cultural_aim .feature_desc{height:60px}
body.mobile #cultural_value .feature_desc{height:120px}
body.mobile #cultural_think .feature_desc{height:40px}

/* 커리큘럼-공통 */
#content .bw_paragraph_content{display:block;float:left}
.column_title2{margin:75px 0 8px -2px}
.column_title3{margin:60px 0 12px -2px;padding-left:33px}
.column_title4{margin:70px 0 50px -2px}
.bw_common{display:block;float:left;position:relative}
.bw_paragraph_content{width:580px;padding-bottom:46px}
.bw_paragraph{margin-top:0;padding-bottom:4px}
.margin_t{margin-top:20px}
.cap_blind{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}

/* 인문사회학 */
.sociology_table{width:960px;margin:0 auto 100px;border-top:2px solid #000;border-bottom:2px solid #000;border-collapse:separate;border-spacing:0}
.sociology_table th{padding:9px 0 10px;font-size:16px;letter-spacing:1px;color:#333}
.sociology_table td{padding:4px 0 5px 15px;color:#666}
.sociology_table .tr_line td{border-top:1px solid #c0c0c0}
.sociology_table .td_line{border-bottom:1px solid #f0f0f0}
.sociology_table .tr_line td:first-child{color:#333}
.sociology_table .pro{color:#999}
.sociology_table .sub_txt{display:block;padding-left:7px;color:#878787}
#practice_overview .comment{margin-top:402px;margin-left:31px}
#sociology_overview .comment{margin-top:318px;margin-left:539px}

/* Professional Practice */
.practice_title{padding-bottom:2px;font-size:14px;font-weight:bold;line-height:22px;word-spacing:-2px}
.practice_num{position:absolute;top:4px;left:-74px}
#practice_detail{margin-bottom:35px}
#practice_detail .thumb{width:200px;height:200px;padding:5px 0 45px}
#practice_detail .info{width:360px;padding-bottom:45px}
#practice_detail .paragraph_content{position:relative;width:580px}
#practice1,#practice2,#practice3,#practice4,#practice5,#practice6{margin-bottom:40px}
#practice1 .thumb,#practice3 .thumb,#practice5 .thumb{float:right}
#practice1 .info,#practice3 .info,#practice5 .info{float:left}
#practice2 .info,#practice4 .info,#practice6 .info{float:right}
#practice2 .thumb,#practice4 .thumb,#practice6 .thumb{float:left}
