@charset "utf-8";

/* error */
body{background-color:#fff}
#error{position:relative;display:block;top:0;left:0;float:left;width:100%;margin-top:170px;padding-bottom:65px}
#error_container .item_wrap{overflow:hidden;display:block;float:left;position:relative;top:0;left:0;width:100%}
#error_container .item_indicator{position:absolute;top:0;left:0;width:100%}
#error_container .indicator{display:block;float:left;height:14px}
#error_container .indicator img{float:left;margin-left:1px}
#error_container .item_section{position:relative;width:1020px;margin:0 auto;}
#error_content{position:relative;float:left;width:1020px}
#error_image{position:absolute;top:0;left:0;width:100%}
#error_image img{float:left;width:3500px;height:800px;margin-top:-267px;margin-left:-1240px}
#error_container .item_section .column_left{display:block;position:relative;float:left;width:330px;height:100%;margin-left:30px}
#error_container .item_section .column_right{display:block;position:relative;float:right;width:580px;height:100%;margin-right:30px;margin-left:50px}
#error_container .item_section .desc{float:left;margin-top:10px;margin-left:154px}
#error_content .error_comment{float:left;margin-left:-5px;margin-bottom:21px}
#error_content .error_comment img{float:left}
#error_content .error_desc{float:left;width:426px;padding-bottom:26px}
#error_content .error_desc a{font-weight:bold;color:#555;text-decoration:underline;text-transform:uppercase}
#error_content .site_link{float:left;width:426px;height:28px}
#error_content .site_btn{float:left;width:130px;height:28px;margin-right:2px}
#error_content .site_btn a{float:left;width:130px;height:28px}
#error_content .site_btn a img{float:left}