@charset "utf-8";

/* faculty */
#faculty .list_section{overflow:hidden;display:block;float:left;position:relative;top:0;left:0;width:100%;padding-top:60px;padding-bottom:10px}
#faculty .list_section .item_wrap{float:none;width:960px;margin:0 auto 75px}
#faculty .faculty_indicator{float:left;width:330px;margin-right:50px;background:url(/img/content/faculty/bg_line.gif) 100% 0 no-repeat}
#faculty .faculty_indicator2{float:left;width:330px;margin-right:50px;text-align:right}
#faculty .img_thumb{float:left;width:220px;height:220px;background:url(/img/content/faculty/shadow.png) 30px 30px no-repeat}
#faculty .img_thumb2{float:left;width:220px;height:400px;background:url(/img/content/faculty/shadow2.png) 30px 30px no-repeat}
#faculty .profile_area{float:left;width:340px}
#faculty .profile_area2{float:left;width:340px;background:url(/img/content/faculty/bg_line2.gif) 100% 0 no-repeat}
#faculty .desc_profile{margin-bottom:20px}
#faculty .desc_profile2{margin-bottom:0}
#faculty .desc_profile ul li span,#faculty .desc_profile2 ul li span{display:inline-block;width:110px;margin-right:10px;vertical-align:top}
#faculty .desc_profile ul li em,#faculty .desc_profile2 ul li em{display:inline-block;width:220px;vertical-align:top}
.ml20{margin-left:20px}
.mr20{margin-right:20px}

#faculty .faculty_search{display:block;float:left;width:100%;margin-top:20px}
#faculty .faculty_search a{font-weight:bold;color:#5766f7;text-decoration:underline}
#faculty .paragraph_content{width:580px}
#faculty .paragraph_content>.thumb{float:left;position:relative;top:0;left:0;width:220px;margin-top:20px;margin-right:20px;padding-bottom:70px}
#dean_overview .indicator{margin-left:1px}
#dean_overview .indicator_title{margin-top:8px;margin-left:-1px}
#dean_overview .comment{margin-top:398px;margin-left:29px}
#dean_introduce .indicator{margin-left:1px}
#dean_introduce .paragraph{padding-top:120px;padding-bottom:76px}
#dean_introduce .paragraph_content{line-height:20px;word-spacing:0}
#dean_list .dean_indicator{float:left;width:100%;height:20px}
#dean_list .dean_indicator img{float:right}
#dean_list .r_staff .dean_indicator{margin-top:19px}
#dean_list .r_staff .thumb{float:right;width:220px;margin-right:0;margin-left:20px}
#dean_list .r_staff .line{position:absolute;top:20px;left:128px;width:222px;height:1px;background-color:#333}
#dean_list .paragraph_content>.info{padding-top:14px;padding-bottom:26px}
#dean_list .dean .thumb>.shadow{height:372px}
#dean_list .dean .thumb>img{height:372px}
#staff_overview .indicator{margin-left:1px}
#staff_overview .indicator_title{margin-top:8px;margin-left:-1px}
#staff_overview .comment{margin-top:287px;margin-left:29px}
#staff_introduce .indicator{margin-left:1px}
#staff_introduce .paragraph{padding-top:120px;padding-bottom:76px}
#staff_introduce .paragraph_content{line-height:20px;word-spacing:0}
#staff_list .faculty_indicator{float:left;width:100%;height:20px}
#staff_list .faculty_indicator img{float:right}
#staff_list .r_staff .faculty_indicator{margin-top:19px}
#staff_list .r_staff .thumb{float:right;width:220px;margin-right:0;margin-left:20px}
#staff_list .r_staff .line{position:absolute;top:20px;left:128px;width:222px;height:1px;background-color:#333}
#staff_list .paragraph_content>.info{padding-top:14px;padding-bottom:40px}
#staff_list .staff .thumb>.shadow{height:190px}
#staff_list .staff .thumb>img{height:190px}
body.mobile #dean_introduce .paragraph_content{height:180px}
body.mobile #dean_list .info>.title{height:24px}
body.mobile #dean1 .info>.activity{height:190px}
body.mobile #dean1 .info>.career{height:80px}
body.mobile #dean1 .info>.academic{height:60px}
body.mobile #dean2 .info>.activity{height:100px}
body.mobile #dean2 .info>.career{height:60px}
body.mobile #dean2 .info>.academic{height:60px}
body.mobile #staff_introduce .paragraph_content{height:160px}
body.mobile #staff_list .info>.desc{height:190px}