@charset "utf-8";

/* admission */
#guidelines_y2013 .column_title{margin-top:80px;margin-left:0}
#guidelines_y2013 #print_area{margin-top:160px}
#guidelines_y2013 a{color:#f26522;text-decoration:underline}
#guidelines_y2013 em{font-weight:bold;color:#333;text-decoration:underline}
#guidelines_y2013 .guidelines_body{float:left;width:580px}
#guidelines_y2013 .guidelines_header{float:left;width:580px;height:31px}
#guidelines_y2013 .guidelines_header .guidelines_title{float:left;width:420px;height:29px}
#guidelines_y2013 .guidelines_header .guidelines_title img{float:left}
#guidelines_y2013 .guidelines_header .print_btn_area{float:left;width:160px;height:31px}
#guidelines_y2013 .guidelines_header .print_btn_area .print_btn{float:left;width:163px;height:28px;margin-top:3px;background-image:url(../img/content/admission/guidelines/print.jpg)}
#guidelines_y2013 .guidelines_content{float:left;width:580px}
#guidelines_y2013 #guidelines_schedule .guidelines_content{margin-top:45px}
#guidelines_y2013 .guidelines_content .guidelines_subject{float:left;width:580px;font-size:18px;font-weight:bold;color:#333}
#guidelines_y2013 #guidelines_schedule .guidelines_content .guidelines_subject{padding-bottom:9px}
#guidelines_y2013 .guidelines_chart{float:left;width:580px}
#guidelines_y2013 #guidelines_schedule .guidelines_chart{padding-bottom:50px}
#guidelines_y2013 .guidelines_chart .chart_title{float:left;width:580px;height:25px;background-color:#f0f0f0}
#guidelines_y2013 .guidelines_chart .chart_title>div{float:left;padding-left:10px;font-size:15px;font-weight:bold;line-height:25px;color:#ff6633}
#guidelines_y2013 .guidelines_chart .schedule_todo{width:120px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .schedule_date{width:169px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .schedule_info{width:258px}
#guidelines_y2013 .guidelines_chart .chart_content{float:left;width:580px;border-bottom:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .chart_content .select{;background-color:#eee}
#guidelines_y2013 .guidelines_chart .chart_content .column{float:left;width:580px;border-bottom:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .chart_content .column>div{float:left;padding-left:10px}
#guidelines_y2013 #guidelines_schedule .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 .guidelines_chart .chart_content .column .schedule_todo{font-weight:bold;color:#333}
#guidelines_schedule{padding-bottom:30px}
#schedule_chart1 .column1>div{height:40px}
#schedule_chart1 .column2>div{height:100px}
#schedule_chart1 .column3>div{height:40px}
#schedule_chart1 .column4>div{height:60px}
#schedule_chart1 .column5>div{height:20px}
#schedule_chart1 .column6>div{height:40px}
#schedule_chart2 .column1>div{height:40px}
#schedule_chart2 .column2>div{height:100px}
#schedule_chart2 .column3>div{height:40px}
#schedule_chart2 .column4>div{height:60px}
#schedule_chart2 .column5>div{height:20px}
#schedule_chart2 .column6>div{height:60px}
#schedule_chart2 .column7>div{height:20px}
#schedule_chart2 .column8>div{height:40px}
#guidelines_y2013 #guidelines_major .guidelines_content{margin-top:23px}
#guidelines_y2013 #guidelines_major .guidelines_desc{padding-bottom:26px}
#guidelines_y2013 #guidelines_major .guidelines_chart>div{font-weight:bold;color:#333;line-height:24px}
#guidelines_y2013 #guidelines_major .guidelines_chart .chart_content .column>div{height:120px;padding-top:12px;padding-bottom:12px}
#guidelines_y2013 .guidelines_chart .major_major{width:182px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .major_practice{width:118px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .major_nonpractice{width:118px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .major_people{width:119px}
#guidelines_major{padding-bottom:80px}
#guidelines_y2013 #guidelines_practice .guidelines_content{margin-top:45px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_subject{padding-bottom:24px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_first{float:left;width:580px;padding-bottom:45px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_first .guidelines_subject{padding-bottom:4px}
#guidelines_y2013 #guidelines_practice .guidelines_desc{padding-bottom:10px}
#guidelines_y2013 .guidelines_content .guidelines_point_desc{float:left;width:580px}
#guidelines_y2013 .guidelines_content .point_desc{position:relative;float:left;width:570px;padding-left:10px;background-image:url(../img/content/admission/guidelines/point.png);background-repeat:no-repeat}
#guidelines_y2013 .guidelines_content .guidelines_object{float:left;width:580px}
#guidelines_y2013 .guidelines_content .guidelines_object .object_title{float:left;width:580px;font-size:14px;font-weight:bold}
#guidelines_y2013 .guidelines_content .guidelines_object .object_title em{color:#f26522;font-size:13px;text-decoration:none}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_object{padding-bottom:16px}
#guidelines_y2013 .guidelines_chart .evaluation_step{width:184px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .evaluation_note{width:375px}
#guidelines_y2013 #guidelines_practice .guidelines_chart{padding-bottom:5px}
#guidelines_y2013 #guidelines_practice .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_practice .guidelines_chart .chart_content .column .empty{background-image:url(../img/content/admission/guidelines/practice_empty.png);background-repeat:no-repeat}
#guidelines_y2013 #guidelines_practice .guidelines_content .guidelines_step{float:left;width:580px;padding-bottom:20px}
#practice_chart1 .column1>div{height:20px}
#practice_chart1 .column2>div{height:40px} 
#practice_chart1 .column3>div{height:20px}
#practice_chart2 .column1>div{height:40px}
#practice_chart3 .column1>div{height:20px}
#practice_chart4 .column1>div{height:20px}
#guidelines_practice{padding-bottom:60px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content{margin-top:45px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_subject{padding-bottom:24px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_first .guidelines_subject{padding-bottom:4px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_first>.guidelines_desc{padding-bottom:22px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_first .guidelines_object{padding-bottom:16px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_second{float:left;width:580px;margin-top:8px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_second .guidelines_object{padding-bottom:16px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 .guidelines_chart .apply_level{width:184px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .apply_right{width:375px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_chart{padding-bottom:5px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_first .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:22px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_second .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_nonpractice .guidelines_chart .chart_content .column .empty{background-image:url(../img/content/admission/guidelines/practice_empty.png);background-repeat:no-repeat}
#guidelines_y2013 #guidelines_nonpractice .guidelines_content .guidelines_step{float:left;width:580px;padding-bottom:20px}
#nonpractice_chart1_c1 .column1>div{height:120px}
#nonpractice_chart1_c1 .column2>div{height:100px} 
#nonpractice_chart1_c2 .column1>div{height:80px}
#nonpractice_chart1_c3 .column1>div{height:20px}
#nonpractice_chart1_c3 .column2>div{height:40px}
#nonpractice_chart1_c3 .column3>div{height:40px}
#nonpractice_chart1_c3 .column4>div{height:20px}
#nonpractice_chart1_c4 .column1>div{height:20px}
#nonpractice_chart1_c5 .column1>div{height:20px}
#nonpractice_chart1_c6 .column1>div{height:20px}
#nonpractice_chart1_c7 .column1>div{height:20px}
#guidelines_nonpractice{padding-bottom:60px}
#guidelines_y2013 #guidelines_screening .guidelines_content{margin-top:23px}
#guidelines_y2013 .guidelines_content .guidelines_point_desc .em{color:#f26522}
#guidelines_y2013 #guidelines_screening .guidelines_content .guidelines_point_desc{padding-bottom:22px}
#guidelines_y2013 #guidelines_screening .guidelines_content .guidelines_chart{margin-top:4px}
#guidelines_y2013 #guidelines_screening .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 .guidelines_chart .submit_article{width:252px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .submit_form{width:102px;border-right:solid 1px #e3e3e3}
#guidelines_y2013 .guidelines_chart .submit_screening{width:194px}
#guidelines_y2013 .guidelines_chart .chart_sub_title>div>div{position:relative;float:left;height:25px;line-height:25px}
#guidelines_y2013 .guidelines_chart .submit_screening .practice_screening{width:94px;border-right:solid 1px #e3e3e3;color:#333}
#guidelines_y2013 .guidelines_chart .submit_screening .nonpractice_screening{width:89px;margin-left:10px}
#guidelines_y2013 .guidelines_chart .chart_sub_title{float:left;width:580px;height:25px;background-color:#fafafa;font-size:15px;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .chart_sub_title>div{float:left;height:25px;margin-left:10px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_article{height:20px;padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_form{height:20px;padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_screening>div{float:left;height:20px;padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_content .column>.submit_screening>div>div{float:left;width:11px;height:14px;background-repeat:no-repeat}
#guidelines_y2013 #guidelines_screening .guidelines_chart .essential{position:relative;background-image:url(../img/content/admission/guidelines/essential.png)}
#guidelines_y2013 #guidelines_screening .guidelines_chart .need{position:relative;background-image:url(../img/content/admission/guidelines/need.png)}
#guidelines_y2013 #guidelines_screening .guidelines_chart .choice{position:relative;background-image:url(../img/content/admission/guidelines/choice.png)}
.essential img{display:none;position:absolute;top:0;left:0}
.need img{display:none;position:absolute;top:0;left:0}
.choice img{display:none;position:absolute;top:0;left:0}
.chart_annotation>div{position:relative}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_annotation{float:left;width:580px}
#guidelines_y2013 #guidelines_screening .guidelines_chart .chart_annotation>div{float:left;margin-top:6px;padding-bottom:32px;padding-right:20px;padding-left:15px;background-repeat:no-repeat}
#guidelines_screening{padding-bottom:58px}
#guidelines_y2013 #guidelines_level .guidelines_content{margin-top:23px}
#guidelines_y2013 #guidelines_level .guidelines_content .guidelines_point_desc{padding-bottom:22px}
#guidelines_y2013 #guidelines_level .guidelines_content .guidelines_chart{margin-top:4px}
#guidelines_y2013 #guidelines_level .guidelines_content .guidelines_object .object_title{padding-bottom:2px}
#guidelines_y2013 .guidelines_chart .applicant_level{width:201px;border-right:solid 1px #e3e3e3;font-weight:bold;color:#333}
#guidelines_y2013 .guidelines_chart .applicant_document{width:358px}
#guidelines_y2013 #guidelines_level .guidelines_chart .chart_content .column>div{padding-top:15px;padding-bottom:8px}
#guidelines_y2013 #guidelines_level .guidelines_chart{padding-bottom:35px}
#level_chart .column1>div{height:40px}
#level_chart .column2>div{height:20px}
#level_chart .column3>div{height:40px}
#level_chart .column4>div{height:20px}
#level_chart .column5>div{height:20px}
#level_chart .column6>div{height:20px}
#level_chart .column7>div{height:20px}
#level_chart .column8>div{height:40px}
#level_chart .column9>div{height:20px}
#guidelines_level{padding-bottom:58px}
.point{display:none;position:absolute;top:0;left:0}
@media print {
	#wrap{padding:0}
	.essential img{display:block}
	.need img{display:block}
	.choice img{display:block}
	.point{display:block}
	.print_btn_area{display:none}
	.chart_title{border-top:solid 2px #e3e3e3;border-bottom:solid 1px #e3e3e3}
	.chart_sub_title{border-bottom:solid 1px #e3e3e3}
	.guidelines_footer{display:none}
	#guidelines_step2{} 
}