@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:나눔고딕,NanumGothic,돋움,dotum,sansserif;font-size:12px;color:#555;line-height:20px;word-spacing:-1px}
html{overflow-y:scroll}
body{background-color:#3b3b3b}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,span{display:block}
h1{display:none;overflow:hidden;text-indent:-9999px}
legend{display:none}
/* Layout */
#wrap{overflow:hidden;display:block;float:left;width:100%;height:100%}
/* header */
#header{overflow:hidden;z-index:900;display:none;position:absolute;top:0;left:0;width:100%;height:100%}
#logo_container{z-index:850;position:relative;width:1020px;margin:0 auto}
#next_logo{position:absolute;z-index:850;top:30px;left:30px;width:328px;height:81px}
#next_logo a{position:relative;float:left;width:328px;height:81px}
#next_logo a img{float:left;width:328px;height:81px}
#header_container{display:block;position:absolute;float:left;z-index:800;top:0;left:0;width:100%;height:170px;background-color:#3b3b3b}
#header_container>.shadow{overflow:hidden;position:absolute;top:-8px;left:0;width:100%;height:8px;background:url(../img/shadow/header.png)}
#header_content{position:relative;width:1020px;height:100%;margin:0 auto}
.sns_say .facebook .thumb{background-color:#3c5a97}
.sns_say .twitter .thumb{background-color:#42cefb}
.sns_say .ted .thumb{background-color:#ff4d30}
.sns_say .youtube .thumb{background-color:#e13b35}
.sns_say .next .thumb{background-color:#ffcf29}
.sns_say .blog .thumb{background-color:#46b932}
.sns_say .etc .thumb{background-color:#a2a2a2}
#gnb{position:relative;width:100%;height:170px}
#next_menu{position:absolute;top:24px;left:563px;width:428px;height:120px}
#next_menu ul{float:left;height:120px;margin:0}
#next_menu .gnb_column1{width:192px}
#next_menu .gnb_column2{margin-left:60px;width:174px}
#next_menu ul li{float:left;width:100%;height:30px}
#next_menu ul li a{float:left;width:100%;height:13px;padding-top:9px;padding-bottom:8px;cursor:pointer}
#next_menu .en{overflow:hidden;float:left;height:13px;text-indent:-9999px}
#next_menu .line{overflow:hidden;float:left;width:0;height:2px;margin-top:10px;margin-left:3px;background-color:#fff;text-indent:-9999px}
#next_menu .ko{overflow:hidden;float:right;height:13px;text-indent:-9999px}
#next_menu a.selected .ko{background-position:-2px -30px}
#next_menu a.selected .en{background-position:-2px -16px}
#gnb_about .en{width:99px;background-image:url(../img/gnb/about/en.png);background-position:-2px -2px}
#gnb_about .ko{width:19px;background-image:url(../img/gnb/about/ko.png);background-position:-2px -2px}
#gnb_about.selected .line{width:68px;background-color:#c27bec}
#gnb_curriculum .en{width:104px;background-image:url(../img/gnb/curriculum/en.png);background-position:-2px -2px}
#gnb_curriculum .ko{width:36px;background-image:url(../img/gnb/curriculum/ko.png);background-position:-2px -2px}
#gnb_curriculum .line{margin-left:4px}
#gnb_curriculum.selected .line{width:44px;background-color:#75e5be}
#gnb_faculty .en{width:128px;background-image:url(../img/gnb/faculty/en.png);background-position:-2px -2px}
#gnb_faculty .ko{width:49px;background-image:url(../img/gnb/faculty/ko.png);background-position:-2px -2px}
#gnb_faculty .line{margin-left:4px}
#gnb_faculty.selected .line{width:7px;background-color:#5766f7}
#gnb_admission .en{width:87px;background-image:url(../img/gnb/admission/en.png);background-position:-2px -2px}
#gnb_admission .ko{width:18px;background-image:url(../img/gnb/admission/ko.png);background-position:-2px -2px}
#gnb_admission .line{margin-left:5px}
#gnb_admission.selected .line{width:80px;background-color:#f26522}
#gnb_campus .en{width:102px;background-image:url(../img/gnb/campus/en.png);background-position:-2px -2px}
#gnb_campus .ko{width:37px;background-image:url(../img/gnb/campus/ko.png);background-position:-2px -2px}
#gnb_campus .line{margin-left:5px}
#gnb_campus.selected .line{width:25px;background-color:#71df4f}
#gnb_post .en{width:97px;background-image:url(../img/gnb/post/en.png);background-position:-2px -2px}
#gnb_post .ko{width:62px;background-image:url(../img/gnb/post/ko.png);background-position:-2px -2px}
#gnb_post .line{margin-left:4px}
#gnb_post.selected .line{width:7px;background-color:#f5426c}
#gnb_industrylink .en{width:117px;background-image:url(../img/gnb/industrylink/en.png);background-position:-2px -2px}
#gnb_industrylink .ko{width:37px;background-image:url(../img/gnb/industrylink/ko.png);background-position:-2px -2px}
#gnb_industrylink .line{margin-left:3px}
#gnb_industrylink.selected .line{width:14px;background-color:#35c7fd}
#gnb_community .en{width:98px;background-image:url(../img/gnb/community/en.png);background-position:-2px -2px}
#gnb_community .ko{width:36px;margin-right:1px;background-image:url(../img/gnb/community/ko.png);background-position:-2px -2px}
#gnb_community .line{margin-left:4px}
#gnb_community.selected .line{width:31px;background-color:#f7ae00}
#util_menu{overflow:hidden;position:absolute;top:127px;left:31px;width:330px;height:22px}
#util_menu ul{float:left;width:220px;height:12px}
#util_menu ul li{display:block;float:left;margin-right:15px}
#util_menu ul li.last{margin-right:0}
#util_menu ul li a{overflow:hidden;float:left;height:12px;margin-top:4px;text-indent:-9999px;background-position:-2px -2px}
#util_sitemap{width:42px;background-image:url(../img/util/sitemap.png)}
#util_brochure{width:53px;background-image:url(../img/util/brochure.png)}
#util_blog{width:25px;background-image:url(../img/util/blog.png)}
#util_facebook{width:53px;background-image:url(../img/util/facebook.png)}
#search_menu{position:absolute;top:0;left:230px;width:97px;height:19px;border-bottom:solid 1px #626262;background-color:#3b3b3b}
#search_menu .select_input{color:#fff;font-weight:normal}
#search_text{float:left;width:80px;height:15px;margin-top:1px;line-height:15px;background-color:transparent;border:none;color:#626262;font-size:10px;font-weight:bold}
#search_menu_btn{position:absolute;top:0;right:0;width:14px;height:19px;border-bottom:solid 1px #626262;background-color:#3b3b3b;margin-right:2px;padding-right:3px}
#search_btn{float:left;width:14px;height:14px;background-image:url(../img/util/search_btn.jpg)}