@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:나눔고딕,NanumGothic,돋움,dotum,sansserif;font-size:12px;color:#333;line-height:20px;word-spacing:0}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,span{display:block}
h1{display:none;overflow:hidden;text-indent:-9999px}
legend{display:none}
/* Layout */
#wrap{display:block;float:left;width:100%;height:100%}
/* header */
#header{float:left;width:100%;height:80px}
#header_title{float:left;width:100%;height:10px;padding-top:15px;padding-bottom:15px;background-color:#3b3b3b}
#markup_gudie_title{overflow:hidden;float:left;width:181px;height:10px;margin-left:30px;background-image:url(../img/guide/title.png);background-position:-2px -2px;text-indent:-9999px}
#gudie_update{float:left;height:8px;margin-top:2px;margin-left:10px;font-size:10px;color:#999;line-height:8px}
#gnb{float:left;width:100%;height:10px;padding-top:15px;padding-bottom:15px;background-color:#626262}
#guide_menu{float:left;margin-left:30px;}
#guide_menu>a{overflow:hidden;float:left;height:10px;margin-right:10px;background-image:url(../img/guide/menu.png);background-repeat:no-repeat;cursor:pointer;text-indent:-9999px}
#menu_file_list{width:62px;background-position:-2px -2px}
#menu_icon{width:34px;background-position:-2px -16px}
#menu_guide{width:43px;background-position:-2px -30px}
/*content*/
#content{display:block;float:left;width:100%}
#guide_title{float:left;width:100%;height:21px;padding-top:30px;padding-bottom:29px;border-bottom:solid 1px #ebebeb}
.guide_dir{overflow:hidden;float:left;height:21px;margin-left:30px;background-image:url(../img/guide/dir.png);background-repeat:no-repeat;text-indent:-9999px}
#dir_file_list{width:119px;background-position:-2px -2px}
#dir_icon{width:65px;background-position:-2px -26px}
#dir_guide{width:82px;background-position:-2px -51px}
.items{float:left;margin-top:65px;padding-bottom:40px}
.items a:hover{color:#bbb;text-decoration:underline}
.item_wrap{float:left;width:100%;padding-bottom:30px}
.item_title_section{float:left;width:300px;margin-left:30px}
.item_title{overflow:hidden;float:left;width:300px;height:15px;background-image:url(../img/guide/list.png);background-repeat:no-repeat;text-indent:-9999px}
.item_column{float:left;margin-top:6px;margin-left:30px}
#list_gnb_header .item_title{background-position:-2px -2px}
#list_footer .item_title{background-position:-2px -21px}
#list_main .item_title{background-position:-2px -40px}
#list_module .item_title{background-position:-2px -59px}
#list_content .item_title{background-position:-2px -78px}
#list_util .item_title{background-position:-2px -97px}
#list_error .item_title{background-position:-2px -116px}
.category{float:left;clear:both}
.category_title{float:left;width:190px;margin-right:10px;font-weight:bold}
.category_sub{float:left;padding-bottom:15px}
.category_content{float:left;clear:both}
.category_sub_title{float:left;width:190px;margin-right:10px;font-weight:bold;color:#666}
.category_link{float:left;color:#999}
.category_link>a{float:left;color:#999}
.category_sub_link{float:left;clear:both}
.category_low_title{float:left;width:180px;margin-left:8px;margin-right:12px;font-weight:bold;color:#777}
.category_low_link{float:left;color:#999}
.category_low_link>a{float:left;color:#999}
/*footer*/
#footer{position:relative;float:left;width:100%;height:10px;padding-top:15px;padding-bottom:15px;background-color:#3b3b3b}
#copyright{position:absolute;right:30px;width:80px;height:10px;font-size:10px;color:#999;line-height:10px;text-align:right}
#footer a:hover{color:#bbb;text-decoration:underline}
@media (max-width: 1020px){
	#wrap{width:1020px}
}