@charset "utf-8";

/* industrylink */
#internship_overview .indicator_title{margin-left:0}
#internship_overview .comment{margin-top:286px;margin-left:25px}
#project_overview .comment{margin-top:287px;margin-left:472px}
#how_overview .indicator_title{margin-left:-1px}
/*#how_overview .comment{margin-top:286px;margin-left:25px}*/
#how_overview .comment{margin-top:300px;margin-left:475px}
#project_project .desc{padding-top:119px;padding-bottom:73px;font-size:14px;font-weight:bold;line-height:28px}
#internship_internship .desc{padding-top:119px;padding-bottom:77px;font-size:14px;font-weight:bold;line-height:28px}
#internship_internship .desc .paragraph_content>span{clear:both;float:left;padding-top:4px;padding-bottom:4px;line-height:20px}
#internship_internship .summary{margin-top:126px}
#project_project .summary{margin-top:126px}
#internship_feature .summary{margin-top:62px}
#project_feature .summary{margin-top:62px}
#feature_desc{float:left;padding-top:75px;padding-bottom:42px}
#feature_detail{padding-bottom:35px}
#feature_detail .paragraph_content{position:relative;width:580px}
#feature_detail .num{position:absolute;top:4px;left:-74px}
#feature_detail .info{width:350px;padding-bottom:45px}
#feature_detail .thumb{width:200px;height:200px;padding-top:5px;padding-bottom:45px}
#feature_detail .feature_title{padding-bottom:2px;font-size:14px;font-weight:bold;line-height:22px;word-spacing:-2px}
#feature1 .info,#feature3 .info{float:left}
#feature1 .thumb,#feature3 .thumb{float:right}
#feature2 .info,#feature4 .info{float:right}
#feature2 .thumb,#feature4 .thumb{float:left}
#internship_process .summary{margin-top:62px}
#internship_process .desc{padding-top:75px;padding-bottom:46px}
#project_process .summary{margin-top:62px}
#project_process .desc{padding-top:75px;padding-bottom:46px}
.process_chart .column{float:left;width:960px;margin-left:30px;margin-right:30px;padding-bottom:80px;border-top:solid 1px #d9d9d9}
#internship_process_chart .column{background-image:url(../img/content/industrylink/internship/chart_bg.png);background-repeat:no-repeat}
#project_process_chart .column{background-image:url(../img/content/industrylink/project/chart_bg.png);background-repeat:no-repeat}
.process_chart .column li{float:left;border-bottom:solid 1px #d9d9d9}
.process_chart .column li .title{float:left;width:190px}
.process_chart .column li .title img{float:left;margin-top:20px}
.process_chart .column li .process{float:left;width:160px;padding-top:30px;padding-bottom:33px;padding-left:30px;font-size:13px;font-weight:bold;line-height:24px}
.process_chart .column li .info{float:left;width:580px;padding-top:33px;padding-bottom:33px}
#process_empty{overflow:hidden;background-image:url(../img/content/industrylink/internship/empty.png);background-repeat:no-repeat;text-indent:-9999px}
#internship_process1{background-image:url(../img/content/industrylink/internship/internship_bg1.png);background-repeat:no-repeat}
#internship_process2{background-image:url(../img/content/industrylink/internship/internship_bg2.png);background-repeat:no-repeat}
#internship_process3{background-image:url(../img/content/industrylink/internship/internship_bg3.png);background-repeat:no-repeat}
#project_process1{background-image:url(../img/content/industrylink/project/project_bg1.png);background-repeat:no-repeat}
#project_process2{background-image:url(../img/content/industrylink/project/project_bg2.png);background-repeat:no-repeat}
#project_process3{background-image:url(../img/content/industrylink/project/project_bg3.png);background-repeat:no-repeat}
#industrylink_next .indicator_container{height:189px;padding-top:68px}
#industrylink_next .indicator_title{margin-top:5px;margin-left:0}
.board_list{float:left;width:100%;height:495px;padding-bottom:80px}
.list_container{overflow:hidden;float:left;width:100%;height:443px;border-top:solid 3px #3b3b3b}
.list_view{float:left;width:100%;height:425px;margin-top:15px}
.list_view li{float:left;width:100%;height:74px;padding-top:10px;border-bottom:solid 1px #ccc}
.list_view li .info{float:left;width:100%;height:64px;cursor:pointer}
.list_view li .thumb_container{float:left;width:84px;height:100%}
.list_view li .thumb_container a{position:relative;float:left;width:82px;height:62px;border:solid 1px #333}
.list_view li>div a p{position:absolute;top:0;left:0}
.list_view li>div a p.out{width:84px;height:64px;background-color:#3b3b3b}
.list_view li>div a p.over{display:none;width:84px;height:64px;background-color:#f7ae00}
.list_view li>div a p.date{position:relative;float:left;width:100%;padding-top:21px;text-align:center;line-height:20px;word-spacing:-1px}
.list_view li .name{float:left;width:171px;height:100%;margin-left:9px}
.list_view li .name a{float:left}
.list_view li .name a .industry{float:left;width:100%;height:18px;line-height:18px;color:#999}
.list_view li .name a .industry_result{float:left;width:100%}
.list_view li .date{float:left;width:66px;height:100%}
.list_view li .date span{float:right;color:#999;line-height:18px;word-spacing:-1px;text-align:right}
#industrylink .list_view li div.select .thumb_container a{border-color:#35c7fd}
#industrylink .list_view li div.select .name .industry{font-weight:bold;color:#35c7fd}
#industrylink .list_view li div.select .name .industry_result{font-weight:bold;color:#35c7fd}
#industrylink .list_view li div.select .date span{font-weight:bold;color:#35c7fd}
#industrylink .list_view li div.selected{cursor:default}
#industrylink .list_view li div.selected .thumb_container a{border-color:#35c7fd}
#industrylink .list_view li div.selected .name .industry{font-weight:bold;color:#35c7fd}
#industrylink .list_view li div.selected .name .industry_result{font-weight:bold;color:#35c7fd}
#industrylink .list_view li div.selected .date span{font-weight:bold;color:#35c7fd}
.list_nav{overflow:hidden;float:left;width:100%;height:20px;margin-top:30px}
.list_order_view{overflow:hidden;float:left;width:216px;height:20px}
.list_order{float:left;height:20px;margin-left:-10px}
.list_order li{float:left;width:27px;height:20px}
.list_order li a{display:block;float:left;width:17px;padding-left:10px;font-weight:bold;color:#adadad;line-height:20px;text-align:left;cursor:pointer}
.list_order li a.selected{color:#000;cursor:default}
.list_order li a.select{color:#000}
.list_paddle{float:right;width:113px;height:100%;margin-left:1px}
.list_paddle li{float:left;width:54px;height:100%}
.list_paddle li.next{margin-left:5px}
.list_paddle li a{overflow:hidden;float:left;width:54px;height:100%;text-indent:-9999px}
.list_paddle li.prev a{background-image:url(../img/ui/board/prev.jpg)}
.list_paddle li.next a{background-image:url(../img/ui/board/next.jpg)}
.board_column{float:left;width:100%;padding-top:80px;padding-bottom:80px}
.board_title{float:left;width:100%;height:174px;border-top:solid 3px #3b3b3b;border-bottom:solid 3px #3b3b3b}
.board_title_column{float:left;width:100%}
.board_title .title{float:left;width:500px;margin-left:-3px;font-size:40px;font-weight:bold;font-family:NanumGothicExtraBold,나눔고딕;color:#333;line-height:42px;word-spacing:-2px}
.board_title .col1{height:42px;margin-top:66px;margin-bottom:66px}
.board_title .col2{height:84px;margin-top:45px;margin-bottom:45px}
.board_title .col3{height:126px;margin-top:24px;margin-bottom:24px}
.board_title .info{float:right;width:80px;height:98px;margin-top:2px}
.board_title .info_industry{float:right;width:100%;height:20px;line-height:20px;text-align:right;font-weight:bold;color:#333}
.board_title .info_date{float:right;width:100%;height:20px;line-height:20px;text-align:right;color:#333}
.board_desc{float:left;width:100%}
.post_view{position:relative;float:left;width:100%;line-height:20px;word-spacing:0;padding-top:30px}
.post_view>.paragraph_content{float:left;width:580px}
.profile,.celebrity,.post_view .desc,.post_view .comment,.post_view .post_title{float:left;width:580px;word-spacing:1px}
.post_view>.result_photo{float:left;width:580px}
.post_view>.result_overview,.post_view>.result_overview>.result_info{float:left;width:580px}
.post_view img{float:left}
.post_view>.result_overview>.result_info{padding-top:26px;padding-bottom:21px;border-bottom:solid 1px #d9d9d9;font-size:14px;font-weight:bold}
.result_info_column{float:left;width:580px;padding-bottom:6px}
.result_info_title{float:left;width:155px;color:#333}
.result_info_desc{float:left;width:425px;color:#999}
.result_content{float:left;width:580px;margin-top:50px}
.result_content_title{float:left;width:580px;padding-bottom:4px}
.result_content_desc{float:left;width:580px}
body.mobile #project_project .paragraph_content{height:112px}
body.mobile #project_feature #feature_desc .paragraph_content{height:60px}
body.mobile #project_feature #feature1 .info>.feature_title{height:44px}
body.mobile #project_feature #feature1 .info>.feature_desc{height:140px}
body.mobile #project_feature #feature2 .info>.feature_title{height:22px}
body.mobile #project_feature #feature2 .info>.feature_desc{height:120px}
body.mobile #project_feature #feature3 .info>.feature_title{height:44px}
body.mobile #project_feature #feature3 .info>.feature_desc{height:300px}
body.mobile #project_feature #feature4 .info>.feature_title{height:22px}
body.mobile #project_feature #feature4 .info>.feature_desc{height:60px}
body.mobile #project_process .paragraph_content{height:60px}
body.mobile #project_process_chart .step1 .info{height:40px}
body.mobile #project_process_chart .step2 .info{height:80px}
body.mobile #project_process_chart .step3 .info{height:120px}
body.mobile #project_process_chart .step4 .info{height:60px}
body.mobile #internship_internship .paragraph_content{height:168px}
body.mobile #internship_feature #feature_desc .paragraph_content{height:40px}
body.mobile #internship_feature #feature1 .info>.feature_title{height:44px}
body.mobile #internship_feature #feature1 .info>.feature_desc{height:140px}
body.mobile #internship_feature #feature2 .info>.feature_title{height:44px}
body.mobile #internship_feature #feature2 .info>.feature_desc{height:80px}
body.mobile #internship_feature #feature3 .info>.feature_title{height:22px}
body.mobile #internship_feature #feature3 .info>.feature_desc{height:100px}
body.mobile #internship_process .paragraph_content{height:80px}
body.mobile #internship_process_chart .step1 .info{height:40px}
body.mobile #internship_process_chart .step2 .info{height:100px}
body.mobile #internship_process_chart .step3 .info{height:80px}
body.mobile #internship_process_chart .step4 .info{height:60px}
body.mobile #how_join .paragraph_content{height:200px}

/* 참여기업 */
#how_company .column_title{margin-left:0}
#how_company .desc{padding-top:110px;padding-bottom:64px}
#how_company .paragraph_content{word-spacing:0}
.lst_business{overflow:hidden;margin-top:26px;zoom:1}
.lst_business li{float:left;margin:0 10px 4px 0}
.lst_business li.last{margin-right:0}
.lst_business li img{border:1px solid #e4eaeb}
#how_benefit .column_right{padding-top:70px;padding-bottom:61px}
#how_benefit .summary{margin-top:63px;margin-left:-2px}
#how_benefit .desc{width:580px}
#how_benefit .company_title{float:left;width:100%;margin-top:26px}
#how_benefit dt{margin-bottom:10px;font-weight:bold}
#how_benefit dd{margin-bottom:20px}
#how_way{overflow:hidden;margin-bottom:94px;zoom:1}
#how_way .column_right>p{margin:5px 0 16px}
#how_way .column_right>p>a{text-decoration:underline;color:#333}
#how_way .column_right a{display:inline-block}