@charset "utf-8";

/* main */
/* loading */
.loading{position:fixed;z-index:1000;width:100%;height:100%;background-color:#3b3b3b;text-align:center}
.loading span{position:absolute;top:50%;left:50%;color:#fff}
/* header */
#main_container{overflow:hidden;display:block;float:left;position:absolute;top:0;left:0;width:100%;height:620px}
#main_view{display:block;float:left;position:relative;width:100%;height:100%}
#main{float:left;position:relative;height:100%}
.main_set{overflow:hidden;position:absolute;top:0;left:0;height:620px}
.main_set_container{overflow:hidden;position:relative;float:left;top:0;left:0;width:100%;height:100%}
.main_set>img{position:absolute;z-index:500;top:0;left:0}
#header .paddle_content{position:absolute;z-index:680;bottom:30px;left:35px;width:250px;height:17px}
#header .paddle_nav{float:left;width:250px;height:17px}
#header .paddle_nav ul{float:left;width:250px;height:17px}
#header .paddle_nav li{float:left;width:24px;height:17px;margin-right:2px}
#header .paddle_nav li a{display:block;float:left;width:21px;height:15px;background-image:url(../img/ui/main/main.png);cursor:pointer}
#header .paddle_nav li a span{overflow:hidden;width:14px;height:9px;margin-top:3px;margin-left:3px;background-position:-2px -2px;background-repeat:no-repeat;text-indent:-9999px}
#header .paddle_nav li .paddle1 span{background-image:url(../img/ui/main/main1.png)}
#header .paddle_nav li .paddle2 span{background-image:url(../img/ui/main/main2.png)}
#header .paddle_nav li .paddle3 span{background-image:url(../img/ui/main/main3.png)}
#header .paddle_nav li .paddle4 span{background-image:url(../img/ui/main/main4.png)}
#header .paddle_nav li .paddle5 span{background-image:url(../img/ui/main/main5.png)}
#header .paddle_nav li .shadow_right{overflow:hidden;float:right;width:3px;height:15px;background-image:url(../img/shadow/main_right.png);text-indent:-9999px}
#header .paddle_nav li .shadow_bottom{overflow:hidden;float:left;width:18px;height:2px;background-image:url(../img/shadow/main_bottom.png);text-indent:-9999px}
#header .paddle_nav li .shadow_bottom_right{overflow:hidden;float:left;width:3px;height:2px;background-image:url(../img/shadow/main_bottom_right.png);text-indent:-9999px}
#header .paddle_nav .selected{width:63px}
#header .paddle_nav .selected a{background-image:url(../img/ui/main/main_selected.png)}
#header .paddle_nav .selected a span{background-position:-2px -13px}
#header .paddle_nav .selected .shadow_bottom{width:60px}
#update_content{overflow:hidden;position:absolute;z-index:680;left:53px;bottom:0;width:445px;height:270px}
#update_wrap{overflow:hidden;float:left;position:relative;top:0;left:0;width:427px;height:269px;border-top:solid 2px #000}
#update{position:relative;float:left;width:427px;height:540px}
#update section{position:relative;float:left;width:427px;height:88px;background-color:#e6e6e6;border-bottom:solid 2px #000}
#update a{float:left;width:427px;height:88px;cursor:pointer}
#update a:hover{background-color:#fff}
#update .thumb{float:left;width:144px;height:88px}
#update .thumb .num{position:absolute;top:0;left:0}
#update .column{float:left;width:283px;height:88px;color:#777}
#update .column .title{clear:both;float:left;margin-top:12px;margin-left:19px;font-weight:bold;color:#3b3b3b;line-height:18px;word-spacing:-2px}
#update .column .desc{clear:both;float:left;width:235px;margin-left:19px;line-height:17px;word-spacing:-1px}
#update_nav{float:left;width:18px;height:38px}
#update_nav ul{float:left;width:18px;height:38px}
#update_nav ul li{float:left;width:18px;height:19px}
#update_nav ul li a{float:left;width:18px;height:19px;cursor:pointer}
#update_nav ul li .up{background-image:url(../img/ui/update/up.jpg)}
#update_nav ul li .down{background-image:url(../img/ui/update/down.jpg)}
#header .sns_say_container{position:absolute;z-index:800;top:33px;left:31px;width:434px;height:60px}
#header .sns_say_wrap{overflow:hidden;position:relative;top:0;left:0;float:left;width:404px;height:60px;margin-right:10px}
#header .sns_say{position:relative;float:left;top:0;left:0;width:404px;height:300px}
#header .sns_say li{position:absolute;left:0;width:404px;height:60px}
#header .sns_say .thumb{float:left;width:54px;height:54px;padding:3px}
#header .sns_say .say{float:left;width:332px;height:60px;margin-left:12px}
#header .sns_say .say .user{display:block;clear:both;float:left;width:332px;height:12px;margin-top:3px;padding-left:1px;color:#fff;font-size:12px;line-height:12px;text-transform:uppercase}
#header .sns_say .say .comment{overflow:hidden;display:block;clear:both;float:left;width:332px;height:40px;margin-top:7px;color:#a5a4a4;font-size:12px;line-height:18px}
#header .sns_nav{float:left;width:20px;height:42px}
#header .sns_nav ul{float:left;width:18px;height:40px;padding-right:2px;padding-bottom:2px;background:url(../img/shadow/sns.png)}
#header .sns_nav li{float:left;width:18px;height:20px}
#header .sns_nav li .arrow{float:left;width:18px;height:20px;cursor:pointer}
#header .sns_nav li a img{float:left;width:18px;height:20px}
.item_wrap{display:block;float:left;position:relative;top:0;left:0;width:100%;height:100%;z-index:650}
.item_section{display:block;position:relative;width:1020px;margin:0 auto;height:100%;}
.main_link{float:left;position:relative;width:500px;height:220px;margin-top:180px;margin-left:30px;}
.main_indicator{float:left;width:498px;height:23px;margin-top:3px;margin-left:2px}
.main_title{float:left;width:499px;height:25px;margin-top:2px;margin-left:1px}
.main_comment{float:left;width:500px;margin-top:10px;margin-left:-1px}
.main_comment img{float:left}
.main_btn{float:left;width:495px;height:22px;margin-top:18px;margin-left:5px}
.main_btn a{float:left;width:121px;height:22px;background-image:url(../img/main/go.png)}
#util_menu2{position:absolute;top:131px;left:31px;width:550px;height:20px;background:url(../img/main/bg_lstutil.png) no-repeat}
#util_menu2 li{float:left}
#util_menu2 li a{display:inline-block;overflow:hidden;height:12px;margin-right:12px;line-height:999px;vertical-align:top}
#util_menu2 .util_sitemap{width:48px}
#util_menu2 .util_brochure{width:60px;margin-right:15px}
#util_menu2 .util_privacy{width:73px;margin-right:15px}
#util_menu2 .util_blog{width:30px;margin-right:18px}
#util_menu2 .util_facebook{width:57px;margin-right:0}
#util_menu2 .fb_area{display:inline-block;position:absolute;top:-6px;left:335px;width:181px;background:#3b3b3b}
.btn_reddot{position:absolute;top:-54px;left:50%;margin-left:-288px;z-index:500}