@charset "utf-8";

/* module */
/* loading */
.loading{position:fixed;display:none;z-index:800;top:170px;left:0;width:100%;background-color:#3b3b3b;text-align:center}
.loading span{position:absolute;top:50%;left:50%;color:#fff}
/* header */
#header{position:fixed;display:block;float:left;height:170px}
#next_logo_small{display:none;position:absolute;z-index:850;top:20px;left:30px;width:166px;height:41px}
#next_logo_small a{position:relative;float:left;width:166px;height:41px}
#next_logo_small a img{float:left;width:166px;height:41px}
.gnb_indicator{display:none;position:absolute;top:33px;left:797px;width:192px;height:12px}
#gnb_sitemap_indicator{background-image:url(../img/indicator/header/sitemap.jpg)}
#gnb_brochure_indicator{background-image:url(../img/indicator/header/brochure.jpg)}
#gnb_about_indicator{background-image:url(../img/indicator/header/about.jpg)}
#gnb_curriculum_indicator{background-image:url(../img/indicator/header/curriculum.jpg)}
#gnb_faculty_indicator{background-image:url(../img/indicator/header/faculty.jpg)}
#gnb_admission_indicator{background-image:url(../img/indicator/header/admission.jpg)}
#gnb_campus_indicator{background-image:url(../img/indicator/header/campus.jpg)}
#gnb_post_indicator{background-image:url(../img/indicator/header/post.jpg)}
#gnb_industrylink_indicator{background-image:url(../img/indicator/header/industrylink.jpg)}
#gnb_community_indicator{background-image:url(../img/indicator/header/community.jpg)}
#module{overflow:hidden;position:relative;display:block;top:0;left:0;float:left;width:100%;margin-top:170px;padding-bottom:65px}
#module_wrap{overflow:hidden;display:block;top:0;left:0;position:relative;width:1020px;margin:0 auto}
#module_container{display:block;float:left;position:relative;width:100%}
#module_admission_2013 .title_wrap{letter-spacing:-1px}
.module_menu{display:block;position:relative;top:0;left:0;width:100%}
.module_indicator{display:none;position:absolute;top:-52px;left:30px;height:15px}
.module_menu ul{overflow:hidden;display:block;position:relative;float:left}
.module_menu ul li{float:left;width:192px;height:280px;margin-right:4px;margin-bottom:8px;margin-left:4px}
.module_menu ul li a{position:relative;float:left;width:192px;height:280px;background-color:#fff;cursor:pointer}
.module_menu .shadow{overflow:hidden;position:absolute;top:-1px;left:-2px;width:198px;height:286px;background-image:url(../img/shadow/module.png);text-indent:-9999px}
.module_menu .thumb{float:left;width:192px;height:165px}
.module_menu .thumb img{float:left;width:192px;height:165px}
.module_menu .info{float:left;width:192px;height:115px}
.module_menu .title_wrap{float:left;width:192px;height:23px}
.module_menu .title{float:right;margin-top:7px;margin-right:10px;font-weight:bold;color:#000;font-size:14px;line-height:16px}
.module_menu .desc{display:block;float:left;width:172px;margin-right:10px;margin-left:10px;color:#555;line-height:17px;text-align:justify;}
.module_menu .col1{margin-top:57px}
.module_menu .col2{margin-top:40px}
.module_menu .col3{margin-top:23px}
.module_menu .col4{margin-top:6px}
/* module color */
#about_menu .thumb{background-color:#c27bec}
#curriculum_menu .thumb{background-color:#75e5be}
#faculty_menu .thumb{background-color:#5766f7}
#admission_menu .thumb{background-color:#f26522}
#campus_menu .thumb{background-color:#71df4f}
#after_menu .thumb{background-color:#f5426c}
#industrylink_menu .thumb{background-color:#35c7fd}
#community_menu .thumb{background-color:#ffcb2e}
/* footer */
#footer{display:block;position:fixed;z-index:800;bottom:0;left:0;width:100%;height:65px;background-color:#3b3b3b}
#footer_wrap{position:relative;width:1024px;height:65px;margin:0 auto}
#footer .sns_say_container{position:absolute;top:13px;left:30px;width:630px;height:40px}
#footer .sns_say_wrap{overflow:hidden;position:relative;top:0;left:7px;float:left;width:600px;height:40px}
#footer .sns_nav{float:left;width:20px;height:42px}
#footer .sns_nav ul{float:left;width:18px;height:40px;padding-right:2px;padding-bottom:2px;background:url(../img/shadow/sns.png)}
#footer .sns_nav li{float:left;width:18px;height:20px}
#footer .sns_nav li .arrow{float:left;width:18px;height:20px;cursor:pointer}
#footer .sns_nav li a img{float:left;width:18px;height:20px}
#footer .sns_say{position:absolute;top:0;left:0;width:600px;height:120px}
#footer .sns_say li{position:absolute;left:0;width:600px;height:40px}
#footer .sns_say .thumb{float:left;width:32px;height:32px;padding:4px}
#footer .sns_say .thumb img{float:left;width:32px;height:32px}
#footer .sns_say .say{float:left;width:550px;height:40px;margin-left:10px}
#footer .sns_say .say .user{display:block;clear:both;float:left;height:14px;margin-top:4px;color:#fff;font-size:12px;line-height:12px;text-transform:uppercase}
#footer .sns_say .say .comment{display:block;clear:both;float:left;width:550px;height:12px;margin-top:4px;color:#a5a4a4;font-size:12px;line-height:12px}
#policy{position:absolute;width:365px;height:25px;margin-top:21px;margin-left:681px}/*20130111-수정*/
#policy img{float:left}
#nhnnext_tel{float:left;width:85px;height:9px}
#nhnnext_tel .tel_title{float:left;width:18px;height:7px}
#nhnnext_tel .tel_number{float:left;width:65px;height:9px;margin-left:2px}
#nhnnext_fax{float:left;width:85px;height:7px}
#nhnnext_fax .fax_title{float:left;width:18px;height:7px;margin-left:3px}
#nhnnext_fax .fax_number{float:left;width:61px;height:7px;margin-left:3px}
#nhnnext_email{float:left;width:165px;height:9px;margin-left:6px}
#nhnnext_email .email_title{float:left;width:30px;height:7px}
#nhnnext_email .email_address{float:left;width:133px;height:9px;margin-left:2px}
#nhnnext_copyright{float:left;width:249px;height:7px;margin-top:7px;margin-left:92px}