@charset "utf-8";

/* after */
#after_overview .comment{margin-top:303px;margin-left:30px}
#after_overview .indicator_title{margin-left:0}
#after_future .summary{margin-top:125px;margin-left:-1px}
#after_future .column_title{margin-top:80px;margin-left:-1px}
#after_future .desc_column{padding-top:165px}
#after_future .paragraph_content{position:relative}
#after_future .num{position:absolute;top:0;left:-76px;width:22px}
#after_future .thumb{float:left;width:170px;margin-right:30px;padding-bottom:80px}
#after_future .thumb img{float:left}
#after_future .info{position:relative;float:left;width:380px}
#after_future .text_thumb{position:absolute;top:0;left:0;width:380px}
#after_future .title{float:left;width:380px;font-size:13px;color:#333;font-weight:bold}
#after1 .thumb{height:370px}
#after1 .title{padding-top:131px}
#after2 .thumb{float:right;padding-top:39px;margin-right:0;margin-left:30px}
#after2 .title{padding-top:188px}
#after3 .title{padding-top:68px}
#after_future .info{float:left;padding-bottom:76px}
#after_future .info .desc{float:left;width:380px;padding-top:3px}
#support_overview .comment{margin-top:317px;margin-left:488px}
#support_overview .indicator_title{margin-left:0}
#support_support .column_title{margin-left:-1px}
#support_support .desc_column{float:left;padding-top:170px;padding-bottom:4px}
#support_support .paragraph_content{position:relative}
#support_support .title{position:absolute;top:-33px;left:-380px}
#support_support .support_title{float:left;width:580px;padding-bottom:2px;font-size:14px;font-weight:bold}
#support_support .support_desc{float:left;width:580px;padding-bottom:72px}
#support4 .title{top:-35px}
#support5 .title{top:-14px}
body.mobile #after1 .info>.title{height:20px}
body.mobile #after1 .info>.desc{height:220px}
body.mobile #after2 .info>.title{height:40px}
body.mobile #after2 .info>.desc{height:140px}
body.mobile #after3 .info>.title{height:40px}
body.mobile #after3 .info>.desc{height:260px}
body.mobile #support_support .support_title{height:20px}
body.mobile #support1 .support_desc{height:120px}
body.mobile #support2 .support_desc{height:60px}
body.mobile #support3 .support_desc{height:80px}
body.mobile #support4 .support_desc{height:120px}
body.mobile #support5 .support_desc{height:80px}