@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:나눔고딕,NanumGothic,돋움,dotum,sansserif;font-size:12px;color:#555;line-height:20px;word-spacing:-1px}
html{overflow-y:scroll}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,span{display:block}
h1{display:none;overflow:hidden;text-indent:-9999px}
legend{display:none}
#wrap{overflow:hidden;display:block;float:left;width:580px;height:100%;padding:15px}
.guidelines_util{float:left;width:580px;height:28px;margin-top:5px;padding-bottom:18px;border-bottom:solid 1px #333}
.guidelines_title{float:left;width:324px;height:25px;margin-top:3px}
.guidelines_title img{float:left}
.print_btn_area{float:left;width:124px;height:31px;margin-right:8px}
.print_btn_area .print_btn{float:left;width:124px;height:28px;background-image:url(../img/content/admission/print/print.jpg)}
.cancel_btn_area{float:left;width:124px;height:31px}
.cancel_btn_area .cancel_btn{float:left;width:124px;height:28px;background-image:url(../img/content/admission/print/cancel.jpg)}
.guidelines_desc .guidelines_body{margin-top:57px}
.guidelines_footer{float:left;width:100%;height:35px;padding-top:20px;border-top:solid 1px #333}
.guidelines_footer .print_btn_area{margin-left:324px}