@charset "utf-8";

/* brochure */
body{background-color:#fff}
#search_result{overflow:hidden;position:relative;display:block;top:0;left:0;float:left;width:100%;margin-top:170px;padding-bottom:120px}
#search_result .item_wrap{overflow:hidden;display:block;float:left;position:relative;top:0;left:0;width:100%}
#search_result .item_section{position:relative;width:1020px;margin:0 auto}
#search_result .item_section .column{display:block;position:relative;float:left;width:960px;height:100%;margin-left:30px;margin-right:30px}
#search_result .item_section .result_menu{display:block;position:relative;float:left;width:310px;height:20px;padding-top:7px;padding-right:10px;padding-bottom:42px;padding-left:10px;border-top:solid 1px #d9d9d9}
#search_result .item_section .result_menu a{display:inline;float:left;height:20px;font-weight:bold;color:#333}
#search_result .item_section .result_desc{display:block;position:relative;float:right;width:560px;height:40px;padding-top:7px;padding-right:10px;padding-bottom:22px;padding-left:10px;margin-left:50px;border-top:solid 1px #d9d9d9;word-spacing:0;color:#999}

#search_result em{font-weight:bold;color:#333}
#search_result_wrap .column{margin-top:70px;border-bottom:solid 1px #aeaeae}
#search_info{float:left;padding-top:20px;padding-bottom:21px;background-color:#f7f7f7;border-bottom:solid 1px #dbdbdb}
.result_count{float:left;width:800px;height:18px;font-size:13px;line-height:18px}
.result_close{float:right;width:18px;height:18px;background-image:url(../img/search/close.jpg);background-position:-2px -2px}
