@charset "utf-8";

/* sitemap */
#header{position:fixed;display:block;float:left;height:170px}
#next_logo_small{display:none;position:absolute;z-index:900;top:20px;left:30px;width:166px;height:41px}
#next_logo_small a{position:relative;float:left;width:166px;height:41px}
#next_logo_small a img{float:left;width:166px;height:41px}
#sitemap{overflow:hidden;position:relative;display:block;top:0;left:0;float:left;width:100%;margin-top:170px;padding-bottom:65px}
#sitemap a{color:#a5a6a6}
#sitemap a:hover{color:#fff;text-decoration:underline}
#sitemap_wrap{overflow:hidden;display:block;top:0;left:0;position:relative;width:1020px;margin:0 auto}
#sitemap_column{display:block;float:left;width:100%}
#sitemap_wrap>div>div{overflow:hidden;display:block;position:relative;float:left;width:980px;margin-left:20px;margin-right:20px;padding-bottom:60px}
#sitemap_wrap>div>div>div{float:left;width:225px;margin-left:10px;margin-right:10px}
#sitemap_wrap>div>div>div .title{float:left;width:225px;height:22px;margin-bottom:27px}
#sitemap_wrap>div>div>div .title a{overflow:hidden;float:left;width:225px;height:22px;text-indent:-9999px;background-position:-2px -2px}
#sitemap_wrap>div>div>div .title a:hover{background-position:-2px -26px}
#about_menu .title a{background-image:url(../img/sitemap/about.png);background-position:-2px -2px}
#curriculum_menu .title a{background-image:url(../img/sitemap/curriculum.png);background-position:-2px -2px}
#faculty_menu .title a{background-image:url(../img/sitemap/faculty.png);background-position:-2px -2px}
#admission_menu .title a{background-image:url(../img/sitemap/admission.png);background-position:-2px -2px}
#campus_menu .title a{background-image:url(../img/sitemap/campus.png);background-position:-2px -2px}
#post_menu .title a{background-image:url(../img/sitemap/post.png);background-position:-2px -2px}
#industry_menu .title a{background-image:url(../img/sitemap/industry.png);background-position:-2px -2px}
#community_menu .title a{background-image:url(../img/sitemap/community.png);background-position:-2px -2px}