@charset "utf-8";
/* Bluewave Web Standard Team KKS 121022, WSY 121022 */

.jstree-classic li,.jstree-classic ins{background-image:url(images/spr_tree.png);background-repeat:no-repeat;background-color:transparent}
.jstree-classic li{background-position:-90px 0;background-repeat:repeat-y}
.jstree-classic li.jstree-last{background:transparent}
.jstree-classic .jstree-open > ins{background-position:-72px 0}
.jstree-classic .jstree-closed > ins{background-position:-54px 0}
.jstree-classic .jstree-leaf > ins{background-position:-36px 0}

.jstree-classic .jstree-hovered{padding:1px 2px;color:#999;text-decoration:underline}
.jstree-classic .jstree-clicked{padding:1px 2px;font-weight:bold;color:#00a4ce}
.jstree-classic a .jstree-icon{background-position:-56px -19px}
.jstree-classic .jstree-open > a .jstree-icon{background-position:-56px -36px}
.jstree-classic a.jstree-loading .jstree-icon{background:url(images/ico_throbber.gif) center center no-repeat !important}

.jstree-classic.jstree-focused{background:#FFF}

.jstree-classic .jstree-no-dots li,.jstree-classic .jstree-no-dots .jstree-leaf > ins{background:transparent}
.jstree-classic .jstree-no-dots .jstree-open > ins{background-position:-18px 0}
.jstree-classic .jstree-no-dots .jstree-closed > ins{background-position:0 0}

.jstree-classic .jstree-no-icons a .jstree-icon{display:none}

.jstree-classic .jstree-search{font-style:italic}

.jstree-classic .jstree-no-icons .jstree-checkbox{display:inline-block}
.jstree-classic .jstree-no-checkboxes .jstree-checkbox{display:none !important}
.jstree-classic .jstree-checked > a > .jstree-checkbox{background-position:-38px -19px}
.jstree-classic .jstree-unchecked > a > .jstree-checkbox{background-position:-2px -19px}
.jstree-classic .jstree-undetermined > a > .jstree-checkbox{background-position:-20px -19px}
.jstree-classic .jstree-checked > a > .jstree-checkbox:hover{background-position:-38px -37px}
.jstree-classic .jstree-unchecked > a > .jstree-checkbox:hover{background-position:-2px -37px}
.jstree-classic .jstree-undetermined > a > .jstree-checkbox:hover{background-position:-20px -37px}

#vakata-dragged.jstree-classic ins{background:transparent !important}
#vakata-dragged.jstree-classic .jstree-ok{background:url(images/spr_tree.png) -2px -53px no-repeat !important}
#vakata-dragged.jstree-classic .jstree-invalid{background:url(images/spr_tree.png) -18px -53px no-repeat !important}
#jstree-marker.jstree-classic{background:url(images/spr_tree.png) -41px -57px no-repeat !important;text-indent:-100px}

.jstree-classic a.jstree-search{color:aqua}
.jstree-classic .jstree-locked a{color:silver;cursor:default}

#vakata-contextmenu.jstree-classic-context,#vakata-contextmenu.jstree-classic-context li ul{border:1px solid #979797;background:#f0f0f0;-moz-box-shadow:1px 1px 2px #999;-webkit-box-shadow:1px 1px 2px #999;box-shadow:1px 1px 2px #999}
#vakata-contextmenu.jstree-classic-context li{}
#vakata-contextmenu.jstree-classic-context a{color:#000}

#vakata-contextmenu.jstree-classic-context a:hover,#vakata-contextmenu.jstree-classic-context .vakata-hover > a{padding:0 5px;border:1px solid #aecff7;border-radius:2px;background:#e8eff7;color:#000;-moz-border-radius:2px;-webkit-border-radius:2px}

#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled a,#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled a:hover{padding:1px 4px;border:0;background:transparent;color:silver}
#vakata-contextmenu.jstree-classic-context li.vakata-separator{margin:0;border-top:1px solid #e0e0e0;background:#FFF}
#vakata-contextmenu.jstree-classic-context li ul{margin-left:-4px}