<div id="guide_title">
	<div id="dir_file_list" class="guide_dir">file list</div>
</div>
<div class="items">
	<div id="list_gnb_header" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				GNB & header
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_title">
					Main Type.
				</div>
				<div class="category_link">
					<a href="../gnb_header_main.html" target="_blank">guide.nhnnext.org/gnb_header_main.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Module & Content Type.
				</div>
				<div class="category_link">
					<a href="../gnb_header_sub.html" target="_blank">guide.nhnnext.org/gnb_header_sub.html</a>
				</div>
			</div>
		</div>
	</div>
	<div id="list_footer" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				Footer
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_link">
					<a href="../footer.html" target="_blank">guide.nhnnext.org/footer.html</a>
				</div>
			</div>
		</div>
	</div>
	<div id="list_main" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				main
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_link">
					<a href="../index.html" target="_blank">guide.nhnnext.org/index.html</a>
				</div>
			</div>
		</div>
	</div>
	<div id="list_module" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				module
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_title">
					About NEXT(소개)
				</div>
				<div class="category_link">
					<a href="../about.html" target="_blank">guide.nhnnext.org/about.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Curriculum(교육과정)
				</div>
				<div class="category_link">
					<a href="../curriculum.html" target="_blank">guide.nhnnext.org/curriculum.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Faculty / Staff(교수 / 운영진)
				</div>
				<div class="category_link">
					<a href="../faculty.html" target="_blank">guide.nhnnext.org/faculty.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Admission(입학)
				</div>
				<div class="category_link">
					<a href="../admission.html" target="_blank">guide.nhnnext.org/admission.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Campus Life(학교생활)
				</div>
				<div class="category_link">
					<a href="../campus.html" target="_blank">guide.nhnnext.org/campus.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Post - NEXT(취업/창업/진학)
				</div>
				<div class="category_link">
					<a href="../post.html" target="_blank">guide.nhnnext.org/post.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Industry Link(산학연계)
				</div>
				<div class="category_link">
					<a href="../industrylink.html" target="_blank">guide.nhnnext.org/industrylink.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Community(커뮤니티)
				</div>
				<div class="category_link">
					<a href="../community.html" target="_blank">guide.nhnnext.org/community.html</a>
				</div>
			</div>
		</div>
	</div>
	<div id="list_content" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				module
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_title">
					About NEXT(소개)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							설립배경.
						</div>
						<div class="category_link">
							<a href="../about/establish.html" target="_blank">guide.nhnnext.org/about/establish.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							교육목표.
						</div>
						<div class="category_link">
							<a href="../about/objective.html" target="_blank">guide.nhnnext.org/about/objective.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							핵심경쟁력.
						</div>
						<div class="category_link">
							<a href="../about/competitiveness.html" target="_blank">guide.nhnnext.org/about/competitiveness.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							인재상.
						</div>
						<div class="category_link">
							<a href="../about/talent.html" target="_blank">guide.nhnnext.org/about/talent.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Curriculum(교육과정)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							웹프로그래밍.
						</div>
						<div class="category_link">
							<a href="../curriculum/web.html" target="_blank">guide.nhnnext.org/curriculum/web.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							UI프로그래밍.
						</div>
						<div class="category_link">
							<a href="../curriculum/ui.html" target="_blank">guide.nhnnext.org/curriculum/ui.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							모바일 프로그래밍.
						</div>
						<div class="category_link">
							<a href="../curriculum/mobile.html" target="_blank">guide.nhnnext.org/curriculum/mobile.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							게임 프로그래밍.
						</div>
						<div class="category_link">
							<a href="../curriculum/game.html" target="_blank">guide.nhnnext.org/curriculum/game.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							게임서버 프로그래밍.
						</div>
						<div class="category_link">
							<a href="../curriculum/server.html" target="_blank">guide.nhnnext.org/curriculum/server.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							커리큘럼 특징.
						</div>
						<div class="category_link">
							<a href="../curriculum/feature.html" target="_blank">guide.nhnnext.org/curriculum/feature.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							학사 제도.
						</div>
						<div class="category_link">
							<a href="../curriculum/degree.html" target="_blank">guide.nhnnext.org/curriculum/degree.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							교양.
						</div>
						<div class="category_link">
							<a href="../curriculum/cultural.html" target="_blank">guide.nhnnext.org/curriculum/cultural.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Faculty / Staff(교수 / 운영진)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							학장 / 교수님 소개.
						</div>
						<div class="category_link">
							<a href="../faculty/dean.html" target="_blank">guide.nhnnext.org/faculty/dean.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							운영진 소개.
						</div>
						<div class="category_link">
							<a href="../faculty/staff.html" target="_blank">guide.nhnnext.org/faculty/staff.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Admission(입학)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							학생 선발.
						</div>
						<div class="category_link">
							<a href="../admission/pick.html" target="_blank">guide.nhnnext.org/admission/pick.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							장학제도 및 입학생 특전.
						</div>
						<div class="category_link">
							<a href="../admission/sizar.html" target="_blank">guide.nhnnext.org/admission/sizar.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							입시 FAQ.
						</div>
						<div class="category_link">
							<a href="../admission/faq.html" target="_blank">guide.nhnnext.org/admission/faq.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							입학 상담.
						</div>
						<div class="category_link">
							<a href="../admission/consult.html" target="_blank">guide.nhnnext.org/admission/consult.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							2012년 수시모집안내.
						</div>
						<div class="category_link">
							<a href="../admission/guidelines.html" target="_blank">guide.nhnnext.org/admission/guidelines.html</a>
						</div>
						<div class="category_sub_link">
							<div class="category_low_title">
							 	- 모집일정(프린트)
							</div>
							<div class="category_low_link">
								<a href="../admission/guidelines_schedule.html" target="_blank">guide.nhnnext.org/admission/guidelines_schedule.html</a>
							</div>
						</div>
						<div class="category_sub_link">
							<div class="category_low_title">
							 	- 모집전공 및 모집인원(프린트)
							</div>
							<div class="category_low_link">
								<a href="../admission/guidelines_major.html" target="_blank">guide.nhnnext.org/admission/guidelines_major.html</a>
							</div>
						</div>
						<div class="category_sub_link">
							<div class="category_low_title">
							 	- 실기전형(프린트)
							</div>
							<div class="category_low_link">
								<a href="../admission/guidelines_practice.html" target="_blank">guide.nhnnext.org/admission/guidelines_practice.html</a>
							</div>
						</div>
						<div class="category_sub_link">
							<div class="category_low_title">
							 	- 비실기전형(프린트)
							</div>
							<div class="category_low_link">
								<a href="../admission/guidelines_nonpractice.html" target="_blank">guide.nhnnext.org/admission/guidelines_nonpractice.html</a>
							</div>
						</div>
						<div class="category_sub_link">
							<div class="category_low_title">
							 	- 전형별 제출서류(프린트)
							</div>
							<div class="category_low_link">
								<a href="../admission/guidelines_screening.html" target="_blank">guide.nhnnext.org/admission/guidelines_screening.html</a>
							</div>
						</div>
						<div class="category_sub_link">
							<div class="category_low_title">
							 	- 학력별 제출서류(프린트)
							</div>
							<div class="category_low_link">
								<a href="../admission/guidelines_level.html" target="_blank">guide.nhnnext.org/admission/guidelines_level.html</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Campus Life(학교생활)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							2013년 학사일정.
						</div>
						<div class="category_link">
							<a href="../campus/2013.html" target="_blank">guide.nhnnext.org/campus/2013.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							학생지원서비스.
						</div>
						<div class="category_link">
							<a href="../campus/support.html" target="_blank">guide.nhnnext.org/campus/support.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							위치 / 학교시설.
						</div>
						<div class="category_link">
							<a href="../campus/location.html" target="_blank">guide.nhnnext.org/campus/location.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Post - NEXT(취업/창업/진학)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							졸업 후 진로.
						</div>
						<div class="category_link">
							<a href="../post/after.html" target="_blank">guide.nhnnext.org/post/after.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							창업지원프로그램.
						</div>
						<div class="category_link">
							<a href="../post/support.html" target="_blank">guide.nhnnext.org/post/support.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Industry Link(산학연계)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							산학프로젝트.
						</div>
						<div class="category_link">
							<a href="../industrylink/project.html" target="_blank">guide.nhnnext.org/industrylink/project.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							인턴십.
						</div>
						<div class="category_link">
							<a href="../industrylink/internship.html" target="_blank">guide.nhnnext.org/industrylink/internship.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							기업 참여 방식.
						</div>
						<div class="category_link">
							<a href="../industrylink/how.html" target="_blank">guide.nhnnext.org/industrylink/how.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							NEXT 프로젝트.
						</div>
						<div class="category_link">
							<a href="../industrylink/next.html" target="_blank">guide.nhnnext.org/industrylink/next.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Community(커뮤니티)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							공지사항.
						</div>
						<div class="category_link">
							<a href="../community/notice.html" target="_blank">guide.nhnnext.org/community/notice.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							IT명사의 편지.
						</div>
						<div class="category_link">
							<a href="../community/letter.html" target="_blank">guide.nhnnext.org/community/letter.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							NEXT 광장.
						</div>
						<div class="category_link">
							<a href="../community/square.html" target="_blank">guide.nhnnext.org/community/square.html</a>
						</div>
					</div>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Content Util - 공통<br/>
					(연관컨텐츠, 공유하기, 댓글달기)
				</div>
				<div class="category_link">
					<a href="../util/util.html" target="_blank">guide.nhnnext.org/util/util.html</a>
				</div>
			</div>
		</div>
	</div>
	<div id="list_util" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				util
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_title">
					Sitemap(사이트맵)
				</div>
				<div class="category_link">
					<a href="../sitemap.html" target="_blank">guide.nhnnext.org/sitemap.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Brochure(브로슈어)
				</div>
				<div class="category_link">
					<a href="../brochure.html" target="_blank">guide.nhnnext.org/brochure.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					Search(검색결과)
				</div>
				<div class="category_sub">
					<div class="category_content">
						<div class="category_sub_title">
							Type 1.
						</div>
						<div class="category_link">
							<a href="../search1.html" target="_blank">guide.nhnnext.org/search1.html</a>
						</div>
					</div>
					<div class="category_content">
						<div class="category_sub_title">
							Type 2.
						</div>
						<div class="category_link">
							<a href="../search2.html" target="_blank">guide.nhnnext.org/search2.html</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="list_error" class="item_wrap">
		<div class="item_title_section">
			<div class="item_title">
				error
			</div> 
		</div>
		<div class="item_column">
			<div class="category">
				<div class="category_title">
					점검시간입니다.
				</div>
				<div class="category_link">
					<a href="../error/error_check.html" target="_blank">guide.nhnnext.org/error/error_check.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					페이지를 찾을 수 없습니다.
				</div>
				<div class="category_link">
					<a href="../error/error_notfound.html" target="_blank">guide.nhnnext.org/error/error_notfound.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					페이지를 표시할 수 없습니다.
				</div>
				<div class="category_link">
					<a href="../error/error_nodisplay.html" target="_blank">guide.nhnnext.org/error/error_nodisplay.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					사용자가 많습니다.
				</div>
				<div class="category_link">
					<a href="../error/error_over.html" target="_blank">guide.nhnnext.org/error/error_over.html</a>
				</div>
			</div>
			<div class="category">
				<div class="category_title">
					사용권한이 없습니다.
				</div>
				<div class="category_link">
					<a href="../error/error_auth.html" target="_blank">guide.nhnnext.org/error/error_auth.html</a>
				</div>
			</div>
		</div>
	</div>
</div>