@charset "utf-8";
/* Bluewave Web Standard Team SJS 130805 */

/* Layout */
#wrap{position:relative;width:100%;min-width:320px;height:auto;min-height:100%}
#header{position:fixed;z-index:100;width:100%;background:#222939}
#header{}
#header .inner{position:relative}
#header .inner:after{display:block;clear:both;content:''}
#container{width:100%;padding-bottom:70px}
.main #content{overflow:hidden;margin:0 15px;padding-top:70px}
#content{overflow:hidden;height:100%;min-height:;margin:0 15px 50px;padding-top:69px;padding-bottom:}
#footer{position:absolute;left:0;bottom:0;width:100%;padding:20px 0;background:#23293a}
#footer .inner{margin:0 15px}
#footer .inner:after{display:block;content:'';clear:both}

/* Set Class */
.section{overflow:hidden;position:relative;zoom:1}
.section.v10{margin-bottom:10px}
.section.v20{margin-bottom:20px}
.section.v30{margin-bottom:30px}
.section.v40{margin-bottom:40px}
.section.v50{margin-bottom:50px}
.section.v60{margin-bottom:60px}
.section.v70{margin-bottom:70px}

/* Btn */
.btn{display:inline-block;overflow:hidden;background:url(../img/sp_btn.png) no-repeat;text-indent:-9999em}
.btn_m2day{width:30px;height:30px;background-position:0 0}
.btn_twitter{width:30px;height:30px;background-position:-35px 0}
.btn_facebook{width:30px;height:30px;background-position:-70px 0}
.btn_tog{width:41px;height:40px;background-position:-110px 0}
.btn_tog.on{width:41px;height:40px;background-position:-155px 0}
.btn_map{width:10px;height:11px;background-position:0 -45px}
.btn_spr{display:inline-block;background:url(../img/sp_btn.png) no-repeat;vertical-align:middle;white-space:nowrap}
.btn_spr span{display:block;background:url(../img/sp_btn.png) no-repeat}
.btn_blue_v1{height:30px;padding-right:5px;background-position:100% -65px;font-size:13px;color:#fff !important}
.lft_blue_v1{padding:6px 15px 7px 20px;background-position:0 -65px !important}
.btn_blue_v2{height:50px;padding-right:5px;background-position:100% -370px;font-size:15px;font-weight:bold;color:#fff !important}
.lft_blue_v2{padding:17px 35px 16px 40px;background-position:0 -370px !important}
.btn_blue_v3{height:50px;padding-right:5px;background-position:100% -430px;font-size:15px;font-weight:bold;color:#fff !important}
.lft_blue_v3{padding:17px 35px 16px 60px;background-position:0 -430px !important}
.btn_gray_v1{height:50px;padding-right:5px;background-position:100% -590px;font-size:15px;font-weight:bold;color:#fff !important}
.lft_gray_v1{padding:17px 35px 16px 40px;background-position:0 -590px !important}
.btn_bmark{width:16px;height:16px;background-position:-35px -45px;vertical-align:middle}
.btn_bmark.on{background-position:-70px -45px}
.btn_next{width:32px;height:23px;background-position:0 -105px}
.btn_prev{width:32px;height:23px;background-position:-35px -105px}
.btn_next2{width:42px;height:37px;background-position:-130px -105px}
.btn_prev2{width:42px;height:37px;background-position:-70px -105px}
.btn_naver2.off{width:25px;height:24px;background-position:0 -560px}
.btn_m2day2.off{width:25px;height:24px;background-position:-35px -560px}
.btn_twitter2.off{width:25px;height:24px;background-position:-70px -560px}
.btn_fbook2.off{width:25px;height:24px;background-position:-105px -560px}
.btn_naver2{width:25px;height:24px;background-position:0 -150px}
.btn_m2day2{width:25px;height:24px;background-position:-35px -150px}
.btn_twitter2{width:25px;height:24px;background-position:-70px -150px}
.btn_fbook2{width:25px;height:24px;background-position:-105px -150px}
.btn_twitter3{width:22px;height:22px;background-position:-130px -240px}
.btn_m2day3{width:22px;height:22px;background-position:-155px -240px}
.btn_fbook3{width:22px;height:22px;background-position:-130px -270px}
.btn_write{width:73px;height:64px;background-position:0 -295px}

.btn_etwi{width:30px;height:30px;background-position:-137px -147px}
.btn_eface{width:30px;height:30px;background-position:-170px -147px}

/* Ico */
.ico{display:inline-block;overflow:hidden;background:url(../img/sp_ico.png) no-repeat;line-height:999px;vertical-align:middle}
.sw2{width:14px;height:14px;background-position:0 -130px}
.sw8{width:14px;height:14px;background-position:-20px -130px}
.bus{width:24px;height:14px;background-position:0 -150px}
.bus2{width:24px;height:14px;background-position:-30px -150px}
.bus3{width:24px;height:14px;background-position:-60px -150px}
.bus4{width:24px;height:14px;background-position:-90px -150px}
.bus5{width:24px;height:14px;background-position:0 -170px}
.bus6{width:24px;height:14px;background-position:-30px -170px}
.bus7{width:24px;height:14px;background-position:-60px -170px}
.bus8{width:24px;height:14px;background-position:-90px -170px}
.impor{width:7px;height:7px;background-position:-126px -130px}

/* Header */
#header h1{width:100%;max-width:151px;height:40px;margin-left:15px}
#header h1 a{display:inline-block;overflow:hidden;width:117px;height:14px;margin-top:14px;background:url(../img/logo_m.png) no-repeat;line-height:999px}
#header h1 img{display:none}

#header .inner .btn_tog{position:absolute;top:0;right:0}
#header .inner .schedule{display:none}
#gnb ul{display:none}
#gnb ul>li{position:relative;border-bottom:1px solid #000;font-size:16px}
#gnb ul>li:first-child{border-top:1px solid #000}
#gnb ul>li a{display:block;padding:10px 15px 11px;font-weight:bold;color:#fff}
#gnb ul>li a:hover,#gnb ul>li.on>a{background:#000;color:#009cd7}
#gnb ul>li span.arw{display:inline-block;width:8px;height:6px;margin-left:8px;background:url(../img/sp_bu.png) no-repeat;vertical-align:middle;zoom:1}
#gnb .gnbsub{display:none;z-index:10}
#gnb .gnbsub li{float:none;border:0;border-top:1px solid #222939;font-size:14px}
#gnb .gnbsub li a{padding:11px 0 11px 35px;border:0;background:#000}

/* Footer */
#footer .inner .tidings{float:right}
#footer .inner .sns_area{float:right}
#footer .inner .sns_area p{display:none}
#footer .inner .sns_area div.fl a{margin-left:4px}
#footer .inner .sns_area div.fl a:first-child{margin-left:0}
#footer .inner .issue_deview{display:none}
#footer address{float:left;margin-top:8px;font-size:9px;font-family:Verdana,Geneva,sans-serif;color:#91949d}
#footer address span{display:none}
#footer address a{font-weight:bold;color:#91949d}
#footer address a:hover{text-decoration:underline}

/* Select */
.select{display:inline-block;*display:inline;position:relative;background:#c3c8d4;line-height:normal;text-align:left;vertical-align:middle;*zoom:1}
.select{margin:0;padding:0;font-size:13px;cursor:pointer}
.select .myValue{overflow:visible;position:relative;top:0;left:0;z-index:10;border:1px solid #23293a;background:transparent;font-size:13px;line-height:19px;_line-height:normal;color:#23293a;text-align:left}
.select .myValue.selected{font-weight:bold}
.select.open .myValue,.select .myValue.outline{border:1px solid #23293a}
.select button.myValue{width:100%;height:24px;*padding-left:5px;text-indent:10px;*text-indent:0;cursor:pointer}
.select div.myValue{height:21px;text-indent:10px}
.select .ctrl{position:absolute;top:0;right:0;width:25px;height:24px;border-left:1px solid #23293a;background:#c3c8d4}
.select .arrow{position:absolute;top:10px;right:8px;width:0;height:0;border-bottom:4px solid #23293a;border-left:4px solid #c3c8d4;border-right:4px solid #c3c8d4;line-height:0;font-size:0}
.select ul{overflow:hidden;bottom:23px;left:1px;width:98%;margin:0 !important;padding:0 !important;border:0;border-top:1px solid #bababa;border-bottom:1px solid #bababa;background:#fff;list-style:none}
.select ul.alist{display:none}
.select.open ul.alist{display:block}
.select ul.ilist{left:-2000%}
.select.open ul.ilist{left:0}
.select li{overflow:hidden;position:relative;height:22px;border-left:1px solid #bababa;border-right:1px solid #bababa;white-space:nowrap}
.select li input.option{position:absolute;width:100%;height:20px;line-height:20px}
.select li label{position:absolute;top:0;left:0;width:100%;height:22px;background:#fff;line-height:22px;color:#767676;text-indent:10px;*text-indent:8px}
.select li a{display:block;height:22px;background:#fff;line-height:22px;font-weight:normal;color:#767676;text-decoration:none;text-indent:10px;*text-indent:6px}
.select li a:hover{background:#999;color:#fff}

@media all and (min-width:768px){

/* Layout */
#header .inner{height:68px;margin:0 2.35%}
#container{padding-bottom:210px}
#content{margin:0 2.35% 100px;padding-top:138px}
.main #content{padding-top:90px}
#footer{padding:30px 0 40px}
#footer .inner{margin:0 2.35%}

/* Header */
#header h1{float:left;height:18px;margin:26px 0 0}
#header h1 img{display:block;width:100%;vertical-align:top}
#header h1 a{display:inline;background:none}
#header .inner .btn_tog{display:none}

#header .inner .schedule{display:block;float:right;margin-top:18px;font-size:10px;font-family:av55;line-height:1.8em;color:#a6aab7}
#header .inner .week{font-size:17px;font-weight:bold;vertical-align:middle}
#header .inner .schedule .btn_map{margin-left:5px;vertical-align:-1px}
#header .inner .schedule p.map a{font-size:11px;color:#a6aab7}
#header .inner .schedule p.map a:hover .btn_map{background-position:-16px -45px}

#gnb{float:left;margin-left:50px}
#gnb ul{display:block}
#gnb ul:after{display:block;clear:both;content:''}
#gnb ul>li{float:left;border:0;border-right:1px solid #000}
#gnb ul>li:first-child{border-left:1px solid #000}
#gnb ul>li a{padding:24px 19px 25px}
#gnb ul>li a:hover,#gnb ul>li.on>a{background:#000;color:#009cd7}
#gnb ul>li span.arw{display:inline-block;width:8px;height:6px;margin-left:8px;background:url(../img/sp_bu.png) no-repeat;vertical-align:middle;zoom:1}
#gnb .gnbsub{position:absolute;left:-1px;width:203%;padding:20px 0 29px;background:#000}
#gnb .gnbsub.v2{width:188%}
#gnb .gnbsub li{margin-top:12px;border-top:0}
#gnb .gnbsub li:first-child{margin:0}
#gnb .gnbsub li a{padding:0 0 0 20px;border:0}

/* Footer */
#footer .inner .tidings{float:none}
#footer .inner .sns_area{float:left}
#footer .inner .sns_area p{display:block;width:150px;height:30px;margin:-2px 0 0 20px;line-height:1.5em;color:#fff}
#footer .inner .issue_deview{display:block;float:right}
#footer .inner .issue_deview span.txt2{display:inline-block;margin-right:20px;color:#fff}
#footer address{margin-top:27px;color:#91949d}
#footer address span{display:inline-block}
#footer address a{margin:0 5px;color:#91949d}

}

@media all and (min-width:768px) and (max-width:1024px){

/* Header */
#gnb{margin-left:3%}
#gnb ul>li a{padding:24px 12px 25px}
}

@media all and (min-width:768px) and (max-width:900px){

/* Header */
#gnb{margin-left:1.5%}
#gnb ul>li a{padding:24px 9px 25px}
}

@media all and (min-width:768px) and (max-width:850px){

/* Header */
#header h1{width:15%;margin-top:27px}
#gnb{margin-left:1%}
#gnb ul>li a{padding:24px 10px 25px;font-size:14px}
#header .inner .schedule{font-size:12px}
}

@media all and (min-width:1025px){

/* Layout */
#header .inner{width:960px;margin:0 auto}
#content{width:960px;margin:0 auto}
.main #content{width:960px;margin:0 auto}
#footer .inner{width:960px;margin:0 auto}
}