@charset "utf-8";
/* Bluewave Web Standard Team SJS 130805 */

.main #container{padding-bottom:100px}
.sns{margin-bottom:28px;text-align:right}
.main_group.lft{width:100%;margin-bottom:10px}
.main_group.lft.v2 ul:first-child,.main_group.lft.v3 ul:first-child{margin-top:0}
.main_group.rgt{width:100%;margin-bottom:0}
.main_group.rgt ul:first-child{margin-bottom:10px}
.lst_main{overflow:hidden}
.lst_main li{overflow:hidden;position:relative}
.lst_main li img{width:100%}
.lst_main li .txt_area{position:relative}
.lst_main li p.main_txt{position:absolute;bottom:0;z-index:10;width:100%;height:32px;padding:9px 15px;background:url(../img/bg_main_txt.png) repeat-x;font-size:15px;line-height:1em;font-weight:bold;color:#fff}
.lst_main li p.main_txt .txt_pro{display:block;margin-top:2px;font-size:15px;font-weight:bold}
.lst_main li p.main_txt span{font-size:12px;font-weight:normal}
.lst_main li p.main_txt2{position:absolute;top:12px;left:15px;font-size:15px;color:#fff}
.lst_main li p.main_txt.v2{display:none}
.lst_main li p.main_exp{width:100%;font-size:15px;line-height:1.5em;color:#252525;border-bottom:1px solid #c2c3c7}
.lst_main li p.main_exp span{display:block;padding:10px 20px 5px;border-bottom:5px solid #fff}
.lst_main li p.main_exp.v2 strong{display:block;margin-bottom:24px;font-size:16px}
.lst_main li p.main_exp.v2 span{display:block;display:-webkit-box;overflow:hidden;-webkit-line-clamp:5;-webkit-box-orient:vertical;text-overflow:ellipsis}
.lst_main.v2 li p.main_exp.v2 span{-webkit-line-clamp:5}
.lst_main.v4 li p.main_exp.v2 span,.lst_main.v7 li p.main_exp.v2 span{-webkit-line-clamp:5}

.lst_main.v2 li{margin-top:10px}
.lst_main.v2 li:first-child{margin-top:0}
.lst_main.v3 li{width:100%;margin-top:10px}
.lst_main.v3 li:first-child{margin-top:0}
.lst_main.v4{width:100%;margin-bottom:10px}
.lst_main.v4 li{margin-top:10px}
.lst_main.v4 li:first-child{margin-top:0}
.lst_main.v5 li{width:100%;margin-top:10px}
.lst_main.v6 li{margin-top:10px}
.lst_main.v6 li:first-child{margin-top:0}
.lst_main.v7 li{margin-top:10px}
.lst_main.v7 li:first-child{margin-top:0}
.write_start{position:absolute;top:40%;left:13%;width:100%;font-size:60px;line-height:1.4em;color:#fff;text-align:left}
.write_start.v2{top:22%;left:12%;font-size:50px}
.section_bottom_btn{position:relative;background-color:#ccc;line-height:40px;font-size:14px;color:#252525;text-align:center}
.section_more{display:block}
.section_top{display:block;overflow:hidden;position:absolute;top:0;right:0;width:41px;height:40px;background:#ccc url(../img/sp_ico.png) no-repeat -92px -80px;line-height:999px}

@media all and (min-width:768px){
.main #container{padding-bottom:210px}
.section_more{display:none}
.main_group.lft{float:left;width:49.5%;max-width:470px;margin-bottom:0}
.main_group.lft.v2 ul:first-child{margin:0 2% 0 0}
.main_group.rgt{float:left;width:49.5%;max-width:470px;margin-left:1%;margin-bottom:0}
.main_group.rgt.v2 ul:first-child{margin:0 2% 0 0}
.lst_main li a:hover p.main_exp,.lst_main li a:hover p.main_txt span.arw{display:block}
.lst_main li a:hover p.main_txt.v2{display:none}
.lst_main li p.main_txt span.arw{display:none;position:absolute;top:20px;right:46px;width:8px;height:14px;background:url(../img/sp_bu.png) no-repeat 0 -20px}
.lst_main li p.main_exp{display:none;position:absolute;top:0;left:0;z-index:5;width:100%;height:100%;background:#cbe4f4}
.lst_main li p.main_exp span{padding:20px 15px 0;border:0}
.lst_main li p.main_exp.v2 span{padding:10px 40px 0 15px;font-size:13px;-webkit-line-clamp:20}
.lst_main.v2 li p.main_exp.v2 span{-webkit-line-clamp:6}
.lst_main.v4 li p.main_exp.v2 span,.lst_main.v7 li p.main_exp.v2 span{-webkit-line-clamp:7}
.lst_main li p.main_txt.v2{display:-moz-box;display:-webkit-box;display:box;top:0;width:93.7%;height:52px;background:#000;line-height:1.5em;font-size:16px;font-weight:bold;opacity:0.6;filter:alpha(opacity=60);-moz-box-pack:left;-moz-box-align:center;-webkit-box-pack:left;-webkit-box-align:center;box-pack:left;box-align:center}
.lst_main.v3 li{float:left;width:48.9%;max-width:240px;margin-top:0}
.lst_main.v3 li:first-child{width:49%;max-width:230px;margin-right:2%}
.lst_main.v4{float:left;width:49%;max-width:230px;margin-bottom:0}
.lst_main.v5 li{float:left;width:48.9%;max-width:230px;margin-top:10px}
.lst_main.v5 li:first-child{margin-right:2.2%}
.lst_main.v6{float:left;width:49%;max-width:240px}
.lst_main.v7{float:left;width:49%;max-width:240px}
.write_start{font-size:40px}
.write_start.v2{font-size:40px}
}

@media all and (min-width:768px) and (max-width:1024px){
.main_group.rgt ul:first-child{margin-bottom:2.1%}

.lst_main.v2 li{margin-top:2.2%}
.lst_main.v4 li{margin-top:4.6%}
.lst_main.v6 li{margin-top:4.5%}
.lst_main.v7 li{margin-top:4.2%}

.lst_main li p.main_exp.v2 span{-webkit-line-clamp:18}
.lst_main.v2 li p.main_exp.v2 span{-webkit-line-clamp:5}
.lst_main.v4 li p.main_exp.v2 span,.lst_main.v7 li p.main_exp.v2 span{-webkit-line-clamp:5}
}

@media all and (min-width:1025px){
#content.main_wid{width:950px}
}

@media all and (min-width:768px) and (max-width:950px){
.write_start{font-size:36px}
.write_start.v2{font-size:29px}
.lst_main li p.main_exp.v2 span{-webkit-line-clamp:16}
.lst_main.v4 li p.main_exp.v2 span,.lst_main.v7 li p.main_exp.v2 span{-webkit-line-clamp:4}
}

@media all and (min-width:768px) and (max-width:850px){
.lst_main li p.main_exp.v2 span{-webkit-line-clamp:14}
.lst_main.v2 li p.main_exp.v2 span{-webkit-line-clamp:4}
.lst_main.v4 li p.main_exp.v2 span,.lst_main.v7 li p.main_exp.v2 span{-webkit-line-clamp:3}
}

@media all and (min-width:768px) and (max-width:800px){
.write_start{font-size:34px}
.write_start.v2{font-size:26px}
}

@media all and (max-width:700px){
.write_start.v2{font-size:42px}
}

@media all and (max-width:600px){
.write_start{font-size:50px}
.write_start.v2{font-size:36px}

}

@media all and (max-width:500px){
.write_start{font-size:40px}
.write_start.v2{font-size:30px}
}

@media all and (max-width:400px){
.write_start{font-size:30px}
.write_start.v2{font-size:24px}
}

@media all and (max-width:350px){
.write_start{font-size:28px}
.write_start.v2{top:20%;font-size:22px}
}