@charset "utf-8";
/* Bluewave Web Standard Team SJS 130805 */

/* 공통 */
.ml15{margin-left:15px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb18{margin-bottom:18px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb38{margin-bottom:38px}
.mb45{margin-bottom:45px}
.mb48{margin-bottom:48px}
.mb60{margin-bottom:60px}
.mb67{margin-bottom:67px}
.mt52{margin-top:52px}
.mt69{margin-top:69px}
.mt73{margin-top:73px}

/* Layout */
.side_tit{width:100%;margin-bottom:26px}
.side_tit h2{font-size:20px}
.content_area{width:100%}
.content_area.brt{border-top:1px solid #ececec}
.ng{font-family:ng}
.av55{font-family:av55 !important;letter-spacing:0 !important}
.av85{font-family:av55 !important}
.blue{color:#00abf0 !important}
.a_blue{color:#096ae1 !important;text-decoration:underline !important}
.a_blue2{color:#00adee !important;text-decoration:underline !important}
.bu_type1{padding-right:10px;background:url(../img/sp_bu.png) no-repeat 100% -78px;color:#126adf !important}
.fw_n{font-weight:normal !important}
.ta_c{text-align:center}
.p_dn{display:block}
.p_ib{display:inline-block}
.tx_op{margin-bottom:14px;font-size:14px;font-weight:bold}
.pos_r{position:relative}
.pos_a{position:absolute;right:0;top:40%}

/* 타이틀 */
.txt_h3{font-size:20px}
.txt_h3.v2{font-size:14px}
.tit_h4{font-size:15px}
.tit_h4.v2{font-size:24px}
.tit_m h3{margin-bottom:15px}
.tit_m span{display:block}
.tit_dib span{display:inline}

/* txt */
.tx_type{font-size:14px;line-height:1.7em}

/* 협력업체 */
.ci{display:inline-block;overflow:hidden;background:url(../img/sp_intro_img.jpg) no-repeat;line-height:999px}
.ci_naver{width:107px;height:20px;background-position:-270px -290px}
.basho{width:81px;height:33px;background-position:0 0}
.calx{width:117px;height:33px;background-position:-110px 0}
.cdnet{width:124px;height:33px;background-position:-257px 0}
.cloudera{width:103px;height:33px;background-position:-400px -280px}
.couch{width:73px;height:33px;background-position:-410px 0}
.gruter{width:95px;height:33px;background-position:-513px 0}
.inmobi{width:98px;height:33px;background-position:-639px 0}
.kakao{width:85px;height:29px;background-position:0 -70px}
.kandroid{width:108px;height:29px;background-position:-114px -70px}
.kt{width:30px;height:29px;background-position:-252px -70px}
.lg{width:97px;height:29px;background-position:-312px -70px}
.lgcns{width:106px;height:29px;background-position:-441px -70px}
.linkedin{width:90px;height:29px;background-position:-578px -70px}
.nbp{width:109px;height:37px;background-position:0 -138px}
.nextbrain{width:96px;height:37px;background-position:-139px -138px}
.nhn_e{width:82px;height:37px;background-position:-265px -138px}
.nhn_in{width:124px;height:37px;background-position:-383px -138px}
.nhn_te{width:97px;height:37px;background-position:-537px -138px}
.nvidia{width:51px;height:37px;background-position:-664px -138px}
.penta{width:127px;height:34px;background-position:0 -214px}
.skp{width:69px;height:34px;background-position:-160px -214px}
.skt{width:74px;height:34px;background-position:-259px -214px}
.twit{width:33px;height:34px;background-position:-362px -214px}
.ubun{width:99px;height:34px;background-position:-421px -214px}
.ubunk{width:93px;height:34px;background-position:-554px -214px}
.valu{width:91px;height:52px;background-position:0 -289px}
.yonsei{width:127px;height:52px;background-position:-123px -289px}

/* 목록 */
.txt_dl{margin-top:2px}
.txt_dl dt{margin-bottom:8px;font-size:20px;font-weight:bold;letter-spacing:-2px}
.txt_dl dt em{display:inline-block;margin-top:-2px;font-size:14px;color:#959595;vertical-align:top}
.txt_dl dd{font-size:14px;line-height:1.7em}
.txt_dl.v2 dd{font-size:14px;color:#636363}
.txt_dl.v3 dt{font-size:18px}

.txt_ul{margin-top:19px;font-size:14px;color:#636363}
.txt_ul span{display:block;margin-top:16px}
.txt_ul span a{margin:0 0 3.2% 4%}
.txt_ul span a:first-child{margin-left:7px}
.txt_ul.v2,.txt_ul.v3{font-weight:bold;color:#000}
.txt_ul.v3 li span{display:block;overflow:hidden;margin-left:-30px}
.txt_ul.v3 li em{margin:0 0 5% 30px}

.lst_ul{color:#636363}
.lst_ul li{padding-left:10px;background:url(../img/sp_bu.png) no-repeat 0 -127px}

.lst_ul2 li{padding-left:10px;background:url(../img/sp_bu.png) no-repeat 0 -266px}
.lst_ul2 li strong{display:block}

.lst_ul3{padding-top:70px;font-size:14px}
.lst_ul3 li{padding-left:10px;background:url(../img/sp_bu.png) no-repeat 0 -450px;line-height:1.9em;letter-spacing:-1px}
.lst_ul3 li strong{display:inline;margin:0;font-size:14px}
.lst_ul3 li a{font-weight:bold;color:#00adee;text-decoration:underline}
.lst_ul3 li.last{margin-top:17px}
.lst_ul3 li.last p{position:relative;padding-left:44px}
.lst_ul3 li.last.v2 p{margin-top:10px;padding-left:0}
.lst_ul3 li.last a.btn{position:absolute;top:-4px;left:0;vertical-align:middle}
.lst_ul3 li.last a{font-weight:bold;color:#00adee;text-decoration:underline}
.lst_ul3 li p{margin-top:15px}
.lst_ul3 li.last .last_str{display:block;margin-bottom:13px}

.lst_ul3.bg_1{background:url(../img/@tmp_event4.jpg) no-repeat 50% 0}
.lst_ul3.bg_1.v2{background-position:50% 0}
.lst_ul3.bg_2{background:url(../img/@tmp_event5.jpg) no-repeat 50% 0}
.lst_ul3.bg_3{background:url(../img/@tmp_event6.jpg) no-repeat 50% 0}

.dl_img{width:100%}
.ol_strong{display:block;margin-top:20px;font-size:14px;font-weight:normal;color:#959595}

.group_btn a{margin-left:2%}
.group_btn a:first-child{margin-left:0}
.group_btn a span{padding:16px 15px 15px 20px}

/* tbl */
.bbs_tbl_modify{width:100%;border-bottom:1px solid #e4e4e4;font-size:13px}
.bbs_tbl_modify .tbl_col{width:33%}
.bbs_tbl_modify th,.bbs_tbl_modify td{border-top:1px solid #e4e4e4}
.bbs_tbl_modify th{padding:12px 5px;border-right:1px solid #e4e4e4;background-color:#f8f8f8;font-weight:normal;text-align:left}
.bbs_tbl_modify th span.ico{margin-left:7px}
.bbs_tbl_modify td{padding:12px 15px 12px 13px;color:#555}
.bbs_tbl_modify td span{margin-left:5px}
.bbs_tbl_modify td .input_type{width:98%;margin-bottom:5px}
.bbs_tbl_modify td .input_type2{width:40.5%}
.bbs_tbl_modify td .select_type{width:100%;margin-top:10px}

/* 날짜 */
.day_tit{border:1px solid #444547;border-width:2px 0;background-color:#f9f9f9}
.day_tit h3{padding:16px 0 15px 30px;font-size:18px;line-height:1.5em}
.day_tit span{color:#7d7d7d}
.day_tit span:first-child{color:#000}
.day_tit em{display:inline-block;position:relative;top:-2px;font-size:13px}

/* 프로그램 */
.tit_program{position:relative;min-height:30px;padding-bottom:19px;border-bottom:1px solid #919191}
.tit_program:after{display:block;clear:both;content:''}
.tit_program h2{float:left;font-size:20px;line-height:1em}
.tit_info{float:left}
.tit_info ul{display:none;float:left;margin-left:20px}
.tit_info ul li{float:left;margin-left:10px}
.tit_info ul li span.txt{display:table-cell;height:30px;vertical-align:middle}
.tit_info ul li:first-child{margin:0}
.tit_info.v2 ul{display:block;position:absolute;top:61px;left:0;z-index:200;width:100%;margin-left:0;padding-bottom:11px;border-bottom:1px solid #919191}
.tit_program .fr{float:right}
.no_timetable p{margin:50px 0;font-size:16px;font-weight:bold;text-align:center}
.time_info{overflow:hidden;border:1px solid #919191;border-width:0 0 1px}
.time_info li{overflow:hidden;padding:16px 10px 18px;border-top:1px solid #e4e4e4}
.time_info li:first-child{border:0}
.time_info dl{overflow:hidden;float:left}
.time_info dt{float:left;width:120px;font-weight:bold;font-size:14px}
.time_info dd{float:left;font-size:13px}
.lst_filter{display:none}
.tit_timetable{overflow:hidden;padding:30px 0 18px}
.tit_timetable.v2{padding:15px 0}
.tit_timetable.v3{padding-top:110px}
.tit_timetable h3{float:left;font-size:18px;line-height:1em;color:#000}
.tit_timetable h3 span{color:#7d7d7d}
.tit_timetable h3 span:first-child{color:#000}
.tit_timetable h3 span em{display:inline-block;position:relative;top:-2px;margin-left:3px;font-size:15px}
.tit_timetable p{display:none;float:right;font-size:18px;font-weight:bold;color:#898989}
.tit_timetable p span{color:#000}
.keynote{display:block;position:absolute;top:130px;left:0;width:100%;padding-bottom:13px;border-bottom:1px solid #e4e4e4}
.keynote.v2{top:111px}
.keynote p{width:;padding:5px 0 10px;border-bottom:1px solid #e4e4e4;font-size:13px;text-align:center}
.keynote p span{margin:0 3px}
.keynote dl{overflow:hidden;margin-top:15px;font-size:13px;text-align:center}
.keynote dt{display:inline-block;font-weight:bold}
.keynote dd{display:inline-block}
.keynote dd span{color:#a0a0a0}
.timetable_area{overflow:hidden;position:relative;width:100%}
.timetable_area .btn_next{position:absolute;top:15px;right:10px}
.timetable_area .btn_prev{position:absolute;top:15px;left:10px}
.timetable_inner{overflow:hidden;width:400%}
.lst_track{float:left;width:25%}
.lst_track .lst_tit{position:relative;height:50px;border-top:2px solid #444547;border-bottom:1px solid #b0b0b0;background:#f9f9f9;text-align:center}
.lst_track .lst_tit h4{font-size:15px}
.lst_track .lst_tit h4 em{display:inline-block;padding:17px 0 0;font-family:av55;color:#000}
.lst_track .lst_tit h4 span{display:none;font-size:12px;font-weight:normal}
.lst_track .lst_tit p{display:none}
.lst_track .lst_timetable{margin-top:85px}
.lst_track .lst_timetable,.lst_track .lst_timetable li{position:relative}
.lst_track .lst_timetable p{width:100%;padding:7px 0;border:1px solid #e4e4e4;border-width:0 0 1px;font-size:13px;text-align:center}
.lst_track .lst_timetable p strong{margin-right:10px}
.lst_track .lst_timetable p.undecided{display:block;padding:20px 0;border-bottom:1px solid #e4e4e4;font-size:15px;color:#919191}
.lst_track .lst_timetable dl{position:relative;padding:20px 0;border-bottom:1px solid #e4e4e4;font-size:13px}
.lst_track .lst_timetable dt{margin-bottom:2px;font-size:15px}
.lst_track .lst_timetable dt a{position:relative;z-index:15;line-height:1.4em;color:#0694de}
.lst_track .lst_timetable dt a:hover{text-decoration:underline}
.lst_track .lst_timetable dd span{color:#a0a0a0}
.lst_track .lst_timetable dd.bookmark{display:none}
.lst_track .lst_timetable.top_none{margin-top:0}
.lst_track .lst_timetable.top_none li:first-child p,.lst_track .lst_timetable.top_none li:first-child dl{border-top:0}
.lst_track .lst_timetable.v2,.lst_track .lst_timetable.v3,.lst_track .lst_timetable.v4{display:none}
.track_page{margin-top:15px;text-align:center}
.track_page>span,.track_page p{display:inline-block;zoom:1}
.track_page p{font-size:16px;font-weight:bold;color:#7d7d7d}
.track_page span{color:#0694de}
.track_page>span{margin:0 22px;vertical-align:middle}
.txt_update{display:none;margin-top:16px;text-align:right}
.track_day{overflow:hidden}
.track_day>li{float:left;width:100%;margin-top:20px;border-top:2px solid #444547}
.track_day>li:first-child{margin-top:10px}
.track_day>li h3{margin-top:20px;font-size:16px}
.track_day>li h3 span{color:#7d7d7d}
.track_day>li h3 span em{display:inline-block;position:relative;top:-2px;margin-left:3px;font-size:13px}
.track_day>li ul{overflow:hidden;margin-top:20px}
.track_day>li ul li{float:left;width:50%;text-align:center}
.track_day>li ul li a{display:block;padding:8px 5px 0;border:1px solid #dfdfdf;border-width:0 1px 1px 0;background:#efefef;color:#000}
.track_day>li ul li a:hover,.track_day>li ul li.on a{background:#222939;color:#fff}
.track_day>li ul li dt{font-family:av55;font-weight:bold}
.track_day>li ul li dd{display:table-cell;width:1%;height:38px;letter-spacing:-1px;vertical-align:middle}
.lst_session{margin-top:30px}
.lst_session li{margin-top:50px}
.lst_session li:first-child{margin:0}
.lst_session li h3{font-size:18px;font-weight:normal}
.lst_session .session_area{overflow:hidden;margin-top:30px}
.lst_session .session_img{float:left;padding:5px;border:1px solid #e1e1e1}
.lst_session .session_img .sesi_img2{margin-left:3px}
.lst_session .session_area.v2 img{width:48.9%}
.lst_session .session_txt{float:left;width:100%;margin-top:30px}
.lst_session .session_txt h4{font-size:18px;font-weight:normal;line-height:normal;color:#13abe5}
.lst_session .session_txt h4 .txt_a{font-weight:bold;color:#13abe5}
.lst_session .session_txt h4 .txt_a:hover{text-decoration:underline}
.lst_session .session_txt p.txt{margin-top:5px;font-size:15px}
.lst_session .session_txt p.txt2{margin-top:30px;font-size:13px;line-height:1.5em;color:#444}
.lst_session .session_txt p.txt3{margin-top:10px;font-size:13px}
.lst_session .session_txt p.txt3 span{display:inline-block;margin-left:6px;padding-left:8px;background:url(../img/bu_line.png) no-repeat 0 50%;font-size:12px}
.lst_session .session_txt p.txt3 span.txt_no2{display:block;margin:5px 0 0;padding-left:0;background:none;font-size:13px}
.view_info{overflow:hidden;margin-bottom:20px;padding:17px 0;border-bottom:1px solid #919191}
.view_info li{margin-top:10px}
.view_info li:first-child{margin:0}
.view_info dl{overflow:hidden;font-size:14px}
.view_info dt{float:left;font-weight:bold}
.view_info dd{float:left}
.view_info dd span{margin:0 10px;color:#c2c2c2}
.speaker_img{max-width:150px;margin:0 auto;padding:5px;border:1px solid #e1e1e1}
.speaker_info .speaker{margin:15px auto}
.speaker_info dl{text-align:center}
.speaker_info dt{font-size:20px;font-weight:bold;letter-spacing:-1px}
.speaker_info dd{margin:13px 0 15px;font-size:13px;line-height:1.4em}
.speaker_sns{overflow:hidden;width:162px;margin:0 auto;border-top:1px solid #e1e1e1;background:#f2f2f2}
.speaker_sns li{float:left;padding-left:1px;background:url(../img/bu_line2.png) no-repeat 0 50%}
.speaker_sns li:first-child{padding:0;background:0}
.speaker_sns li a{display:block;overflow:hidden;width:53px;height:50px;background:url(../img/sp_btn.png) no-repeat;text-indent:-9999em}
.speaker_sns li a.home{background-position:0 -180px}
.speaker_sns li a.mail{background-position:-60px -180px}
.speaker_sns li a.twitter{background-position:-130px -180px}
.speaker_sns li a.m2day{background-position:0 -240px}
.speaker_sns li a.fbook{background-position:-60px -240px}
.speaker_txt{float:right;width:100%}
.speaker_txt h3{font-size:20px;letter-spacing:-1px}
.speaker_txt p.txt{margin-top:11px;font-size:17px;letter-spacing:-1px}
.speaker_txt p.txt2{margin-top:24px;font-size:14px;line-height:1.7em;color:#444}
.speaker_txt dl.speaker_intro{margin-top:20px;font-size:14px}
.speaker_txt dl.speaker_intro dt{font-weight:bold}
.speaker_txt dl.speaker_intro dd{margin:11px 0 25px;line-height:1.9em;color:#444}
.speaker_txt dl.speaker_intro dt strong{display:block;margin-top:15px}
.speaker_txt dl.speaker_intro dt em{color:#7d7d7d}
.ss_event{margin-top:30px}
.ss_event h4{width:100%;margin-bottom:11px}
.ss_event h4 img{width:100%;max-width:452px}
.ss_event p{margin-bottom:10px;font-size:13px;color:#666}
.sns_sel{overflow:hidden;margin-bottom:14px}
.sns_sel li{float:left;margin-left:5px}
.sns_sel li:first-child{margin:0}
.comm_write{margin-bottom:30px}
.comm_write_area{position:relative}
.comm_write_space{display:block;padding-right:94px}
.comm_write_area a.btn_write{position:absolute;top:0;right:0}
.comment_area .tnum{margin-bottom:5px;font-size:14px;color:#686868}
.lst_comm{border-bottom:1px solid #e0e0e0}
.lst_comm li{overflow:hidden;position:relative;padding:8px 0 15px;border-top:1px solid #e0e0e0}
.lst_comm li p{position:absolute;top:15px;left:0;margin-right:13px}
.lst_comm li dl{margin-top:4px;padding-left:57px;font-size:14px;color:#666}
.lst_comm li dt{margin-bottom:10px}
.lst_comm li dt span{display:inline-block;color:#44abe4}
.lst_comm li dd{overflow:hidden}
.lst_comm li dd a.fl,.lst_comm li.lst_reply a.fl{display:block;padding-left:22px;background:url(../img/sp_ico.png) no-repeat;line-height:18px;color:#666}
.lst_comm li dd a.fl span,.lst_comm li.lst_reply a.fl span{display:inline-block;padding-left:7px;background:url(../img/bu_line3.png) no-repeat 0 50%}
.lst_comm li dd a.fr{font-size:11px;color:#000}
.lst_comm li dd input[type=button]{display:inline-block;margin-right:5px;border:0;background-color:#fff;font-size:11px;cursor:pointer}
.lst_comm li dd a.twitter,.lst_comm li.lst_reply a.twitter{background-position:0 1px}
.lst_comm li dd a.m2day,.lst_comm li.lst_reply a.m2day{background-position:0 -19px}
.lst_comm li dd a.facebook,.lst_comm li.lst_reply a.facebook{background-position:0 -39px}
.lst_comm li dd a.naver,.lst_comm li.lst_reply a.naver{background-position:0 -59px}
.social_login h2{font-size:20px;text-align:center}
.social_login ul{margin-top:26px;padding:25px 0;border:1px solid #e4e4e4;text-align:center}
.social_login li{margin-top:20px}
.social_login li:first-child{margin-top:0}
.social_login li a{display:inline-block;overflow:hidden;width:172px;height:33px;padding:15px 0 0 70px;background:url(../img/sp_login.png) no-repeat;font-weight:bold;font-size:14px;color:#fff;text-align:left;zoom:1}
.social_login li.login_m1 a{background-position:-315px 0}
.social_login li.login_m2 a{background-position:-315px -65px}
.social_login li.login_m3 a{background-position:-315px -130px}
.social_login li.login_m4 a{background-position:-315px -195px}

.lst_reply div{margin-left:57px}
.lst_reply_form{position:relative;margin-top:10px;padding-right:90px}
.lst_reply_form input[type=button]{position:absolute;top:5px;right:20px;border:0;background-color:#fff;cursor:pointer}

.lst_reply .lst_reply_txt{overflow:hidden;margin-top:10px;padding-top:10px;border-top:1px solid #e4e4e4}
.lst_reply .lst_reply_txt:first-child{margin-top:0;padding-top:0;border-top:0}
.lst_reply .lst_reply_txt p{position:static;margin:0 0 5px;padding-right:15px;font-size:14px;line-height:1.5em;color:#666}
.lst_reply .lst_reply_txt p em{font-size:;color:#44abe4}
.lst_reply .lst_reply_txt a{font-size:14px}
.lst_reply .lst_reply_txt .re_btn{margin-left:10px}
.lst_reply_txt input[type=button]{display:inline-block;margin:2px 3px 0 0;border:0;background-color:#fff;cursor:pointer}
.lst_reply_txt a{margin-right:20px}

.socialxe_more{margin:10px 0;padding:5px;border:1px solid #ddd;line-height:1.7em;font-size:14px;font-weight:bold;text-align:center;cursor:pointer}

/* 참가 등록 */
.tit_parti{position:relative;margin-bottom:28px}
.tit_parti:after{display:block;clear:both;content:''}
.tit_parti h3{width:100%;margin-top:23px;font-size:16px;line-height:1.5em}
.tit_parti .fr{position:absolute;top:-46px;right:0}
.lst_parti{overflow:hidden}
.lst_parti>li{width:100%;margin-top:7.5%;border-bottom:1px solid #919191}
.lst_parti.v2>li{margin-top:-2px;border:0}
.lst_parti>li:first-child{margin:0}
.lst_parti li h4{padding:18px 0 21px;border:2px solid #444547;border-width:2px 0;background:#f9f9f9;font-size:18px;text-align:center}
.lst_parti li h4 span{color:#7d7d7d}
.lst_parti li h4 span em{display:inline-block;position:relative;top:-1px;font-size:14px}
.lst_parti li ul{padding:27px 0}
.lst_parti li ul li{font-size:16px;line-height:1.7em;text-align:center}
.lst_parti li ul li span{display:inline-block;width:150px;text-align:left}
.lst_parti li p{padding:39px 0;border-top:1px solid #e4e4e4;font-weight:bold;font-size:18px;text-align:center}
.lst_parti li p span.av85{font-size:24px;font-weight:normal;vertical-align:middle}
.lst_parti li p.empty{padding:43px 0}
.lst_parti li p.app_btn{padding:25px 0 24px}
.again_btn{margin:30px 0 50px;text-align:center}

.finish_new{margin:30px 0 50px;text-align:center}
.finish_new.v2{margin:30px 0}
.finish_new h3{margin-bottom:45px;font-size:24px}
.finish_new.v2 h3{margin-bottom:0}
.finish_new dl{margin:0 auto 12px;font-size:16px;font-weight:bold}
.finish_new dt{display:inline-block}
.finish_new dd{display:inline-block;margin-left:13px}
.finish_new dd a{color:#1baee6;text-decoration:underline}
.sns_faq{overflow:hidden;padding:26px 30px 30px;border:1px solid #e4e4e4}
.sns_faq p{font-size:16px;line-height:1.5em}
.sns_faq p a{font-weight:bold;color:#1baee6;text-decoration:underline}
.sns_faq .lst_snsfaq{overflow:hidden;width:161px;margin:16px auto 0;background:#f2f2f2}
.sns_faq .lst_snsfaq li{float:left;padding-left:1px;background:url(../img/bu_line2.png) no-repeat 0 50%}
.sns_faq .lst_snsfaq li:first-child{padding-left:0;background:0}
.sns_faq .lst_snsfaq a{display:block;overflow:hidden;width:53px;height:50px;background:url(../img/sp_btn.png) no-repeat 0 -500px;text-indent:-9999em}
.sns_faq .lst_snsfaq a.twitter{background-position:-60px -500px}
.sns_faq .lst_snsfaq a.fbook{background-position:-120px -500px}

.complete_new{margin:30px 0 20px;text-align:center}
.complete_new dt{width:100%;margin:0 auto;padding:17px 0 19px;border:2px solid #444547;border-width:2px 0;background:#f9f9f9;font-size:18px;font-weight:bold;text-align:center}
.complete_new dt span{color:#7d7d7d}
.complete_new dt em{display:inline-block;position:relative;top:-1px;font-size:14px}
.complete_new dd{margin-top:20px}
.complete_new dd h3{font-size:24px}
.complete_new dd p{margin:10px 0;font-size:16px}
.complete_new dd p a{margin:0 5px 0 10px;font-weight:bold;color:#1baee6;text-decoration:underline}
.txt_complete{margin-bottom:10px;font-size:15px;font-weight:bold}

.confi_area{margin:30px 0 20px}
.confi_area dl{width:100%;margin:0 auto}
.confi_area dt{margin:17px 0 7px;font-size:16px}
.confi_area dd input{width:97%;height:27px}
.confi_area .confi_btn{margin-top:20px;text-align:center}

.lst_date{overflow:hidden}
.lst_date li{width:100%;padding:17px 0 19px;border:2px solid #444547;border-width:2px 0;background:#f9f9f9;font-size:18px;font-weight:bold;text-align:center}
.lst_date li span{color:#7d7d7d}
.lst_date li span em{display:inline-block;position:relative;top:-1px;font-size:14px}
.lst_date li:first-child{margin-left:0;border-bottom:0}
.lst_date.v2 li{border:2px solid #444547;border-width:2px 0}

.bof_content{overflow:hidden;margin-bottom:9%;padding-bottom:9%;border-bottom:1px solid #ececec}
.bof_content.last{margin-bottom:0;padding-bottom:1%;border:0}
.bof_content h3{width:100%;margin-bottom:10px}
.bof_content .bof_box{width:100%}
.bof_content .bof_box .mb25{margin-bottom:5px}
.bof_content img{width:100%}
.bof_content strong{display:block;margin-bottom:27px;font-size:16px}
.bof_content p{margin-top:23px;font-size:15px;line-height:1.7em}
.bof_content.v2 p{font-size:14px;letter-spacing:-1px}
.bof_content.v2 p strong{display:inline;margin:0;font-size:14px}
.bof_content .d_ib{display:inline}

.lab_txt{position:relative}
.lab_txt p img{width:100%}
.lab_txt dl{margin-top:20px;font-size:13px;letter-spacing:-1px}
.lab_txt dl em{font-weight:bold}
.lab_txt dd{margin-top:13px;line-height:1.5em;color:#636363}

.lab_txt2 h3{margin-bottom:29px;font-size:20px;line-height:1.4em}
.lab_txt2 p{margin-top:26px;font-size:15px;line-height:1.8em;letter-spacing:-1px}
.lab_txt2 p:first-child{margin-top:0}

.group_transit h3{margin-bottom:15px}
.group_transit h4{margin-bottom:26px;font-size:14px;line-height:1.5em}
.transit_txt{position:relative;margin-left:2px}
.transit_txt p{position:absolute;top:0;left:0;color:#777}
.transit_txt ul{padding-left:42px;color:#333}
.transit_txt li{position:relative;margin-top:8px;padding-left:20px}
.transit_txt li:first-child{margin-top:0}
.transit_txt.v2{margin-top:8px}
.transit_txt.v2 li{padding-left:30px}
.transit_txt ul li span{position:absolute;top:0;left:0}
.transit_txt .last_strong{font-size:13px;color:#252525}

.content_area .group_faq{border-top:1px solid #ececec}
.content_area .group_faq:first-child{margin-top:0;padding-top:0;border-top:0}
.group_faq{margin-top:8%;padding-top:8%}
.group_faq h3{margin:15px 0}
.group_faq ul{font-size:16px}
.group_faq .first{margin-bottom:45px}
.group_faq li{position:relative;padding:12px 0 0 19px;line-height:1.6em;letter-spacing:-1px}
.group_faq li:first-child{padding-top:0;color:#555}
.group_faq li span:first-child{position:absolute;top:12px;left:0;font-weight:bold;font-family:av55}
.group_faq li:first-child span{top:0}
.group_faq a{font-weight:bold;color:#00adee;text-decoration:underline}
.group_faq .go_page{display:block;margin-top:17px}
.group_faq .go_map{display:block;margin-top:25px}
.mytime div.fl,.mytime div.fr{float:none}
.my_lst{margin-top:-4px;border-top:2px solid #444547;border-bottom:1px solid #e4e4e4;font-size:13px}
.my_lst li{overflow:hidden;padding:6px 0;border-top:1px solid #e4e4e4}
.my_lst li:first-child{border-top:0}
.my_lst li p{float:none;padding-bottom:8px;border-bottom:1px solid #e4e4e4;font-weight:bold;text-align:center;vertical-align:middle}
.my_lst li p em{font-weight:normal}
.my_lst li p span{display:inline-block}
.my_lst li dl{float:none;margin:11px 0;padding:0 10% 0 2px;line-height:1.6em}
.my_lst li .empty{margin:15px 0 12px;padding:0;border:0;line-height:1.5em}
.my_lst li dt{margin-bottom:5px}
.my_lst li dd.point{margin-bottom:2px;color:#0694de}
.my_lst li dd a{color:#0694de}
.my_lst li dd a:hover{text-decoration:underline}
.my_lst li dd em{color:#7d7d7d}
.my_lst li dd span{margin-left:15px}

.consent_area{padding:24px 20px 14px;border:1px solid #d2d2d2;font-size:14px;line-height:1.8em;color:#444}
.consent_area ul{margin:18px 0}
.consent_area a{color:#39c}
.consent_area a:hover{text-decoration:underline}

.chk_area{font-size:13px;line-height:13px;color:#444}
.chk_point{font-size:13px;letter-spacing:-1px;text-align:right}
.chk_point span{margin-right:8px}

.tbl_day{width:100%;margin-bottom:30px;border-bottom:1px solid #e4e4e4}
.tbl_day.v2,.tbl_day.v3{margin:-1px 0 0}
.tbl_day.v3 th,.tbl_day.v3 td{border-top:1px solid #bcbcbc}
.tbl_day .day_cols{width:106px}
.tbl_day .day_cols3{width:106px}
.tbl_day .th_n{display:none}
.tbl_day th,.tbl_day td{padding:13px 0 12px;border-top:1px solid #e4e4e4}
.tbl_day th.sesstion{padding-left:4%;font-weight:bold;line-height:18px;text-align:left}
.tbl_day th.sesstion em{display:block;font-weight:normal;color:#323232}
.tbl_day th,.tbl_day td.tbl_bg{background-color:#f8f8f8;font-size:12px;text-align:center}
.tbl_day td.tbl_bg{padding-left:0;border-left:0;font-weight:bold}
.tbl_day td.tbl_bg span{display:block}
.tbl_day td{padding:13px 10px 12px;border-left:1px solid #e4e4e4;font-size:13px;line-height:20px;color:#636363}

.group_sign{margin:40px 0 0;text-align:right}
.group_sign p{margin:0 11px 25px 0;font-size:13px}

.bof_group{position:relative;text-align:center;border-bottom:1px solid #e4e4e4;font-size:13px}
.bof_group p{padding:7px 0;border-bottom:1px solid #e4e4e4}
.bof_group div{padding:20px 0;font-weight:bold;font-size:14px}

@media all and (min-width:768px){
/* Layout */
.side_tit{float:left;width:21%;margin-bottom:0}
.side_tit h2{font-size:26px}
.content_area{float:left;width:79%}
.content_area.v2{width:66.7%}
.dl_img{width:auto}
.dl_img.v2{width:100%}
.p_dn{display:none}
.pos_a{top:10px}

/* 타이틀 */
.tit_m h3{float:left}
.tit_m span{float:right}
.tit_dib span{display:inline-block}

/* 리스트 */
.lst_ul2 li{padding-left:182px;text-indent:-172px}
.lst_ul2 li strong{display:inline}

.lst_ul3{padding-top:0}
.lst_ul3.bg_1{background:url(../img/@tmp_event4.jpg) no-repeat 273px 0}
.lst_ul3.bg_1.v2{background-position:340px 0}
.lst_ul3.bg_2{background:url(../img/@tmp_event5.jpg) no-repeat 230px 0}
.lst_ul3.bg_3{background:url(../img/@tmp_event6.jpg) no-repeat 220px 20px}

.group_btn a{margin-left:7px}
.group_btn a span{padding:16px 35px 15px 40px}

/* 프로그램 */
.tit_program{min-height:38px;padding-bottom:18px}
.tit_program h2{font-size:26px}
.tit_info ul{display:block}
.tit_info.v2 ul{position:static;width:auto;margin-left:20px;padding-bottom:0;border-bottom:0}
.tit_program .fr{margin-top:8px}
.time_info{margin-bottom:20px;padding:20px 0 21px;border:1px solid #e4e4e4;border-width:0 0 1px}
.time_info li{float:left;width:32%;padding:0;border:0}
.time_info dl{float:none;width:auto}
.time_info dt{float:left;width:auto;margin-right:30px}
.no_timetable p{margin:100px 0;font-size:24px}
.lst_filter{display:block;padding:20px 0 7px 15px;border:1px solid #e4e4e4;background:#f7f7f7}
.lst_filter ul{overflow:hidden}
.lst_filter li{float:left;width:100px;margin-bottom:13px}
.lst_filter li a{display:inline-block;padding:2px 10px 4px;font-size:13px;color:#000}
.lst_filter li a:hover,.lst_filter li.on a{background:#40495b;color:#fff}
.keynote{display:block;position:absolute;top:162px;left:0;width:100%;padding:28px 0 27px;border-bottom:0}
.keynote.v2{top:137px}
.keynote p{position:absolute;top:0;left:0;width:36px;padding:11px 19px 13px 15px;border-right:1px solid #e4e4e4;border-bottom:0;font-size:13px}
.keynote p span{display:block;line-height:20px;text-align:center}
.keynote dl{overflow:hidden;margin-top:0;padding-left:70px;font-size:13px;line-height:20px;text-align:center}
.keynote dt{display:inline-block;font-weight:bold}
.keynote dd{display:inline-block}
.keynote dd span{color:#a0a0a0}
.tit_timetable{padding:48px 0 30px}
.tit_timetable.v2{padding:26px 0 28px}
.tit_timetable.v3{padding:48px 0 30px}
.tit_timetable h3{font-size:24px}
.tit_timetable h3 span em{font-size:20px;letter-spacing:-1px}
.tit_timetable p{display:block}
.timetable_area .btn_next,.timetable_area .btn_prev{display:none}
.timetable_inner{width:auto}
.lst_track{width:23%}
.lst_track.first{width:31%}
.lst_track .lst_tit{height:auto;padding:11px 0 9px}
.lst_track.first .lst_tit{padding-left:70px}
.lst_track .lst_tit h4{margin-bottom:4px}
.lst_track .lst_tit h4 span{display:inline-block}
.lst_track .lst_tit h4 em{position:static;width:auto;height:auto;margin:0 !important;padding:0;background:0 !important}
.lst_track .lst_tit p{display:block}
.lst_track .lst_timetable{margin-top:73px}
.lst_track .lst_timetable li{margin-top:-1px}
.lst_track .lst_timetable li:first-child{margin-top:0}
.lst_track.first .lst_timetable li{padding-left:70px}
.lst_track .lst_timetable p{display:none}
.lst_track.first .lst_timetable p{display:block;position:absolute;top:0;left:0;/* width:36px;padding:30px 19px 28px 15px; */width:70px;height:100px;border:1px solid #e4e4e4;border-width:1px 0;font-size:13px}
.lst_track .lst_timetable p strong{display:block;/* margin:0 0 3px */margin:11px 0 13px}
.lst_track .lst_timetable p span{display:block;line-height:20px;text-align:center}
.lst_track .lst_timetable p.undecided{position:static;width:auto;/* padding:50px 0; */height:64px;padding:50px 0 0;border:1px solid #e4e4e4;border-right:0;font-size:12px}
.lst_track .lst_timetable dl{height:94px;padding:10px;border:1px solid #e4e4e4;border-right:0}
.lst_track .lst_timetable dt{margin-bottom:8px;font-size:13px}
.lst_track .lst_timetable dd.bookmark{display:block;position:absolute;top:-1px;left:-1px;z-index:10;width:100%;height:100%}
.lst_track .lst_timetable dl.on{background-color:#edfaff}
.lst_track .lst_timetable dl.on dd.bookmark{border:1px solid #33a7ec}
.lst_track .lst_timetable dd.bookmark a{position:absolute;right:12px;bottom:11px}
.lst_track .lst_timetable .bookmark.bk_on a{background-position:-70px -45px}
.lst_track .lst_timetable li.no_choice dl,.lst_track .lst_timetable li.no_choice dl a{color:#c2c2c2 !important}

.lst_track .lst_timetable.v2{display:block}
.lst_track .lst_timetable.v3{display:block}
.lst_track .lst_timetable.v4{display:block}
.track_page{display:none}
.txt_update{display:block}
.track_day>li{width:49%;margin:0 0 0 2%}
.track_day>li:first-child{margin:0}
.track_day>li h3{margin-top:20px;font-size:18px}
.track_day>li h3 span em{font-size:15px}
.track_day>li ul{margin-top:20px}
.track_day>li ul li{width:25%}
.track_day>li ul li a{height:54px;border:0;border-left:1px solid #dfdfdf}
.track_day>li ul li:first-child a{border:0}
.track_day>li ul li dd.track3_txt{font-size:12px;letter-spacing:-1px}
.lst_session{margin-top:50px}
.lst_session li{margin-top:64px}
.lst_session .session_img{margin-right:3.5%}
.lst_session .session_img .sesi_img2{display:block;margin:5px 0 0}
.lst_session .session_area.v2 img{width:auto}
.lst_session .session_txt{width:73%;margin-top:0}
.lst_session .session_txt p.txt{margin-top:5px}
.lst_session .session_txt p.txt2{margin-top:25px}
.lst_session .session_txt p.txt3{margin-top:10px}
.lst_session .session_txt p.txt3 span.txt_no2{display:inline;margin-left:20px}
.view_info{margin-bottom:50px}
.view_info li{float:left;margin:0}
.speaker_img,.speaker_sns{margin:0}
.speaker_info{float:left;width:22.1%}
.speaker_info dl{text-align:left}
.speaker_txt{width:77.9%}
.speaker_txt p.txt2{margin-top:44px}
.speaker_txt dl.speaker_intro{margin-top:31px}
.speaker_txt dl.speaker_intro dd{margin:31px 0 45px}
.ss_event{margin-top:50px}
.social_login{width:600px;margin:0 auto}
.social_login h2{font-size:26px}
.social_login ul{margin-top:46px;padding:50px 149px}
.social_login li a{width:301px;height:60px;padding:0;text-indent:-9999em}
.social_login li.login_m1 a{background-position:0 0}
.social_login li.login_m2 a{background-position:0 -80px}
.social_login li.login_m3 a{background-position:0 -160px}
.social_login li.login_m4 a{background-position:0 -240px}

/* 참가 등록 */
.tit_parti{margin-bottom:68px}
.tit_parti h3{float:left;width:73%;margin-top:0;font-size:18px}
.tit_parti .fr{position:static;margin:3px 0 0}
.lst_parti>li{float:left;width:49%;margin:0 0 0 2%}
.lst_parti.v2>li{margin-top:0}
.lst_parti li ul{padding:45px 0}
.finish_new{margin:100px 0}
.finish_new.v2{margin:70px 0 30px}
.finish_new h3{font-size:26px}
.sns_faq{padding:44px 17% 46px}
.sns_faq p{float:left;width:61%}
.sns_faq .lst_snsfaq{float:right;margin-top:0}

.complete_new{margin:70px 0 50px}
.complete_new dt{width:50%;padding:17px 0 19px}
.complete_new dd{margin-top:24px}
.complete_new dd h3{font-size:26px}
.complete_new dd p{margin:14px 0 30px}
.complete_new dd p a{margin:0 5px 0 13px}

.confi_area{margin:83px 0 120px}
.confi_area dl{width:50%;margin:0 auto}

.lst_date li{float:left;width:49%;margin-left:2%}
.lst_date li:first-child{margin-left:0;border-bottom:2px solid #444547}
.lst_date.v2 li{float:none;margin:0 auto}

.bof_content{margin-bottom:47px;padding-bottom:47px}
.bof_content h3{width:20%;margin-bottom:0}
.bof_content .bof_box{width:80%}
.bof_content .bof_box .mb25{margin-bottom:18px}
.bof_content .d_ib{display:block}
.bof_content.v2 p.txt_pd{padding-right:37%}

.lab_txt dl{position:absolute;top:52%;right:16%;width:305px;margin-top:0;font-size:13px;letter-spacing:-1px}
.lab_txt dl em{font-weight:bold}
.lab_txt dd{margin-top:13px;line-height:1.5em;color:#636363}

.group_transit{position:relative}
.group_transit h3{position:absolute;top:0;left:0;margin-bottom:0}
.group_transit h4{margin-bottom:46px}
.group_transit .map_txt{padding-left:150px}

.content_area .group_faq:first-child h3{top:0}
.group_faq{position:relative;margin-top:48px;padding-top:48px}
.group_faq h3{position:absolute;top:48px;left:0;margin:0}
.group_faq h3 span{display:block}
.group_faq ul{padding:0 3% 0 19.8%;font-size:16px}

.mytime div.fl{float:left;width:46.7%}
.mytime div.fr{float:right;width:46.7%}
.my_lst{border-bottom:1px solid #919191}
.my_lst li{min-height:70px;padding:12px 0 14px}
.my_lst li p{float:left;width:21%;margin-top:24px;padding:0 18px 0 20px;border:0;text-align:left}
.my_lst li p em{display:block;margin-top:3px}
.my_lst li dl{float:right;width:57.8%;margin:0;padding-right:5.1%}
.my_lst li .empty{float:right;width:57.8%;margin:32px 0;padding-right:5.1%;font-weight:bold}
.my_lst li dt{margin-bottom:3px}
.my_lst li dd.point{margin:0}
.my_lst li dd span{display:block;margin-left:0}

.bbs_tbl_modify .tbl_col{width:170px}
.bbs_tbl_modify th{padding:12px 10px 12px 30px}
.bbs_tbl_modify td .input_type{width:51.4%;margin-bottom:0}
.bbs_tbl_modify td .input_type2{width:22.7%}
.bbs_tbl_modify td .select_type{width:22.5%;margin:0 0 0 5px}

.tbl_day{margin-bottom:0}
.tbl_day .day_cols{width:13%}
.tbl_day .day_cols2{width:16%}
.tbl_day .day_cols3{width:29%}
.tbl_day th.th_n{display:table-cell}
.tbl_day td{padding-left:20px}
.tbl_day td.tbl_bg{padding-left:0;border-left:1px solid #e4e4e4;font-weight:bold}

.bof_group{height:70px}
.bof_group p{position:absolute;left:0;top:0;width:70px;padding:9px 0 11px;border-right:1px solid #e4e4e4;border-bottom:0}
.bof_group p span{display:block;line-height:20px}
.bof_group div{padding-left:70px;line-height:30px}

}

@media all and (min-width:768px) and (max-width:1024px){

/* 참가 등록 */
.sns_faq{padding:44px 13% 46px}

.lab_txt dl{top:45%;right:10%}

}

@media all and (min-width:768px) and (max-width:950px){
.lst_track .lst_tit{height:50px}

.keynote{top:177px}
}

@media all and (min-width:768px) and (max-width:850px){

/* 프로그램 */
.track_day>li{margin-bottom:20px}
.track_day>li:first-child{margin-bottom:30px}
.track_day>li h3{margin-top:10px}
.track_day>li{width:100%;margin-left:0}
.track_day>li ul{margin-top:10px}

/* 참자 등록 */
.sns_faq{padding:44px 8% 46px}
.speaker_txt{width:75%}

.tit_m h3{float:none;margin-bottom:15px}
.tit_m span{display:block;float:none}

.bbs_tbl_modify td .input_type{width:45%}

.tbl_day th.sesstion{padding-left:0;text-align:center}

.lab_txt dl{top:42%;right:5%}
}

@media all and (max-width:480px){
.tit_program .sns{float:left;width:100%;margin-top:28px}
}
@media all and (min-width:1025px){

}