@charset "utf-8";
/* NHN Technology Services Convergence UI Development Team,LHK 120705 */ 

/* Common */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0;color:#666}
body,h1,h2,h3,h4,input,button,textarea{font-family:'돋움',dotum,Helvetica,sans-serif;font-size:12px;line-height:16px}
body{background-color:#fff;text-align:center;word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
.hide{display:none}
.dimmed{position:absolute;top:0;left:0;z-index:100;width:100%;height:3453px;background-color:#000;opacity:0.7;filter:alpha(opacity=70);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
table {border-spacing: 0}
table th, table td {padding: 0}

.pt10{padding-top:10px}
.pt26{padding-top:26px !important}
.pl8{padding-left:8px}
.pl10{padding-left:10px}
.mt0{margin-top:0 !important}
.mt6{margin-top:6px !important}
.mt8{margin-top:8px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt28{margin-top:28px !important}
.mt30{margin-top:30px !important}
.mt33{margin-top:33px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt60{margin-top:60px !important}

.overview{overflow:hidden;zoom:1}
.fl{float:left}
.fr{float:right}
.lh_25{line-height:25px !important}

/* color */
.gray{color:#333 !important}
.gray2{color:#666 !important}
.orange{color:#f26522 !important}
.red{color:#ff0000 !important}
.black{color:#000 !important}
.t_line{text-decoration:underline !important}


/* Layout */
#header{width:100%;background:#3b3b3b;text-align:left}
.header_area{position:relative;width:938px;height:64px;margin:0 auto}
.header_area h1{padding-top:12px}
.header_area h1 a{display:inline-block;width:166px;height:41px}
.gnb{position:absolute;right:-5px;bottom:0}
.gnb ul{width:449px;height:47px;background:url(../img/bg_gnb.png) no-repeat 0 0;zoom:1}
.gnb_v2 ul{width:355px;background:url(../img/bg_gnb_v2.png) no-repeat 0 0;}
.gnb ul:after{display:block;clear:both;content:''}
.gnb li{float:left}
.gnb li a{display:inline-block;overflow:hidden;height:47px;line-height:999px;vertical-align:top}
.gnb li a.on,.gnb li a:hover{background:url(../img/bg_gnb.png) no-repeat}
.gnb_v2 li a.on,.gnb_v2 li a:hover{background:url(../img/bg_gnb_v2.png) no-repeat}
.gnb li.m a{width:165px;background-position:0 -50px}
.gnb li.m2 a{width:94px;background-position:-165px -50px}
.gnb li.m3 a{width:94px;background-position:-259px -50px}
.gnb_v2 li.m3 a{width:96px}
.gnb li.m4 a{width:96px;background-position:-353px -50px}
.template_level{overflow:hidden;position:relaitive;width:876px;margin-top:58px;text-align:left;zoom:1}
#container{position:relative}
#content{position:relative;width:938px;margin:0 auto;padding:50px 0 139px;*padding-top:60px;text-align:left}
#content h2.h_tit{margin:10px 0 30px}
#footer{position:fixed;bottom:0;left:0;z-index:200;width:100%;background:#3b3b3b}
#footer address{position:relative;width:884px;height:97px;margin:0 auto;background:url(../img/img_address.png) no-repeat 100% 18px}
#footer address a{position:absolute}
#footer address .btn_mail{top:47px;right:267px;width:170px;height:16px}
#footer address .btn_mail2{top:47px;right:0px;width:140px;height:16px}
#footer address .btn_copy{top:63px;right:0px;width:254px;height:16px}

/* sprite */
.h_spr{display:inline-block;background:url(../img/h_spr.png) no-repeat}
#content h2.h_spr,#content h3.h_spr{overflow:hidden;line-height:999px;vertical-align:top}
.h_intro{width:401px;height:15px;background-position:0 0}
.h_app{width:351px;height:15px;background-position:0 -25px}
.h_modify{width:351px;height:15px;background-position:0 -50px}
.h_cfrm{width:362px;height:15px;background-position:0 -75px}
.h_conf{width:351px;height:15px;background-position:0 -100px}
.h_error{width:425px;height:29px;background-position:0 -130px}
.h_sorry{width:329px;height:14px;background-position:0 -180px}
.h_reset{width:374px;height:15px;background-position:0 -210px}

button.btn_spr{border:0}
.btn_spr{display:inline-block;height:1px;background:url(../img/btn_spr.png) no-repeat}
#content .btn_spr,.cont .btn_spr{overflow:hidden;line-height:999px;vertical-align:top}
.btn_email_cerf{width:89px;height:21px;background-position:0 0}
.btn_goapp{width:104px;height:32px;background-position:0 -25px}
.btn_help{width:14px;height:13px;background-position:0 -75px}
.btn_dnld{width:152px;height:25px;background-position:0 -100px}
.btn_dnld2{width:170px;height:25px;background-position:0 -875px}
.btn_file{width:64px;height:22px;background-position:0 -150px}
.btn_add{width:16px;height:16px;background-position:0 -225px}
.btn_del2{width:16px;height:16px;background-position:-25px -225px}
.btn_del{width:13px;height:13px;background-position:2px -173px}
.btn_find{width:21px;height:21px;background-position:0 -200px}
.btn_find.dsb,.dsb .btn_find{background-position:-25px -200px}
.btn_attach{width:50px;height:21px;background-position:-100px -150px}
.btn_attach2{width:44px;height:21px;background-position:-100px -200px}
.btn_cal{width:21px;height:21px;background-position:-50px -200px}
.btn_cal.dsb,.dsb .btn_cal{background-position:-50px -225px}
.btn_save{width:94px;height:29px;background-position:0 -250px}
.btn_prev{width:56px;height:29px;background-position:-75px -300px}
.btn_next{width:56px;height:29px;background-position:0 -300px}
.btn_print{width:44px;height:21px;background-position:-50px -75px}
.btn_chkout{width:94px;height:29px;background-position:0 -350px}
.btn_modify{width:106px;height:29px;background-position:0 -400px}
.btn_modify2{width:98px;height:32px;background-position:0 -675px}
.btn_cfrm{width:116px;height:29px;background-position:0 -450px}
.btn_dctinput{width:65px;height:21px;background-position:0 -500px}
.btn_clse{width:48px;height:23px;background-position:-100px -250px}
.btn_clse2{width:22px;height:22px;background-position:-125px 0}
.btn_input{width:48px;height:21px;background-position:-75px -500px}
.btn_detail{width:55px;height:21px;background-position:0 -525px}
.btn_cncl{width:48px;height:23px;background-position:0 -550px}
.btn_cfrm2{width:48px;height:23px;background-position:-75px -550px}
.btn_pdf{width:129px;height:25px;background-position:0 -960px}
.btn_veri{width:160px;height:25px;background-position:0 -625px}
.btn_nnext{width:150px;height:28px;background-position:0 -725px}
.btn_nextblog{width:130px;height:28px;background-position:0 -775px}
.btn_facebook{width:130px;height:28px;background-position:0 -825px}
.btn_conf{width:106px;height:29px;background-position:0 -920px}
.btn_qna{width:134px;height:25px;background-position:0 -1000px}
.btn_exempt{float:right;width:243px;height:25px;background-position:0 -1040px}
.btn_reset{width:125px;height:29px;background-position:0 -1080px}
.btn_nodocu{float:right;width:198px;height:25px;margin-top:27px;background-position:0 -1130px}
.btn_clse3{position:absolute;top:21px;right:39px;overflow:hidden;width:16px;height:16px;background-position:-230px 0;font-size:0;text-indent:-999px}

.txt_spr{display:inline-block;background:url(../img/txt_spr.png) no-repeat}
#content .txt_spr{overflow:hidden;line-height:999px;vertical-align:top}
.txt_cerf_cfrm{width:89px;height:21px;background-position:0 0}
.txt_private{width:173px;height:12px;background-position:0 -50px}

/* input */
.input_txt{height:12px;padding:4px 6px 3px;padding/*\**/:3px 6px 4px\9;border:1px solid #c0c0c0;line-height:14px}
.input_dsb,.dsb .input_txt{border:1px solid #e4e4e4 !important;background:#fff !important;color:#bdbdbd !important}
.input_txt:disabled{border:1px solid #e4e4e4 !important;background:#fff !important;color:#bdbdbd !important}
label.dim span{position:absolute;top:3px;left:7px;color:#adadad;cursor:text}
label.dim span.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/* Designed File Input */
.browsebutton{position:absolute;top:0;right:0;width:44px;height:100%}
.browsebutton .browse-box{position:absolute;left:0px;width:69px;height:23px;overflow:hidden;background-color:gray;opacity:0 !important;-ms-opacity:0 !important;filter:alpha(opacity=0) !important;-ms-filter:alpha(opacity=0) !important;z-index:32000}
.browsebutton .browse-file-input{position:absolute;margin:0;padding:0;border:0 none}
.browsebutton .browse-button{position:absolute;left:0px;width:44px;height:21px;background:url(../img/btn_spr.png) -154px -200px;text-indent:-99em;overflow:hidden}
.browsebutton .browse-applied{display:block}

/* Designed Select Box */
.selectbox-noscript *{display:none}
.selectbox-noscript .selectbox-source{display:inline;position:relative;left:0}
.selectbox-noscript .selectbox-source *{display:block}
.selectbox-source{position:absolute;left:-9999px}
.selbox_area{*display:inline !important;z-index:100;*zoom:1}
.selectbox-box{border:1px solid #c0c0c0;background:#fff url(../img/bg_selbox.gif) no-repeat 100% 0;text-align:left;cursor:pointer}
.selectbox-focused .selectbox-box{background-position:100% -30px}
.selectbox-label{display:block;padding:2px 0 1px 6px;color:#666}
.selectbox-layer{display:none;position:absolute;border:1px solid #c0c0c0;border-top:0 none;text-align:left}
.selectbox-list ul{list-style:none;margin:0;padding:0}
.selectbox-list ul li{padding:4px 0 3px 6px;background:#fff;color:#666;zoom:1;cursor:pointer}
.selectbox-list ul li.selectbox-item-over{background:#eee}
.selectbox-disabled .selectbox-box{border-color:#e4e4e4;background:#fff url(../img/bg_selbox2.gif) no-repeat 100% 0}
.selectbox-disabled .selectbox-box ul li,.selectbox-disabled .selectbox-label{color:#bdbdbd}

/* content */
.tmg{margin-top:29px !important}
.lpd{height:auto !important;padding:6px 0 3px !important;line-height:20px}
.lpd2{padding-left:28px !important}
.bpd{padding-bottom:7px}
.bx{position:relative;width:877px;padding:0 30px 33px 29px;border:1px solid #d1d1d1}
.lnb{overflow:hidden;position:relative;z-index:0;width:936px;height:43px;border:1px solid #d1d1d1;border-bottom:0}
.lnb ul{width:950px;height:43px;background:url(../img/bg_lnb.png) no-repeat}
.lnb ul.step2{background-position:0 -44px}
.lnb ul.step3{background-position:0 -88px}
.lnb li{float:left}
.lnb a{display:inline-block;width:309px;height:43px;margin-right:14px}
.lnb .s2 a{width:298px;margin-right:14px}
.lnb .s3 a{width:301px}
h3{margin-top:31px;margin-left:5px}
h3:first-child{margin-top:36px}
/* h3:first-child{margin-top:49px} */
h3 span,h3 a{display:inline-block;margin-top:0;vertical-align:top}
h3 span{margin-right:3px;padding-left:18px;background:url(../img/spr_ico.png) no-repeat 0 3px;font-size:14px;color:#555}
h3 span.txt_subcopy{padding-left:7px;background:none;font-size:12px;font-weight:normal}
h3 em{padding-right:5px;font-size:14px;color:#f26522}
h3 a{margin-top:1px}
h3 a.btn_detail{margin:-3px 0 -2px 3px}
h3.type2{margin-left:0}
h3.type2 span{padding-left:0;background:none}
h3.type4{margin:58px 0 15px 0;font-size:14px;color:#f36523}
h3.type5{margin:0 0 15px 0;font-size:14px;color:#f36523}
h4{margin-top:16px;margin-left:3px;padding-left:7px;background:url(../img/spr_ico.png) no-repeat 0 -20px;color:#333}
.bx h4.type2{margin-top:29px;margin-bottom:10px}
.bx h4.type3{margin-top:8px;margin-left:1px;padding:5px 0 4px;background:#f0f0f0;font-weight:bold;text-align:center}
.bx h4.type4{margin:14px 0 0 0}
.bx .btn_dnld,.bx .btn_dnld2{float:right;margin-top:-27px}
.bx .btn_print_loc{position:absolute;top:37px;right:0}
.bx .tit_etc{overflow:hidden;position:relative;zoom:1}
.lst_fdsc{margin-top:9px;margin-bottom:-4px}
.lst_fdsc li{font-size:11px;line-height:18px}
.lst_fdsc2{margin-top:6px;margin-bottom:-4px}
.lst_fdsc2 li{padding-left:31px;font-size:11px;line-height:20px;color:#999}
.lst_fdsc2 li em{color:#f26522}
.bx .lst_fdsc2{margin-top:12px;padding-bottom:20px}
.bx .lst_fdsc2_v2{padding-bottom:14px}
.bx .lst_fdsc2 li{padding-left:0}
.bx .btn_pdf{position:absolute;top:26px;right:30px}
.lst_fdsc2 li.tl{display:block;zoom:1}
.lst_fdsc2 li.tl:after{display:block;clear:both;content:''}
.lst_fdsc2 li.tl span{float:left}
.lst_fdsc2 li.tl span:first-child{display:inline-block;width:8px}
.tbl_line{display:block;overflow:hidden;height:2px;background:url(../img/line_tbl.png) repeat-x}
.tbl{padding-left:1px}
.tbl_form{display:block;width:100%;margin-top:35px;table-layout:fixed;border-collapse:collapse;border-spacing:0}
.tbl_form caption{color:#000}
.tbl_form th,.tbl_form td{vertical-align:top}
.tbl_form th{padding-top:3px;color:#333;text-align:left}
.tbl_form td{padding-bottom:15px;*padding-bottom:14px}
.tbl_form td .input_txt,.tbl_form td .at,.tbl_form td .bar,.tbl_form td .btn_spr,.tbl_form td .selbox_area,.tbl_form td .txt,.tbl_form td .lst_chk{display:inline-block;margin-top:0;margin-right:0px;vertical-align:top}
.tbl_form td .lst_chk{margin-top:2px}
.tbl_form td .selbox_area{margin-right:1px;*margin-right:5px}
.tbl_form td .input_txt{*margin-top:-1px;margin-right:1px}
.tbl_form td label{display:inline-block;position:relative}
.tbl_form td .txt{margin-top:3px;height:18px;*height:19px}
.tbl_form td .txt_line{margin-right:-1px;margin-left:-2px;color:#c0c0c0}
.tbl_form td strong.txt{margin-right:9px;color:#333}
.tbl_form td p{display:block;float:none;clear:both}
.tbl_form td .txt_sm{padding-top:7px;*padding-top:3px;font-size:11px;line-height:18px;color:#adadad}
.tbl_form td span.line_break{display:block;height:10px;*height:9px;margin:0;padding:0;font-size:0}
.tbl_form td .btn_find{*margin-left:4px}
.tbl_form .lst_chk input,.tbl_form .lst_chk span{display:inline-block;margin-top:0;vertical-align:top}
.tbl_form .lst_chk input{width:12px;height:12px;margin:2px 4px 0 1px}
.tbl_form2{display:block;width:100%;margin-top:7px;border-top:2px solid #e3e3e3;border-bottom:2px solid #e3e3e3;table-layout:fixed;border-collapse:collapse;border-spacing:0}
.tbl_form2 th{border-right:1px solid #e3e3e3;text-align:left}
.tbl_form2 th,.tbl_form2 td{padding:8px 0 6px}
.tbl_form2 th span,.tbl_form2 td span,.tbl_form2 td a{padding-left:9px;color:#333}
.tbl_form2 td a{color:#666}
.tbl_form3{width:100%;margin-top:13px;table-layout:fixed;border-collapse:collapse;border-spacing:0}
.tbl_form3 th,.tbl_form3 td{empty-cells:hide}
.tbl_form3 thead th{height:25px;border-left:1px solid #e7e7e7;background:#f0f0f0;color:#333;text-align:center;empty-cells:hide}
.tbl_form3 thead th.last span{display:inline-block;overflow:hidden;height:5px;line-height:999px;overflow:hidden}
.tbl_form3 thead tr th:first-child,.tbl_nom tr td:first-child{border-left:0}
.tbl_form3 td{height:30px}
.tbl_nom{border-bottom:2px solid #e7e7e7}
.tbl_nom td{height:29px;padding-top:1px;border-left:1px solid #e7e7e7;border-top:1px solid #e7e7e7}
.tbl_nom tr:first-child td{border-top:0}
.tbl_nom td em{color:#f26522}
.tbl_nom td span,.tbl_nom td a.txt,.tbl_nom td em{margin-left:11px}
.tbl_nom td a{color:#666}
.tbl_form3 tr.tr_add td{border-left:1px solid #e7e7e7;border-bottom:2px solid #e7e7e7}
.tbl_form3 tr.tr_add td:first-child{border-left:0}
.tbl_form3 tr.tr_add label,.tbl_form3 tr.tr_add .selbox_area{margin-left:5px}
.tbl_form3 tr.tr_add td:first-child label{margin-left:10px}
.tbl_form3 tr.tr_add td:first-child .selbox_area{margin-left:10px}
.tbl_form3 tr.tr_add td a{color:#666}
.tbl_form3 tr.tr_added td{border-bottom:1px solid #e7e7e7}
.tbl_form3 tr.tr_added .txt,.cfrm .tbl_form3 .txt{margin-top:2px;margin-left:13px;padding-top:5px;padding-right:5px;padding-bottom:6px}
.tbl_form3 tr.tr_added td:first-child .txt{margin-left:17px}
.tbl_form3 tr.tr_added .t_area .btn_del{margin-top:3px}
.tbl_form3 tbody .btn_cal,.tbl_form3 tbody .btn_find{*margin-top:1px;margin-left:-1px;*margin-left:3px}
.tbl_form3 .ct{text-align:center}
.tbl_form3 .ct label{margin-left:0 !important}
.tbl_form3 .ct .t_area2 label{margin-left:-5px !important}
.tbl_form3 .ct2 .txt:first-child{padding-right:31px}
.tbl_form3 .ct .input_txt{text-align:center}
.tbl_form3 .ct .txt{margin-left:1px !important}
.tbl_form3 .lpd .txt{margin-left:9px}
.tbl_form3 .t_area{position:relative;padding:0 0 0 5px}
.tbl_form3 .t_area2{padding-left:0}
.tbl_form3 .t_area label:first-child{margin-left:0 !important}
.tbl_form3 .t_area button,.tbl_form3 .txt,.tbl_form3 .t_area a{display:inline-block;margin-top:0;vertical-align:top}
.tbl_form3 .t_area .btn_attach2{float:left}
.tbl_form3 .t_area .btn_add,.tbl_form3 div .btn_del2{float:right;margin-top:3px;margin-right:10px}
.tbl_form3 .t_area .btn_del{margin-top:4px}
.tbl_form3 .t_area .txt{margin-top:3px;margin-left:4px}
.tbl_form3 .t_area .txt_line2{margin-right:-5px;margin-left:0}
.tbl_form3 .t_area .txt_line3{margin-right:-4px;margin-left:1px}
.tbl_form3 .ellipsis .txt{display:inline-block;max-width:83%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-wrap:normal;word-break:normal}
.tbl_form3 button.btn_del{margin-left:2px}
.tbl_form3 .last{border-left:0 !important}
.tbl_form4{width:100%;margin-top:19px;table-layout:fixed}
.tbl_form4 thead th{height:30px;border-left:1px solid #e7e7e7;background:#f0f0f0;color:#333;text-align:center;empty-cells:hide}
.tbl_form4 tr th:first-child{border-left:0}
.tbl_form4 tbody th,.tbl_form4 td{padding:5px 0 4px;border-bottom:1px solid #e3e3e3;line-height:20px;text-align:left}
.tbl_form4 th span{display:block;margin-left:14px;font-weight:normal}
.tbl_form4 th.em{background:#fafafa;color:#333}
.tbl_form4 td{padding:5px 0 4px 14px;border-left:1px solid #e7e7e7;color:#999}
.tbl_form4 td.em{background:#fafafa;color:#666}
.tbl_intro{margin-top:8px;border-bottom:2px solid #e3e3e3}
.tbl_intro tr:first-child td{border-top:0}
.tbl_intro td{height:auto;padding:11px 0 11px 20px;border-top:1px solid #e3e3e3;border-left:1px solid #e7e7e7;line-height:18px;color:#666;text-align:left;vertical-align:top}
.tbl_intro td a{color:#333}
.tbl_intro .em td,.tbl_intro .em a{color:#333 !important}
.tbl_intro thead tr th:first-child,.tbl_intro tr td:first-child{border-left:0}
.tbl_intro .last td{padding-bottom:15px}
.tbl_cfrm{border-bottom:2px solid #e3e3e3}
.tbl_cfrm tr:first-child td{border-top:0}
.tbl_cfrm td{height:auto;padding:8px 0 5px 0;border-top:1px solid #e3e3e3;border-left:1px solid #e7e7e7;line-height:18px;font-weight:bold;color:#666;text-align:center}
.tbl_cfrm td a{color:#666}
.tbl_cfrm em{color:#f36523 !important}
.tbl_cfrm thead tr th:first-child,.tbl_cfrm tr td:first-child{border-left:0}
.lst_num{width:200px;margin-left:56px;zoom:1}
.lst_num:after{display:block;clear:both;content:''}
.lst_num li{float:left;margin-right:25px}
.lst_rdo{margin-left:10px;zoom:1}
.lst_rdo:after{display:block;clear:both;content:''}
.lst_rdo li{float:left;margin-right:13px}
.lst_rdo li span,.lst_rdo li input{display:inline-block;margin-top:0;vertical-align:top}
.lst_rdo li input{width:13px;height:13px;margin-top:1px;margin-right:5px}
.lst_dsc{margin-top:20px}
.lst_dsc li{font-size:11px;line-height:18px;color:#adadad}
.lst_dsc li em{color:#666}
.lst_caution{margin:12px 0 26px 0;line-height:20px}
.lst_caution li{display:block;zoom:1}
.lst_caution li:after{display:block;clear:both;content:''}
.lst_caution li span{float:left}
.lst_caution li span:first-child{display:inline-block;width:15px}
.lst_caution li a{color:#666;text-decoration:none}
.dsc_form{padding-top:6px;font-size:11px;line-height:18px;color:#adadad}
.dsc_form_v2{padding:0 0 6px !important}
.dsc_form a{color:#adadad}
.dsc_form strong{padding-right:10px;color:#f26522}
.dsc_form_top{position:absolute;top:20px;right:0}
.private{margin-left:122px}
.private h2{margin:5px 0 10px}
.private dt{padding:6px 4px 11px 9px;border:1px solid #d9d9d9;font-size:11px;line-height:18px}
.private dt ul{margin:11px 0}
.private dt li{display:block;padding-left:12px;background:url(../img/spr_ico.png) no-repeat 6px -43px;line-height:20px}
.private dd{padding:8px 0 1px;font-size:11px;text-align:right;vertical-align:top}
.private dd input,.private dd span{display:inline-block;margin-top:0;vertical-align:top}
.private dd input{width:12px;height:12px;margin:2px 5px 0 0}
.btns{margin-top:17px;text-align:center}
.btns a{margin-right:3px}
.bx .btns{margin:65px 0 60px}
.bx .btns_v2{margin:43px 0 46px}
.volunteer{position:relative;margin-top:7px;padding-left:1px;zoom:1}
.volunteer:after{display:block;clear:both;content:''}
.volunteer .pic{position:absolute;top:0;left:1px;width:158px;height:100%;background:#efefef;text-align:center}
.volunteer .pic .pic_area{margin:35px auto 7px}
.volunteer .pic .btn_attach{margin-bottom:15px}
.volunteer .pic .dsc_pic{width:135px;margin:0 0 0 20px;font-size:11px;line-height:13px;color:#666;text-align:left}
.volunteer .info{padding:30px 0 27px 185px;background:#f7f7f7}
.volunteer .info .tbl_form{margin-top:0}
/*.volunteer .info .tbl_form caption{display:inline-block;margin-bottom:17px;text-align:left}*/
.volunteer .info .tbl_form td{padding-bottom:12px;*padding-bottom:11px}
.volunteer .info .selbox_area{margin-right:0px;*margin-right:4px}
.volunteer .info .input_txt{margin-right:0px}
.volunteer .lst_rdo{margin-left:0}
.volunteer .txt_sm{margin-top:-1px;padding-top:0;font-size:11px;line-height:18px;color:#adadad}
.result{margin-bottom:-10px;border-bottom:2px solid #dfdfdf}
.result .pic,.result .info{background:#fff}
.result .pic .pic_area{margin-top:13px}
.result .info{padding-top:8px;padding-bottom:13px}
.pic_area{width:100px;padding:4px;border:1px solid #d5d5d5;background:#fff}
.file_area{margin-top:19px;margin-bottom:21px;zoom:1}
.file_area:after{display:block;clear:both;content:''}
.file_area .input,.file_area .view{float:left}
.file_area span,.file_area button,.file_area a{display:inline-block;margin-top:0;vertical-align:top}
.file_area span{margin-top:4px;margin-right:6px}
.file_area a{margin-top:4px;margin-left:19px;color:#666}
.file_area button.btn_del{margin-top:4px}
.bx_3d{position:relative;z-index:150;margin:60px 8px 0 1px}
.cfrm .bx_3d{margin-top:40px}
.bx_3d .cont{position:relative;z-index:99;padding:7px 19px 19px;border:1px solid #e2e2e2;background:#fff}
.bx_3d .cont2{padding:35px 30px 30px}
.bx_3d dl.type2{margin:6px 0 3px}
.bx_3d dt,.bx_3d dd{position:relative;height:23px}
.bx_3d dl.type2 dt,.bx_3d dl.type2 dd{height:25px}
.bx_3d dt{display:inline-block;float:left;width:110px;z-index:99;border-bottom:1px solid #b4b4b4;font-weight:bold;color:#333}
.bx_3d dd{display:block;border-bottom:1px solid #fff;color:#666}
.bx_3d dt span,.bx_3d dd span{display:inline-block;position:absolute;top:11px;background:#fff}
.bx_3d dd span{padding-left:9px}
.bx_3d h2{font-size:16px;color:#f36523}
.bx_3d .shdw{position:absolute;top:8px;left:8px;z-index:50;width:100%;height:100%;background:url(../img/bg_shdw.gif) 100% 0}
.bx_3d .btn_clse2{position:absolute;top:24px;right:31px}
.bx_3d .btn_veri{position:absolute;bottom:18px;right:20px}
.attach_area{padding:8px 0;border-bottom:1px solid #e7e7e7;zoom:1}
.attach_area:after{display:block;clear:both;content:''}
.attach_area dt{float:left;margin:2px -5px 0 10px}
.attach_area dd{display:block;float:left;width:600px;padding-left:13px}
.attach_area li{line-height:25px}
.attach_area li a,.attach_area li button{display:inline-block;margin-top:0;vertical-align:top}
.attach_area li a{margin-right:2px;color:#666}
.attach_area li button{margin-top:5px}
.ly_area{position:absolute;top:83px;left:50%;width:816px;margin-left:-408px;text-align:left}
.ly_area .lst_fdsc2{margin:19px 0 16px}
.ly_area .lst_fdsc2 li{padding:0}
.lst_fdsc3{margin:12px 0 15px}
.lst_fdsc3 li{font-size:11px;line-height:18px;color:#999}
.bx .alert{margin-top:11px;padding:12px 0 9px 14px;background:#f8f8f8;line-height:20px;color:#000}
.bx .alert em{color:#f36523}
.section_error{overflow-y:hidden;background:url(../img/bg_error.png) 50% 10% no-repeat}
.section_error #header{position:relative;z-index:900}
.section_error h2{position:absolute;top:-11px;left:0px}
.section_error h3{margin-bottom:23px}
.section_error #wrap{height:100%}
.section_error #container{position:absolute;top:0;left:0;width:100%;height:100%}
.section_error #content{position:absolute;top:50%;left:50%;width:458px;height:260px;margin:-130px 0 0 -465px;padding:0 0 0 480px;line-height:20px}
.section_error p{margin-bottom:20px;color:#555}
.section_error a{font-weight:bold;color:#555;text-decoration:underline}
.lst_link ul{zoom:1}
.lst_link ul:after{display:block;clear:both;content:''}
.lst_link li{float:left;margin-right:2px}

/* popup layout */
#pop_wrap{width:100%;color:#333;text-align:center}
#pop_header{position:relative;height:35px;background:#3b3b3b}

/* popup contents */
.h_type{position:absolute;top:11px;left:19px;font-size:14px;color:#f36523}
.findsch_area{position:relative;margin:19px 0 11px 20px;text-align:left}
.findsch_area strong,.findsch_area input,.findsch_area button{display:inline-block;margin-top:0;vertical-align:top;color:#333}
.findsch_area strong{display:inline-block;margin:4px 4px 0 0}
.findsch_area .input_txt{margin-top:1px;*margin-top:0}
.findsch_area .btn_spr{margin:1px 1px 0 0;*margin-left:4px}
.tbl_type{margin:0 auto;border-bottom:1px solid #dedede}
.tbl_type table{width:100%}
.tbl_type thead th{padding:8px 0 7px;background:#f0f0f0;line-height:15px;color:#333}
.tbl_type thead th:first-child{background:#f0f0f0 url(../img/line_tbl2.gif) 100% 10px no-repeat}
.tbl_type .data{overflow-x:hidden;overflow-y:auto;width:100%;height:154px;padding:5px 0}
.tbl_type .data2{height:133px}
.tbl_type td{color:#7d7d7d}
.tbl_type td.title{text-align:left}
.tbl_type td.title span{display:block;margin-left:14px}
.tbl_type .data td{height:21px;padding-top:1px}
.tbl_type .hover td{background:#ffe6da;color:#333;cursor:pointer}
#pop_content .tbl_type .eof{padding-top:67px;color:#7d7d7d}
#pop_content .tbl_type .data2 .eof{padding-top:56px}
.dct_input{margin:0 auto;text-align:left}
.dct_input h2{margin:18px 0 5px;padding:0;background:none;color:#333}
.dct_input strong,.dct_input input,.dct_input button{display:inline-block;margin-top:0;vertical-align:top}
.dct_input strong{display:inline-block;margin:3px 7px 0 0;color:#333}
.dct_input input{margin-right:1px}
.dct_input .btn_input{*margin-left:4px}
.dct_input div{padding:10px 0 9px;border:1px solid #e3e3e3;background:#f8f8f8;text-align:center}
#pop_footer .btn_area{margin-top:15px;text-align:center}
#pop_footer .btn_area .btn_spr,#pop_footer .btn_area a{margin-right:5px}
.dsc_attach{width:345px;margin:11px auto 0;padding-bottom:9px;border-bottom:1px solid #dedede;font-size:11px;line-height:20px;color:#7d7d7d;text-align:left;zoom:1}
.dsc_attach.v2{margin-bottom:-11px;padding-bottom:0;border-bottom:0}
.dsc_attach:after{display:block;clear:both;content:''}
.dsc_attach span{float:left}
.dsc_attach span:first-child{display:inline-block;width:13px}
.print{margin:10px 20px 0;text-align:left}
.print .bx{width:auto;margin-top:10px;padding:30px 0 0;border:1px solid #d8d8d8;text-align:center}
.print .pic{position:relative;width:170px;height:220px;margin:0 auto}
.print .pic img{position:absolute;top:6px;left:6px}
.print .pic .bg{top:0;left:0}
.print dl{width:268px;margin:29px 0 13px 77px;text-align:left;zoom:1}
.print dl:after{display:block;clear:both;content:''}
.print dt,.print dd{height:30px}
.print dt{float:left;margin-right:22px}
.print dt img{display:inline-block;margin-top:1px;vertical-align:top}
.print dd{display:block;font-size:19px;font-weight:bold;color:#333}
.print .lst_fdsc2{margin:0 0 15px 10px;text-align:left}
.print .lst_fdsc2 span{color:#7d7d7d}

/* 지원결과 확인 */
.txt_comment{padding-bottom:8px;line-height:20px}
.color_orange{color:#f36523}

.bg_final{background:url(../img/bg_final.png) 50% 106% no-repeat}
.bg_white{background-color:#fff}

/* 2014학년도 1차 수시 */
.lst_inquiry{margin-top:14px;line-height:20px}
.pass_noti{font-size:11px;color:#adadad}
.pass_reset{margin-left:14px;font-size:11px;text-decoration:underline;color:#666}
.h_callinfo{margin-bottom:20px;font-weight:bold;font-size:12px;color:#000}
.docu_noti{margin-left:9px !important;color:#adadad}
.fill_noti{overflow:hidden;float:right;width:196px;height:13px;margin-top:9px;background:url(../img/txt_spr.png) no-repeat 0 -70px;font-size:0;text-indent:-999px}

/* 캡챠이미지 */
.security{overflow:hidden;width:695px;margin:10px 0 0 122px;padding:10px;background-color:#f1f1f1;zoom:1}
.security .img{float:left;width:198px;height:88px;margin-right:7px;border:1px solid #c0c0c0}
.dsc_security{float:left}
.dsc_security p:first-child{margin:4px 0 23px;color:#333}
.input_area input[type=text]{color:#b2b2b2}
.btn_imgrfsh{display:block;width:94px;height:21px;margin-bottom:5px;background:url(../img/btn_imgfsh.gif) no-repeat;border:0;cursor:pointer}
.btn_imgrfsh span{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}

/* 결제마감 레이어팝업 */
.ly_info{position:absolute;width:824px;height:550px;background:url(../img/bg_ly_payment.png) no-repeat;text-align:left;z-index:110}
.ly_header{text-align:center}
.ly_header h1{margin:69px 7px 60px 0}
.ly_content ul{margin-left:50px}
.ly_content li{margin-bottom:25px;line-height:27px}
.ly_content li span:first-child{padding-right:7px}
.ly_content li strong{font-weight:bold;font-size:14px;color:#666}
.ly_content li p{padding-left:15px;font-size:12px}
.ly_fs .dim{position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5}