@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* snb :: [광고안내] */
.adgd span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_adguide.png) no-repeat;line-height:999em;vertical-align:middle}
.adgd h2 span.tx{width:60px;height:17px;margin-right:15px;background-position:0 0}
.adgd h2 a{background-position:104px 2px}
.adgd .nav .m1 span.tx{width:71px;height:13px;background-position:0 -20px}
.adgd .nav .m1 .sub_m1 span.tx{width:50px;height:12px;background-position:0 -40px}
.adgd .nav .m1 .sub_m2 span.tx{width:50px;height:12px;background-position:0 -60px}
.adgd .nav .m1 .sub_m3 span.tx{width:50px;height:12px;background-position:0 -80px}
.adgd .nav .m2 span.tx{width:71px;height:13px;background-position:0 -100px}
.adgd .nav .m2 .sub_m1 span.tx{width:63px;height:12px;background-position:0 -120px}
.adgd .nav .m2 .sub_m2 span.tx{width:63px;height:12px;background-position:0 -140px}
.adgd .nav .m3 span.tx{width:71px;height:13px;background-position:0 -160px}
.adgd .nav .m3 .sub_m1 span.tx{width:41px;height:12px;background-position:0 -180px}
.adgd .nav .m3 .sub_m2 span.tx{width:82px;height:12px;background-position:0 -200px}

.adgd .nav .m1.select a.tit span.tx{background-position:-90px -20px}
.adgd .nav .m1 .sub_m1.on span.tx{background-position:-90px -40px}
.adgd .nav .m1 .sub_m2.on span.tx{background-position:-90px -60px}
.adgd .nav .m1 .sub_m3.on span.tx{background-position:-90px -80px}
.adgd .nav .m2.select a.tit span.tx{background-position:-90px -100px}
.adgd .nav .m2 .sub_m1.on span.tx{background-position:-90px -120px}
.adgd .nav .m2 .sub_m2.on span.tx{background-position:-90px -140px}
.adgd .nav .m3.select a.tit span.tx{background-position:-90px -160px}
.adgd .nav .m3 .sub_m1.on span.tx{background-position:-90px -180px}
.adgd .nav .m3 .sub_m2.on span.tx{background-position:-90px -200px}

/* 서브 타이틀 공통 :: [광고안내] */
h2.h_adgd{padding-bottom:12px}
h2.h_adgd span.tx{height:17px;background:url(../img/spr_h_adguide.png) no-repeat}
h3.bd{margin-bottom:18px;padding-bottom:10px;border-bottom:1px solid #c9c9c9}
h3.bd2{margin-bottom:18px;padding-bottom:15px;border-bottom:1px solid #f0f0f0}
h3 span.tx{display:block;overflow:hidden;height:16px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
h3 span.ex{display:inline-block;overflow:hidden;height:13px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}

/* 문의사항 공통 :: [광고안내] */
.curious_help{overflow:hidden;border-bottom:1px solid #f0f0f0}
.curious_help h3{padding:13px 0 11px 10px;border-top:1px solid #c9c9c9;border-bottom:1px solid #f0f0f0;background-color:#fafafa}
.curious_help h3 span.tx{width:147px;background-position:-170px -150px}
.curious_help dl{float:left;width:210px;margin-left:41px;font-size:11px;letter-spacing:-1px}
.curious_help .help_lst1{margin-left:10px}
.curious_help dt{margin:20px 0 13px;color:#333}
.curious_help dd{color:#666;line-height:1em}
.curious_help .help_lst1 dd li{background:url(../img/bu_dott13.png) no-repeat 0% 50%}
.curious_help .help_lst1 dd li:first-child{margin-bottom:7px}
.curious_help dd a{display:inline-block;margin:13px 0 20px}
.curious_help dd strong{display:block;font-weight:normal;margin-top:7px}

/* 꼭알아두세요 공통 :: [광고안내] */
.surely_check{padding:14px 0 12px 10px;border:1px solid #f5efde;background-color:#fefbf4}
.surely_check p{overflow:hidden;width:91px;height:23px;margin-bottom:12px;background:url(../img/spr_h_adguide.png) no-repeat -250px -170px;line-height:999em !important}
.surely_check li{width:705px;margin-bottom:3px;background-position:0 25%;line-height:1.5em;color:#666}
.surely_check li span{display:block}

/* 클린초이스 공통 :: [광고안내] */
.adgd_cleanint h2.h_adgd,.adgd_cleanex h2.h_adgd{border:none}
.adgd_cleanint .tabs li,.adgd_cleanex .tabs li{width:50%}
.adgd_cleanint h2.h_adgd span.tx,.adgd_cleanex h2.h_adgd span.tx{width:76px;background-position:-70px 0}
.adgd_cleanint .tabs li:first-child,.adgd_cleanex .tabs li:first-child{width:379px}

/* 광고대행 안내 공통 :: [광고안내] */
.adgd_adact h2.h_adgd{border:none}
.adgd_adact .tabs li{width:50%}
.adgd_adact .tabs li:first-child{width:379px}
.adgd_adact h2.h_adgd span.tx{width:94px;background-position:-640px 0}
.adgd_adact .curious_help{margin:3px 0 56px}

/* 클린초이스 && 모바일배너 && 브랜드검색 공통 :: [광고안내] */
.sub_conwrap .int_tit_area{width:757px;background:url(../img/spr_tit_adguide.png) no-repeat;border-bottom:1px solid #c9c9c9}
.sub_conwrap .disclosure div{overflow:hidden;padding-left:20px}
.sub_conwrap .disclosure .ex_position{margin-top:46px}
.sub_conwrap .disclosure .ex_method{margin:43px 0 41px}
.sub_conwrap .disclosure .ad_ex dd{line-height:1.8}
.sub_conwrap .disclosure div h4{float:left;width:120px}
.sub_conwrap .disclosure h4 span.tx{display:block;overflow:hidden;height:24px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.sub_conwrap .disclosure .ex_position h4 span.tx{width:82px;background-position:0 -170px}
.sub_conwrap .disclosure .ex_method h4 span.tx{width:82px;background-position:-90px -170px}
.sub_conwrap .disclosure .ad_ex h4 span.tx{width:62px;background-position:-180px -170px}
.sub_conwrap .disclosure div dl,.sub_conwrap .disclosure div p{float:left;width:590px;padding-left:20px;border-left:1px solid #dfdfdf}
.sub_conwrap .disclosure .ex_position dd a{display:inline-block;padding-left:7px;margin:0 19px 0 7px;background:url(../img/bu_line9.png) no-repeat 0%}
.sub_conwrap .disclosure .ex_position dd span{display:block;margin:4px 0 16px}
.sub_conwrap .btn_adreg a{display:block;overflow:hidden;width:141px;height:36px;margin:0 auto;background:url(../img/spr_btn_adguide.png) no-repeat;line-height:999em}

/* 직접운영안내 공통 :: [광고안내] */
.adgd_manage_ader h2.h_adgd,.adgd_manage_acc h2.h_adgd,.adgd_manage_offersvc h2.h_adgd,.adgd_manage_stroy h2.h_adgd{border:none}
.adgd_manage_ader h2.h_adgd span.tx,.adgd_manage_acc h2.h_adgd span.tx,.adgd_manage_offersvc h2.h_adgd span.tx,.adgd_manage_stroy h2.h_adgd span.tx{width:93px;background-position:-160px 0}
.sub_conwrap .btn_magage a{display:block;overflow:hidden;width:131px;height:38px;margin:40px auto 60px;background:url(../img/spr_btn_adguide.png) no-repeat -150px 0;line-height:999em}

/* 메인 :: [광고안내] */
.adgd_main h2.h_adgd span.tx{width:60px}
.adgd_main p,.adgd_main dd{line-height:1.5em;color:#666}
.adgd_main .main_tit_area{height:392px;margin-bottom:40px;background:url(../img/spr_tit_adguide.png) no-repeat 0 -1850px}
.adgd_main .section1 h3 span.tx{width:157px;background-position:0 -25px}
.adgd_main .section1 .add_des{margin-top:30px}
.adgd_main .section1 .add_des h3 span.tx{width:110px;margin-bottom:20px;background-position:0 -50px}
.adgd_main .section1 .add_des .tit2{margin-top:16px}
.adgd_main .section1 .add_des .tit3{margin-top:16px}
.adgd_main .section1 .kind{overflow:hidden;margin:32px 0 50px}
.adgd_main .section1 .kind .add_des h3{margin-bottom:5px}
.adgd_main .section1 .kind h3 span.tx{width:110px;background-position:-120px -50px}
.adgd_main .section1 .kind  p{margin:6px 0 16px}
.adgd_main .section1 .kind dl{float:left;width:378px}
.adgd_main .section1 .kind .cpt dt,.adgd_main .section1 .kind .cpt dd{border-left:none}
.adgd_main .section1 .kind dt{height:40px;background-color:#fafafa;border:1px solid #f0f0f0}
.adgd_main .section1 .kind dt span{display:block;overflow:hidden;height:15px;margin-top:15px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_main .section1 .kind dt .tx{width:29px;margin-left:174px;background-position:-330px -150px}
.adgd_main .section1 .kind dt .tx2{width:68px;margin-left:160px;background-position:-370px -150px}
.adgd_main .section1 .kind dd{height:54px;padding:16px 20px 23px;border:1px solid #f0f0f0;border-top:0}
.adgd_main .section1 .kind dd span{display:block;margin-top:6px}
.adgd_main .section2 h3 span.tx{width:175px;background-position:-170px -25px}
.adgd_main .section2 dt{overflow:hidden;height:14px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_main .section2 .represent p,.adgd_main .section2 .front p{margin-bottom:16px}
.adgd_main .section2 .represent{overflow:hidden;margin-top:30px}
.adgd_main .section2 .represent.add_des h3 span.tx{width:210px;background-position:-240px -50px}
.adgd_main .section2 .represent dl{float:left;width:372px}
.adgd_main .section2 .represent dl dt{margin-bottom:10px}
.adgd_main .section2 .represent .represent_lst1{margin-right:12px}
.adgd_main .section2 .represent .represent_lst1 dt{width:143px;background-position:-440px -125px}
.adgd_main .section2 .represent .represent_lst2 dt{width:148px;background-position:-590px -125px}
.adgd_main .section2 .represent dd span,.adgd_main .section2 .front dd span{display:block;margin-top:6px;color:#999;font-size:11px;letter-spacing:-1px;text-align:right}
.adgd_main .section2 .front{margin-top:25px}
.adgd_main .section2 .front.add_des h3 span.tx{width:97px;background-position:-460px -50px}
.adgd_main .section2 .front dt{width:164px;margin-bottom:10px;background-position:0 -150px}
.adgd_main .curious_help{margin:47px 0 58px}

/* 클린초이스_소개 :: [광고안내] */
.adgd_cleanint p,.adgd_cleanint dd{line-height:1.5em;color:#666}
.adgd_cleanint .cleanint_tit_area{height:485px;margin:40px 0 18px}
.adgd_cleanint .section1 h3 span.tx{width:68px;background-position:-350px -25px}
.adgd_cleanint .section1 .ex_position dt{overflow:hidden;height:13px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_cleanint .section1 .ex_position .srch_nw{width:68px;margin-bottom:12px;background-position:-450px -150px}
.adgd_cleanint .section1 .ex_position .con_nw{width:82px;margin-bottom:8px;background-position:-530px -150px}
.adgd_cleanint .section1 .ad_ex{margin-bottom:46px}
.adgd_cleanint .section1 .ad_ex p span{display:block}
.adgd_cleanint .surely_check{margin:50px 0 20px}
.adgd_cleanint .curious_help{margin-bottom:55px}

/* 모바일배너_소개 :: [광고안내] */
.adgd_mobilebn h2.h_adgd span.tx{width:75px;background-position:-470px 0}
.adgd_mobilebn .add_des dd{line-height:1.5em}
.adgd_mobilebn .mobilebn_tit_area{height:650px;margin-bottom:19px;background-position:0 -710px}
.adgd_mobilebn .section1{padding-bottom:63px;border-bottom:1px solid #c9c9c9;letter-spacing:-1px}
.adgd_mobilebn .section1 h3 span.tx{width:67px;background-position:-1105px -25px}
.adgd_mobilebn .section1 dt{margin-bottom:12px;font-weight:bold}
.adgd_mobilebn .section1 li{margin-top:7px}
.adgd_mobilebn .section1 li:first-child{margin-top:0}
.adgd_mobilebn .section1 dd span{color:#666}
.adgd_mobilebn .section1 dd .ex{color:#999}
.adgd_mobilebn .section1 .ex_position dl{padding-bottom:4px}
.adgd_mobilebn .section1 .ex_position ul{margin-bottom:26px;letter-spacing:0}
.adgd_mobilebn .section1 .ex_position ul a{margin-right:34px}
.adgd_mobilebn .section1 .ad_ex dl{width:530px}
.adgd_mobilebn .section1 .ad_ex dt{margin-bottom:9px}
.adgd_mobilebn .section2{letter-spacing:-1px}
.adgd_mobilebn .section2 h3 span.tx{width:97px;margin-top:18px;background-position:-1190px -25px}
.adgd_mobilebn .section2 dt{overflow:hidden;height:13px;margin-bottom:7px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_mobilebn .section2 .section_lst1{height:482px;margin:35px 0 43px;background:url(../img/spr_visual_adguide.png) no-repeat 0 -380px}
.adgd_mobilebn .section2 .section_lst1 dt{width:68px;background-position:-1140px -170px}
.adgd_mobilebn .section2 .section_lst2 dt{width:106px;background-position:-1220px -170px}
.adgd_mobilebn p.btn_adreg{margin:37px auto 80px}
.adgd_mobilebn .surely_check li{background:none;letter-spacing:-1px}
.adgd_mobilebn .curious_help{margin:30px 0 56px}

/* 브랜드검색_소개 :: [광고안내] */
.adgd_brandsrch h2.h_adgd span.tx{width:75px;background-position:-555px 0}
.adgd_brandsrch p,.adgd_brandsrch dd,.adgd_brandsrch .section3 li{line-height:1.5em;color:#666}
.adgd_brandsrch .brandcrch_tit_area{height:530px;margin-bottom:19px;background-position:0 -1325px}
.adgd_brandsrch .section1 span,.adgd_brandsrch .section2 span,.adgd_brandsrch .section3 span{color:#999}
.adgd_brandsrch .section1{padding-bottom:56px;margin-bottom:18px;border-bottom:1px solid #c9c9c9;letter-spacing:-1px}
.adgd_brandsrch .section1 h3 span.tx{width:67px;background-position:-1300px -25px}
.adgd_brandsrch .section1 dt{font-weight:bold;margin-bottom:11px}
.adgd_brandsrch .section1 div.ex_position{margin:41px 0 6px}
.adgd_brandsrch .section1 div.ex_method{margin:49px 0 46px}
.adgd_brandsrch .section1 div.ad_ex a{display:block;width:60px}
.adgd_brandsrch .section2{padding-bottom:50px;margin-bottom:18px;border-bottom:1px solid #c9c9c9}
.adgd_brandsrch .section2 h3 span.tx{width:127px;background-position:-725px -200px}
.adgd_brandsrch .section2 .brand_srch{overflow:hidden;width:633px;padding:17px 0 16px;margin:27px 0 15px;border:1px solid #e5e5e5}
.adgd_brandsrch .section2 .brand_srch h4{padding-left:10px;font-size:13px}
.adgd_brandsrch .section2 .brand_srch span{display:inline-block;overflow:hidden;width:23px;height:11px;background:url(../img/spr_ico_adguide.png) no-repeat 6px -330px;line-height:999em;vertical-align:bottom}
.adgd_brandsrch .section2 .brand_srch .brand_srch_img{margin-top:14px}
.adgd_brandsrch .section2 .brand_srch li{float:left;margin-bottom:4px}
.adgd_brandsrch .section2 .brand_srch_lst1{margin:0 11px 0 22px}
.adgd_brandsrch .section2 .explain{overflow:hidden;margin-left:24px}
.adgd_brandsrch .section2 .explain li{float:left;overflow:hidden;height:18px;margin-right:20px;background:url(../img/spr_brand_srch.png) no-repeat;line-height:999em}
.adgd_brandsrch .section2 li.explain_lst1{width:83px}
.adgd_brandsrch .section2 li.explain_lst2{width:95px;background-position:-90px 0}
.adgd_brandsrch .section2 li.explain_lst3{width:68px;background-position:-190px 0}
.adgd_brandsrch .section2 li.explain_lst4{width:120px;background-position:-270px 0}
.adgd_brandsrch .section3{padding-bottom:40px;margin-bottom:18px;border-bottom:1px solid #c9c9c9}
.adgd_brandsrch .section3 h3 span.tx{width:148px;background-position:-860px -200px}
.adgd_brandsrch .section3 img{margin-top:26px}
.adgd_brandsrch .section4{padding-bottom:46px;margin-bottom:18px;border-bottom:1px solid #c9c9c9}
.adgd_brandsrch .section4 h3 span.tx{width:209px;background-position:-1015px -200px}
.adgd_brandsrch .section4 dt,.adgd_brandsrch .section5 .section5_lst1 dt{overflow:hidden;height:13px;margin-bottom:7px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_brandsrch .section4 .section4_lst1{margin:20px 0 16px}
.adgd_brandsrch .section4 .section4_lst1 dt{width:273px;background-position:0 -270px}
.adgd_brandsrch .section4 .section4_lst2 dt{width:286px;background-position:-280px -270px}
.adgd_brandsrch .section5 h3 span.tx{width:124px;background-position:-1240px -200px}
.adgd_brandsrch .section5 .section5_lst1{margin-top:20px}
.adgd_brandsrch .section5 .section5_lst2{margin:26px 0 16px}
.adgd_brandsrch .section5 .section5_lst1 dt{width:446px;background-position:-580px -270px}
.adgd_brandsrch .section5 .section5_lst2 dt,.adgd_brandsrch .section5 .section5_lst3 dt{margin-bottom:6px}
.adgd_brandsrch .section5 .section5_lst3 span a{display:block}
.adgd_brandsrch .surely_check{margin:77px 0 30px}
.adgd_brandsrch .surely_check li{background:none;letter-spacing:-1px}
.adgd_brandsrch .curious_help{margin-bottom:56px}

/* 클린초이스_노출매체 :: [광고안내] */
.adgd_cleanex .cleanex_tit_area{width:757px;height:225px;margin:47px 0 50px;background:url(../img/spr_tit_adguide.png) no-repeat 0 -485px}
.adgd_cleanex p,.adgd_cleanex .add_des dd{line-height:1.5em}
.adgd_cleanex p{color:#666}
.adgd_cleanex .section1 h3 span.tx{width:84px;background-position:-425px -25px}
.adgd_cleanex .section1 .naver_srch h3 span.tx{width:97px;margin:31px 0 21px;background-position:-570px -50px}
.adgd_cleanex .section1 .group1,.adgd_cleanex .section1 .group2,.adgd_cleanex .section1 .group3{position:relative;height:361px;margin-bottom:20px}
.adgd_cleanex .section1 .group2{height:163px}
.adgd_cleanex .section1 .group3{height:289px}

.adgd_cleanex .naver_srch dt,.adgd_cleanex .naver_srch_rest dt{display:block;overflow:hidden;height:13px;margin-bottom:7px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_cleanex .naver_srch dd,.adgd_cleanex .naver_srch_rest dd,.adgd_cleanex .section1 .group3 p{width:320px}
.adgd_cleanex .section1 .group1_lst1 dt{width:46px;background-position:-620px -150px}
.adgd_cleanex .section1 .group1_lst1 dd{margin-bottom:14px}
.adgd_cleanex .section1 .group1_lst2 dt{width:56px;background-position:-675px -150px}
.adgd_cleanex .section1 .group2 dt{width:40px;background-position:-735px -150px}
.adgd_cleanex .section1 .group3 dt{width:58px;background-position:-350px -170px}
.adgd_cleanex .section1 .bg_visual{display:block;position:absolute;top:0;right:0;width:390px;height:361px;background:url(../img/spr_visual_adguide.png) no-repeat}
.adgd_cleanex .section1 .group2 .bg_visual{height:163px;background-position:0 -870px}
.adgd_cleanex .section1 .group3 .bg_visual{height:289px;background-position:-394px -870px}
.adgd_cleanex .section1 .naver_srch_rest .bg_visual{height:736px;background-position:0 -1040px}
.adgd_cleanex .section1 .group3 p{margin-top:19px}
.adgd_cleanex .section1 .naver_srch_rest{position:relative;height:736px}
.adgd_cleanex .section1 .naver_srch_rest h3 span.tx{width:113px;margin:29px 0 19px;background-position:-680px -50px}
.adgd_cleanex .section1 .naver_srch_rest .rest_lst1 dt{width:33px;background-position:-420px -170px}
.adgd_cleanex .section1 .naver_srch_rest .rest_lst2 dt{width:58px;background-position:-460px -170px}
.adgd_cleanex .section1 .naver_srch_rest .rest_lst3 dt{width:45px;background-position:-525px -170px}
.adgd_cleanex .section1 .naver_srch_rest .rest_lst4 dt{width:81px;background-position:-580px -170px}
.adgd_cleanex .section1 .naver_srch_rest dd{margin-bottom:15px}
.adgd_cleanex .section1 .naver_srch_rest dd span,.adgd_cleanex .section1 .naver_srch em{color:#999}
.adgd_cleanex .section1 .srch_partner.add_des span.tx{width:69px;margin:56px 0 16px;background-position:0 -75px}
.adgd_cleanex .section1 .srch_partner ul,.adgd_cleanex .section2 .content_page ul{overflow:hidden}
.adgd_cleanex .section1 .partner_lst li{float:left;margin:26px 26px 0 0;color:#333}
.adgd_cleanex .section1 .partner_lst .partner_lst_rgt{margin:26px 0px 0px -2px}
.adgd_cleanex .section1 .srch_partner ul li span,.adgd_cleanex .section2 .content_page ul li span{display:block;margin-top:10px}
.adgd_cleanex .section2 h3 span.tx{width:97px;margin-top:73px;background-position:-520px -25px}
.adgd_cleanex .section2 .naver_conpage.add_des h3.tit span.tx{width:126px;margin:29px 0 19px;background-position:-80px -75px}
.adgd_cleanex .section2 .naver_inblog.add_des h3.tit span.tx{width:191px;margin:29px 0 19px;background-position:-220px -75px}
.adgd_cleanex .section2 .content_page.add_des h3 span.tx{width:83px;margin:29px 0 19px;background-position:-420px -75px}
.adgd_cleanex .section2 .page_lst li{float:left;margin:20px 26px 0 0;color:#333}
.adgd_cleanex .section2 .page_lst .page_lst_rgt{margin:20px 0 0 -2px}
.adgd_cleanex .section2 .net{color:#666;line-height:1.5em}
.adgd_cleanex .section2 .net dt{margin:19px 0 5px}
.adgd_cleanex .section3 h3 span.tx{display:inline-block;width:142px;margin-top:46px;background-position:-620px -25px}
.adgd_cleanex .section3 h4 span.tx{display:inline-block}
.adgd_cleanex .section3 .naver_mpage,.adgd_cleanex .section3 .mobile_ppage{position:relative;height:295px;margin-bottom:20px}
.adgd_cleanex .section3 .naver_mpage h3 span.ex,.adgd_cleanex .section3 .mobile_ppage h3 span.ex{width:206px;margin-bottom:2px;background-position:-200px -100px;*vertical-align:bottom}
.adgd_cleanex .section3 .naver_mpage{margin-top:37px}
.adgd_cleanex .section3 .naver_mpage h3,.adgd_cleanex .section3 .mobile_ppage h3{margin-bottom:14px;*margin-top:-14px}
.adgd_cleanex .section3 .naver_mpage h3 span.tx{width:126px;background-position:-520px -75px}
.adgd_cleanex .section3 .naver_mpage p{width:330px}
.adgd_cleanex .section3 .mobile_ppage h3 span.tx{width:128px;background-position:-660px -75px}
.adgd_cleanex .section3 .mobile_ppage p{width:305px}
.adgd_cleanex .section3 .bg_visual{display:block;position:absolute;top:0;right:0;width:374px;height:295px;background:url(../img/spr_visual_adguide.png) no-repeat -415px 0}
.adgd_cleanex .section3 .mobile_ppage .bg_visual{background-position:-394px -1165px}
.adgd_cleanex .btn_adreg a{margin:60px auto}
.adgd_cleanex .curious_help{margin:20px 0 56px}

/* 직접운영안내_직접운영광고주란 :: [광고안내] */
.adgd_manage_ader p,.adgd_manage_ader .section2 dl{line-height:1.5em;color:#666}
.adgd_manage_ader .manage_tit_area{height:450px;background:url(../img/spr_tit_adguide.png) no-repeat 0 -2205px}
.adgd_manage_ader .section1,.adgd_manage_ader .section2,.adgd_manage_ader .section3{overflow:hidden;position:relative}
.adgd_manage_ader span.minutely a{display:block;overflow:hidden;position:absolute;top:0;right:1px;width:63px;height:22px;background:url(../img/spr_btn_adguide.png) no-repeat 0 -50px;line-height:999em}
.adgd_manage_ader .section1 h3 span.tx{width:241px;margin-top:40px;background-position:0 -200px}
.adgd_manage_ader .section2 h3 span.tx{width:283px;margin-top:45px;background-position:-245px -200px}
.adgd_manage_ader .section2 p span{;display:block;margin:2px 0 12px}
.adgd_manage_ader .section2 dl{float:left;width:142px;height:227px;margin-top:43px;background:url(../img/book_adguide.png) no-repeat}
.adgd_manage_ader .section2 dl dt{display:block;overflow:hidden;height:13px;margin:175px 0 7px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_manage_ader .section2 .section_lst1{margin:43px 103px 0 51px}
.adgd_manage_ader .section1 .minutely a{top:34px}
.adgd_manage_ader .section2 .section_lst2{margin-right:108px;background-position:-150px 0}
.adgd_manage_ader .section2 .section_lst3{background-position:-310px 0}
.adgd_manage_ader .section2 .section_lst1 dt{width:124px;background-position:-750px -125px}
.adgd_manage_ader .section2 .section_lst2 dt{width:125px;background-position:-890px -125px}
.adgd_manage_ader .section2 .section_lst2 dd{width:160px}
.adgd_manage_ader .section2 .section_lst3 dt{width:77px;background-position:-1020px -125px}
.adgd_manage_ader .section2 .minutely a{top:39px}
.adgd_manage_ader .section3{padding-bottom:16px;border-bottom:1px solid #f0f0f0}
.adgd_manage_ader .section3 h3 span.tx{width:181px;margin-top:51px;background-position:-533px -200px}
.adgd_manage_ader .section3 .improve h3 span.tx{width:203px;margin:16px 0 8px;background-position:-805px -50px}
.adgd_manage_ader .section3 .first h3 span.tx{width:141px;margin:16px 0 7px;background-position:-1020px -50px}
.adgd_manage_ader .section3 p{width:660px}
.adgd_manage_ader .section3 p span{color:#999}
.adgd_manage_ader .section3 .necessity h3 span.tx{width:180px;margin:14px 0 7px;background-position:-805px -75px}
.adgd_manage_ader .section3 .minutely a{top:45px}
.adgd_manage_ader .curious_help{margin-bottom:56px}

/* 직접운영안내_적립혜택 :: [광고안내] */
.adgd_manage_acc .section1 li,.adgd_manage_acc .section2 p{line-height:1.5em;color:#666}
.adgd_manage_acc .section1 h3 span.tx{width:55px;margin:29px 0 17px;background-position:-1000px -76px}
.adgd_manage_acc .section1 .dot_lst li{margin-bottom:3px}
.adgd_manage_acc .section1 p{margin:25px 0 8px}
.adgd_manage_acc .section1 p span{margin-right:5px;vertical-align:-2px}
.adgd_manage_acc .section1 p span{*padding-top:2px;*vertical-align:middle}
.adgd_manage_acc .section1 .section_lst2 li{margin-bottom:4px}
.adgd_manage_acc .section1 .section_lst2 span{display:block;color:#999}
.adgd_manage_acc .section2 h3 span.tx{width:55px;margin:45px 0 16px;background-position:-1065px -76px}
.adgd_manage_acc .section2 .acc_visual{display:block;width:635px;height:228px;margin:8px 0 40px;background:url(../img/img_save_table.png) no-repeat}
.adgd_manage_acc .curious_help{margin-bottom:55px}

/* 직접운영안내_제공서비스 :: [광고안내] */
.adgd_manage_offersvc .section1 h3{margin-top:30px}
.adgd_manage_offersvc .section1 h3 span.tx{display:inline-block;width:211px;background-position:-410px -100px}
.adgd_manage_offersvc .section1 h3 span.ex{width:298px;margin-left:245px;margin-bottom:-1px;background-position:-630px -100px;text-align:right}
.adgd_manage_offersvc .section1 h3 span.ex{*position:relative;top:2px}
.adgd_manage_offersvc .add_des dd{line-height:1.5em}
.adgd_manage_offersvc .section1 dt,.adgd_manage_offersvc .section2 dt{display:block;overflow:hidden;height:13px;margin-bottom:8px;background:url(../img/spr_h_adguide.png) no-repeat;;text-indent:-999em}
.adgd_manage_offersvc .section1 .add_des{padding-bottom:21px}
.adgd_manage_offersvc .section1 .section_lst4{margin-top:-4px}
.adgd_manage_offersvc .section1 .section_lst1 dt{width:83px;background-position:-675px -170px}
.adgd_manage_offersvc .section1 .section_lst2 dt{width:128px;background-position:-780px -150px}
.adgd_manage_offersvc .section1 .section_lst3 dt{width:81px;background-position:-915px -150px}
.adgd_manage_offersvc .section1 .section_lst4 dt{width:136px;background-position:-1000px -150px}
.adgd_manage_offersvc .section1 .section_lst4 strong{display:block;margin-top:2px;color:#000}
.adgd_manage_offersvc .section1 p{margin-top:9px;padding-right:7px;text-align:right}
.adgd_manage_offersvc .section1 a{display:block;padding-right:9px;background:url(../img/bg_arr2.png) no-repeat 100% 50%;letter-spacing:-1px}
.adgd_manage_offersvc .section2 h3 span.tx{width:310px;margin-top:29px;background-position:-940px -100px}
.adgd_manage_offersvc .section2 div{overflow:hidden;padding:0 0 23px 22px;margin-bottom:21px;border-bottom:1px solid #f0f0f0}
.adgd_manage_offersvc .section2 div.group3{border-bottom:1px solid #c9c9c9}
.adgd_manage_offersvc .section2 div h4{overflow:hidden;float:left;width:142px;height:146px;margin-right:29px;background:url(../img/book_adguide.png) no-repeat;text-indent:-999em}
.adgd_manage_offersvc .section2 div dl{float:left;width:550px;padding-top:11px}
.adgd_manage_offersvc .section2 div dt{height:34px}
.adgd_manage_offersvc .section2 div span a{display:block;overflow:hidden;width:57px;height:22px;margin-top:10px;background:url(../img/spr_btn_adguide.png) no-repeat -70px -50px;text-indent:-999em}
.adgd_manage_offersvc .section2 .group2{padding-bottom:21px}
.adgd_manage_offersvc .section2 .group2 h4{background-position:-150px 0}
.adgd_manage_offersvc .section2 .group3 h4{background-position:-310px 0}
.adgd_manage_offersvc .section2 .group1 dt{width:113px;background-position:-1145px -125px}
.adgd_manage_offersvc .section2 dd{color:#666;line-height:1.5}
.adgd_manage_offersvc .section2 .group2 dt{width:78px;background-position:-1265px -125px}
.adgd_manage_offersvc .section2 .group3 dt{width:76px;background-position:-1355px -125px}
.adgd_manage_offersvc .section2 p{padding-left:8px;margin-top:-16px;background:url(../img/bu_dott12.png) no-repeat 0 25%;color:#999;line-height:1.5em}
.adgd_manage_offersvc .curious_help{margin:-5px 0 56px}

/* 직접운영안내_직접운영 스토리 :: [광고안내] */
.adgd_manage_stroy .section h3 span.tx{width:193px;margin:30px 0 19px;background-position:-1145px -75px}
.adgd_manage_stroy .section table{table-layout:fixed;width:100%;margin-bottom:29px;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;border-collapse:collapse;line-height:1.5em;color:#666}
.adgd_manage_stroy .section th{padding:15px 20px 11px;background-color:#fafafa;text-align:left}
.adgd_manage_stroy .section td{padding:17px 20px 14px;border-top:1px solid #f0f0f0}
.adgd_manage_stroy .section td span a{display:inline-block;overflow:hidden;width:17px;height:17px;margin-left:10px;background:url(../img/spr_btn_adguide.png) no-repeat -135px -50px;line-height:999em;vertical-align:middle}
.adgd_manage_stroy .section .adver_name{color:#999;text-align:right}
.adgd_manage_stroy .section td span a.on{background-position:-160px -50px}
.adgd_manage_stroy .section span.tx{display:block;overflow:hidden;height:16px;background:url(../img/spr_h_adguide.png) no-repeat;line-height:999em}
.adgd_manage_stroy .section .running_lst1 span.tx{width:96px;background-position:-780px -170px}
.adgd_manage_stroy .section .running_lst2 span.tx{width:107px;background-position:-885px -170px}
.adgd_manage_stroy .section .running_lst3 span.tx{width:121px;background-position:-1000px -170px}

/* 결제수단 && 비즈머니 자동충전 :: [광고안내] */
.adgd_pay h2{margin-bottom:30px}
.adgd_pay h2.biz{margin-bottom:17px}
.adgd_pay h2.h_adgd span.tx{width:61px;background-position:-260px 0}
.adgd_pay h2.biz span.tx{width:124px;background-position:-330px 0}
.adgd_pay h3.bd span.h3_txt1{width:52px;background-position:-780px -25px}
.adgd_pay h3.bd span.h3_txt2{width:53px;background-position:-840px -25px}
.adgd_pay h3.bd span.h3_txt3{width:68px;background-position:-900px -25px}
.adgd_pay h3.bd span.h3_txt4{width:110px;background-position:-980px -25px}
.adgd_pay h3 span.h4_txt1{width:83px;background-position:0 -225px}
.adgd_pay h3 span.h4_txt2{width:83px;background-position:-90px -225px}
.adgd_pay h3 span.h4_txt3{width:110px;background-position:-180px -225px}
.adgd_pay h3 span.h4_txt4{width:54px;background-position:-300px -225px}
.adgd_pay h3 span.h4_txt5{width:68px;background-position:-360px -225px}
.adgd_pay h3 span.h4_txt6{width:42px;background-position:-440px -225px}
.adgd_pay h3 span.h4_txt7{width:98px;background-position:-490px -225px}
.adgd_pay h3 span.h4_txt8{width:169px;background-position:-600px -225px}
.adgd_pay h3 span.h4_txt9{width:78px;background-position:0 -245px}
.adgd_pay h3 span.h4_txt10{width:84px;background-position:-90px -245px}
.adgd_pay h3 span.h4_txt11{width:87px;background-position:-180px -245px}
.adgd_pay h3 span.h4_txt12{width:63px;background-position:-280px -245px}
.adgd_pay h3 span.h4_txt13{width:112px;background-position:-350px -245px}
.adgd_pay .section{color:#666}
.adgd_pay .section p{line-height:18px}
.adgd_pay .pay_group{margin:25px 0;padding-bottom:30px;border-bottom:1px solid #f0f0f0}
.adgd_pay .section .tit{margin-bottom:16px}
.adgd_pay .dsc_txt{margin-bottom:34px}
.adgd_pay .dsc_txt li{line-height:21px}
.adgd_pay .dsc_txt strong{display:block;font-weight:normal}
.adgd_pay .dsc_img{width:709px;height:132px;background:url(../img/sp_adguide_payment.png) no-repeat}
.adgd_pay .step2{background-position:0 -150px}
.adgd_pay .section .biz_img{margin-bottom:58px;background-position:0 -435px}
.adgd_pay .section_v1 .biz_img{height:134px;background-position:0 -580px}
.adgd_pay .section_v1 .pay_group{border:none}
.adgd_pay .biz_ml{margin-bottom:57px;background-position:0 -295px}
.adgd_pay .section_v1{margin-bottom:46px}
.adgd_pay .b_none{border:none}
.adgd_pay .add_des .tit{margin-top:30px}
.adgd_pay .curious_help{margin:88px 0 56px}

/* 광고대행안내_대행사 안내 :: [광고안내] */
.adgd_adact .section1 .add_des{margin-top:29px}
.adgd_adact .section1 .add_des span.tx{width:184px;margin-top:30px;background-position:-470px -245px}
.adgd_adact .section1 .adact_partner{margin:15px 0 60px;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9}
.adgd_adact .section1 .m_act{padding-bottom:26px;border-bottom:1px solid #f0f0f0}
.adgd_adact .section1 .m_act.none{border-bottom:none}
.adgd_adact .section1 .adact_lst{overflow:hidden}
.adgd_adact .section1 .adact_lst li{float:left;margin:30px 26px -9px 0;color:#333;text-align:left}
.adgd_adact .section1 .adact_lst li span{display:block;margin-top:10px}
.adgd_adact .section1 .adact_lst.v2 li{width:170px;margin-top:26px}
.adgd_adact .section1 .adact_lst dt{margin-bottom:2px}
.adgd_adact .section1 .adact_lst.v2 dt{margin-bottom:3px}
.adgd_adact .section1 .adact_lst .adact_lst_rgt{margin:30px 0 -9px -2px}
.tx_adact_lst{margin-top:16px;margin-bottom:5px;color:#666;line-height:1.5em}
.tx_adact_lst dt{font-weight:bold}
.tx_adact_lst dd a{color:#666}
.tx_adact_lst dd a:hover{text-decoration:underline}
.tx_adact_lst.v2{margin-top:-1px}

/* 광고대행안내_검색광고 마케터 안내 :: [광고안내] */
.adgd_adact .srch_market,.adgd_adact .qlfc_intro,.adgd_adact .qlfc_lev,.adgd_adact .qlfc_know{margin-bottom:30px}
.adgd_adact .qlfc_lev{margin-bottom:47px}
.adgd_adact .qlfc_know{margin-bottom:56px}
.adgd_adact .srch_market span.tx{width:97px;margin:29px 0 15px;background-position:-670px -245px}
.adgd_adact .qlfc_intro span.tx{width:55px;margin:29px 0 15px;background-position:-780px -245px;text-indent:-999em}
.adgd_adact .qlfc_lev span.tx{width:117px;margin:32px 0 15px;background-position:-850px -245px}
.adgd_adact .qlfc_know dt{margin-bottom:17px}
.adgd_adact .qlfc_know span.tx{width:233px;background-position:-980px -245px}
.adgd_adact .qlfc_lev table{margin-top:16px}
.adgd_adact .my_table th span{background:url(../img/spr_h_adguide.png) no-repeat !important}
.adgd_adact .my_table th span.txt_th1{background-position:-1030px -270px !important}
.adgd_adact .my_table th span.txt_th2{background-position:-1085px -270px !important}
.adgd_adact .my_table th span.txt_th3{background-position:-1115px -270px !important}
.adgd_adact .qlfc_know strong{display:inline-block;padding-top:4px;color:#333}
.adgd_adact .qlfc_know p{color:#666;line-height:1.5em}
.butx_gray1{margin-top:2px;background:url(../img/bu_dott11.png) no-repeat 0 6px;color:#999 !important}
.butx_gray1 span{display:inline-block;width:3px;height:3px;margin-right:5px;background:url(../img/bu_dott11.png) no-repeat 0 5px}
.adgd_adact p.i_ceti{margin:9px 0 9px;color:#999;vertical-align:middle;padding-left:20px;text-indent:-20px;color:#999}
.adgd_adact .i_ceti.v2{margin:-7px 0 0 0}
.adgd_adact .ex_pit{margin:-2px 5px 2px 0;*margin:-1px 5px 1px 0;vertical-align:middle}
.adgd_adact .qlfc_know .bgvis{display:block;margin:16px 0 25px}