@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* snb :: [검수안내] */
.adtally span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_adtally.png) no-repeat;line-height:999em;vertical-align:middle}
.adtally h2 span.tx{width:89px;height:17px;margin-right:15px;background-position:0 0}
.adtally h2 a{background-position:104px 2px}
.adtally .nav .dir{padding-bottom:3px}
.adtally .nav .dir li a{padding:5px 5px 5px 7px !important}
.adtally .nav .m1 span.tx{width:60px;height:13px;background-position:0 -20px}
.adtally .nav li li a{padding-left:7px}
.adtally .nav .m1 .sub_m1 span.tx{width:41px;height:12px;background-position:0 -40px}
.adtally .nav .m1 .sub_m2 span.tx{width:41px;height:12px;background-position:0 -60px}
.adtally .nav .m2 span.tx{width:60px;height:13px;background-position:0 -120px}
.adtally .nav .m2 .sub_m1 span.tx{width:41px;height:12px;background-position:0 -40px}
.adtally .nav .m2 .sub_m2 span.tx{width:41px;height:12px;background-position:0 -60px}
.adtally .nav .m3 span.tx{width:60px;height:13px;background-position:0 -140px}
.adtally .nav .m3 .sub_m1 span.tx{width:41px;height:12px;background-position:0 -40px}
.adtally .nav .m3 .sub_m2 span.tx{width:41px;height:12px;background-position:0 -60px}
.adtally .nav .m4 span.tx{width:90px;height:13px;background-position:0 -180px}
.adtally .nav .m4 .sub_m1 span.tx{width:76px;height:12px;background-position:0 -200px}
.adtally .nav .m4 .sub_m2 span.tx{width:68px;height:12px;background-position:0 -220px}
.adtally .nav .dir .dir_m1 span.tx{width:30px;height:12px;background-position:0 -80px}
.adtally .nav .dir .dir_m2 span.tx{width:30px;height:12px;background-position:0 -100px}
.adtally .nav .sub_m3 span.tx{width:84px;height:12px;background-position:0 -160px}
.adtally .nav .m1.select a.tit span.tx{background-position:-100px -20px}
.adtally .nav .m1 .sub_m1.on span.tx{background-position:-100px -40px}
.adtally .nav .m1 .sub_m2.select strong.s_tit span.tx{background-position:-100px -60px}
.adtally .nav .m2.select a.tit span.tx{background-position:-100px -120px}
.adtally .nav .m2 .sub_m1.on span.tx{background-position:-100px -40px}
.adtally .nav .m2 .sub_m2.on span.tx{background-position:-100px -60px}
.adtally .nav .m3.select a.tit span.tx{background-position:-100px -140px}
.adtally .nav .m3 .sub_m1.on span.tx{background-position:-100px -40px}
.adtally .nav .m3 .sub_m2.on span.tx{background-position:-100px -60px}
.adtally .nav .m4.select a.tit span.tx{background-position:-100px -180px}
.adtally .nav .m4 .sub_m1.on span.tx{background-position:-100px -200px}
.adtally .nav .m4 .sub_m2.on span.tx{background-position:-100px -220px}
.adtally .nav .sub_m2 .dir_m1.on span.tx{background-position:-100px -80px}
.adtally .nav .sub_m2 .dir_m2.on span.tx{background-position:-100px -100px}
.adtally .nav .sub_m3.on span.tx{background-position:-100px -160px}

/* 서브 타이틀 공통 :: [검수안내] */
h2.h_adtally span.tx,h3.h_adtally span.tx{background:url(../img/spr_h_adtally.png) no-repeat}
.adtally_main span.tx,.adtally_video span.tx{background:url(../img/spr_adtally_txt.png) no-repeat}

/* 서브 비주얼 공통 :: [검수안내] */
.spot_adtally{*display:inline;zoom:1;width:100%;background:url(../img/bg_spot_adtally.png) no-repeat}

/* 서브 컨텐츠 공통 :: [검수안내] */
.intro_info{padding:11px 0 14px;line-height:20px;color:#333}
.intro_section{padding:44px 0 42px;border-top:1px solid #ededed}
.intro_section .progress{display:block;background:url(../img/bg_adtally_progress.png) no-repeat}
.intro_section p{letter-spacing:-1px;line-height:20px}
.intro_section span.tx{display:block;height:17px;background:url(../img/spr_h_adtally.png) no-repeat;text-indent:-9999em}
.check_lst{padding:17px 0}
.check_lst li{display:inline;margin-left:18px}
.check_lst input,.adtally_kwd_std .check_lst label{vertical-align:middle}
.pdf{float:right}
.pdf a{float:left;height:30px;background:url(../img/spr_btn_adtally.png) no-repeat}
.pdf_v1{padding:10px 0;border-top:0}
.pdf .site_dwn a{width:122px;background-position:-200px 0}
.pdf .ad_dwn a{width:132px;background-position:-200px -40px}
.pdf .rel_dwn a{width:103px;background-position:-200px -80px}
.pdf .adult_dwn a{width:108px;background-position:-200px -120px}
.pdf .mobile_dwn a{width:142px;background-position:-340px 0}
.pdf .sector_dwn a{width:155px;background-position:0 -180px}
.pdf .brand_dwn a{width:144px;background-position:-340px -40px}

/* 전체보기 공통 :: [검수안내] */
.adtally_cate .tab_srch,.mobile_cate .tab_srch,.brand_cate .tab_srch{margin-right:1px}
.adtally_cate .tab_srch li,.mobile_cate .tab_srch li,.brand_cate .tab_srch li{margin-left:0}
.adtally_cate .tab_srch li a,.mobile_cate .tab_srch li a,.brand_cate .tab_srch li a{height:28px;background:url(../img/spr_btn_adtally.png) no-repeat}
.adtally_cate .tab_srch a.category,.mobile_cate .tab_srch a.category,.brand_cate .tab_srch a.category{width:73px;background-position:0 -40px}
.adtally_cate .tab_srch a.alphabetical,.mobile_cate .tab_srch a.alphabetical,.brand_cate .tab_srch a.alphabetical{width:62px;margin-left:-1px;background-position:-90px -40px}
.adtally_cate .tab_srch .on a.category,.mobile_cate .tab_srch .on a.category,.brand_cate .tab_srch .on a.category{background-position:0 -75px}
.adtally_cate .tab_srch .on a.alphabetical,.mobile_cate .tab_srch .on a.alphabetical,.brand_cate .tab_srch .on a.alphabetical{background-position:-90px -75px}
.adtally_cate .dic_lst li,.mobile_cate .dic_lst li,.brand_cate .dic_lst li{width:251px;height:29px}
.category_group .category_lst,.category_group2 .category_lst{overflow:hidden;zoom:1}
.category_group .category_lst li,.category_group2 .category_lst li{overflow:hidden;float:left;width:350px;margin:0 17px 7px 0;line-height:1.5em;text-overflow:ellipsis}
.category_group .category_lst li a,.category_group2 .category_lst li a{color:#666;white-space:nowrap}
.category_group .dot_lst li,.category_group2 .dot_lst li{padding-left:7px;background:url(../img/bu_dott11.png) no-repeat 0 7px}
.btn_srch_kor ul{overflow:hidden;width:756px;height:38px;background:url(../img/spr_btn_adtally.png) no-repeat 0 -160px}
.btn_srch_kor li{float:left}
.btn_srch_kor a{display:inline-block;overflow:hidden;width:51px;height:31px;margin-right:-1px;*margin-bottom:10px;line-height:999em}
.btn_srch_kor strong{display:inline-block;overflow:hidden;width:51px;height:39px;margin-right:-1px;*margin-bottom:10px;background:url(../img/spr_btn_adtally.png) no-repeat;line-height:999em}
.btn_srch_kor .m1 strong{background-position:0 -200px}
.btn_srch_kor .m2 strong{background-position:-50px -200px}
.btn_srch_kor .m3 strong{background-position:-100px -200px}
.btn_srch_kor .m4 strong{background-position:-150px -200px}
.btn_srch_kor .m5 strong{background-position:-200px -200px}
.btn_srch_kor .m6 strong{background-position:-250px -200px}
.btn_srch_kor .m7 strong{background-position:-300px -200px}
.btn_srch_kor .m8 strong{background-position:-350px -200px}
.btn_srch_kor .m9 strong{background-position:-400px -200px}
.btn_srch_kor .m10 strong{background-position:-450px -200px}
.btn_srch_kor .m11 strong{background-position:-500px -200px}
.btn_srch_kor .m12 strong{background-position:-550px -200px}
.btn_srch_kor .m13 strong{background-position:-600px -200px}
.btn_srch_kor .m14 strong{background-position:-650px -200px}
.btn_srch_kor .m15 strong{width:57px;background-position:-700px -200px}

/* 메인홈 :: [검수안내] */
.adtally_main{padding-bottom:188px}
.adtally_main .spot_adtally{margin-top:31px;height:180px;background-position:0 0}
.adtally_main .srch_area2{margin-top:30px}
.adtally_main .srch_area2 fieldset{width:458px}
.adtally_main .srch_area2 .popular_lst{margin-top:10px;margin-left:147px}
.adtally_main span.tx{display:inline-block;overflow:hidden;line-height:999em}
.adtally_main .best5,.adtally_main .new_standard{margin-top:50px;border-bottom:1px solid #f7f7f7}
.adtally_main h3{padding-bottom:8px}
.adtally_main .best5 h3 span.tx{width:175px;height:16px;background-position:0 0}
.adtally_main .new_standard h3 span.tx{width:150px;height:16px;background-position:0 -20px}
.adtally_main .bnr{margin:42px 0 0}
.adtally_main .bnr ul{overflow:hidden;width:100%;zoom:1;background-color:#fcfcfc}
.adtally_main .bnr li{float:left;margin-left:-1px;width:250px;height:140px;border:1px solid #eaeced}
.adtally_main .bnr li:first-child{margin-left:0}
.adtally_main .bnr a{display:block;padding:22px 30px 0;height:84.06%}
.adtally_main .bnr span.tx{display:block;overflow:hidden;background:url(../img/spr_h.png) no-repeat;text-indent:-9999em}
.adtally_main .bnr .service{background:url(../img/bg_service2.png) no-repeat 85% 65%}
.adtally_main .bnr .policy{background:url(../img/bg_adoperating.png) no-repeat 85% 65%}
.adtally_main .bnr .video{background:url(../img/bg_advideo.png) no-repeat 85% 65%}
.adtally_main .bnr .service a{background:url}
.adtally_main .bnr .service strong span.tx{width:88px;height:15px;background-position:0 -605px}
.adtally_main .bnr .policy strong span.tx{width:79px;height:15px;background-position:-95px -605px}
.adtally_main .bnr .video strong span.tx{width:116px;height:15px;background-position:0 -625px}
.adtally_main .bnr .txt{display:block;margin-top:12px;height:30px;background:url(../img/spr_adtally_txt.png) no-repeat;text-indent:-9999em}
.adtally_main .bnr .service .txt{width:125px;background-position:0 -20px}
.adtally_main .bnr .policy .txt{width:125px;background-position:0 -55px}
.adtally_main .bnr .video .txt{width:131px;background-position:0 -90px}
.adtally_main .bnr .bu{display:block;width:42px;margin-top:18px;background:url(../img/spr_txt.png) no-repeat -250px -425px;text-indent:-9999em;cursor:pointer}
.adtally_main .bnr .bu span.tx{display:block;width:30px;height:12px;padding-right:19px;background:url(../img/btn_shortcuts2.gif) no-repeat 100% 50%}

/* 검수기준 동영상 강좌 :: [검수안내] */
.adtally_video .tabs li{width:200px}
.tabs .keyad_intro{width:110px;background-position:0 -320px}
.tabs .reinspection{width:87px;background-position:0 -340px}
.tabs .on .keyad_intro{background-position:-110px -320px}
.tabs .on .reinspection{background-position:-110px -340px}
.adtally_video h2 span.tx{width:220px;height:17px;background-position:0 -80px}
.adtally_video h3 span.tx{display:block;overflow:hidden;height:30px;line-height:999em}
.adtally_video .spot_video{padding-left:19px;margin-top:50px}
.adtally_video .site_pass p,.adtally_video .ad_pass p{overflow:hidden;margin-top:15px;background:url(../img/spr_adtally_txt.png) no-repeat;text-indent:-999em}
.adtally_video .site_pass{padding:0 0 54px 19px;margin-top:50px;border-bottom:2px solid #e5e7e8}
.adtally_video .site_pass h3 span.tx{width:133px;background-position:-250px -180px}
.adtally_video .site_pass p{width:650px;height:56px;background-position:0 -260px}
.adtally_video .ad_pass{padding-bottom:113px;margin-top:54px}
.adtally_video .ad_pass h3 span.tx{width:121px;background-position:-250px -220px}
.adtally_video .ad_pass p{width:701px;height:33px;background-position:0 -320px}
.adtally_video .movie_group{padding-left:11px;margin-top:30px}
.adtally_video .movie_group ul{overflow:hidden}
.adtally_video .movie_group li{float:left;width:320px;margin:0 48px 35px 0}
.adtally_video .movie_group li a{display:block;position:relative}
.adtally_video .movie_group li.lst_rgt{margin-right:0}
.adtally_video .movie_group li span.txt{display:block;padding:8px 0 0 2px;width:305px;color:#666;line-height:1.5em}
.adtally_video .movie_group li span.mask{height:186px}
.adtally_video .movie_group li span.btn_play{position:absolute;top:50%;left:50%;width:45px;height:45px;margin:-22px 0 0 -22px;background:url(../img/btn_play4.png) no-repeat}

/* 키워드광고 검수 소개 :: [검수안내] */
.adtally_intro .spot{height:342px;padding:56px 0 50px;background:url(../img/bg_spot_adtally1.png) no-repeat 0 56px;border-bottom:1px solid #eee}
.adtally_intro h2 span.tx{width:145px;height:17px;background-position:0 -140px}
.adtally_intro .keword span.tx{width:190px;background-position:0 -160px}
.adtally_intro .site_intro span.tx{width:105px;background-position:0 -180px}
.adtally_intro .ad span.tx{width:90px;background-position:0 -200px}
.adtally_intro .keword .progress{margin-top:24px;height:156px;background-position:50% 0}
.adtally_intro .site_intro .progress{margin-top:33px;height:100px;background-position:50% -190px}
.adtally_intro .ad .progress{margin:32px 0 21px;height:100px;background-position:50% -290px}
.adtally_intro .add_des p{letter-spacing:0}
.adtally_intro .keword p{width:689px}
.adtally_intro .site_intro p{width:674px}
.adtally_intro .ad p{width:656px}

/* 키워드광고 검수 기준 :: [검수안내] */
.bd_lst .col_v2{width:670px;text-align:left}
.adtally_kwd_std{padding-bottom:75px}
.adtally_kwd_std h2 span.tx{width:150px;height:17px;background-position:0 -340px}
.adtally_kwd_std .spot_adtally{margin-top:45px;height:120px;background-position:0 -190px}
.adtally_kwd_std .tabs{margin-top:40px}
.adtally_kwd_std .dic_lst li{height:29px}
.adtally_kwd_std .dic_lst .m1{width:136px}
.adtally_kwd_std .dic_lst .m2,.adtally_kwd_std .dic_lst .m4{width:145px}
.adtally_kwd_std .dic_lst .m3{width:181px}
.adtally_kwd_std .dic_lst .m5{width:144px}
.adtally_kwd_std .biz_standard{overflow:hidden;padding:23px 0 10px 41px;*padding-bottom:24px;background-color:#f9f9f9;border:1px solid #f5f5f6}
.adtally_kwd_std .biz_standard li{float:left;width:98px;margin:0 20px 13px 0}
.adtally_kwd_std .biz_standard li a{color:#666}
.adtally_kwd_std .biz_standard li a:hover{font-weight:bold;color:#5184df;text-decoration:none;letter-spacing:-1px}
.adtally_kwd_std .biz_standard li.on strong{margin-left:-13px;font-weight:bold;color:#5184df;text-decoration:none;letter-spacing:0}
.adtally_kwd_std .biz_standard li span.check{display:inline-block;margin-right:5px;width:7px;height:7px;background:url(../img/bu_check2.png) no-repeat;vertical-align:middle}
.adtally_kwd_std .dic_lst.dic_lst_v1 li{width:118px}
.adtally_kwd_std .dic_lst.dic_lst_v1 li.m5,.adtally_kwd_std .dic_lst.dic_lst_v1 li.m6{width:138px}
.adtally_kwd_std .dic_lst.dic_lst_v2 li{width:251px}
.adtally_kwd_std .dic_lst.dic_lst_v3 li{width:188px}

/* 모바일배너 검수 소개 :: [검수안내] */
.adtally_m_intro{margin-bottom:75px}
.adtally_m_intro h2 span.tx{width:145px;height:17px;background-position:0 -220px}
.adtally_m_intro h3 span.tx{display:block;overflow:hidden;height:17px;text-indent:-9999em}
.adtally_m_intro .spot{height:482px;padding:50px 0 45px;background:url(../img/bg_spot_adtally1.png) no-repeat 0 -345px;border-bottom:1px solid #eee}
.adtally_m_intro .process_intro h3 span.tx{width:187px;background-position:0 -240px}
.adtally_m_intro .process_intro .progress{height:131px;margin-top:26px;background-position:50% -400px}
.adtally_m_intro .best5{position:relative;margin-top:37px}
.adtally_m_intro .best5 h3 span.tx{width:172px;background-position:0 -260px}
.adtally_m_intro .best5 .bd_lst{margin-top:9px;border-top:2px solid #d4d7d9}
.adtally_m_intro .best5 .more{overflow:hidden;position:absolute;top:2px;right:7px;background:url(../img/spr_btn.png) no-repeat -263px -285px;text-indent:-9999em}
.adtally_m_intro .add_des p{width:713px;letter-spacing:0}

/* 모바일배너 검수 기준 :: [검수안내] */
.adtally_m_std{margin-bottom:75px}
.adtally_m_std h2 span.tx{width:141px;height:17px;background-position:0 -360px}
.adtally_m_std .spot_adtally{margin-top:45px;height:121px;background-position:0 -315px}
.adtally_m_std .tabs{margin-top:40px}
.adtally_m_std .tb_lst .col_v2{width:79%}

/* 브랜드검색 검수 소개 :: [검수안내] */
.adtally_brand_intro{padding-bottom:100px}
.adtally_brand_intro h3 span.tx{display:block;overflow:hidden;height:17px;text-indent:-9999em}
.adtally_brand_intro h2 span.tx{width:145px;height:17px;background-position:0 -280px}
.adtally_brand_intro .spot{height:330px;padding:56px 0 60px;background:url(../img/bg_spot_adtally1.png) no-repeat 0 -885px;border-bottom:1px solid #eee}
.adtally_brand_intro .brand span.tx{width:185px;background-position:0 -300px}
.adtally_brand_intro .brand .progress{height:131px;margin-top:26px;background-position:50% -560px}
.adtally_brand_intro .best5{position:relative;margin-top:37px}
.adtally_brand_intro .best5 h3 span.tx{width:172px;background-position:0 -320px}
.adtally_brand_intro .best5 .bd_lst{margin-top:9px;border-top:2px solid #d4d7d9}
.adtally_brand_intro .best5 .more{overflow:hidden;position:absolute;top:2px;right:7px;background:url(../img/spr_btn.png) no-repeat -263px -285px;text-indent:-9999em}
.adtally_brand_intro .add_des p{width:670px;letter-spacing:0}

/* 브랜드검색 검수 기준 :: [검수안내] */
.adtally_brand_std{margin-bottom:75px}
.adtally_brand_std h2 span.tx{width:150px;height:18px;background-position:0 -380px}
.adtally_brand_std .spot_adtally{margin-top:45px;height:117px;background-position:0 -440px}
.adtally_brand_std .dic_lst li{width:251px;height:29px}
.adtally_brand_std .dic_lst_v1 li{width:150px;height:29px}
.adtally_brand_std .tabs{margin-top:40px}
.adtally_brand_std .tb_lst .col_v2{width:79%}

.adtally_cate h2 span.tx{width:202px;background-position:-250px 0}
.adtally_cate .menu_area{padding:9px 0 11px}
.adtally_cate .tab_srch_v1{float:left;padding-top:5px}
.adtally_cate .tab_srch_v1 li:first-child{padding-right:8px;margin-right:7px;background:url(../img/bu_line11.png) no-repeat 100% 50%}
.adtally_cate .tab_srch_v1 li a{width:42px;height:16px}
.adtally_cate .tab_srch_v1 a.t_normal{background-position:-158px 0}
.adtally_cate .tab_srch_v1 a.t_adult{background-position:-158px -20px}
.adtally_cate .tab_srch_v1 .on a.t_normal{background-position:-114px 0}
.adtally_cate .tab_srch_v1 .on a.t_adult{background-position:-114px -20px}
.adtally_cate .btn_srch_kor{float:left;margin-top:8px}
.adtally_cate .dic_lst_v1 li{width:377px}
.adtally_cate .category_group{padding-bottom:19px;margin-top:18px;border-bottom:1px solid #eee}
.adtally_cate .alpha_group{margin-top:-2px;padding:0 0 20px 4px}
.adtally_cate .alpha_group_v1{margin-top:10px}
.adtally_cate .category_group h4,.adtally_cate .category_group2 h4{font-size:14px}
.adtally_cate .category_group h5{margin:11px 0 6px;font-weight:bold;font-size:12px}
.adtally_cate .category_group h5 span.arr{display:inline-block;width:7px;height:7px;margin-left:5px;background:url(../img/spr_btn_adtally.png) no-repeat -100px 0}

/* 모바일배너 전체보기 :: [검수안내] */
.mobile_cate h2 span.tx{width:305px;background-position:-250px -140px}
.mobile_cate .alpha_group{margin-top:29px;padding:0 0 20px 4px}
.mobile_cate .btn_srch_kor{float:left;margin-top:8px;margin-left:-5px}

/* 브랜드검색 전체보기 :: [검수안내] */
.brand_cate h2 span.tx{width:305px;background-position:-250px -160px}
.brand_cate .category_group{padding-bottom:8px;margin-top:18px;border-bottom:1px solid #eee}
.brand_cate .category_group h4{font-size:14px}
.brand_cate .alpha_group{margin-top:11px;padding:0 0 20px 4px}
.brand_cate .alpha_group_v1{margin-top:10px}
.brand_cate .btn_srch_kor{float:left;margin-top:8px;margin-left:-5px}
.adtally_cate .category_group_v1,.brand_cate .category_group_v1{margin-top:31px}

/* 약관및 정책안내 :: [검수안내] */
.adtally_terms h2 span.tx{width:114px;background-position:-250px -80px}
.adtally_terms .terms_group{overflow-y:scroll;overflow-x:hidden;width:694px;height:651px;margin-top:20px;padding:30px 30px 0;border:1px solid #ececec;line-height:18px;color:#777;text-align:justify}
.adtally_terms .terms_group ul{margin-bottom:115px}
.adtally_terms .terms_group .shortcuts a{font-weight:bold;color:#333}
.adtally_terms .terms_group h4{font-size:16px;padding-top:55px}
.adtally_terms .terms_group h4:first-child{border:1px solid}
.adtally_terms .terms_group .terms li{padding:2px 0}
.adtally_terms .terms_btn a{display:inline-block;padding-right:13px;margin:20px 0 50px;background:url(../img/spr_btn_adtally.png) no-repeat 145px -238px;font-weight:bold;text-decoration:underline;letter-spacing:1px;color:#5184df}
.adtally_terms  p span{display:block}
.adtally_terms .terms_num_lst{margin:3px 0 3px 31px;list-style:decimal}

/* 광고 운영 정책 :: [검수안내] */
.adtally_policy h2 span.tx{width:99px;background-position:-250px -100px}
.adtally_policy .spot_adtally{margin:45px 0 40px;height:110px;background-position:0 -565px}
.adtally_policy .tabs .m1{width:98px}
.adtally_policy .tabs .m2{width:142px}
.adtally_policy .tabs .m3{width:154px}
.adtally_policy .tabs .m4{width:82px}
.adtally_policy .tabs .m5{width:106px}
.adtally_policy .tabs .m6{width:82px}
.adtally_policy .tabs .m7{width:98px}
.adtally_policy p{width:730px;margin-top:30px;line-height:1.5em}
.adtally_policy p strong{font-size:14px}
.adtally_policy .terms_group{padding-bottom:35px;border-bottom:1px solid #f0f0f0}
.adtally_policy .add_des{width:702px;padding-left:25px;font-weight:bold;font-size:14px;list-style:decimal;color:#333}
.adtally_policy .add_des li{line-height:1.5em}
.adtally_policy .add_des li strong{display:inline-block;margin-left:-7px}
.adtally_policy .add_des li ol{margin-left:-22px;font-weight:normal;font-size:12px;color:#666}

/* 검색 :: [검수안내] */
.srch_result h2 span.tx,.adtally_srch h2 span.tx{width:60px;background-position:-250px -260px}
.srch_result .dic_lst li{width:188px;height:31px}
.srch_result .dic_lst li.m_v1{background-color:#f9fafb}

/* 보기화면 :: [검수안내] */
.adtally_view .view_area{padding:19px 6px 15px 11px}
.adtally_view h2 span.tx{width:145px;background-position:0 -340px}
.adtally_view .sample_dwn{position:relative}
.adtally_view .sample_dwn .sam_btn a{display:inline-block;height:12px;margin:-2px 45px 0 0;padding:8px 13px 8px 14px;border:1px solid #bbbec5;color:#666;text-decoration:none}
.adtally_view .sample_dwn span.sample_down{display:inline-block;overflow:hidden;width:88px;height:12px;*margin-top:-22px;background:url(../img/spr_adtally_txt.png) no-repeat 0 -140px;line-height:999em}
.adtally_view .sample_dwn span.bu_line{display:inline-block;width:1px;height:12px;margin:0 8px 0 9px;background:url(../img/bu_line.png) no-repeat}
.adtally_view .sample_dwn span.num{display:inline-block;height:12px;padding-right:13px;margin-top:-2px;background:url(../img/spr_ico.png) no-repeat -45px 4px;vertical-align:1px}
.adtally_view .sample_dwn span.on{background-position:-45px -7px}
.adtally_view .data_down_lst{text-align:left;top:33px;left:451px}
.adtally_view h4 span.tx{display:block;overflow:hidden;height:15px;background:url(../img/spr_h_adtally.png) no-repeat;text-indent:-9999em}
.adtally_view .view_area .view_con{margin-top:12px;line-height:1.5;color:#444}
.adtally_view .stan_con li span,.adtally_view .guide_con li span{display:block}
.adtally_view .stan_con h4 span.tx{width:54px;background-position:-250px -280px}
.adtally_view .stan_con li{width:635px}
.adtally_view .guide_con{margin-top:46px}
.adtally_view .guide_con h4 span.tx{width:40px;background-position:-250px -300px}
.adtally_view .guide_con li span{color:#666}
.adtally_view .precedent{margin-top:46px}
.adtally_view .precedent h4 span.tx{width:27px;background-position:-250px -320px}
.adtally_view .precedent ul{overflow:hidden;margin-top:13px}
.adtally_view .precedent li{float:left;margin-left:20px}
.adtally_view .precedent li:first-child{margin-left:0}
.adtally_view .precedent li span{display:block;padding:4px 0 0 8px;margin-top:4px;background:url(../img/bu_line14.png) no-repeat;color:#999}
.adtally_view .checklist{margin-top:48px}
.adtally_view .checklist h4 span.tx{width:67px;background-position:-250px -340px}
.adtally_view .faq_help{padding:18px 0 21px 14px;margin-top:60px;background-color:#fbfbfb}
.adtally_view .faq_help h4 span.tx{width:30px;background-position:-250px -360px}
.adtally_view .faq_help a{color:#444}
.adtally_view .dot_lst{margin-top:12px;line-height:1.5em;color:#444}
.adtally_view .dot_lst li{margin-bottom:7px;background:url(../img/bu_dott17.png) no-repeat 0 6px}
.adtally_view .line_lst li{margin-bottom:8px;*margin-bottom:1px;background:url(../img/bu_line13.png) no-repeat 0% 47%;color:#666}
.adtally_view .line_lst li:first-child{margin:5px 0 0}
.adtally_view .num_lst{margin-top:13px;line-height:1.5em;color:#444}
.adtally_view .num_lst li{padding-left:21px;margin-bottom:7px;background-repeat:no-repeat;background-position:0 1px}
.adtally_view .num_lst .m1{background-image:url(../img/ico_checklist_num1.gif)}
.adtally_view .num_lst .m2{background-image:url(../img/ico_checklist_num2.gif)}
.adtally_view .num_lst .m3{background-image:url(../img/ico_checklist_num3.gif)}
.adtally_view .num_lst .m4{background-image:url(../img/ico_checklist_num4.gif)}
.adtally_view .num_lst .m5{background-image:url(../img/ico_checklist_num5.gif)}
.adtally_view .num_lst .m6{background-image:url(../img/ico_checklist_num6.gif)}
.adtally_view .num_lst .m7{background-image:url(../img/ico_checklist_num7.gif)}
.adtally_view .num_lst .m8{background-image:url(../img/ico_checklist_num8.gif)}
.adtally_view .num_lst .m9{background-image:url(../img/ico_checklist_num9.gif)}
.adtally_view .num_lst .m10{background-image:url(../img/ico_checklist_num10.gif)}
.adtally_view .eval_area{margin:50px 0 164px}

.s_site{width:45px;background-position:0 -360px}
.site_enroll{width:65px;background-position:0 -380px}
.ad_write{width:73px;background-position:0 -400px}