@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* snb :: [비지니스센터] */
.biz span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_business.png) no-repeat;line-height:999em;vertical-align:middle}
.biz h2 span.tx{width:89px;height:17px;margin-right:15px;background-position:0 0}
.biz h2 a{background-position:104px 2px}
.biz .nav .m1 span.tx{width:60px;height:13px;background-position:0 -20px}
.biz .nav .m1 .sub_m1 span.tx{width:20px;height:12px;background-position:0 -40px}
.biz .nav .m1 .sub_m2 span.tx{width:46px;height:12px;background-position:0 -60px}
.biz .nav .m1 .sub_m3 span.tx{width:62px;height:12px;background-position:0 -80px}
.biz .nav .m2 span.tx{width:46px;height:13px;background-position:0 -100px}
.biz .nav .m2 .sub_m1 span.tx{width:63px;height:12px;background-position:0 -120px}
.biz .nav .m2 .sub_m2 span.tx{width:73px;height:12px;background-position:0 -140px}

.biz .nav .m1.select a.tit span.tx{background-position:-85px -20px}
.biz .nav .m1 .sub_m1.on span.tx{background-position:-85px -40px}
.biz .nav .m1 .sub_m2.on span.tx{background-position:-85px -60px}
.biz .nav .m1 .sub_m3.on span.tx{background-position:-85px -80px}
.biz .nav .m2.select a.tit span.tx{background-position:-85px -100px}
.biz .nav .m2 .sub_m1.on span.tx{background-position:-85px -120px}
.biz .nav .m2 .sub_m2.on span.tx{background-position:-85px -140px}

/* 서브 타이틀 공통 :: [비지니스센터] */
h2.h_biz span.tx{background:url(../img/spr_h_business.png) no-repeat}

/* 사이트디자인 && 세무회계 공통 :: [비지니스센터]*/
.biz_siteds .section_design,.biz_tax .section_design{width:757px;line-height:1.6em;color:#666}
.biz_siteds .group_dsc_v1,.biz_tax .group_dsc_v1{margin:15px 0 0;padding-top:44px;border-top:1px solid #f0f0f0}
.biz_siteds h3 span,.biz_tax h3 span{display:block;overflow:hidden;height:17px;background:url(../img/spr_h_business.png) no-repeat;text-indent:-9999em}
.biz_siteds .group_dsc_v1 h3 span.tx,.biz_tax .group_dsc_v1 h3 span.tx{width:166px;background-position:-233px -620px}
.biz_siteds .section_design p:first-child,.biz_tax .section_design p:first-child{padding-top:12px}
.biz_siteds .design_noti,.biz_tax .design_noti{height:14px;margin:8px 0 41px;font-size:12px;line-height:1em;color:#999}
.biz_siteds p.design_noti strong,.biz_tax p.design_noti strong{font-weight:normal}
.biz_siteds .group_ad,.biz_tax .group_tax{margin:7px 0 11px;padding:29px 0 22px}
.biz_siteds .group_mov,.biz_tax .group_dscbox{width:732px;margin-bottom:75px;padding:30px 0 20px 25px} 
.biz_siteds .svc dl dd,.biz_tax .tax dl dd{color:#666}

/* 메인 :: [비지니스센터] */
.biz_main .biz_tit_area{width:752px;height:345px;margin:30px 0 66px 2px;background:url(../img/tit_visual_business.png) no-repeat 0 -845px}
.biz_main h2{padding-bottom:13px}
.biz_main h2 span{display:inline-block;vertical-align:bottom;line-height:999em}
.biz_main h2 span.ex{width:262px;height:14px;background:url(../img/spr_h_business.png) no-repeat}
.biz_main h2 span.ex{*margin-top:-17px}
.biz_main a.more{display:block;overflow:hidden;position:absolute;top:7px;right:2px;width:36px;height:11px;background:url(../img/spr_btn_business.png) no-repeat 0 -40px;line-height:999em}
.biz_main .section h2 span.tx{width:77px;height:17px;margin-right:8px;background-position:0 -240px}
.biz_main .section h2 span.ex{width:262px;height:14px;background-position:0 -749px}
.biz_main .section h2 span.ex{*margin-top:-18px}
.biz_main .consult{overflow:hidden;padding:30px 0 0 1px;zoom:1}
.biz_main .consult dl{float:left;margin-right:72px;line-height:1.5em;letter-spacing:-1px}
.biz_main .consult dt{overflow:hidden;height:13px;margin-bottom:14px;background:url(../img/spr_h_business.png) no-repeat;line-height:999em}
.biz_main .consult dd{width:197px;color:#666}
.biz_main .consult a{display:block;overflow:hidden;width:137px;height:31px;margin-top:11px;background:url(../img/spr_btn_business.png) no-repeat;line-height:999em}
.biz_main .section .lst3{margin:0 0 0 -4px}
.biz_main .section .lst1 dt{width:87px;background-position:-90px -240px}
.biz_main .section .lst2 dt{width:79px;background-position:-190px -240px}
.biz_main .section .lst3 dt{width:72px;background-position:-280px -240px}
.biz_main .section2{position:relative;margin-top:66px}
.biz_main .section2 h2 span.tx{width:107px;height:17px;margin-right:8px;background-position:0 -270px}
.biz_main .section2 h2 span.ex{width:249px;height:13px;background-position:0 -770px}
.biz_main .section2 ul{overflow:hidden;width:744px;height:412px;border:1px solid #dfdfdf;border-width:0 1px 1px;background:url(../img/spr_business_ProjectSupport.png) no-repeat;zoom:1}
.biz_main .section2 li{float:left;height:206px}
.biz_main .section2 ul a{display:block;overflow:hidden;height:206px;line-height:999em;vertical-align:top}
.biz_main .section2 .lst1 a,.biz_main .section2 .lst4 a{width:248px}
.biz_main .section2 .lst2 a,.biz_main .section2 .lst5 a{width:244px;margin-left:1px}
.biz_main .section2 .lst3 a,.biz_main .section2 .lst6 a{width:250px;margin-left:1px}
.biz_main .section2 .lst4 a,.biz_main .section2 .lst5 a,.biz_main .section2 .lst6 a{height:205px;margin-top:1px}
.biz_main .section2 li a:hover{background:url(../img/spr_business_ProjectSupport.png) no-repeat}
.biz_main .section2 .lst1 a:hover{background-position:0 -430px}
.biz_main .section2 .lst2 a:hover{background-position:-250px -430px}
.biz_main .section2 .lst3 a:hover{background-position:-495px -430px}
.biz_main .section2 .lst4 a:hover{background-position:0 -637px}
.biz_main .section2 .lst5 a:hover{background-position:-250px -637px}
.biz_main .section2 .lst6 a:hover{background-position:-495px -637px}
.biz_main .section3{position:relative;margin:46px 0 79px}
.biz_main .section3 h2 span.tx{width:112px;height:17px;margin-right:8px;background-position:0 -300px}
.biz_main .section3 h2 span.ex{width:182px;height:13px;background-position:0 -790px}
.biz_main .section3 .assist{overflow:hidden;padding:31px 20px 22px 45px;border:1px solid #ececec;border-top-width:0;zoom:1}
.biz_main .section3 .assist dl{float:left;margin-left:127px;line-height:2em;letter-spacing:-1px}
.biz_main .section3 .assist dl:first-child{margin-left:0}
.biz_main .section3 .assist dt{overflow:hidden;height:13px;margin-bottom:10px;background:url(../img/spr_h_business.png) no-repeat;line-height:999em}
.biz_main .section3 .assist a{color:#333}
.biz_main .section3 .assist_lst1 dt{width:89px;background-position:-120px -300px}
.biz_main .section3 .assist_lst2 dt{width:127px;background-position:-215px -300px}
.biz_main .section3 .assist_lst3 dt{width:89px;background-position:-120px -270px}

/* 네이버 서비스 :: [비지니스센터] */
.biz_naversv h2{margin-bottom:36px}
.biz_naversv h2 span.tx{overflow:hidden;height:17px;background:url(../img/spr_h_business.png) no-repeat 0 -720px;line-height:999em}
.biz_naversv .section,.biz_naversv .section2,.biz_naversv .section3,.biz_naversv .section4,.biz_naversv .section5{position:relative;width:757px}
.biz_naversv .bg_visual,.biz_naversv .bg_visual2,.biz_naversv .bg_visual3{position:absolute;top:0;right:0;background:url(../img/spr_visual_business.png) no-repeat}
.biz_naversv .bg_visual{top:90px;right:30px;width:274px;height:257px}
.biz_naversv .bg_visual2{top:28px;right:21px;width:339px;height:345px;background-position:0 -265px}
.biz_naversv .bg_visual3{top:40px;right:80px;width:179px;height:371px;background-position:0 -625px}
.biz_naversv .btn_naversv a{display:block;overflow:hidden;height:22px;background:url(../img/spr_btn.png) no-repeat 0 0;line-height:999em}
.biz_naversv h3 span.tx{display:block;overflow:hidden;height:17px;background:url(../img/spr_h_business.png) no-repeat;text-indent:-9999em}
.biz_naversv p{line-height:1.6em;color:#666}
.biz_naversv .section .tit{margin-bottom:8px}
.biz_naversv .section h3 span.tx{width:55px;background-position:0 -540px}
.biz_naversv .section .srchsign a{width:95px;margin:5px 0 20px;background-position:0 -225px}
.biz_naversv .section ol{overflow:hidden;width:752px;height:183px;margin-bottom:50px;background:url(../img/img_service_step.png) no-repeat}
.biz_naversv .section li{padding-right:103px}
.biz_naversv .section li:first-child{padding-right:89px}
.biz_naversv .section .last{padding:0 0 0 2px}
.biz_naversv .section dt{padding-bottom:11px}
.biz_naversv .section dd{line-height:1.6em}
.biz_naversv .section2 .tit,.biz_naversv .section3 .tit{margin-bottom:10px;padding-top:50px;border-top:1px solid #eaecef}
.biz_naversv .section2 h3 span.tx{width:85px;background-position:0 -560px}
.biz_naversv .section2 .btn_naversv{float:left;margin:4px 0 20px}
.biz_naversv .shortcut a{float:left;width:95px;margin-right:6px;background-position:-110px -285px}
.biz_naversv .srchsign a{float:left;width:128px;background-position:-108px -225px}
.biz_naversv .section2 ol{overflow:hidden;width:752px;height:183px;margin:40px 0 50px;background:url(../img/img_service_step.png) no-repeat 0 -195px}
.biz_naversv .section2 li{padding-right:100px}
.biz_naversv .section2 li:first-child{padding-right:103px}
.biz_naversv .section2 .last{padding:0 0 0 2px}
.biz_naversv .section2 dt{padding-bottom:10px}
.biz_naversv .section2 dd{line-height:1.5em}
.biz_naversv .section3 h3 span.tx{width:55px;background-position:0 -580px}
.biz_naversv .section3{margin-bottom:58px;border-bottom:1px solid #eff0f1}
.biz_naversv .storeme2 a{width:95px;margin:5px 0 30px;background-position:0 -255px}
.biz_naversv .section3 dt{overflow:hidden;height:13px;margin-bottom:12px;background:url(../img/spr_h_business.png) no-repeat 0 0;line-height:999em}
.biz_naversv .section3 dd{color:#666}
.biz_naversv .storeme2_lst1 dt{width:124px;background-position:1px -600px}
.biz_naversv .storeme2_lst2{margin-bottom:58px}
.biz_naversv .storeme2_lst2 dt{width:149px;margin-top:20px;background-position:1px -620px}
.biz_naversv .storeme2_lst2 dd li{padding-bottom:8px}
.biz_naversv .section4 .tit{margin-bottom:9px}
.biz_naversv .section4 h3 span.tx{width:88px;background-position:1px -640px}
.biz_naversv .section4{margin-bottom:60px;padding-bottom:271px;border-bottom:1px solid #eff0f1}
.biz_naversv .manyform a{width:111px;margin:3px 0 25px;background-position:-110px -255px}
.biz_naversv .section5 .tit{margin-bottom:11px}
.biz_naversv .section5 h3 span.tx{width:55px;background-position:0 -660px}
.biz_naversv .section5{padding-bottom:67px}
.biz_naversv .section5 .qrcode a{width:90px;margin:2px 0 30px;background-position:0 -285px}
.biz_naversv .section5 dt{overflow:hidden;height:13px;margin-bottom:10px;background:url(../img/spr_h_business.png) no-repeat 0 0;line-height:999em}
.biz_naversv .section5 dd{width:390px;line-height:1.4em;color:#666}
.biz_naversv .qrcode_lst1 dt{width:121px;background-position:1px -680px}
.biz_naversv .qrcode_lst2 dt{width:146px;margin:18px 0 7px;background-position:1px -700px}
.biz_naversv .qrcode_lst2 dd{padding-bottom:8px;line-height:1.7em}
.biz_naversv .qrcode_lst2 dd strong{font-weight:normal}

/* 사이트디자인 :: [비지니스센터] */
.biz_siteds h2 span.tx{overflow:hidden;width:95px;height:17px;background-position:-125px -490px;line-height:999em}
.biz_siteds .tit{margin-bottom:7px}
.biz_siteds .group_ad,.biz_siteds .group_mov,.biz_siteds .group_law,.biz_siteds .group_tax,.biz_siteds .group_dscbox{overflow:hidden;border:1px solid #e6e6e6;background-color:#fdfdfd;color:#666;zoom:1}
.biz_siteds .group_ad{color:#333}
.biz_siteds .svc{float:left;width:360px}
.biz_siteds .svc .pic{overflow:hidden;float:left;text-indent:-999em}
.biz_siteds .nonos p{width:106px;height:38px;margin:-2px 33px 0 30px;background:url(../img/@tmp_pic8.gif) no-repeat}
.biz_siteds .designart p{width:119px;height:45px;margin:-6px 34px 0 33px;background:url(../img/@tmp_pic9.gif) no-repeat}
.biz_siteds .svc dl{float:left;width:167px;margin-top:-5px}
.biz_siteds .svc dt{margin-bottom:5px;font-weight:bold}
.biz_siteds .svc dd{width:200px;margin-bottom:13px;line-height:1.4em}
.biz_siteds .svc .ad_btn{margin-bottom:6px}
.biz_siteds .svc .ad_btn a{display:block;width:63px;height:22px;background:url(../img/spr_btn_business.png) no-repeat -145px 0;text-indent:-999em}
.biz_siteds .video{margin:50px 0 10px}
.biz_siteds .video .tit span.tx{width:166px;background-position:-160px -540px}
.biz_siteds .group_mov h4,.biz_siteds .group_dscbox h4{margin-bottom:16px;background:url(../img/spr_h_business.png) no-repeat;text-indent:-9999em}
.biz_siteds .group_mov .tit_pht{width:74px;height:14px;background-position:-335px -540px}
.biz_siteds .group_mov .tit_phsp{width:62px;height:14px;background-position:-225px -560px}
.biz_siteds .group_mov .tit_site{width:104px;height:14px;background-position:-300px -560px}
.biz_siteds .group_mov .mov{float:left;width:244px}
.biz_siteds .group_mov ul,.biz_siteds .group_mov li{*margin-top:-12px}
.biz_siteds .group_mov dl{margin-bottom:7px;letter-spacing:-1px}
.biz_siteds .group_mov dt{margin-bottom:2px;padding-left:8px;background:url(../img/bu_dott4.gif) no-repeat 0 50%;font-weight:bold}
.biz_siteds .group_mov a{color:#666}
.biz_siteds .group_mov dd{padding-left:8px;line-height:1.6em}

/* 세무회계 :: [비지니스센터] */
.biz_tax h2 span.tx{overflow:hidden;width:68px;height:18px;background:url(../img/spr_h_business.png) no-repeat -230px -490px;line-height:999em}
.biz_tax p.txt{width:585px}
.biz_tax .group_tax,.biz_tax .group_dscbox{overflow:hidden;border:1px solid #e6e6e6;background-color:#fdfdfd;color:#666;zoom:1}
.biz_tax .tax .ad_btn a{display:block;width:63px;height:23px;background:url(../img/spr_btn_business.png) no-repeat -145px 0;text-indent:-999em}
.biz_tax .group_tax{padding-bottom:18px}
.biz_tax .design_noti{margin-top:6px}
.biz_tax .tax{float:left}
.biz_tax .group_tax p{overflow:hidden;line-height:999em}
.biz_tax .tax_v1 p{float:left;width:110px;height:68px;margin:0 30px 0 29px;background:url(../img/@tmp_pic11.gif) no-repeat}
.biz_tax .tax_v2 p{float:left;width:65px;height:22px;margin:1px 73px 0 61px;background:url(../img/@tmp_pic12.gif) no-repeat}
.biz_tax .tax dl{float:left;margin-top:-3px;color:#333}
.biz_tax .tax dt{margin-bottom:4px;font-weight:bold}
.biz_tax .tax dd{padding-bottom:10px;line-height:1.5em}
.biz_tax .tax a{color:#666}
.biz_tax .group_dsc_v1 p{width:600px}
.biz_tax .group_dsc_v2{margin:46px 0 9px}
.biz_tax .group_dsc_v2 h3 span.tx{width:118px;background-position:-280px -600px}
.biz_tax .group_dscbox{padding:30px 0 24px 30px;letter-spacing:-1px}
.biz_tax .group_dscbox h4{height:13px;margin-bottom:17px;background:url(../img/spr_h_business.png) no-repeat;text-indent:-999em}
.biz_tax .group_dscbox .tit_frst{width:63px;height:14px;background-position:-200px -580px}
.biz_tax .group_dscbox .tit_clms{width:62px;height:14px;background-position:-265px -580px}
.biz_tax .group_dscbox .tit_etc{width:74px;height:14px;background-position:-336px -580px}
.biz_tax .group_dscbox .biz{float:left}
.biz_tax .group_dscbox .biz_v1{margin-right:103px}
.biz_tax .group_dscbox .biz_v2{margin-right:120px}
.biz_tax .group_dscbox .biz li{padding-bottom:4px}
.biz_tax .group_dscbox .biz a{padding-left:8px;background:url(../img/bu_dott6.gif) no-repeat 0 50%;color:#666}

/* 법률상담 :: [비지니스센터] */
.biz_law h2 span.tx{overflow:hidden;width:61px;height:17px;background:url(../img/spr_h_business.png) no-repeat 0 -510px;line-height:999em}
.biz_law .section_design{width:757px;line-height:1.6em;color:#666}
.biz_law .group_dsc{margin-bottom:7px}
.biz_law .section_design p:first-child{padding-top:12px}
.biz_law .add_des{margin:15px 0 7px;padding-top:44px;border-top:1px solid #f0f0f0}
.biz_law .group_dsc h3{margin-bottom:4px}
.biz_law .group_dsc .tit span.tx{display:block;overflow:hidden;width:166px;height:17px;background:url(../img/spr_h_business.png) no-repeat -70px -511px;text-indent:-9999em}
.biz_law .dot_lst li{margin-bottom:4px;padding-left:8px;background-position:0 8px;color:#999}
.biz_law .dot_lst li span{display:block}
.biz_law .group_law{overflow:hidden;margin-bottom:60px;padding:25px 0 18px;border:1px solid  #e0e0e0;background-color:#fdfdfd;zoom:1}
.biz_law .group_law .pic{overflow:hidden;float:left;width:125px;height:77px;margin:11px 83px 0 71px;background:url(../img/@tmp_pic10.gif) no-repeat;line-height:999em}
.biz_law .group_law dl{float:left;width:430px}
.biz_law .group_law dt{margin-bottom:4px;font-weight:bold;color:#333;letter-spacing:0}
.biz_law .group_law dd{width:410px;line-height:1.5em}
.biz_law .btn_area{overflow:hidden;margin-top:10px}
.biz_law .btn_area li{float:left}
.biz_law .btn_area a{float:left;height:22px;background:url(../img/spr_btn_business.png) no-repeat;color:#666;text-indent:-999em}
.biz_law .btn_area .ad_btn a{width:63px;margin-right:7px;background-position:-145px 0}
.biz_law .btn_area .ad_btn2 a{width:141px;background-position:-50px -40px}
.biz_law .section_design .group_dsc .design_noti2{margin-bottom:3px;padding-top:4px}
.biz_law .section_design .group_dsc .design_noti2 strong{display:inline-block;overflow:hidden;width:50px;height:12px;margin:1px 0 -1px;*margin-top:-21px;background:url(../img/spr_h_business.png) no-repeat 0 -810px;line-height:999em}
.biz_law .dot_lst_v2 span{display:block}

/* 창업지원서비스 :: [비지니스센터] */
.biz_assist h2 span.tx{overflow:hidden;width:110px;height:17px;background-position:0 -490px;line-height:999em}
.biz_assist .spot{width:752px;height:186px;margin-bottom:14px;background:url(../img/tit_visual_business.png) no-repeat}
.biz_assist .part_con{border:1px solid red;height:43px}
.biz_assist .part_con{width:755px;height:43px;margin-bottom:115px;background-color:#fafafb;border:1px solid #f1f1f1}
.biz_assist .part_hyundai{margin:11px 0 0 10px}
.biz_assist .part_hyundai a{display:inline-block;overflow:hidden;width:257px;height:23px;margin-right:10px;background:url(../img/spr_logo.png) no-repeat 0 -80px;line-height:999em;vertical-align:middle}
.biz_assist .part_hyundai span{display:inline-block;overflow:hidden;width:163px;height:11px;background:url(../img/spr_business_txt.png) no-repeat 0 -230px;line-height:999em;vertical-align:middle}
.biz_assist .paging_imsch{margin-bottom:54px;padding:5px}