@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* Common */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',dotum,AppleGothic,sans-serif;font-size:12px}
body{word-break:break-all}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}

/* Common Add */
select{height:16px;font-size:11px}
caption,legend,.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-9999px;width:0;height:0;font-size:0;line-height:0;text-align:left}
caption{position:static}
input[type=text]{height:13px;padding:3px 5px 0;border:1px solid #ccc;font-size:11px}
textarea,.scroll_area{scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#9e9e9f;scrollbar-track-color:#fafafa;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#fff;scrollbar-highlight-color:#dbdbdb;scrollbar-shadow-color:#dbdbdb}
hr{display:none}

/* Set Class */ 
.overview{overflow:hidden;zoom:1}
.section00,.section01,.section02{overflow:hidden;width:100%;zoom:1}
.section00{margin-bottom:40px}
.section01{margin-bottom:30px}
.section02{margin-bottom:15px}
.fl{float:left}
.fr{float:right}
.ls_base{letter-spacing:0}
.tx_ellipsis{overflow:hidden;text-overflow:ellipsis}
.show{display:block}
.hide{display:none}

/* Skip Navigation */
#u_skip{position:relative;margin:0 auto;z-index:1000}
#u_skip a{position:absolute;left:0;top:-50px;width:128px;background:url(../img/sp_u_skip.png) repeat-x 0 -11px;border:1px solid #4ec53d;text-align:center;outline:none}
#u_skip a:active,#u_skip a:focus{top:-10px;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/sp_u_skip.png) no-repeat 100% 11px;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}