@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* snb :: [고객센터] */
.cust span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_customer.png) no-repeat;line-height:999em;vertical-align:middle}
.cust h2 span.tx{width:62px;height:17px;background-position:0 0}
.cust .nav .dir{padding-bottom:4px}
.cust .nav .dir li a{padding:6px 5px 6px 8px !important}
.cust .nav .dir li:first-child a{border-top:none}
.cust .nav .m1 span.tx{width:35px;height:13px;background-position:0 -20px}
.cust .nav .m1 .sub_m1{border-top:0}
.cust .nav .m1 .sub_m1,.cust .nav .m1 .sub_m2{padding-top:4px}
.cust .nav .m1 .sub_m1 span.tx{width:53px;height:12px;background-position:0 -40px}
.cust .nav .m1 .sub_m1 a,.cust .nav .m1 .sub_m2 a{padding:5px 0 5px 8px}
.cust .nav .m1 .sub_m1 strong,.cust .nav .m1 .sub_m2 strong{display:block;padding:5px 0 5px 8px}
.cust .nav .m1 .sub_m1 .dir .dir_m1 span.tx{width:50px;height:12px;background-position:0 -60px}
.cust .nav .m1 .sub_m1 .dir .dir_m2 span.tx{width:50px;height:12px;background-position:0 -80px}
.cust .nav .m1 .sub_m1 .dir .dir_m3 span.tx{width:50px;height:12px;background-position:0 -100px}
.cust .nav .m1 .sub_m1 .dir .dir_m4 span.tx{width:50px;height:12px;background-position:0 -120px}
.cust .nav .m1 .sub_m1 .dir .dir_m5 span.tx{width:50px;height:12px;background-position:0 -140px}
.cust .nav .m1 .sub_m1 .dir .dir_m6 span.tx{width:30px;height:12px;background-position:0 -160px}
.cust .nav .m1 .sub_m1 .dir .dir_m7 span.tx{width:50px;height:12px;background-position:0 -180px}
.cust .nav .m1 .sub_m1 .dir .dir_m8 span.tx{width:60px;height:12px;background-position:0 -200px}
.cust .nav .m1 .sub_m1 .dir .dir_m9 span.tx{width:60px;height:12px;background-position:0 -220px}
.cust .nav .m1 .sub_m1 .dir .dir_m10 span.tx{width:60px;height:12px;background-position:0 -240px}
.cust .nav .m1 .sub_m2 span.tx{width:64px;height:12px;background-position:0 -260px}
.cust .nav .m1 .sub_m2 .dir .dir_m1 span.tx{width:60px;height:12px;background-position:0 -280px}
.cust .nav .m1 .sub_m2 .dir .dir_m2 span.tx{width:60px;height:12px;background-position:0 -300px}
.cust .nav .m1 .sub_m2 .dir .dir_m3 span.tx{width:60px;height:12px;background-position:0 -320px}
.cust .nav .m1 .sub_m2 .dir .dir_m4 span.tx{width:30px;height:12px;background-position:0 -340px}
.cust .nav .m2 span.tx{width:85px;height:14px;background-position:0 -360px}
.cust .nav .m2 .sub_m1 span.tx{width:62px;height:12px;background-position:0 -380px}
.cust .nav .m2 .sub_m2 span.tx{width:68px;height:12px;background-position:0 -400px}
.cust .nav .m2 .sub_m3 span.tx{width:66px;height:12px;background-position:0 -420px}
.cust .nav .m2 .sub_m4 span.tx{width:96px;height:12px;background-position:0 -440px}
.cust .nav .m2 .sub_m5 span.tx{width:77px;height:12px;background-position:0 -460px}
.cust .nav .m2 .sub_m6 span.tx{width:77px;height:12px;background-position:0 -480px}
.cust .nav .m2 .sub_m7 span.tx{width:93px;height:12px;background-position:0 -500px}
.cust .nav .m2 .sub_m8 span.tx{width:72px;height:28px;background-position:0 -520px}
.cust .nav .m2 .sub_m9 span.tx{width:55px;height:12px;background-position:0 -560px}
.cust .nav .m2 .sub_m10 span.tx{width:22px;height:12px;background-position:0 -580px}

.cust .nav .m3 span.tx{width:60px;height:13px;background-position:0 -600px}
.cust .nav .m3 .sub_m1 span.tx{width:96px;height:12px;background-position:0 -620px}
.cust .nav .m3 .sub_m2 span.tx{width:45px;height:12px;background-position:0 -640px}
.cust .nav .m4 span.tx{width:45px;height:13px;background-position:0 -660px}
.cust .nav .m4 .sub_m1 span.tx{width:55px;height:12px;background-position:0 -680px}
.cust .nav .m4 .sub_m2 span.tx{width:75px;height:12px;background-position:0 -700px}
.cust .nav .m4 .sub_m3 span.tx{width:85px;height:12px;background-position:0 -720px}
.cust .nav .m5 span.tx{width:88px;height:13px;background-position:0 -740px}

.cust .nav .m1.select a.tit span.tx{background-position:-100px -20px}
.cust .nav .m1 .sub_m1.select span.tx{background-position:-100px -40px}
.cust .nav .m1 .sub_m1 .dir_m1.on span.tx{background-position:-100px -60px}
.cust .nav .m1 .sub_m1 .dir_m2.on span.tx{background-position:-100px -80px}
.cust .nav .m1 .sub_m1 .dir_m3.on span.tx{background-position:-100px -100px}
.cust .nav .m1 .sub_m1 .dir_m4.on span.tx{background-position:-100px -120px}
.cust .nav .m1 .sub_m1 .dir_m5.on span.tx{background-position:-100px -140px}
.cust .nav .m1 .sub_m1 .dir_m6.on span.tx{background-position:-100px -160px}
.cust .nav .m1 .sub_m1 .dir_m7.on span.tx{background-position:-100px -180px}
.cust .nav .m1 .sub_m1 .dir_m8.on span.tx{background-position:-100px -200px}
.cust .nav .m1 .sub_m1 .dir_m9.on span.tx{background-position:-100px -220px}
.cust .nav .m1 .sub_m1 .dir_m10.on span.tx{background-position:-100px -240px}
.cust .nav .m1 .sub_m2.select span.tx{background-position:-100px -260px}
.cust .nav .m1 .sub_m2 .dir_m1.on span.tx{background-position:-100px -280px}
.cust .nav .m1 .sub_m2 .dir_m2.on span.tx{background-position:-100px -300px}
.cust .nav .m1 .sub_m2 .dir_m3.on span.tx{background-position:-100px -320px}
.cust .nav .m1 .sub_m2 .dir_m4.on span.tx{background-position:-100px -340px}

.cust .nav .m2.select a.tit span.tx{background-position:-100px -360px}
.cust .nav .m2 .sub_m1.on span.tx{background-position:-100px -380px}
.cust .nav .m2 .sub_m2.on span.tx{background-position:-100px -400px}
.cust .nav .m2 .sub_m3.on span.tx{background-position:-100px -420px}
.cust .nav .m2 .sub_m4.on span.tx{background-position:-100px -440px}
.cust .nav .m2 .sub_m5.on span.tx{background-position:-100px -460px}
.cust .nav .m2 .sub_m6.on span.tx{background-position:-100px -480px}
.cust .nav .m2 .sub_m7.on span.tx{background-position:-100px -500px}
.cust .nav .m2 .sub_m8.on span.tx{background-position:-100px -520px}
.cust .nav .m2 .sub_m9.on span.tx{background-position:-100px -560px}
.cust .nav .m2 .sub_m10.on span.tx{background-position:-100px -580px}

.cust .nav .m3.select a.tit span.tx{background-position:-100px -600px}
.cust .nav .m3 .sub_m1.on span.tx{background-position:-100px -620px}
.cust .nav .m3 .sub_m2.on span.tx{background-position:-100px -640px}
.cust .nav .m4.select a.tit span.tx{background-position:-100px -660px}
.cust .nav .m4 .sub_m1.on span.tx{background-position:-100px -680px}
.cust .nav .m4 .sub_m2.on span.tx{background-position:-100px -700px}
.cust .nav .m4 .sub_m3.on span.tx{background-position:-100px -720px}
.cust .nav .m5.select a.tit span.tx{background-position:-100px -740px}

/* 서브 타이틀 공통 :: [고객센터] */
h2.h_cust span.tx,h3.h_cust span.tx{background:url(../img/spr_h_customer.png) no-repeat}
.add_des span.tx{display:block;overflow:hidden;height:13px;background:url(../img/spr_h_customer.png) no-repeat;line-height:999em}

/* 공통부분 */
.tbl_info caption.pad_v0{padding:0 !important}
.sub_conwrap .btn_btarea2{margin:15px 0 46px;text-align:center}
.sub_conwrap .btn_btarea2 button,.btn_btarea2 input{overflow:visible;height:36px;border:0;vertical-align:top;cursor:pointer}
.spot_customer{width:757px;background:url(../img/spr_tit_customer.png) no-repeat}

/* 메인홈 */
.cust_main{padding-bottom:237px}
.cust_main .spot_customer{*display:inline;zoom:1;margin-top:29px;width:100%;height:192px;background-position:0 -375px}
.cust_main .srch_area2{margin-top:50px}
.cust_main .srch_area2 fieldset{width:458px}
.cust_main .srch_area2 .popular_lst{margin-top:10px;margin-left:147px}
.cust_main h3{padding-bottom:6px}
.cust_main span.tx{display:inline-block;overflow:hidden;line-height:999em}
.cust_main .best5{margin-top:49px}
.cust_main .new_help{margin-top:50px}
.cust_main .best5 h3 span.tx{display:block;width:138px;height:16px;background-position:0 0}
.cust_main .new_help h3 span.tx{display:block;width:68px;height:16px;background-position:-100px -30px}
.cust_main .addic{margin-top:30px}
.cust_main .bnr{margin:30px 0 0}
.cust_main .bnr ul{overflow:hidden;width:757px;zoom:1;background:url(../img/img_customer.png) no-repeat 0 -20px}
.cust_main .bnr li{float:left;position:relative;margin-left:-1px;width:251px;height:172px;letter-spacing:-1px}
.cust_main .bnr li:first-child{margin-left:0}
.cust_main .bnr span{position:absolute;top:104px;left:20px;width:100px}
.cust_main .bnr a{display:block;height:12px;margin-top:5px;letter-spacing:-2px;text-indent:-9999em}
.cust_main .bnr a:first-child{margin-top:0}
.cust_main .info_etc{margin-top:22px;height:60px;background:url(../img/img_customer.png) no-repeat 0 -195px}

/* 원격지원 서비스 :: [고객센터] */
.remote h2{margin-bottom:77px}
.remote h2.h_cust span.tx{width:111px;background-position:0 -270px}
.remote .remote_group{width:517px;margin:0 auto;line-height:18px;color:#666}
.remote .remote_img{height:202px;margin-bottom:50px;background:url(../img/bg_service.jpg) no-repeat;text-indent:-999em}
.remote .remote_txt3{margin-top:18px}
.remote .remote_group .remote_txt1{margin-bottom:13px}
.remote .remote_group .remote_txt2{margin-bottom:25px}
.remote .remote_group dt{margin-bottom:6px}
.remote .remote_group dt strong{color:#333}
.remote .remote_group strong{color:#666}
.remote .remote_group em{font-weight:bold}
.remote .remote_group a{display:block;overflow:hidden;width:213px;height:36px;margin:54px auto 0;background:url(../img/spr_btn_customer.png) no-repeat 0 -80px;line-height:999px}

/* 우수제안 및 반영사례 :: [고객센터]*/
.exce_propo h2.h_cust span.tx{width:143px;background-position:0 -290px}
.exce_propo .section{margin:20px 0 49px;padding-bottom:42px;border-bottom:1px solid #ededed}
.exce_propo .section .progress{margin:35px 0 0 10px;height:112px;background:url(../img/bg_customer_progress.png) no-repeat}
.exce_propo .section .btn_suggestion a{display:block;overflow:hidden;width:138px;height:38px;margin:49px auto 0;background:url(../img/spr_btn_customer.png) no-repeat 0 -160px;line-height:999em}
.exce_propo .section dt{margin-bottom:10px}
.exce_propo .section dd{line-height:20px;color:#676b73}
.exce_propo .section span.tx{display:block;height:17px;background:url(../img/spr_h_customer.png) no-repeat;text-indent:-9999em}
.exce_propo .proposition span.tx{width:190px;background-position:0 -310px}
.exce_propo .paging_imsch{margin-bottom:99px}
.tb_lst3 h3{width:85px;height:16px;margin-bottom:19px;background:url(../img/spr_h_customer.png) no-repeat 0 -330px;text-indent:-999em}

/* 검색결과 */
.srch_result .tb_lst.tb_lst_v2.tb_lst_line ul{margin-top:-4px;border-top:2px solid #373b47}
.srch_result .tb_lst.tb_lst_v2.tb_lst_line ul li:first-child{border-top:0}
.srch_result .result_area.top_line{margin-top:-4px;border-top:2px solid #373b47}

/* 온라인 문의상담 :: [고객센터] */
.onlnqu h2{margin-bottom:22px}
.onlnqu h2.h_cust span.tx{width:111px;background-position:0 -350px}
.onlnqu h3{height:17px;background:url(../img/spr_h_customer.png) no-repeat;vertical-align:middle}
.onlnqu h3.h3_tit{width:71px;background-position:0 -370px}
.onlnqu h3.h3_tit2{width:57px;background-position:0 -390px}
.onlnqu h3.h3_tit3{width:57px;background-position:0 -410px}
.onlnqu h3.h3_tit4{width:204px;background-position:0 -210px}
.onlnqu input,.onlnqu label{vertical-align:middle}
.onlnqu .basic_info{margin-bottom:30px}
.onlnqu .tbl_info{margin-top:17px}
.onlnqu .item_v1{position:relative;margin:12px 0}
.onlnqu .item_v1 input{margin-bottom:7px}
.onlnqu .item_v1 p{color:#999;line-height:15px;font-size:11px}
.onlnqu .item_v1 p span{color:#09bd19}
.onlnqu .item_v1 .loginbox{position:absolute;right:8px;top:38px}
.onlnqu .item .i_btn a{display:block;overflow:hidden;position:relative;left:1px;height:18px;padding:6px 6px 0 5px;border:0;background:transparent url(../img/bg_btn_myinfo.png) no-repeat 100% -24px;font-size:11px;color:#2f3743;letter-spacing:-1px;vertical-align:top;white-space:nowrap;text-decoration:none}
.onlnqu .basic_info .i_text_v1{width:385px;color:#999}
.onlnqu .basic_info .i_text_v2{width:77px;color:#777}
.onlnqu .basic_info .i_text_v3{width:284px;color:#777}
.onlnqu .item_v2{padding-top:11px}
.onlnqu .item_v2 input{margin-right:3px;*margin-left:-5px;vertical-align:middle}
.onlnqu .item_v2 span{margin-right:14px}
.onlnqu .item_v2 textarea{height:115px}
.onlnqu .item_v2 p{padding:9px 0 11px;color:#999;font-size:11px;letter-spacing:0}
.onlnqu .item_v3{margin:11px 0}
.onlnqu .item_v3 p{color:#999;font-size:11px;letter-spacing:0;line-height:16px}
.onlnqu .terms_area{margin:18px 0 10px;color:#777}
.onlnqu .terms_area h4{font-size:12px}
.onlnqu .terms_area_v1{overflow:hidden;height:30px;margin-top:50px}
.onlnqu .basic_info2 .agree{color:#111}
.onlnqu .basic_info2 p input{vertical-align:middle}
.onlnqu .item_v2 .item_txt{letter-spacing:-1px}
.onlnqu .btn_btarea a,.onlnqu .btn_btarea2 a{display:inline-block;overflow:hidden;width:74px;height:36px;margin-left:5px;background:url(../img/spr_btn_customer.png) no-repeat 0 -40px;line-height:999px;vertical-align:middle}

/* 제안하기 */
.onlnqu h2.h_cust span.tx_v1{width:60px;background-position:0 -450px}

/* 문의별구분 광고관리 :: [고객센터] */
.inq_admanage{position:relative;padding-bottom:89px}
.inq_admanage h2.h_cust span.tx{width:47px;background-position:0 -60px}
.inq_admanage .btn_onhelp a{display:block;overflow:hidden;position:absolute;bottom:80px;right:30px;width:114px;height:30px;background:url(../img/spr_btn_customer.png) no-repeat -125px -120px;line-height:999em}
.inq_admanage .eval_area{margin-top:49px}

/* 무효클릭 도움말 클린센터 :: [고객센터] */
.clean_advice h2.h_cust span.tx{width:110px;background-position:-55px -60px}
.clean_advice .advice_group{width:100%;margin-top:7px}
.clean_advice .advice_group a{color:#222;vertical-align:top}
.clean_advice .advice_group li{*margin-top:-11px;border-bottom:1px solid #f0f0f0}
.clean_advice .advice_group dl{padding:14px 0;line-height:13px}
.clean_advice .advice_group dt{vertical-align:middle;cursor:pointer}
.clean_advice .advice_group dt span{display:inline-block;overflow:hidden;width:13px;height:13px;margin:0 11px 0 7px;background:url(../img/spr_qna.png) no-repeat;vertical-align:top}
.clean_advice .advice_group dd{line-height:20px}
.clean_advice .advice_group dd p{margin-top:14px}
.clean_advice .advice_group dd p:first-child{margin-top:0}
.clean_advice .advice_group dd span.txt_ex{display:block}
.clean_advice .advice_group dd span.link a{color:#568adf}
.clean_advice .advice_group .dot_lst_v1,.clean_advice .advice_group .dot_lst_v3{margin-top:14px}
.clean_advice .advice_group .dot_lst_v3 li{background-position:0 7px}
.clean_advice .advice_group .on dt a{font-weight:bold;color:#3d72d0}
.clean_advice .advice_group .on dt span{background-position:-20px 0}
.clean_advice .advice_group .on li{*margin-top:0;border-bottom:0}
.clean_advice .advice_group .on dd{padding:16px 30px 0;color:#555}

/* 서비스 안내 클린센터 :: [고객센터] */
.clean_service{color:#666}
.clean_service h2.h_cust span.tx{width:79px;background-position:-175px -60px}
.clean_service .spot_customer{height:363px;margin-top:50px;border-bottom:4px solid #ececec}
.clean_service h3{margin-bottom:8px}
.clean_service .invalidity{margin-top:33px;line-height:1.5em}
.clean_service .invalidity span.tx{width:72px;background-position:0 -170px}
.clean_service .invalidity ul{margin:12px 0 8px}
.clean_service .exertion{margin:34px 0 61px}
.clean_service .exertion h3.tit span.tx{width:126px;background-position:-80px -170px}
.clean_service .exertion p{margin-bottom:10px}
.clean_service .exertion p span{display:block}
.clean_service .exertion .txt{width:725px}
.clean_service .exertion p strong{font-weight:normal}
.clean_service .btn_nullity a{display:block;overflow:hidden;width:173px;height:36px;margin:0 auto;background:url(../img/spr_btn_customer.png) no-repeat;line-height:999em}

/* 무료클릭 문의하기 클린센터 :: [고객센터] */
.inquiry{padding-bottom:202px}
.inquiry h2{margin-bottom:12px}
.inquiry h2.h_cust span.tx{width:124px;background-position:-260px -60px}
.inquiry h3{height:17px;background:url(../img/spr_h_customer.png) no-repeat;vertical-align:middle}
.inquiry h3.h3_tit{width:56px;background-position:0 -190px}
.inquiry h3.h3_tit2{width:127px;background-position:-260px -190px}
.inquiry h3.h3_tit3{width:203px;background-position:0 -210px}
.inquiry .basic_info{position:relative;z-index:1;margin-bottom:30px}
.inquiry .basic_info .temple_down{display:inline-block;overflow:hidden;position:absolute;top:0;right:0;width:89px;height:25px;background:url(../img/spr_btn_customer.png) no-repeat 0 -120px;line-height:999px}
.inquiry .tbl_info{margin-top:17px}
.inquiry .item_v1{position:relative}
.inquiry .item_v1 input{margin-bottom:7px}
.inquiry .item .btn_file button{overflow:hidden;position:relative;top:-1px;width:67px;height:22px;border:0;background:transparent url(../img/spr_btn_customer.png) no-repeat -80px -40px;text-indent:-999em;cursor:pointer}
.inquiry .basic_info .i_text_v1{width:385px;color:#999}
.inquiry .basic_info .i_text_v2{width:284px;color:#999}
.inquiry .item_v2{padding-top:11px}
.inquiry .item_v2 input{margin-right:1px;*margin-left:-5px;vertical-align:middle}
.inquiry .item_v2 span{margin-right:14px}
.inquiry .item_v2 textarea.i_text{width:500px;height:115px;margin-bottom:10px}
.inquiry .terms_area{margin:18px 0 10px;color:#777}
.inquiry .terms_area h4{font-size:12px}
.inquiry .terms_area_v1{overflow:hidden;height:30px;margin-top:50px}
.inquiry .basic_info p.attention{margin:10px 0 0 -2px;font-size:11px}
.inquiry .basic_info2 p input{vertical-align:middle}
.inquiry .btn_btarea a,.inquiry .btn_btarea2 a{display:inline-block;overflow:hidden;width:74px;height:36px;margin-left:5px;background:url(../img/spr_btn_customer.png) no-repeat 0 -40px;line-height:999px;vertical-align:middle}

.inquiry .inquiry_tit_tx{padding-bottom:14px;margin-bottom:40px;border-bottom:1px solid #ececec;color:#666;line-height:1.65em;letter-spacing:-1px}
.inquiry .inquiry_tit_tx li:first-child{position:relative;padding-bottom:7px}
.inquiry .sample_view a{padding-right:8px;background:url(../img/bu_dott15.gif) no-repeat 100% 4px;color:#497fe5;text-decoration:underline;vertical-align:middle}
.inquiry .sample_view.on a{background:url(../img/bu_dott16.png) no-repeat 100% 4px}
.inquiry .item .sample_view{display:inline-block;margin-left:360px;vertical-align:top}
.inquiry .item_v3{margin-top:11px}
.inquiry .inquiry_tit_tx li span{color:#000}

.inquiry .example{position:absolute;top:55px;left:0;z-index:10;width:596px;height:519px;background-color:#fff}
.inquiry .example .close{width:25px;height:25px;background-position:-200px -460px}
.inquiry .file_make{position:absolute;top:20px;left:-97px;z-index:10;width:646px;height:364px}
.inquiry .file_make .content{margin-top:13px}
.inquiry .file_make .content .dot_lst{margin-top:17px}
.inquiry .file_make .content .dot_lst li{padding-bottom:7px;background-position:0 3px;color:#888;font-size:11px;letter-spacing:0}
.inquiry .file_make .content .dot_lst span{display:block;margin-top:3px}

.inquiry .inquiry_tit_tx{position:relative;z-index:10;padding-bottom:15px;margin-bottom:32px;border-bottom:1px solid #ececec;color:#666;line-height:1.65em;letter-spacing:-1px}
.inquiry .inquiry_tit_tx li:first-child{padding-bottom:5px}
.inquiry .inquiry_tit_tx li a{padding-right:8px;color:#497fe5;text-decoration:underline;background:url(../img/bu_dott15.gif) no-repeat 100% 50%}
.inquiry .inquiry_tit_tx li span{color:#000}

/* 레이어 팝업 */
.pop_layer{border:1px solid #9c9da2;background-color:#fff}
.pop_layer .inner{position:relative;padding:20px}
.pop_layer .tit{color:#333}
.pop_layer .close{position:absolute;top:11px;right:11px}