@charset "utf-8";
/* HiveLab Web Standard Team YHS 121108 */

.error #container{background:#fff}
.error .sub_conwrap{float:none;width:920px;padding:139px 30px 150px}
.section_err{position:relative;width:410px;margin:0 auto;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,Sans-serif;color:#555}
.section_err .ic{display:block;width:36px;height:36px;margin:0 auto;background:url(../img/spr_error.png) no-repeat}
.section_err .tit{width:307px;height:30px;margin:21px auto 0;padding:0;border:0;background:url(../img/spr_error.png) no-repeat 0 -39px}
.section_err .tit2{width:315px;background-position:0 -72px}
.section_err .tit3{background-position:0 -105px}
.section_err .dsc{margin-top:20px;padding-bottom:7px;border-bottom:1px solid #eee;line-height:18px;color:#888;letter-spacing:-1px}
.section_err .dsc2{margin-top:8px;line-height:18px;color:#888;letter-spacing:-1px}
.section_err .dsc2 a{color:#004790;text-decoration:underline}
.section_err .btn_area{padding-top:26px;text-align:center}
.section_err .btn_area a{display:inline-block;height:35px;background:url(../img/spr_error.png) no-repeat}
.section_err .btn_area a.btn_prev{width:115px;background-position:-39px 0}
.section_err .btn_area a.btn_home{width:135px;background-position:-157px 0}

.section_err .lst_err{overflow:hidden;width:100%;padding:12px 0 22px;border-bottom:1px solid #eee;font-size:13px;line-height:18px;color:#000}
.section_err .lst_err dt{float:left;width:66px;padding-left:10px;background:url(../img/spr_error.png) no-repeat -311px 7px}
.section_err .lst_err dd{float:left;width:334px}
.section_err .lst_err dd em{color:#748eea}