@charset "utf-8";
/*  HiveLab Web Standard Team BUR 120926 */

/* 홈메뉴이동 */

/* snb :: [정보광장] 보류*/
.homemove span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_homemove.png) no-repeat;line-height:999em;vertical-align:middle}
.homemove h2 span.tx{width:122px;height:17px;background-position:0 0}
.homemove .nav .m1 span.tx{width:47px;height:13px;background-position:0 -20px}
.homemove .nav .m2 span.tx{width:47px;height:13px;background-position:0 -40px}
.homemove .nav .m3 span.tx{width:47px;height:13px;background-position:0 -60px}

.homemove .nav .m1.on span.tx{background-position:-100px -20px}
.homemove .nav .m2.on span.tx{background-position:-100px -40px}
.homemove .nav .m3.on span.tx{background-position:-100px -60px}

/* 홈메뉴이동 */
.sub_home_wrap{position:relative;padding:0 30px 80px}
.sub_home_wrap .line_top{border-top:3px double #e7e8eb}
.sub_home_wrap .group_line{padding-top:50px;width:100%;background:url(../img/spr_home_line.png) repeat-x 0 0}
.startup_section,.getsuccess_section,.tutorial_section{margin:42px 0 75px;background:url(../img/spr_home_title.png) no-repeat}
.startup_section{height:245px;background-position:162px 0}
.getsuccess_section{height:245px;background-position:177px -260px}
.tutorial_section{height:245px;background-position:134px -540px}
.startup_section h2,.getsuccess_section h2,.tutorial_section h2{overflow:hidden;height:44px;border-bottom:0;line-height:900px}
.startup_section p,.getsuccess_section p,.tutorial_section p{overflow:hidden;height:147px;line-height:900px}
.startup_group h3,.getsuccess_group h3,.tutorial_group h3{margin-top:60px;padding-bottom:20px;border-bottom:#373b47 2px solid}
.tutorial_group{padding-bottom:20px}
.startup_area,.getsuccess_area,.tutorial_area{padding:20px 18px 16px 17px;border-right:1px solid  #e8e9ea;border-bottom:1px solid #c9c9c9;border-left:1px solid  #e8e9ea;background:url(../img/sp_bg.gif) repeat-x 0 -50px}

/* 제목 */
.startup_group h3 span,.getsuccess_group h3 span,.tutorial_group h3 span{overflow:hidden;display:block;width:100%;height:28px;background:url(../img/spr_home_part.png) no-repeat;line-height:900px}
.startup_group .h_part1{background-position:0 0}
.startup_group .h_part2{height:46px;background-position:0 -35px}
.startup_group .h_part3{background-position:0 -90px}
.getsuccess_group .h_part1{background-position:0 -125px}
.getsuccess_group .h_part2{height:46px;background-position:0 -160px}
.getsuccess_group .h_part3{background-position:0 -210px}
.getsuccess_group .h_part4{background-position:0 -245px}
.tutorial_group .h_part1{background-position:0 -280px}
.tutorial_group .h_part2{background-position:0 -310px}
.tutorial_group .h_part3{margin-bottom:-8px;height:18px;background-position:0 -350px}
.sub_home_wrap .h_intro,.keyword_movie,.getsuccess_group .ad_go_p,.startup_group2 .ad_ques{overflow:hidden;display:inline-block;height:14px;background:url(../img/spr_home_part.png) no-repeat;line-height:900px}
.sub_home_wrap .h_intro{width:46px;background-position:0 -400px}
.getsuccess_group .keyword_movie{width:109px;background-position:-200px -400px;vertical-align:bottom;}
.startup_group .keyword_movie{width:107px;background-position:-70px -400px;vertical-align:bottom;}
.getsuccess_group .ad_go_p{margin:29px 0 19px;width:411px;height:13px;background-position:0 -380px}
.startup_group2 .ad_ques{width:263px;background-position:0 -420px}
.startup_area h4{margin-bottom:22px;padding:20px 0 9px;border-bottom:1px solid #e8e9ea}
.getsuccess_area h4,.tutorial_area h4{margin-bottom:9px;padding:20px 0 9px;border-bottom:1px solid #e8e9ea}
.getsuccess_area .p_dsc,.tutorial_area .p_dsc{margin-bottom:20px}

/* 박스변형 */
.getsuccess_group_v2{margin-bottom:-10px}
.getsuccess_group_v2 h3{border:0;padding-bottom:27px}
.getsuccess_area3{margin-bottom:40px}
.getsuccess_area3{position:relative;padding-left:36px}
.getsuccess_area3 dl{position:absolute;top:1px;left:238px}
.getsuccess_area3 dl dt,.getsuccess_area3 dl dd.dsc,.getsuccess_area3 dl ul li{overflow:hidden;background:url(../img/spr_home_part.png) no-repeat;text-indent:-1000px}
.getsuccess_area3 .btn_go{display:block;position:absolute;bottom:1px;left:238px;width:123px;height:32px;overflow:hidden;background:url(../img/spr_home_part.png) no-repeat -445px -440px;line-height:100px;vertical-align:top}
.getsuccess_area3 dl dd{margin-top:8px}
.getsuccess_area3 dl dd li{margin:10px 0 0 2px}
.getsuccess_area3 dl dd li:first-child{margin-top:17px}
.getsuccess_area3 dl.fist dt{width:259px;height:17px;background-position:0 -440px}
.getsuccess_area3 dl.fist dd.dsc{width:432px;height:13px;background-position:0 -500px}
.getsuccess_area3 dl.fist ul .dsc{width:161px;height:12px;background-position:0 -540px}
.getsuccess_area3 dl.fist ul .dsc2{width:153px;height:12px;background-position:0 -560px}
.getsuccess_area3 dl.fist ul .dsc3{width:161px;height:12px;background-position:0 -580px}
.getsuccess_area3 dl.secod dt{width:334px;height:17px;background-position:0 -470px}
.getsuccess_area3 dl.secod dd.dsc{width:417px;height:13px;background-position:0 -520px}
.getsuccess_area3 dl.secod ul .dsc{width:196px;height:12px;background-position:-180px -540px}
.getsuccess_area3 dl.secod ul .dsc2{width:220px;height:12px;background-position:-180px -560px}
.getsuccess_area3 dl.secod ul .dsc3{width:193px;height:12px;background-position:-180px -580px}
.getsuccess_area3 .thmb a{position:relative;display:block;width:176px;height:158px}
.getsuccess_area3 .thmb a .btn_play{position:absolute;bottom:6px;left:10px;width:27px;height:27px;background:url(../img/btn_play_v2.png) no-repeat;content:''}
.getsuccess_area3 .thmb a .mask{position:absolute;top:0;left:0;width:174px;height:156px;border:1px solid #000;filter:alpha(opacity=20);opacity:.2;content:''}
.getsuccess_area4 dl{width:372px}
.getsuccess_area4 .get_ad{padding:47px 100px 49px 285px;background:url(../img/spr_ad.jpg) no-repeat 0 0;border-bottom:1px solid #f0f0f0}
.getsuccess_area4 .get_ad2{padding:37px 100px 49px 285px;background:url(../img/spr_ad.jpg) no-repeat 0 -240px;border-bottom:1px solid #c9c9c9} 
.getsuccess_area4 dt{height:70px}
.startup_area2 dd li,.getsuccess_area2 dd li{line-height:24px;color:#666}
.getsuccess_area4 dd a{line-height:24px;color:#5184df;text-decoration:underline}
.ad_go_area li{position:relative;float:left;height:178px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;border-left:0}
.ad_go_area li:first-child{border:1px solid #e5e5e5}
.ad_go_area li a{position:absolute;top:74px;left:14px;font-size:11px;color:#999;letter-spacing:-1px}
.ad_go_area .ad_go_shop{width:187px;background:url(../img/spr_ad.jpg) no-repeat 4px -457px}
.ad_go_area .ad_go_jisik{width:189px;background:url(../img/spr_ad.jpg) no-repeat -185px -457px}
.ad_go_area .ad_go_check{width:189px;background:url(../img/spr_ad.jpg) no-repeat -375px -457px}
.ad_go_area .ad_go_mileage{width:186px;background:url(../img/spr_ad.jpg) no-repeat -565px -457px}
.startup_group2{overflow:hidden;margin:45px 0 0;border-bottom:1px solid #f0f0f0}
.startup_group2 dl{float:left;margin:16px 0 0;padding-bottom:10px}
.startup_group2 .ad_ques1{width:207px;margin-left:11px}
.startup_group2 .ad_ques2{width:220px;margin-left:41px}
.startup_group2 .ad_ques3{margin-left:33px}
.startup_group2 h4{padding:13px 0 12px 11px;background-color:#fafafa;border-top:1px solid #c9c9c9;border-bottom:1px solid #f0f0f0 }
.startup_area2,.getsuccess_area2{position:relative;top:40px;margin:0 0 0 20px;width:100%;height:214px;background:url(../img/spr_home_title.png) no-repeat 0 -797px}
.startup_area2 .offline_edu ul,.getsuccess_area2 .offline_edu ul{position:absolute;top:0;left:340px}
.startup_area2 .offline_edu ul a,.getsuccess_area2 .offline_edu ul a{line-height:24px;color:#666}
.startup_area2 .online_edu ul,.getsuccess_area2 .online_edu ul{position:absolute;top:107px;left:340px}
.startup_area2 .online_edu ul a,.getsuccess_area2 .online_edu ul a{line-height:24px;color:#666}
.online_edu .btn_more,.offline_edu .btn_more{overflow:hidden;display:inline-block;width:35px;height:14px;background:url(../img/spr_home_part.png) no-repeat -460px -400px;line-height:900px}
.offline_edu .btn_more{position:absolute;top:52px;left:180px}
.online_edu .btn_more{position:absolute;top:163px;left:180px}
.tutorial_area2{position:relative}
.tutorial_area2 .adu_moviv,.tutorial_area2 .adu_list{margin-top:8px;width:50%;float:left}
.tutorial_area2 .btn_more{clear:both;overflow:hidden;position:absolute;top:-28px;right:0;width:36px;height:14px;background:url(../img/spr_home_part.png) no-repeat -530px -400px;line-height:900px}

/*텍스트 스타일*/ 
.startup_group .h_dsc{font-size:14px;line-height:24px;font-weight:bold;color:#333}
.startup_group .h_dsc2,.tutorial_area2 h5{font-size:12px;line-height:36px;letter-spacing:-1px;font-weight:bold;color:#5184df}
.startup_group .p_dsc2{display:inline-block;margin-top:11px;color:#5184df;text-decoration:underline}
.p_dsc{line-height:18px;color:#666}
.h_intro{background:url(../img/spr_home_h.png) no-repeat 0 0}
.startup_area3 h4:first-child{margin-top:32px}
.startup_area3 .h_dsc{margin-top:37px;line-height:30px;letter-spacing:-1px}
.startup_area3 .p_dsc,.tutorial_area2 .adu_list li a{line-height:19px;color:#666}
.tutorial_area2 .adu_list ul{margin-top:-6px}
.startup_area3 .h_dsc2{margin:14px 0 4px;line-height:14px;letter-spacing:-1px;font-weight:bold;color:#5184df}
.startup_area3 dd.p_dsc{padding-left:14px;background:url(../img/spr_home_spot.png) no-repeat 0 -11px}
.tutorial_area2 .adu_moviv a{position:relative;overflow:hidden;display:block;color:#666;cursor:pointer}
.tutorial_area2 .adu_moviv a img{float:left}
.tutorial_area2 .adu_moviv .desc{float:right;margin-right:50px;font-size:12px;color:#666;line-height:18px}
.tutorial_area2 .adu_moviv .desc strong{display:block;margin-bottom:7px;color:#333;line-height:14px}
.tutorial_area2 .adu_moviv .btn_play2{overflow:hidden;position:absolute;top:40px;left:4px;width:27px;height:27px;text-indent:-9000px;background:url(../img/btn_play_v2.png) no-repeat}
.startup_group2 .ad_ques1 dd.p_dsc{padding-left:9px;letter-spacing:-1px;background:url(../img/spr_home_spot.png) no-repeat 0 -27px}
.startup_group2 .h_dsc{margin-bottom:5px;font-size:11px;line-height:18px;letter-spacing:-1px;color:#333}
.startup_group2 .p_dsc{line-height:18px;font-size:11px;color:#666;letter-spacing:-1px}
.startup_group2 .p_dsc2{margin-top:5px;line-height:24px;font-size:11px;letter-spacing:-1px}
.startup_group2 .p_dsc2 a{color:#568adf;text-decoration:underline}
.startup_group2 .ad_ques3 .p_dsc span{margin-left:50px}
.startup_group2 .ad_ques3 .p_dsc{letter-spacing:-1px}
.startup_group2 .ad_ques3 .p_dsc2{color:#666;letter-spacing:0}
.startup_group2 .ad_ques3 .p_dsc em{letter-spacing:0;font-weight:bold;color:#333}

/* 키워드광고 뮤비나열 */
.movie_li_bx .h_li{overflow:hidden;height:14px;padding:10px 20px;background:url(../img/sp_bg.gif) repeat-x 0 0;border-right:1px solid  #d7d7d7;border-bottom:1px solid #c1c2c5;border-left:1px solid  #d7d7d7}
.movie_li_bx .h_spot{display:inline-block;margin-right:6px;width:16px;height:16px;background:url(../img/spr_home.png) no-repeat 0 0;vertical-align:top;line-height:999px}
.movie_li_bx .movi_area{height:100px;padding:20px 19px;border-right:1px solid #e8e9ea;border-bottom:1px solid #c9c9c9;border-left:1px solid #e8e9ea;background-color:#f3f5f6}
.movi_bx1,.movi_bx2,.movi_bx3,.movi_bx4{overflow:hidden;float:left;width:188px;height:120px;background:transparent 
url(../img/spr_home.png) no-repeat 110% -178px;text-align:center}
.movi_bx1.on,.movi_bx2.on,.movi_bx3.on,.movi_bx4.on{background-position:160px -178px}
.movi_bx3,.movi_bx3 .movi_step.on{width:150px}
.movi_area .movi_step{position:relative;float:left;width:150px}
.movi_area .movi_step img{display:block;padding:4px;width:140px;height:74px;border:1px solid #d7d7d7;background-color:#fff}
.movi_area .on .movi_step img{padding:4px;width:140px;height:74px;border:1px solid #5184df;background-color:#fff;text-align:left}
.movi_area .movi_tit,.movi_area .on .movi_tit{overflow:hidden;display:inline-block;margin:0 auto;height:21px;background:url(../img/spr_home_admovi.png) no-repeat;line-height:9000px}
.movi_bx1 .movi_tit{width:59px;background-position:0 -30px}
.movi_bx2 .movi_tit{width:99px;background-position:-75px -30px}
.movi_bx3 .movi_tit{width:97px;background-position:-180px -30px}
.movi_bx4 .movi_tit{width:97px;background-position:-280px -30px}
.movi_bx1.on .movi_tit{width:59px;background-position:0 0}
.movi_bx2.on .movi_tit{width:99px;background-position:-75px 0}
.movi_bx3.on .movi_tit{width:97px;background-position:-180px 0}
.movi_bx4.on .movi_tit{width:97px;background-position:-280px 0}
.movi_area_v2 .movi_bx1.on .movi_tit{width:85px;background-position:0 -60px}
.movi_area_v2 .movi_bx2.on .movi_tit{width:94px;background-position:-90px -60px}
.movi_area_v2 .movi_bx3.on .movi_tit{width:97px;background-position:-190px -60px}
.movi_area_v2 .movi_bx4.on .movi_tit{width:95px;background-position:-300px -60px}
.movi_area_v2 .movi_bx1 .movi_tit{width:85px;background-position:0 -90px}
.movi_area_v2 .movi_bx2 .movi_tit{width:94px;background-position:-90px -90px}
.movi_area_v2 .movi_bx3 .movi_tit{width:97px;background-position:-190px -90px}
.movi_area_v2 .movi_bx4 .movi_tit{width:95px;background-position:-300px -90px}
.movi_area .btn_play3{overflow:hidden;position:absolute;top:29px;left:68px;width:22px;height:29px;text-indent:-9000px;background:url(../img/btn_play_v3.png) no-repeat;cursor:pointer}
 
 /* 버튼 */
.sub_home_wrap .btn_bx{clear:both;margin-top:30px;text-align:center}
.sub_home_wrap .btn_bx a{overflow:hidden;display:inline-block;height:38px;background:transparent url(../img/spr_home.png) no-repeat}
.sub_home_wrap .btn_bx a.ad_move{width:131px;margin-right:10px;background-position:0 -20px}
.sub_home_wrap .btn_bx a.ad_system_go{width:181px;background-position:0 -70px}

