@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* snb :: [정보센터] */
.info span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_infosquare.png) no-repeat;line-height:999em;vertical-align:middle}
.info h2 span.tx{width:62px;height:17px;background-position:0 0}
.info .nav .m1 span.tx{width:71px;height:13px;background-position:0 -20px}
.info .nav .m1 .sub_m1 span.tx{width:53px;height:12px;background-position:0 -40px}
.info .nav .m1 .sub_m2 span.tx{width:64px;height:12px;background-position:0 -60px}
.info .nav .m1 .sub_m3 span.tx{width:62px;height:12px;background-position:0 -80px}
.info .nav .m1 .sub_m4 span.tx{width:74px;height:12px;background-position:0 -100px}
.info .nav .m2 span.tx{width:64px;height:12px;background-position:0 -120px}
.info .nav .m2 .sub_m1 span.tx{width:51px;height:12px;background-position:0 -140px}
.info .nav .m2 .sub_m2 span.tx{width:52px;height:12px;background-position:0 -160px}
.info .nav .m2 .sub_m3 span.tx{width:62px;height:12px;background-position:0 -180px}
.info .nav .m2 .sub_m4 span.tx{width:58px;height:12px;background-position:0 -200px}
.info .nav .m3 span.tx{width:34px;height:13px;background-position:0 -220px}
.info .nav .m3 .sub_m1 span.tx{width:41px;height:12px;background-position:0 -240px}
.info .nav .m3 .sub_m2 span.tx{width:82px;height:11px;background-position:0 -280px}

.info .nav .m1.select a.tit span.tx{background-position:-100px -20px}
.info .nav .m1 .sub_m1.on span.tx{background-position:-100px -40px}
.info .nav .m1 .sub_m2.on span.tx{background-position:-100px -60px}
.info .nav .m1 .sub_m3.on span.tx{background-position:-100px -80px}
.info .nav .m1 .sub_m4.on span.tx{background-position:-100px -100px}
.info .nav .m2.select a.tit span.tx{background-position:-100px -120px}
.info .nav .m2 .sub_m1.on span.tx{background-position:-100px -140px}
.info .nav .m2 .sub_m2.on span.tx{background-position:-100px -160px}
.info .nav .m2 .sub_m3.on span.tx{background-position:-100px -180px}
.info .nav .m2 .sub_m4.on span.tx{background-position:-100px -200px}
.info .nav .m3.select a.tit span.tx{background-position:-100px -220px}
.info .nav .m3 .sub_m1.on span.tx{background-position:-100px -240px}
.info .nav .m3 .sub_m2.on span.tx{background-position:-100px -280px}

/* 서브 타이틀 공통 :: [정보센터] */
h2.h_info span.tx{background:url(../img/spr_h_infosquare.png) no-repeat}

/* Adist 캐스트 && Adist 칼럼  공통 :: [정보센터] */
.info_adcast .tabs_area,.info_adcolumn .tabs_area{padding-bottom:20px;border-bottom:2px solid #2c2f39}
.info_adcast .tabs_view_lst,.info_adcolumn .tabs_view_lst{overflow:hidden;padding:17px 0 18px 39px;border:1px solid #e3e3e3}
.info_adcast .tabs_view_lst .selectbox-box,.info_adcolumn .tabs_view_lst .selectbox-box{float:left;width:80px;background:url(../img/sp_select_bg2.png) no-repeat}
.info_adcast .tabs_view_lst .combo_lst,.info_adcolumn .tabs_view_lst .combo_lst{padding-top:18px}
.info_adcast .tabs_view_lst ul,.info_adcolumn .tabs_view_lst ul{overflow:hidden;zoom:1}
.info_adcast .tabs_view_lst .combo_lst:first-child,.info_adcolumn .tabs_view_lst .combo_lst:first-child{padding-top:0}
.info_adcast .tabs_view_lst li,.info_adcolumn .tabs_view_lst li{overflow:hidden;text-overflow:ellipsis;float:left;width:100px;letter-spacing:-1px}
.info_adcast .tabs_view_lst li a,.info_adcolumn .tabs_view_lst li a{color:#666;white-space:nowrap}
.info_adcast .tabs_view .combo_lst,.info_adcolumn .tabs_view .combo_lst{float:left;width:610px;padding-top:5px;*padding-top:7px}
.info_adcast .tabs_view li:first-child,.info_adcolumn .tabs_view li:first-child{margin-left:30px}
.info_adcast .tabs_view li,.info_adcolumn .tabs_view li{width:70px;margin-left:15px}
.info_adcast .menu_area,.info_adcolumn .menu_area{overflow:hidden;padding:7px 7px 0 0;zoom:1}
.info_adcast .tb_lst,.info_adcolumn .tb_lst{margin-top:9px}
.info_adcast .tb_lst ul,.info_adcolumn .tb_lst ul{margin-bottom:25px}
.info_adcast .paging_imsch,.info_adcolumn .paging_imsch{margin-bottom:25px}

/* Adist 소개 && 지난 Adist 공통 :: [정보센터] */
.adist_area .section,.adist_area .section2{overflow:hidden;zoom:1}
.adist_area .section .adist_btn{overflow:hidden;float:left;width:503px;height:268px;background:url(../img/spr_visual_infosquare.jpg) no-repeat}
.adist_area .section .adist2_btn{overflow:hidden;float:left;width:503px;height:268px;background:url(../img/spr_visual_infosquare2.jpg) no-repeat}
.adist_area .section .adist3_btn{overflow:hidden;float:left;width:503px;height:268px;background:url(../img/spr_visual_infosquare3.jpg) no-repeat}
.adist_area .section li{float:left;margin-top:-1px}
.adist_area .section .odd{width:252px}
.adist_area .section .even{margin-left:-1px;width:252px}
.adist_area .section .m1,.adist_area .section .m2{margin-top:0}
.adist_area .section a{display:block;height:90px;text-indent:-9999em}

.adist_area .section .adist_btn a:hover,.adist_area .section .adist_btn .on a{background:url(../img/spr_visual_infosquare.jpg) no-repeat}
.adist_area .section .m1 a:hover,.adist_area .section .m1.on a{background-position:0 -284px}
.adist_area .section .m2 a:hover,.adist_area .section .m2.on a{background-position:-251px -284px}
.adist_area .section .m3 a:hover,.adist_area .section .m3.on a{background-position:0 -373px}
.adist_area .section .m4 a:hover,.adist_area .section .m4.on a{background-position:-251px -373px}
.adist_area .section .m5 a:hover,.adist_area .section .m5.on a{background-position:0 -462px}
.adist_area .section .m6 a:hover,.adist_area .section .m6.on a{background-position:-251px -462px}

.adist_area .section .adist2_btn a:hover,.adist_area .section .adist2_btn .on a{background:url(../img/spr_visual_infosquare2.jpg) no-repeat}
.adist_area .section .adist2_btn .m1 a:hover,.adist_area .section .adist2_btn .m1.on a{background-position:0 -285px}
.adist_area .section .adist2_btn .m2 a:hover,.adist_area .section .adist2_btn .m2.on a{background-position:-251px -285px}
.adist_area .section .adist2_btn .m3 a:hover,.adist_area .section .adist2_btn .m3.on a{background-position:0 -374px}
.adist_area .section .adist2_btn .m4 a:hover,.adist_area .section .adist2_btn .m4.on a{background-position:-251px -374px}
.adist_area .section .adist2_btn .m5 a:hover,.adist_area .section .adist2_btn .m5.on a{background-position:0 -463px}
.adist_area .section .adist2_btn .m6 a:hover,.adist_area .section .adist2_btn .m6.on a{background-position:-251px -463px}

.adist_area .section .adist3_btn a:hover,.adist_area .section .adist3_btn .on a{background:url(../img/spr_visual_infosquare3.jpg) no-repeat}
.adist_area .section .adist3_btn .m1 a:hover,.adist_area .section .adist3_btn .m1.on a{background-position:0 -285px}
.adist_area .section .adist3_btn .m2 a:hover,.adist_area .section .adist3_btn .m2.on a{background-position:-251px -285px}
.adist_area .section .adist3_btn .m3 a:hover,.adist_area .section .adist3_btn .m3.on a{background-position:0 -374px}
.adist_area .section .adist3_btn .m4 a:hover,.adist_area .section .adist3_btn .m4.on a{background-position:-251px -374px}
.adist_area .section .adist3_btn .m5 a:hover,.adist_area .section .adist3_btn .m5.on a{background-position:0 -463px}
.adist_area .section .adist3_btn .m6 a:hover,.adist_area .section .adist3_btn .m6.on a{background-position:-251px -463px}
.adist_area .section .tit{float:left;width:253px;height:268px;background:url(../img/tit_the_adist.jpg) no-repeat}
.adist_area .section .tit2{float:left;width:253px;height:268px;background:url(../img/tit_the_adist2.jpg) no-repeat}
.adist_area .section .tit3{float:left;width:253px;height:268px;background:url(../img/tit_the_adist3.jpg) no-repeat}

.adist_area .section2{margin-bottom:45px;border-bottom:1px solid #ccc}
.adist_area .section2 .adist_txt_lst{float:left;width:455px;margin-top:39px;padding-left:1px}
.adist_area .section2 .adist_txt_lst li{margin-bottom:33px}
.adist_area .section2 .adist_txt_lst li dl{letter-spacing:-1px}
.adist_area .section2 .adist_txt_lst li dt{margin-bottom:6px;font-size:15px;font-weight:bold}
.adist_area .section2 .adist_txt_lst li dd{margin-bottom:25px;line-height:23px;color:#666}
.adist_area .section2 .person{height:60px;margin:22px 0 22px 0}
.adist_area .section2 .person dt{margin-bottom:10px;font-size:15px}
.adist_area .section2 .person dt a{color:#28292d}
.adist_area .section2 .person dd{font-size:11px;line-height:18px;color:#b2b2b2}
.adist_area .section2 .person dd a{color:#b2b2b2}

.adist_area .photo_area{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare.jpg) no-repeat}
.adist_area .photo_area2{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare2.jpg) no-repeat}
.adist_area .photo_area3{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare3.jpg) no-repeat}
.adist_area .photo_area4{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare4.jpg) no-repeat}
.adist_area .photo_area5{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare5.jpg) no-repeat}
.adist_area .photo_area6{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare6.jpg) no-repeat}
.adist_area .photo_area7{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare7.jpg) no-repeat}
.adist_area .photo_area8{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare8.jpg) no-repeat}
.adist_area .photo_area9{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare9.jpg) no-repeat}
.adist_area .photo_area10{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare10.jpg) no-repeat}
.adist_area .photo_area11{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare11.jpg) no-repeat}
.adist_area .photo_area12{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare12.jpg) no-repeat}
.adist_area .photo_area13{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare13.jpg) no-repeat}
.adist_area .photo_area14{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare14.jpg) no-repeat}
.adist_area .photo_area15{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare15.jpg) no-repeat}
.adist_area .photo_area16{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare16.jpg) no-repeat}
.adist_area .photo_area17{float:right;position:relative;width:253px;height:555px;background:url(../img/spr_visual2_infosquare17.jpg) no-repeat}
.adist_area .paging{position:absolute;top:253px;left:0;width:101px;height:13px;padding:16px 0;background:url(../img/bg_visual2_infosquare.png) no-repeat;text-align:center}
.adist_area .paging .num{font-family:tahoma;font-size:15px;line-height:1;color:#fff;letter-spacing:1px;vertical-align:middle}
.adist_area .paging a{display:inline-block;width:8px;height:13px;margin-left:8px;background:url(../img/btn_photo.png) no-repeat;text-indent:-9999em;vertical-align:middle}
.adist_area .paging a.prev{background-position:0 0}
.adist_area .paging a.next{background-position:100% 0}

/* 전문가칼럼 & 인터뷰 :: [정보센터] */
.info_main h2 span.tx{width:141px;height:17px;background-position:0 -25px}
.info_main .expert_itv{overflow:hidden;height:222px;border:1px solid;border-width:0 1px 1px;border-color:transparent #eaeced #c3c6cb;zoom:1}
.info_main .expert_group{float:left;width:502px;border-right:1px solid #e8e8e8}
.info_main .inner{overflow:hidden;position:relative;padding:23px 0 23px 30px;height:140px;background-color:#fcfcfc;zoom:1}
.info_main .expert_group h3{margin-bottom:12px}
.info_main .expert_group h3 span.tx{display:block;overflow:hidden;width:61px;height:13px;background:url(../img/spr_h.png) no-repeat 0 -345px;line-height:999em}
.info_main .expert_group .pic{float:left}
.info_main .expert_group dl{float:left;width:205px;margin-left:17px}
.info_main .expert_group dt{margin-top:7px;font-weight:bold}
.info_main .expert_group dt a{color:#000;white-space:nowrap}
.info_main .expert_group dd{margin-top:12px;line-height:1.4}
.info_main .expert_group dd a{color:#666;letter-spacing:-1px}
.info_main .expert_group dd.date{font-family:tahoma;color:#999}
.info_main .expert_group a.more{overflow:hidden;position:absolute;top:25px;right:24px;width:37px;height:10px;background:url(../img/spr_btn.png) no-repeat -263px -285px;line-height:999em}
.info_main .expert_lst{clear:both;position:relative;padding-left:10px;border-top:1px solid #eaeced;background-color:#fafafa}
.info_main .expert_lst ul{overflow:hidden;height:35px;background:url(../img/bu_line8.gif) no-repeat 48% 50%;zoom:1}
.info_main .expert_lst li{float:left;width:222px;padding:11px 13px 11px 8px;background:url(../img/bu_dott.gif) no-repeat 12px 50%}
.info_main .expert_lst li a{display:block;padding:0 12px 0 10px;color:#666;white-space:nowrap}
* +html .info_main .expert_lst ul{background-position:50% 50%}
* +html .info_main .expert_lst li a{display:block}

.info_main .ad_itv{float:left;position:relative;width:202px;padding:23px 24px}
.info_main .ad_itv h3 span.tx{display:block;overflow:hidden;width:73px;height:13px;background:url(../img/spr_h.png) no-repeat 0 -360px;line-height:999em}
.info_main .ad_itv li{overflow:hidden;padding:13px 0;border-top:1px solid #f5f5f6;zoom:1}
.info_main .ad_itv li:first-child{border-top:0}
.info_main .ad_itv p{float:left}
.info_main .ad_itv .pic{width:83px;margin-left:0}
.info_main .ad_itv .txt{width:109px;margin:2px 0 0 9px}
.info_main .ad_itv .txt a{white-space:nowrap}
.info_main .ad_itv p a{line-height:1.4;color:#545454;letter-spacing:-1px}
.info_main .ad_itv li .company,.info_main .ad_itv li .ceo{display:block;float:left;margin-left:9px;width:109px;font-size:11px;letter-spacing:-1px}
.info_main .ad_itv .company{margin-top:8px}
.info_main .ad_itv .company a{color:#89b1f3;white-space:nowrap}
.info_main .ad_itv .ceo{margin-top:4px;color:#999;white-space:nowrap}
.info_main .ad_itv a.more{overflow:hidden;position:absolute;top:25px;right:24px;width:37px;height:10px;background:url(../img/spr_btn.png) no-repeat -263px -285px;line-height:999em}

.info_main h2.the_ad{margin-top:20px}
.info_main h2.the_ad span.tx{width:75px;height:15px;background:url(../img/spr_h_infosquare.png) no-repeat 0 -150px}
.info_main .ad_group{position:relative;height:236px;border:1px solid;border-width:0 1px 1px 0;border-color:transparent #e9ebec #c1c5ca transparent;background-color:#fcfcfc}
.info_main .tit{float:left;width:251px;height:236px}
.info_main .ed{float:left;width:201px;height:218px;padding:18px 25px 0}
.info_main .column{border-right:1px solid #ededed}
.info_main .column h3 span.tx{display:block;overflow:hidden;width:72px;height:13px;background:url(../img/spr_h.png) no-repeat 0 -375px;text-indent:-9999em}
.info_main .cast h3 span.tx{display:block;overflow:hidden;width:85px;height:13px;background:url(../img/spr_h.png) no-repeat 0 -390px;text-indent:999em}
.info_main .ed ul{margin-top:12px}
.info_main .ed li{overflow:hidden;margin-top:20px;zoom:1}
.info_main .ed li:first-child{margin-top:0}
.info_main .ed .pic{float:left}
.info_main .ed dl{float:left;width:145px;padding:8px 0 0 8px}
.info_main .ed dt,.info_main .ed dd{overflow:hidden;text-overflow:ellipsis}
.info_main .ed dt a,.info_main .ed dd a{white-space:nowrap}
.info_main .ed dt a{text-decoration:none}
.info_main .ed dt a:hover{text-decoration:underline}
.info_main .ed dd{margin-top:8px}
.info_main .ed dd a{color:#666;letter-spacing:-1px}
.info_main .ad_group a.more{overflow:hidden;position:absolute;top:-22px;right:3px;width:37px;height:10px;background:url(../img/spr_btn.png) no-repeat -263px -285px;line-height:999em}

.info_main h2.keyword_trd{margin-top:20px}
.info_main h2.keyword_trd span.tx{width:93px;height:17px;background:url(../img/spr_h_infosquare.png) no-repeat 0 -375px}
.info_main .keyword_group{position:relative;height:156px;border-bottom:1px solid #cecece}
.info_main .keyword_group .pic{float:left;width:250px;height:100%;border-right:1px solid #f0f0f0;background-color:#f8f8f8;text-align:center}
.info_main .keyword_group .pic a{display:block;height:100%}
.info_main .keyword_group .section{float:left;width:455px;padding:24px 22px 28px}
.info_main .keyword_group h3 span.tx{display:block;width:67px;height:12px;background:url(../img/spr_h.png) no-repeat 0 -405px;text-indent:-9999em}
.info_main .keyword_group dl{margin-top:11px}
.info_main .keyword_group dt{font-weight:bold}
.info_main .keyword_group dt a{color:#222}
.info_main .keyword_group dd{margin-top:9px}
.info_main .keyword_group dd a{line-height:1.6;color:#999;letter-spacing:-1px}
.info_main .keyword_group .section p{margin-top:7px}
.info_main .keyword_group .date{margin-right:7px;padding-right:6px;background:url(../img/bg_bar4.gif) no-repeat 100% 50%;font-family:tahoma}
.info_main .keyword_group a.more{overflow:hidden;position:absolute;top:-22px;right:3px;width:37px;height:10px;background:url(../img/spr_btn.png) no-repeat -263px -285px;line-height:999em}
.info_main .bnr{margin:20px 0 40px}
.info_main .bnr ul{overflow:hidden;width:100%;zoom:1}
.info_main .bnr li{float:left;border:1px solid #eaeced}
.info_main .bnr .news_letter{border-right:0}
.info_main .use_guide{margin-bottom:115px}

/* 전문가 칼럼 :: [정보센터] */
.info_expert h2 span.tx{width:80px;height:17px;background-position:0 -50px}
.info_expert .divide_group{overflow:hidden;margin-top:14px;zoom:1}
.info_expert .article{float:left}
.info_expert .article2{float:right}
.info_expert .section{width:319px;height:166px;padding:20px 27px 0;border:1px solid #e7e7ea;border-width:1px 1px 0}
.info_expert .section h3{margin-bottom:13px}
.info_expert .section h3 span.tx{display:block;background:url(../img/spr_h.png) no-repeat;text-indent:-9999em}
.info_expert .section p.pic{float:left}
.info_expert .section dl{float:left;width:181px;margin:4px 0 0 19px}
.info_expert .section dt a{font-weight:bold;color:#222;letter-spacing:-1px;white-space:nowrap}
.info_expert .section dd{margin-top:9px}
.info_expert .section dd a{line-height:1.6;color:#888;letter-spacing:-1px}
.info_expert .divide_group .dsc{clear:both;padding:11px 0 13px 24px;border:1px solid;border-color:#f2f2f4 #e7e7ea #c6c7cb;background-color:#fcfcfc}
.info_expert .divide_group .dsc span{vertical-align:middle}
.info_expert .divide_group .dsc .date{padding-right:6px;background:url(../img/bu_adu_line.gif) no-repeat 100% 50%;font-family:tahoma;color:#979797}
.info_expert .divide_group .dsc .part{padding-left:2px;color:#666}
.info_expert .divide_group .dsc .name{margin-left:1px;color:#999}
.info_expert .month h3 span.tx{width:62px;height:13px;background-position:-100px -345px}
.info_expert .recommend h3 span.tx{width:50px;height:13px;background-position:-100px -360px}
.info_expert .tabs{margin-top:21px}
.info_expert .menu_area{overflow:hidden;zoom:1}
.info_expert .paging_imsch{margin-bottom:126px}

/* 광고주 인터뷰 :: [정보센터] */
.info_itv h2 span.tx{width:95px;background-position:0 -75px}
.info_itv .movie_group{margin-top:14px}
.info_itv .movie_group h3 span.tx{display:block;width:132px;height:13px;background:url(../img/spr_h.png) no-repeat -100px -375px;text-indent:-9999em}
.info_itv .movie_group ul{margin-top:15px}
.info_itv .movie_group li{width:240px;margin-left:18px}
.info_itv .movie_group li:first-child{margin-left:0}
.info_itv .movie_group dl{padding:16px 25px;text-align:right}
.info_itv .movie_group dd a{white-space:nowrap}
.info_itv .tabs{margin-top:20px}
.info_itv .menu_area{overflow:hidden;padding:8px 6px 0;zoom:1}
.info_itv .tb_lst{margin-top:8px}
.info_itv .tb_lst ul{margin-bottom:25px}
.info_itv .paging_imsch{margin-bottom:40px}

/* 키워드 트렌드 :: [정보센터] */
.info_trend h2 span.tx{width:95px;height:17px;background-position:0 -100px}
.info_trend .divide_group{overflow:hidden;margin-top:14px;*padding-top:14px;padding-bottom:21px;border-bottom:2px solid #2c2f39;zoom:1}
.info_trend .article{float:left}
.info_trend .article2{float:right}
.info_trend .section{width:319px;height:166px;padding:20px 27px 0;border:1px solid #e7e7ea;border-width:1px 1px 0}
.info_trend .section h3{margin-bottom:13px}
.info_trend .section h3 span.tx{display:block;background:url(../img/spr_h.png) no-repeat;text-indent:-9999em}
.info_trend .section p.pic{float:left}
.info_trend .section dl{float:left;width:181px;margin:4px 0 0 19px}
.info_trend .section dt a{font-weight:bold;color:#222;letter-spacing:-1px;white-space:nowrap}
.info_trend .section dd{margin-top:9px}
.info_trend .section dd a{line-height:1.6;color:#888;letter-spacing:-1px}
.info_trend .divide_group .dsc{clear:both;padding:11px 0 13px 24px;border:1px solid;border-color:#f2f2f4 #e7e7ea #c6c7cb;background-color:#fcfcfc}
.info_trend .divide_group .dsc span{vertical-align:middle}
.info_trend .divide_group .dsc .date{padding-right:6px;background:url(../img/bu_adu_line.gif) no-repeat 100% 50%;font-family:tahoma;color:#979797}
.info_trend .divide_group .dsc .part{padding-left:2px;color:#666}
.info_trend .divide_group .dsc .name{margin-left:1px;color:#999}
.info_trend .keyword_trend h3 span.tx{width:115px;height:13px;background-position:-100px -390px}
.info_trend .sector_trend h3 span.tx{width:90px;height:13px;background-position:-100px -405px}
.info_trend .menu_area{overflow:hidden;zoom:1}
.info_trend .paging_imsch{margin-bottom:126px}

/* 전자상거래뉴스 :: [정보센터] */
.info_enews h2{border-bottom:0}
.info_enews h2 span.tx{width:110px;height:17px;background-position:0 -125px}

/* Adist 소개 :: [정보센터] */
.info_intro h2 span.tx{width:71px;height:17px;background-position:0 -175px}

/* Adist 칼럼 :: [정보센터] */
.info_adcolumn h2 span.tx{width:71px;height:17px;background-position:-150px 0}
.info_adcolumn .success_group h3 span.tx{display:block;overflow:hidden;width:66px;height:15px;margin:0 0 15px 25px;background:url(../img/spr_h_infosquare.png) no-repeat -150px -160px;line-height:999em}
.info_adcolumn .success_group .section dt{padding-bottom:9px;font-weight:bold;font-size:14px;color:#333}
.info_adcolumn .success_area .tit{background:url(../img/tit_success_story2.png) no-repeat}

/* Adist 캐스트 :: [정보센터] */
.info_adcast{position:relative}
.info_adcast h2 span.tx{width:87px;height:17px;background-position:-150px -60px}
.info_adcast .success_group h3 span.tx{display:block;overflow:hidden;width:66px;height:15px;margin:0 0 15px 25px;background:url(../img/spr_h_infosquare.png) no-repeat -150px -80px;line-height:999em}
.info_adcast .success_group .section dt{padding-bottom:9px;font-weight:bold;font-size:14px;color:#333}
.info_adcast .success_area .tit{position:relative;background:url(../img/tit_success_secret.png) no-repeat}

/* 지난 Adist :: [정보센터] */
.info_pastad h2 span.tx{width:73px;height:17px;background-position:-150px -140px}
.info_pastad .section .tit .selectbox-box{width:180px;height:28px;margin:195px 0 0 36px;background:url(../img/sp_select_bg4.png) no-repeat}
.info_pastad .section .tit .selectbox-label{font-weight:bold;color:#fff}
.info_pastad .section .tit2 .selectbox-box{width:180px;height:28px;margin:195px 0 0 36px;background:url(../img/sp_select_bg4.png) no-repeat}
.info_pastad .section .tit2 .selectbox-label{font-weight:bold;color:#fff}

/* 뉴스레터 :: [정보센터] */
.info_news h2 span.tx{width:60px;height:17px;background-position:0 -300px}
.info_news .spot{padding:25px 0 25px;height:127px;background:url(../img/bg_spot_news_letter.png) no-repeat 0 50%;border-bottom:2px solid #2c2f39}
.info_news .info{margin-top:45px;padding:0 0 10px}
.info_news .info strong{font-weight:normal;color:#999;letter-spacing:-1px;vertical-align:middle}
.info_news .info em{color:#676b73}
.info_news .menu_area{overflow:hidden;padding:7px 7px 0 0;zoom:1}
.info_news .tb_lst{margin-top:9px}
.info_news .tb_lst ul{margin-bottom:25px}
.info_news .paging_imsch{margin-bottom:35px}

/* SEARCH N zine :: [정보센터] */
.info_nzine h2 span.tx{width:130px;height:17px;background-position:0 -351px}
.info_nzine .section,.info_nzine .section2{overflow:hidden;zoom:1}
.info_nzine .section{position:relative;padding-top:35px}
.info_nzine .spot{float:left;width:400px;height:185px;margin:18px 0 0 3px;background:url(../img/bg_spot_srch_nzine.png) no-repeat}
.info_nzine .section a{position:absolute;left:2px;bottom:21px;width:161px;height:49px;background:url(../img/spr_btn.png) no-repeat 0 -360px;text-indent:-9999em}
.info_nzine .section .book{float:right;margin-right:38px}
.info_nzine .section2{margin-top:36px}
.info_nzine .evt,.info_nzine .month_con{width:357px}
.info_nzine h3{padding-bottom:15px;border-bottom:2px solid #3f4349}
.info_nzine h3 span.tx{display:block;overflow:hidden;background:url(../img/spr_h_business.png) no-repeat;text-indent:-9999em}
.info_nzine .evt{float:left}
.info_nzine .evt h3 span.tx{width:126px;height:17px;background-position:-205px -700px}
.info_nzine .month_con{float:right}
.info_nzine .month_con h3 span.tx{width:145px;height:17px;background-position:-205px -720px}
.info_nzine .evt dl{margin-top:26px}
.info_nzine .evt dt span.tx{display:block;overflow:hidden;background:url(../img/spr_h_business.png) no-repeat;text-indent:-9999em}
.info_nzine .evt dd{margin-top:13px;line-height:1.8;color:#666;letter-spacing:-1px}
.info_nzine .evt dd.last{margin-top:0}
.info_nzine .evt dd em{color:#526f9f}
.info_nzine .evt_lst,.info_nzine .evt_lst2{position:relative;padding-bottom:30px;border-bottom:1px solid #e2e2e2}
.info_nzine .evt_lst{height:191px}
* +html .info_nzine .evt_lst{height:220px}
.info_nzine .evt_lst2{height:123px;border-bottom:0}
* +html .info_nzine .evt_lst2{height:147px}
.info_nzine .evt_dsc{overflow:hidden;padding:16px 23px 18px;border:1px solid #ededed;zoom:1}
.info_nzine .evt_dsc .qr,.info_nzine .evt_dsc .dsc{float:left}
.info_nzine .evt_dsc .dsc{width:225px;height:50px;margin:5px 0 0 15px}
.info_nzine .evt_dsc span.tx{display:block;height:100%;background:url(../img/spr_business_txt.png) no-repeat 0 -170px;text-indent:-9999em}
.info_nzine a.btn_evt{position:absolute;top:-4px;right:0;width:98px;height:23px;background:url(../img/spr_btn_business.png) no-repeat 0 -70px;text-indent:-9999em}
* +html .info_nzine a.btn_evt{top:22px}
.info_nzine .evt_lst dt span.tx{width:85px;height:13px;background-position:-205px -640px}
.info_nzine .evt_lst .info{margin-top:16px}
.info_nzine .evt_lst .info li{padding-top:10px;color:#666}
.info_nzine .evt_lst .info li:first-child{padding-bottom:0}
.info_nzine .evt_lst .info strong{display:inline-block;width:75px;color:#333}
.info_nzine .evt_lst .info span{letter-spacing:-1px}
.info_nzine .evt_lst2 dt span.tx{width:115px;height:13px;background-position:-205px -660px}
.info_nzine .month_con .lst{border-bottom:1px solid #c6c6c6}
.info_nzine .month_con .lst .month_lst{height:31px}
.info_nzine .month_con .lst .month_lst2{height:87px}
.info_nzine .month_con .lst .month_lst3{height:87px}
.info_nzine .month_con .lst .month_lst4{height:87px}
.info_nzine .month_con .lst li{overflow:hidden;padding:30px 0 26px;border-top:1px solid #ededed;zoom:1}
.info_nzine .month_con .lst li:first-child{border-top:0}
.info_nzine .month_con .pic{float:left;width:142px}
.info_nzine .month_con .nzine{float:left;width:190px}
.info_nzine .month_con .nzine dl{margin-top:19px}
.info_nzine .month_con .nzine dl:first-child{margin-top:0}
.info_nzine .month_con .nzine dt{font-weight:bold;color:#333;white-space:nowrap}
.info_nzine .month_con .nzine dd{margin-top:9px}
.info_nzine .month_con .nzine dd a{color:#666;letter-spacing:-1px;white-space:nowrap}
.info_nzine .btn_area{margin:60px 0 44px;text-align:center}
* +html .info_nzine .btn_area{border:1px solid #fff}
.info_nzine .btn_area a{display:inline-block;margin-right:7px}

/* 이용 안내 :: [정보센터] */
.info_use_guide h3 span.tx{display:block;overflow:hidden;height:22px;background:url(../img/spr_h_useguide.png) no-repeat;line-height:999em}

.info_use_guide .spot_use_guide{height:314px;padding:29px 0 50px;margin-bottom:45px;background-position:0 -685px}
.info_use_guide .ad_marketing{padding-bottom:25px;margin-bottom:54px;border-bottom:1px solid #ebebec}
.info_use_guide .ad_marketing h3{margin-bottom:29px}
.info_use_guide .ad_marketing dl{height:79px;padding:10px 0 0 124px;margin-bottom:20px;color:#666;line-height:1.5em;vertical-align:middle}
.info_use_guide .ad_marketing .marketing_lst1{margin-bottom:30px;padding-top:5px;background:url(../img/bg_admarketing_v1.png) no-repeat 0 50%}
.info_use_guide .ad_marketing .marketing_lst2{background:url(../img/bg_admarketing_v2.png) no-repeat}
.info_use_guide .ad_marketing .marketing_lst3{background:url(../img/bg_admarketing_v3.png) no-repeat}
.info_use_guide .ad_marketing .marketing_lst4{background:url(../img/bg_admarketing_v4.png) no-repeat}
.info_use_guide .ad_marketing dt{margin-bottom:5px;*margin:-10px 0 10px}
.info_use_guide .ad_marketing dt span.tx{display:inline-block;overflow:hidden;height:16px;background:url(../img/spr_h_useguide.png) no-repeat;line-height:999em}
.info_use_guide .ad_marketing .tx_color{color:#888}
.info_use_guide .marketing_lst1 dt span.tx{width:73px;background-position:0 -30px}
.info_use_guide .marketing_lst1 .link_v1{margin-right:26px}
.info_use_guide .marketing_lst1 .link_v2{margin-right:14px}
.info_use_guide .marketing_lst2 dt span.tx{width:88px;background-position:-80px -30px}
.info_use_guide .marketing_lst2 dd{width:590px}
.info_use_guide .marketing_lst3 dt span.tx{width:87px;background-position:-170px -30px}
.info_use_guide .marketing_lst3 dd{width:525px}
.info_use_guide .marketing_lst4 dt span.tx{width:102px;background-position:-260px -30px}
.info_use_guide .ad_marketing .arr_rgt a{display:inline-block;overflow:hidden;width:16px;height:16px;margin-left:6px;background:url(../img/spr_ico.png) no-repeat -125px -280px;*vertical-align:-11px;text-indent:999em}

.info_use_guide .ad_together{overflow:hidden;margin-bottom:38px}
.info_use_guide .ad_together h3{margin-bottom:9px}
.info_use_guide .ad_together h3 span.tx{width:266px;background-position:0 -50px}
.info_use_guide .ad_together p{overflow:hidden;position:relative;height:14px;margin-bottom:40px;background:url(../img/spr_txt_useguide.png) no-repeat 0 -50px;line-height:999em}
.info_use_guide .ad_together div{background:url(../img/spr_visual_useguide.png) no-repeat;color:#666;line-height:1.6}
.info_use_guide .ad_together dt{display:block;overflow:hidden;height:16px;margin:188px 0 14px;background:url(../img/spr_h_useguide.png) no-repeat;line-height:999em}
.info_use_guide .ad_together .btn_spang a{display:block;overflow:hidden;height:28px;margin:16px 0 27px;background:url(../img/spr_btn_useguide.png) no-repeat;line-height:999em}
.info_use_guide .ad_together .adist_calumn{width:330px;float:left;margin-right:48px;background-position:6px -530px}
.info_use_guide .ad_together .adist_calumn dt{width:87px;background-position:0 -80px}
.info_use_guide .ad_together .adist_calumn .btn_spang a{width:98px;background-position:0 0}
.info_use_guide .ad_together .adist_cast{width:347px;float:left;background-position:-337px -530px}
.info_use_guide .ad_together .adist_cast dt{width:101px;background-position:-95px -80px}
.info_use_guide .ad_together .adist_cast .btn_spang a{width:107px;background-position:0 -35px}
.info_use_guide .ad_together .answer{padding:7px 8px 18px;background:none;border-top:1px solid #f2f2f2;border-bottom:1px solid #ececee;line-height:0;clear:both}
.info_use_guide .ad_together .answer .bubble{width:30px;height:21px;margin-right:10px;background-position:-210px -265px;vertical-align:middle}
.info_use_guide .ad_together .answer span.tx{display:inline-block;overflow:hidden;width:475px;height:14px;margin-top:3px;background:url(../img/spr_txt_useguide.png) no-repeat 0 -70px;line-height:999em;vertical-align:middle}
.info_use_guide .ad_together .answer a{position:absolute;top:14px;right:10px;width:70px;height:12px;background:url(../img/spr_txt_useguide.png) no-repeat -200px -30px;text-indent:-9999em}

.info_use_guide .news_page{margin-bottom:145px}
.info_use_guide .news_page h3{margin-bottom:13px}
.info_use_guide .news_page h3 span.tx{width:55px;background-position:-280px -50px}

.info_use_guide .news_page ul{overflow:hidden;width:100%;zoom:1}
.info_use_guide .news_page li{float:left;width:376px;height:120px;border:1px solid #ececee}
.info_use_guide .news_page li:first-child{border-right:0}
.info_use_guide .news_page li a{display:block;width:376px;height:100px;padding-top:30px}
.info_use_guide .news_page strong{margin:0 0 15px 20px}
.info_use_guide .news_page strong.tx{display:block;overflow:hidden;height:16px;background:url(../img/spr_h_useguide.png) no-repeat;text-indent:-9999em}
.info_use_guide .news_page .news_letter strong.tx{width:106px;background-position:0 -100px}
.info_use_guide .news_page .serch_n_zine strong.tx{width:121px;background-position:-120px -100px}
.info_use_guide .news_page .news_letter{background:url(../img/bg_news_letter3.png) no-repeat 223px 50%}
.info_use_guide .news_page .serch_n_zine{background:url(../img/bg_serch_n_zine3.png) no-repeat 93% 50%}
.info_use_guide .news_page  ul span.tx{display:block;overflow:hidden;height:50px;margin-left:20px;background:url(../img/spr_txt_useguide.png) no-repeat;text-indent:-9999em}
.info_use_guide .news_page .news_letter span.tx{width:182px;background-position:0 -90px}
.info_use_guide .news_page .serch_n_zine span.tx{width:182px;background-position:-200px -90px}