@charset "utf-8";
/* HiveLab Web Standard Team BUR 120912 */
/* 내정보 */
select{font-size:12px}

/* snb 네비게이션 :: [내정보] */
.myinfo span.tx{display:inline-block;overflow:hidden;background:url(../img/spr_snb_myinfo.png) no-repeat;line-height:999em;vertical-align:middle}
.myinfo h2 span.tx{width:49px;height:17px}
.myinfo .nav .m1 span.tx{width:50px;height:14px;background-position:0 -20px}
.myinfo .nav .m1 .sub_m1 span.tx{width:75px;height:12px;background-position:0 -40px}
.myinfo .nav .m1 .sub_m2 span.tx{width:41px;height:12px;background-position:0 -60px}
.myinfo .nav .m1 .sub_m3 span.tx{width:40px;height:12px;background-position:0 -80px}
.myinfo .nav .m2 span.tx{width:50px;height:14px;background-position:0 -100px}
.myinfo .nav .m2 .sub_m1 span.tx{width:53px;height:12px;background-position:0 -120px}
.myinfo .nav .m2 .sub_m2 span.tx{width:64px;height:12px;background-position:0 -140px}
.myinfo .nav .m3 span.tx{width:50px;height:14px;background-position:0 -160px}
.myinfo .nav .m4 span.tx{width:50px;height:14px;background-position:0 -180px}
.myinfo .nav .m4 .sub_m1 span.tx{width:55px;height:12px;background-position:0 -200px}
.myinfo .nav .m4 .sub_m2 span.tx{width:65px;height:12px;background-position:0 -220px}
.myinfo .nav .m5 span.tx{width:46px;height:14px;background-position:0 -240px}
.myinfo .nav .m6 span.tx{width:48px;height:14px;background-position:0 -260px}
.myinfo .nav .bl{display:inline-block;width:12px;height:11px;margin:-1px 0 1px 6px;background:url(../img/spr_snb_myinfo.png) no-repeat 0 -280px;vertical-align:middle}

.myinfo .nav .m1 .sub_m1.on span.tx{background-position:-90px -40px}
.myinfo .nav .m1 .sub_m2.on span.tx{background-position:-90px -60px}
.myinfo .nav .m1 .sub_m3.on span.tx{background-position:-90px -80px}
.myinfo .nav .m2 .sub_m1.on span.tx{background-position:-90px -120px}
.myinfo .nav .m2 .sub_m2.on span.tx{background-position:-90px -140px}
.myinfo .nav .m3.on span.tx{background-position:-90px -160px}
.myinfo .nav .m4 .sub_m1.on span.tx{background-position:-90px -200px}
.myinfo .nav .m4 .sub_m2.on span.tx{background-position:-90px -220px}
.myinfo .nav .m5.on span.tx{background-position:-90px -240px}
.myinfo .nav .m6.on span.tx{background-position:-90px -260px}

/* 타이틀 */
.sub_conwrap h2 span.tx{width:113px;height:17px;background:url(../img/spr_h_myinfo.png) no-repeat}
.sub .modifyinfo h2 span.tx{background-position:0 0}
.sub .quit h2 span.tx{background-position:0 -20px}
.sub .basicinfo h2{border:none}
.sub .basicinfo h2 span.tx{background-position:0 -40px}
.sub .careerinfo h2 span.tx{background-position:0 -60px}
.sub .careerinfo h2.apply_career span.tx{background-position:0 -80px}
.careerinfo h2.inquiry_career span.tx{background-position:0 -100px}
.sub .careerinfo h2.mail_career span.tx{background-position:0 -120px}
.sub .inform_set_area h2 span.tx{background-position:0 -150px}
.sub .myinfo_home h2{border:0}
.sub .myinfo_home h2 span.tx{width:45px;background-position:-66px -150px}

/* 서브 타이틀 */
.modifyinfo{*zoom:1}
.modifyinfo h3,.quit h3,.basicinfo h3,.inform_set_area h3{height:16px;margin-top:23px;background:url(../img/spr_h2_myinfo.png) no-repeat}
.modifyinfo .basic_info h3{width:98px}
.modifyinfo .basic_info h3.h_info{width:72px;margin:0;background-position:-119px -414px}
.modifyinfo .business_info h3{width:53px;background-position:-130px -99px}
.modifyinfo .charge_info h3{width:67px;background-position:-130px -118px}
.modifyinfo .biz_chargenum h3{width:142px;margin-top:49px;background-position:0 -20px}
.modifyinfo .refund_num h3{width:85px;margin-top:45px;background-position:0 -40px}
.modifyinfo .tax_info h3{width:98px;margin-top:49px;background-position:0 -60px}
.modifyinfo .ageny_info h3{width:99px;margin-top:21px;background-position:0 -80px}
.modifyinfo .addirector_info h3{width:70px;margin-top:49px;background-position:0 -100px}
.modifyinfo .tax_change_info h3{width:154px;margin-top:4px;margin-bottom:-19px;background-position:0 -180px}
.modifyinfo .ab_human_info h3{width:142px;margin-top:4px;margin-bottom:-19px;background-position:0 -220px}
.modifyinfo .ab_info_change h3{width:142px;margin-top:4px;margin-bottom:-19px;background-position:0 -240px}
.quit .quit_info h3{width:98px;margin-top:22px;background-position:0 -120px}
.quit .check_status h3{width:86px;margin-top:46px;background-position:0 -140px}
.quit .check_bacisinfo h3{width:101px;margin-top:50px;background-position:0 -160px}
.basicinfo .ageny_info h3{width:113px;margin-top:28px;background-position:0 -80px}
.basicinfo .addirector_info h3{width:86px;margin-top:28px;background-position:0 -100px}
.inform_set h3{width:101px;margin-top:23px;background-position:-130px -40px}
.inform_set2 h3{margin-top:50px}
.promote h3{width:101px;margin-top:50px;background-position:-130px -61px}
.night_message h3{width:86px;margin-top:50px;background-position:-130px -80px}
.account h3{width:54px;margin-top:50px;background-position:-195px -414px}
.modifyinfo .agree_view h3{width:101px;margin-top:4px;margin-bottom:-19px;background-position:-130px -110px}

/* 테이블 th 제목 */
.tbl_info .lab{display:inline-block;margin-left:11px;vertical-align:top}
.tbl_info2 .lab{margin-left:23px}

/* 팝업 */
#pop_wrap.biz_change,#pop_wrap.refund_delete_info,#pop_wrap.result_changeinfo,#pop_wrap.result_quit,#pop_wrap.result_publish,#pop_wrap.result_refund{width:477px;border:1px solid #2a2d36}
#pop_wrap.refund_info,#pop_wrap.cell_ceti,#pop_wrap.refund_regist_info,#pop_wrap.refund_regist_biz,#pop_wrap.refund_regist,#pop_wrap.refund_delete,#pop_wrap.sms_cancel,#pop_wrap.rest_cycle,#pop_wrap.id_find,#pop_wrap.pw_find,#pop_wrap.pw_confirm,#pop_wrap.email_ceti,#pop_wrap.sch_zipcode{width:462px;border:1px solid #2a2d36}
#pop_wrap.ceti_info,#pop_wrap.resale_info{width:540px;border:1px solid #2a2d36}
#pop_header{overflow:hidden;height:49px;border:1px solid #444852;border-bottom:1px solid #2a2d36;background:#3a3e49}
#pop_header h1{margin:15px 0 0 24px;background:url(../img/spr_h_myinfo.png) no-repeat}
.email_ceti #pop_header h1{width:80px;background-position:-120px 0}
.cell_ceti #pop_header h1{width:81px;background-position:-120px -20px}
.sch_zipcode #pop_header h1{width:95px;background-position:-120px -40px}
.sms_cancel #pop_header h1{width:134px;background-position:-220px -60px}
.rest_cycle #pop_header h1{width:209px;background-position:-210px -20px}
.refund_info #pop_header h1{width:96px;background-position:-120px -60px}
.refund_regist_info #pop_header h1{width:126px;background-position:-120px -80px}
.refund_regist_biz #pop_header h1{width:234px;background-position:-120px -100px}
.refund_regist #pop_header h1{width:234px;background-position:-350px -120px}
.refund_delete #pop_header h1{width:96px;background-position:-120px -120px}
.refund_delete_info #pop_header h1{width:129px;background-position:-120px -160px}
.biz_change #pop_header h1{width:145px;background-position:-120px -140px}
.biznum_change #pop_header h1{width:210px;background-position:-210px 0}
.result_changeinfo #pop_header h1{width:135px;background-position:-250px -80px}
.result_quit #pop_header h1{width:94px;background-position:-270px -140px}
.result_publish #pop_header h1{width:125px;background-position:-220px -120pxs}
.result_refund #pop_header h1{width:193px;background-position:-220px -40px}
.id_find #pop_header h1{width:80px;background-position:-359px -100px}
.pw_find #pop_header h1{width:94px;background-position:-270px -180px}
.pw_confirm #pop_header h1{width:94px;background-position:-270px -201px}
.ceti_info #pop_header h1{width:144px;background-position:-318px -224px}
.resale_info #pop_header h1{width:148px;background-position:-369px -201px}

#pop_container{padding:0;border-top:1px solid #e9eaeb;color:#333}
#pop_container:after{display:block;clear:both;content:''}
#pop_container .i_text,.layer .i_text{padding:4px 4px 3px;border:1px solid #bebec1;border-right-color:#d4d4d8;border-bottom-color:#d4d4d8;vertical-align:top}
#pop_container .i_btn{display:inline-block;margin:-1px 0 1px;background:url(../img/bg_btn_myinfo.png) no-repeat;vertical-align:top}
#pop_container .i_btn button{overflow:visible;position:relative;left:1px;height:22px;padding:5px 6px 5px 5px;border:0;background:url(../img/bg_btn_myinfo.png) no-repeat 100% -22px;font-size:11px;color:#2f3743;letter-spacing:-1px;vertical-align:top;white-space:nowrap;cursor:pointer}
#pop_container .txt_at,.l_cont .txt_at{position:relative;top:5px;margin:0 1px 0 0;vertical-align:top}
#pop_container .txt_at{color:#666}

#pop_footer{padding:25px 0 33px;text-align:center}
#pop_footer:after{display:block;clear:both;content:''}
#pop_footer a,.l_footer a{display:inline-block;overflow:visible;height:33px;border:0;vertical-align:top}
#pop_footer .pop_btn_close,.l_footer .pop_btn_close{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -279px}
#pop_footer .pop_btn_close2,.l_footer .pop_btn_close2{width:70px;margin-left:1px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px 0}
#pop_footer .pop_btn_submitcetikey,.l_footer .pop_btn_submitcetikey{width:81px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -40px}
#pop_footer .pop_btn_confirm,.l_footer .pop_btn_confirm{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -120px}
#pop_footer .pop_btn_confirm2,.l_footer .pop_btn_confirm2{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -313px -279px}
#pop_footer .pop_btn_cancel,.l_footer .pop_btn_cancel{width:70px;margin-left:1px;background:url(../img/spr_btn_myinfo.png) no-repeat -313px -120px}
#pop_footer .pop_btn_agree,.l_footer .pop_btn_agree{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -160px}
#pop_footer .pop_btn_delete,.l_footer .pop_btn_delete{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -313px -80px}
.l_footer .pop_btn_delete2{width:83px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -317px}
#pop_footer .pop_btn_request,.l_footer .pop_btn_request{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -80px}
#pop_footer .pop_btn_msg{width:110px;background:url(../img/spr_btn_myinfo.png) no-repeat -240px -241px}
#pop_footer .pop_btn_ok{width:70px;background:url(../img/spr_btn_myinfo.png) no-repeat -313px -160px}

.pop_tit{margin:37px 0 -10px;font-size:12px}
.result_changeinfo .pop_tit,.result_quit .pop_tit,.result_publish .pop_tit,.result_refund .pop_tit{margin:25px 0 10px}
.pop_txt{margin:34px 0 0;color:#666;line-height:20px;text-align:center}
.pop_txt strong{color:#333}
.pop_txt_v2{margin:51px 0 22px}
.pop_txt_v3{margin-top:15px;letter-spacing:-1px}
.pop_txt_v4{margin-top:0}
.pop_txt_v5{margin-top:22px}
.pop_txt span{color:#5184df}
.pop_check{width:13px;height:13px;margin:2px 5px 2px 0;padding:0;vertical-align:middle}

.closing_time{width:100%;margin-bottom:19px;font-size:11px;color:#dd0e0e;text-align:center}
.cell_ceti .info_input,.email_ceti2 .info_input{margin-top:4px !important}
.email_ceti2 .closing_time_alert dt,.email_ceti2 .closing_time_alert dd{color:#dd0e0e}
.email_ceti2 .i_text,.cell_ceti .i_text2{width:272px;height:29px;padding:0 0 0 15px;border:1px solid #afb5bf;font-size:14px;line-height:29px;color:#666;font-weight:bold;vertical-align:top}
.layer .dsc_key{position:relative;float:left;width:232px;height:13px;margin:10px 0 0 28px;background:url(../img/spr_txt_myinfo.png) no-repeat;text-align:left}
.layer .dsc_key .btn_key{overflow:hidden;position:absolute;top:0;right:0;width:69px;height:13px;text-indent:-999px}
.email_ceti2 .pop_txt_v2,.cell_ceti .pop_txt_v2{margin:34px 0 0 !important}

.info_input{position:relative;margin:19px 0 18px;text-align:center}
.info_input .e_domain{height:22px;margin:0 2px;font-size:12px;vertical-align:top}
.capcha_input{margin:10px 0 22px 37px}
.capcha_input label{display:inline-block;margin-top:2px;font-weight:bold;line-height:18px}
.capcha_input .cell_com{width:75px;height:22px;font-size:12px;vertical-align:top}
.capcha_area{position:relative;margin-top:23px}
.capcha_area label{display:block;margin-bottom:4px;line-height:18px;color:#666}
.capcha_area .i_capcha{width:132px;height:27px;padding:0 0 0 15px;border:1px solid #aeb4be;font-size:14px;line-height:27px;color:#666;font-weight:bold}
.capcha_txt{position:absolute;top:1px;right:0;background:#f9f9f9}

.refund_info #pop_content,.refund_regist_biz #pop_content,.refund_delete_info #pop_content,.biz_change #pop_content,.biznum_change #pop_content,.id_find #pop_content,.pw_find #pop_content,.pw_confirm #pop_content{margin:0 25px}
.result_changeinfo #pop_content,.result_quit #pop_content,.result_publish #pop_content,.result_refund #pop_content{margin:13px 25px 0}
.pop_refund_txt{margin-top:38px}
.pop_refund_txt strong{display:block;margin-bottom:9px}
.refund_info .terms{margin:19px 0 19px;padding:0 0 9px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0}
.refund_info .terms dt{margin-top:12px;font-weight:bold}
.refund_info .terms dd{margin-top:12px;font-size:11px;color:#999;letter-spacing:-1px}
.refund_info .terms dd p{margin-bottom:7px}
.refund_info .terms li{padding:0 0 7px 8px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -36px}
.refund_info .terms a{color:#333;text-decoration:underline}
.refund_regist_info .lab_agree{position:relative;top:1px;margin-right:5px;font-weight:bold}
.refund_regist_info .info_input{margin:19px 25px 0}
.refund_regist_info select{height:22px}
.biz_regist_txt{padding:7px 0 19px;font-size:11px;color:#999;letter-spacing:-1px;text-align:left}
.biz_regist_txt2{overflow:hidden;margin:3px 0 -14px;letter-spacing:-1px;text-align:left}
.biz_ref_regist{margin-top:20px;letter-spacing:-1px;*zoom:1}
.biz_ref_regist:after{display:block;clear:both;content:''}
.biz_ref_regist dt{overflow:hidden;clear:both;float:left;margin:0 2px 6px 0}
.biz_ref_regist dd{float:left;width:50%;margin-bottom:6px;text-align:left}

.refund_delinfo{overflow:hidden;margin:6px 0 5px}
.refund_delete_info .biz_regist_txt2{margin:11px 0 0}
.refund_delete_info .biz_ref_regist{margin:10px 0 -7px;*zoom:1}

.change_date{display:block;position:relative;width:87px;height:22px;border:1px solid #ccc;vertical-align:middle}
.change_date .i_date{position:absolute;width:64px;margin-top:2px;border:0;background:none;font-family:tahoma}
.tbl_pop .change_date .i_date{margin-top:1px}
.change_date .option_time{position:relative;margin-left:6px}
.biz_change_desc{margin:9px 0 -17px;font-size:11px;line-height:18px;color:#999;letter-spacing:-1px;text-align:left}
.biz_change_desc li{margin-top:4px;padding-left:7px;background:url(../img/bu_dot_myinfo.png) no-repeat 0 8px}

.sch_zipcode .info_input{margin:13px 0 2px !important;padding-left:29px;text-align:left}
.sch_zipcode .info_input .i_zipcode{float:left;width:312px;height:29px;margin-right:5px;padding:0 0 0 15px;border:1px solid #afb5bf;font-size:14px;line-height:29px;color:#666;font-weight:bold;vertical-align:top}
.sch_zipcode .info_input .btn_sch{display:inline-block;width:60px;height:31px;background:url(../img/spr_btn_myinfo.png) no-repeat -323px -40px;vertical-align:top}
.sch_zipcode .scroll{position:relative;overflow-y:scroll;height:279px;margin:21px 30px 3px 0;border:1px solid #c9c9c9;background-color:#fff;scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#9e9e9f;scrollbar-track-color:#fafafa;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#fff;scrollbar-highlight-color:#dbdbdb;scrollbar-shadow-color:#dbdbdb}
.sch_zipcode .lst_code li{position:relative;padding:7px 10px 4px 86px;border-bottom:1px solid #ebebeb;color:#555;line-height:14px;vertical-align:top}
.sch_zipcode .lst_code .code{position:absolute;top:50%;left:20px;margin-top:-6px}
.sch_zipcode .lst_code .adr{position:relative;padding-left:43px;margin-bottom:4px}
.sch_zipcode .lst_code .adr a{color:#555;line-height:18px}
.sch_zipcode .lst_code .adr span{position:absolute;top:0;left:0;width:37px;height:14px;margin:2px 0 -2px;background:url(../img/spr_ico_myinfo.png) no-repeat}
.sch_zipcode .lst_code .adr .street{background-position:-98px -273px}
.sch_zipcode .lst_code .adr .house{background-position:-98px -290px}
.sch_zipcode .nodata{margin:19px 28px 0 0;padding:24px 0 25px;border:1px solid #edeff4;background-color:#f7f8fa}
.sch_zipcode .nodata .pop_txt{margin:0}

.pop_tab{margin:30px 0 7px}
.pop_tab a{font-weight:bold;line-height:14px;color:#999}
.pop_tab a.selected{color:#333}
.pop_tab .bar{margin:0 1px;color:#d4d4d8}
.pop_tab_view .lst_info{overflow:hidden;width:412px;padding-bottom:10px;border-top:1px solid #c9c9c9;border-bottom:1px solid #e4e4e4;background-color:#f8f9f9}
.pop_tab_view .lst_info dt{float:left;width:167px;margin-top:15px;padding-left:19px;letter-spacing:-1px}
.pop_tab_view .lst_info_v2{padding:4px 0 9px;border:0;background-color:#fff}
.pop_tab_view .lst_info_v2 dt{width:105px;padding-left:76px}
.pop_tab_view .lst_info dd{float:left;width:226px;margin-top:10px}
.pop_tab_view .lst_info dd .tx_cfm{display:inline-block;margin:6px 0 0 5px;line-height:14px;color:#333;vertical-align:top}
.pop_tab_view .lst_info dd .fail{color:#de0000;letter-spacing:-1px}
.pop_tab_view .lst_info dd .i_radio{width:13px;height:13px;margin:5px 5px 0 0;vertical-align:top}
.pop_info .pop_tit{margin:30px 0 7px}
.pop_tab_view .pop_info_v2 .lst_info2 dt{width:49px}
.pop_tab_view .pop_info_v2 .lst_info2 dd{width:344px}
.pop_tab_view .pop_info_v2 .pop_tit{margin:20px 0 5px;line-height:18px;text-align:center}
.pop_tab_view .pop_info_v2 .pop_tit em{color:#568adf}
.pop_tab_view .pop_info_v2 .pop_tit em.type{font-weight:normal}
.pop_info .agree_area{margin:10px 0 18px;line-height:14px;color:#333}
.pop_info .agree_area input{width:13px;height:13px;margin:-1px 5px 1px 0;vertical-align:middle}
.pop_tab_view .bx_info{padding:13px 0 10px;border-top:1px solid #c9c9c9;border-bottom:1px solid #e4e4e4;background-color:#f8f9f9;text-align:center}
.pop_tab_view .pop_info .bx_info{padding-left:14px;text-align:left}
.pop_tab_view .bx_info p{line-height:18px;color:#666}
.pop_tab_view .bx_info em{color:#568adf}
.pop_tab_view .dsc_rem{margin:10px 0 3px;padding-left:7px;background:url(../img/bu_dot_myinfo.png) no-repeat 0 5px;line-height:14px;color:#999}
.pop_tab_view .dsc_rem2{margin-left:80px}
.pop_tab_view .dsc_rem a{color:#568adf;text-decoration:underline}
.pop_tab_view .find_info{margin:30px 0 0;text-align:center}
.pop_tab_view .find_info h2{font-size:12px;line-height:18px;color:#333}
.pop_tab_view .find_info h2.type{text-align:left}
.pop_tab_view .find_info h2 em{font-weight:normal;color:#568adf}
.pop_tab_view .find_info p.info{margin:16px 0;font-weight:bold;line-height:14px;color:#568adf}
.pop_tab_view .find_info p.info em{font-family:tahoma}
.pop_tab_view .find_info p.dsc{margin:15px 0;line-height:18px;color:#666}
.pop_tab_view .find_info p.dsc a{color:#568adf;text-decoration:underline}
.pop_tab_view .dsc_help{margin:18px 0 15px;line-height:18px;color:#666}
.pop_tab_view .dsc_help em{color:#568adf}
.pop_tab_view .dsc_help2{margin-bottom:0}
.pop_tab_view .info_area{margin-top:16px;padding-bottom:12px;border:1px solid #f0f0f0;background-color:#f8f9f9}
.pop_tab_view .info_area h3{margin:14px 0 0 13px;font-size:12px;line-height:18px;color:#333}
.pop_tab_view .info_area p{margin:3px 0 0 24px;font-size:12px;line-height:18px;color:#666}

/* 홈 */
.home_spot{overflow:hidden;width:751px;border:3px solid #d8d9db}
.home_spot .ad_info,.home_spot .self_info{position:relative;float:left}
.home_spot .ad_info{width:375px;padding-bottom:7px;border-right:1px solid #ececed}
.home_spot .self_info{width:375px}
.home_spot h3{height:32px;margin:23px 0 0 23px;background:none;border-bottom:1px solid #e7eaee}
.home_spot h3 span{overflow:hidden;display:block;height:16px;background:url(../img/spr_h2_myinfo.png) no-repeat;text-indent:-999px}
.home_spot h3 .h_adinfo{width:69px;background-position:0 -260px}
.home_spot h3 .h_adinfo2{width:83px;background-position:-72px -260px}
.home_spot h3 .h_adinfo3{width:83px;background-position:-158px -260px}
.home_spot .ad_info h3{width:327px}
.home_spot .self_info h3{width:326px;margin-left:27px}
.home_spot .lst_info{width:329px;margin:18px 0 0 27px;line-height:18px;color:#333}
.home_spot .lst_info dt{position:relative;float:left;width:116px;height:34px;margin:3px 0 0}
.home_spot .lst_info dt span{overflow:hidden;float:left;height:12px;background:url(../img/spr_h_myinfo.png) no-repeat;text-indent:-999px}
.home_spot .lst_info dt .info{width:42px;background-position:0 -183px}
.home_spot .lst_info dt .info2{width:75px;background-position:-47px -183px}
.home_spot .lst_info dt .info3{width:30px;background-position:-127px -183px}
.home_spot .lst_info dt .info4{width:52px;background-position:-162px -183px}
.home_spot .lst_info dt .info5{width:41px;background-position:-219px -183px}
.home_spot .lst_info dt .info6{width:61px;background-position:0 -200px}
.home_spot .lst_info dt .info7{width:73px;background-position:-66px -200px}
.home_spot .lst_info dt .info8{width:52px;background-position:-144px -200px}
.home_spot .lst_info dt .info9{width:30px;background-position:-201px -200px}
.home_spot .lst_info dt .info10{width:52px;background-position:-66px -215px}
.home_spot .lst_info dt .info11{width:52px;background-position:-121px -215px}
.home_spot .lst_info dd{float:left;width:203px;height:37px}
.home_spot .lst_info dd .type{font-size:11px}
.home_spot .lst_info dd .type strong{text-decoration:underline}
.home_spot .lst_info dd a{display:inline-block;font-size:11px;color:#568adf;letter-spacing:-1px;text-decoration:underline}
.home_spot .lst_info dd .f_t{display:inline-block;font-family:tahoma}
.home_spot .lst_info dd .cfm{margin-left:3px;font-size:11px;color:#568adf;letter-spacing:-1px}
.home_spot .lst_info dd a.cfm{text-decoration:none}
.home_spot .lst_info dd a.cfm:hover{text-decoration:underline}
.home_spot .lst_info dd .btn_ad{position:absolute;width:123px;height:15px;margin-left:3px;padding-top:3px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -384px;font-size:11px;line-height:14px;color:#5184df;letter-spacing:-1px;text-align:center;text-decoration:none}
.home_spot .lst_info dd .n_data{display:inline-block;padding-top:2px}
.home_spot .lst_info .ico{display:inline-block;width:16px;height:16px;margin:-1px 5px 1px 4px;background:url(../img/spr_ico_myinfo.png) no-repeat;vertical-align:middle}
.home_spot .lst_info dt .ico{position:absolute;top:-2px;left:77px;margin:0}
.home_spot .lst_info dd .ls{overflow:hidden;display:inline-block;max-width:100%;vertical-align:top;white-space:nowrap;text-overflow:ellipsis}
.home_spot .lst_info dd.mail{position:relative;width:153px;padding-right:50px}
.home_spot .lst_info dd.mail .f_t{overflow:hidden;display:inline-block;max-width:100%;vertical-align:top;white-space:nowrap;text-overflow:ellipsis}
.home_spot .lst_info dd.mail .cfm{position:absolute;top:1px}
.home_spot .lst_info dd.adman{position:relative;width:83px;padding-right:120px}
.home_spot dt.frst{height:38px}
.home_spot dd.frst{height:41px;margin-bottom:0}
.home_spot .btn_more{overflow:hidden;position:absolute;top:25px;right:25px;width:36px;height:11px;background:url(../img/spr_btn_myinfo.png) no-repeat -161px -190px;text-indent:-999px}
.home_cont{overflow:hidden;width:756px}
.home_cont .inner{overflow:hidden;width:776px}
.home_cont .tbl_inner{position:relative}
.home_cont .tbl_inner .btn_more{top:0}
.home_cont .cont_type{position:relative;float:left;width:368px;margin-right:20px}
.home_cont .cont_type h3{height:30px;border-bottom:2px solid #5f626c}
.home_cont h3{height:29px;margin-top:40px;background:none}
.home_cont h3 span{overflow:hidden;display:block;height:17px;background:url(../img/spr_h2_myinfo.png) no-repeat;text-indent:-999px}
.home_cont h3 .h_log{width:112px;background-position:0 -289px}
.home_cont h3 .h_apply{width:127px;background-position:-117px -289px}
.home_cont h3 .h_inquiry{width:78px;background-position:0 -311px}
.home_cont h3 .h_mail{width:98px;background-position:-83px -311px}
.home_cont .tbl_info{margin-top:0;}
.home_cont .tbl_info th{border-width:1px 1px 1px 0}
.home_cont .tbl_info th:first-child{border-width:1px}
.home_cont .tbl_info td{padding:12px 0;border-left:1px solid #f0f0f0;color:#666}
.home_cont .tbl_info tr:first-child td{border-left:1px solid #f0f0f0}
.home_cont .tbl_info td:first-child,.home_cont .tbl_info tr:first-child td:first-child{border-left:0}
.home_cont .tbl_info td em{font-family:tahoma}
.home_cont .tbl_info td strong{color:#568adf}
.home_cont .btn_more{overflow:hidden;position:absolute;top:43px;right:1px;width:36px;height:11px;background:url(../img/spr_btn_myinfo.png) no-repeat -161px -190px;text-indent:-999px}
.home_cont .lst_detail{padding-top:13px}
.home_cont .lst_detail li{position:relative;padding:8px 15px 8px 13px;background:url(../img/spr_ico_myinfo.png) no-repeat 5px -27px}
.home_cont .lst_detail2 li{padding-right:68px}
.home_cont .lst_detail li a{overflow:hidden;display:inline-block;max-width:100%;color:#666;line-height:14px;letter-spacing:-1px;vertical-align:top;white-space:nowrap;text-overflow:ellipsis}
.home_cont .lst_detail li .ico_new{position:absolute;width:10px;height:10px;margin:1px 0 -1px 3px;background:url(../img/spr_ico_myinfo.png) no-repeat -54px 0;vertical-align:top}
.home_cont .lst_detail li .ico{overflow:hidden;position:absolute;top:2px;right:4px;width:41px;height:16px;padding-top:2px;background:url(../img/spr_ico_myinfo.png) no-repeat;font-size:11px;line-height:14px;color:#fff;text-align:center}
.home_cont .lst_detail li .ico_type{background-position:-94px -155px}
.home_cont .lst_detail li .ico_type2{background-position:-94px -134px}
.home_cont .lst_detail li.nodata{padding:25px 0 10px 64px;background:none}
.home_cont .lst_detail li .dsc{padding:18px 0 15px 56px;background:url(../img/spr_ico_myinfo.png) no-repeat -88px -307px;color:#666;letter-spacing:-1px}

/* 탈퇴 */
.quit .quit_info .h_quit_ing{width:auto;height:auto;margin-top:21px;background:none;font-size:14px;line-height:18px;color:#333}
.quit_desc .lst_desc{margin-top:13px}
.quit_desc .lst_desc li{margin-top:6px;padding-left:12px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -33px;line-height:18px;color:#444}
.quit_desc .lst_desc li em{color:#5184df}
.quit_desc .lst_quit{overflow:hidden;width:100%;margin-top:5px;background-color:#fcfcfc;border:1px solid #f1f1f3;border-left:0}
.quit_desc .lst_quit li{position:relative;float:left;width:337px;height:121px;padding-left:30px;border-left:1px solid #f1f1f3}
.quit_desc .lst_quit li:first-child{width:357px}
.quit_desc .lst_quit li .ico{position:absolute;left:275px;top:31px;width:60px;height:60px;background:url(../img/spr_ico_myinfo.png) no-repeat -75px -405px}
.quit_desc .lst_quit li:first-child .ico{left:286px;top:33px;width:70px;height:55px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -405px}
.quit_desc .lst_quit h4{overflow:hidden;width:105px;height:15px;margin-top:30px;background:url(../img/spr_h_myinfo.png) no-repeat;text-indent:-999px}
.quit_desc .lst_quit .h_tell{background-position:0 -232px}
.quit_desc .lst_quit .h_time{background-position:-108px -232px}
.quit_desc .lst_quit p{margin-top:13px;line-height:18px;color:#666}
.quit_desc .lst_quit  .bar{margin-right:2px;color:#c9c9c9}

.quit .bizmoney{display:inline-block;margin-top:3px;font-size:14px;line-height:22px;font-weight:bold;color:#5184df;letter-spacing:0;vertical-align:middle}
.quit .check_status .i_btn{margin:2px 0 -2px 1px}
.quit .tbl_info .item .i_btn_l{top:1px}
.quit .bizmoney span{font-family:tahoma;font-size:20px;vertical-align:-2px}
.quit textarea.quit_reason{overflow:auto;width:379px;height:58px;padding:11px 8px;border:1px solid #bebec1}
.quit .addfile{margin-top:5px;font-size:11px;line-height:17px;color:#999}
.quit .addfile dt{float:left;clear:both}
.quit .upfile_lst{width:395px;height:50px;margin-top:8px;border:1px solid #bebec1}
.quit .upfile_lst ul{margin:8px 0 0 9px}
.quit .upfile_lst li{position:relative;padding-left:17px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -69px;line-height:14px}
.quit .upfile_lst li .filesize{position:absolute;top:0;right:22px;font-size:11px;letter-spacing:0}
.quit .upfile_lst li .btn_del_upfile{overflow:visible;position:absolute;top:2px;right:8px;width:10px;height:9px;border:0;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -90px;cursor:pointer}
.quit_info .quit_ing_txt{margin:16px 0 21px;line-height:18px;color:#666}
.quit_info .quit_ing_txt em{color:#5184df}

/* 이력 */
.careerinfo{position:relative}
.careerinfo .i_btn_tbl{position:absolute;top:46px;right:0}
.careerinfo .item .i_btn{margin:0}
.careerinfo .item .i_btn_on{position:relative;z-index:10;background-position:0 -48px;color:#fff}
.careerinfo .item .i_btn_on span{background-position:100% -72px}
.bu_bg_lft{padding:0 7px;font-size:20px;color:#ccc;vertical-align:middle}
.btn_login_day{position:relative;margin:8px 0 20px}
.btn_login_day .term{overflow:hidden;float:left;width:293px}
.btn_login_day .term .i_btn{float:left;margin-right:-1px}
.btn_login_day .bu_bg_lft{float:left;margin:5px 7px 0 0;padding:0;font-size:14px;color:#dedee0}
.btn_login_day .date{float:left}
.btn_login_day .date .bx_input_data{float:left;margin-right:6px}
.btn_login_day .date .bu_bg_lft{overflow:hidden;width:6px;height:2px;margin:11px 6px 0 0;background-color:#444;text-indent:-999px}
.careerinfo .overview{margin-top:35px}
.careerinfo .tbl_dsc{margin:22px 0 18px;font-weight:bold;line-height:14px;color:#222;letter-spacing:-1px}
.careerinfo .p_rgt_v{margin-top:23px}
.ico_answer{display:inline-block;width:41px;height:18px;background:url(../img/spr_ico_myinfo.png) no-repeat;font-size:11px;line-height:18px;color:#fff;letter-spacing:-1px}
.answer_off{background-position:-94px -155px}
.answer_on{background-position:-94px -134px}
.mail_career .btn_inquiry{position:absolute;top:102px;right:32px}
.careerinfo .p_rgt_v .i_dsc{display:block;margin-top:10px}
.careerinfo .login_carrer{overflow:hidden;width:100%;margin-top:23px}
.careerinfo .login_carrer dt{float:left;overflow:hidden;width:84px;height:16px;margin-right:9px;background:url(../img/spr_h_myinfo.png) no-repeat -229px -232px;text-indent:-999px}
.careerinfo .login_carrer dd{float:left;font-size:11px;line-height:18px;color:#999;letter-spacing:-1px}
.careerinfo .btn_tbl{margin:8px 0 -43px;text-align:right}
.careerinfo .btn_tbl a{vertical-align:top}

/* 이메일 동의 화면 */
.agree_view{padding:27px 0 26px;border:1px solid #c9c9c9;border-width:1px 0}
.agree_view .tit{font-size:14px;line-height:18px;color:#222;letter-spacing:-1px}
.agree_view .view_cont{margin-top:14px;line-height:18px;color:#666;letter-spacing:-1px}


/* 알림설정 */
.account .bu_spot{display:block}
.inform_set .item{position:relative}
.inform_set .posi_r,.night_message .posi_r,.account .posi_r{margin-left:7px;font-size:11px;line-height:18px;color:#999;letter-spacing:-1px}
.inform_set_area .input_money{width:95px;margin:0 10px;padding-top:5px;vertical-align:middle}
.tbl_info .item .lft_pad{margin:13px 20px -1px}
.tbl_info .item .lft_pad li{margin-top:7px}
.account .posi_r em{color:#5184df}

/* 버튼 */
.btn_btarea a{display:inline-block;height:36px;background:url(../img/spr_btn_myinfo.png) no-repeat}
.btn_btarea .btn_quit_submit{width:102px;background-position:-105px -30px}
.btn_btarea .btn_quit_reset{width:74px;background-position:-80px -30px;text-indent:-9000px}
.btn_btarea .btn_modify_info{position:absolute;top:24px;right:30px;width:87px;height:24px;background-position:-60px 0}
.btn_btarea .btn_quit{position:absolute;top:24px;right:30px;width:57px;height:24px}
.btn_btarea .btn_myinfo_submit{width:102px;background-position:0 -30px}
.btn_btarea .btn_myinfo_reset{width:102px;margin-left:1px;background-position:0 -70px}
.btn_btarea .btn_myinfo_appro{width:102px;background-position:0 -110px}
.btn_btarea .btn_myinfo_refuse{width:102px;background-position:-105px -110px}
.btn_btarea .btn_myinfo_appoint{width:102px;background-position:0 -150px}
.careerinfo button,.btn_login_day button,.btn_login_day input,.inform_set_area button,.modifyinfo button,.mail_career button{overflow:visible;border:0;vertical-align:top;cursor:pointer}
.refund_num{position:relative}
.refund_num .btn_mod_refund{position:absolute;top:-6px;right:83px}
.refund_num .btn_del_refund{position:absolute;top:-6px;right:0}
.btn_btarea .btn_myinfo_apply{width:102px;background-position:0 -266px}
.btn_btarea .btn_myinfo_colse{width:102px;margin-left:1px;background-position:-110px -150px;text-indent:-9000px}
.btn_btarea .btn_direct{width:56px;height:25px;background-position:-100px -190px;text-indent:-9000px}
.btn_btarea .btn_inquiry{position:absolute;top:79px;right:32px;width:89px;height:24px;background-position:-120px -70px;text-indent:-9000px}
.btn_btarea .btn_agree_yes{width:102px;background-position:0 -227px}
.btn_btarea .btn_agree_no{width:102px;background-position:-105px -227px}
.btn_excel_down{display:inline-block;width:121px;height:35px;background:url(../img/spr_btn_myinfo.png) no-repeat 0 -189px}
.btn_data_month{position:absolute;top:4px;right:4px;width:15px;height:14px;border:0;background:url(../img/spr_ico.png) no-repeat -70px -280px;cursor:pointer}
.btn_q_more{width:16px;height:16px;background:url(../img/spr_ico_myinfo.png) no-repeat -19px 0}
.btn_sort{width:13px;height:13px;margin:1px 0 -1px 3px;background:url(../img/spr_ico_myinfo.png) no-repeat -38px 0}
.btn_sort2{background-position:-67px 0}

/*  */
.tab_basicinfo{overflow:hidden;margin-top:-2px;background-color:#fff;border-bottom:2px solid #2c2f39}
.tab_basicinfo li{float:left}
.tab_basicinfo li a{display:block;height:34px;background:url(../img/tab_myinfo.png) no-repeat;text-indent:-9000px}
.tab_basicinfo .tab_adinfo{width:151px;background-position:0 -34px}
.tab_basicinfo .on .tab_adinfo{width:152px;background-position:0 0}
.tab_basicinfo .tab_agencyinfo{width:152px;background-position:-152px 0}
.tab_basicinfo .on .tab_agencyinfo{width:152px;background-position:-151px -34px}

/* 세금 발행처 변경 */
.myinfo_area{margin-top:37px;padding:18px 20px 20px;border:1px solid #efefef}
.myinfo_area h4{font-size:14px;color:#222;letter-spacing:-1px}
.myinfo_area p{margin-top:13px;line-height:18px;color:#333}
.myinfo_area .i_dsc2{color:#5184df}
.myinfo_area .p_top_mar{margin-top:7px}
.myinfo_area .top_bor{display:block;width:22px;height:2px;margin-top:23px;margin-bottom:-6px;border-bottom:2px solid #333}
.myinfo_area ul{margin-top:15px}
.myinfo_area li{margin-top:6px;padding-left:8px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -32px;font-size:11px;line-height:18px;color:#999}

/* 이벤트 */
.event_not .i_dsc2{display:block;padding-top:5px}
.event_join .i_dsc3{margin-left:5px;font-size:11px;color:#5184df;letter-spacing:-1px}
.event_join .p_event{margin-top:-9px}
.event_join .p_top_bor{margin-top:18px;padding-top:5px;border-top:1px solid #f0f0f0;letter-spacing:-1px}
.event_join .p_time{margin:25px 0 29px}
.event_join .month{display:block;width:120px;padding:3px;border:1px solid #999;vetical-align:middle}
.event_join .careerinfo .tbl_info th,.careerinfo .tbl_info td{padding:12px 0 15px;letter-spacing:0;text-align:center}
.careerinfo .tbl_info td{padding:15px 0 12px}
.careerinfo .tbl_info td.nodata{padding:77px 0 61px;border:0;text-align:center}
.careerinfo .tbl_info td.nodata .ico{display:block;width:47px;height:47px;margin:0 auto;background:url(../img/spr_ico_myinfo.png) no-repeat -88px -307px}
.careerinfo .tbl_info td.nodata p{margin-top:10px}
.event_join .login_day{margin:14px 0 23px}
.careerinfo .tbl_info_v2 th{padding:9px 0 6px;text-align:center;text-indent:0}
.careerinfo .tbl_info_v2 td{text-align:left;padding:9px 0 6px 19px}
.careerinfo .view_area .mail_view{padding:30px 16px 28px 15px}
.careerinfo .view_area .career_area{padding:29px 77px 25px 20px;color:#666;line-height:18px}
.careerinfo .view_area .reply_area{position:relative;padding:30px 77px 44px 81px;border:1px solid #f0f0f0;border-width:1px 0;background-color:#fbfbfb;color:#666;line-height:18px}
.careerinfo .view_area .reply_area .ico{position:absolute;top:30px;left:21px;width:47px;height:18px;background:url(../img/spr_ico_myinfo.png) no-repeat -88px -176px}
.careerinfo .btn_section{border:0}
.mail_career .btn_section{border-top:2px solid #e1e2e4}

.receive .advice_area{margin-top:5px;padding:14px 0 1px;border-top:1px solid #c9c9c9}
.receive .advice_area .h_advice{overflow:hidden;width:343px;height:16px;background:url(../img/spr_h_myinfo.png) no-repeat 0 -1329px;text-indent:-999px}
.receive .advice_area .dsc_advice{margin-top:8px;line-height:18px;color:#666;letter-spacing:-1px}
.receive .advice_area .lst_op{margin-top:16px}
.receive .advice_area .lst_op dt{float:left;margin:5px 9px 0 0;color:#333;letter-spacing:-1px;font-weight:bold}
.receive .advice_area .lst_op dd{float:left}
.receive .advice_area .bx_input_data{float:left;}
.receive .careerinfo .bx_input_data,.btn_login_day .bx_input_data{display:inline-block;margin-top:0}
.receive .bx_input_data,.btn_login_day .bx_input_data{position:relative;width:115px;height:22px;border:1px solid #ccc;vertical-align:middle}
.receive .bx_input_data .input_data,.btn_login_day .bx_input_data .input_data{position:absolute;width:85px;height:22px;padding-top:0;border:0;font-family:helvetica;font-size:16px;line-height:22px;color:#444;font-weight:bold}
.receive .advice_area .option_time{position:relative;height:24px;margin-left:5px}
.receive .myinfo_area .advice_area{overflow:hidden;width:100%;margin:15px 0 17px;padding-bottom:10px;border-bottom:1px solid #f0f0f0}
.receive .myinfo_area .advice_area p{margin:4px 18px 0 0;font-weight:bold}
.receive .myinfo_area .advice_area .option_bank{height:22px}

/* 회원가입 */
.sub_join #container{background-image:none}
.sub_join .sub_conwrap{width:920px;padding:25px 30px}
.sub_join .sub_conwrap h2{padding-bottom:12px;border-bottom:0}
.sub_join .sub_conwrap h2 span.tx{width:59px;background-position:0 -212px}
.sub_join .sub_conwrap .join_step{width:920px;height:50px;margin-bottom:30px;background:url(../img/spr_step_myinfo.png) no-repeat}
.sub_join .sub_conwrap .join_step2{background-position:0 -55px}
.sub_join .sub_conwrap .join_step3{background-position:0 -110px}
.sub_join .sub_conwrap .join_step4{background-position:0 -165px}
.modifyinfo .agreement_area h3.h_agree{width:168px;margin-top:30px;background-position:-1px -333px;}
.modifyinfo .agreement_area h3.h_agree_info{width:204px;margin-top:30px;background-position:0 -354px}
.modifyinfo .agreement_area h3.h_agree_gud{width:231px;margin-top:30px;background-position:0 -393px}
.sub_join .join_content{position:relative;margin-top:11px;padding:20px 20px 17px;background-color:#fafafa;border-top:1px solid #c9c9c9;border-bottom:1px solid #e1e1e1}
.sub_join .join_content .scroll{overflow-y:scroll;height:168px;padding:12px 15px;border:1px solid #c9c9c9;background-color:#fff;color:#666;letter-spacing:-1px;line-height:18px;scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#9e9e9f;scrollbar-track-color:#fafafa;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#fff;scrollbar-highlight-color:#dbdbdb;scrollbar-shadow-color:#dbdbdb}
.sub_join .join_content h4,.sub_join .join_content h5{font-size:12px;font-weight:normal}
.sub_join .join_content p,.sub_join .join_content ol{margin-bottom:17px}
.sub_join .join_content p.p_tx{margin:0}
.sub_join .join_content p.p_agree{margin:12px 0 1px}
.sub_join .join_content p.p_agree2{margin:13px 0 1px}
.sub_join .join_content input{margin:-1px 1px 1px 0;vertical-align:middle}
.sub_join .join_content label{color:#568adf}
.sub_join .join_content a{position:absolute;bottom:17px;right:20px;color:#666;text-decoration:underline}
.account_desc .bank_area{margin-top:-25px}
.account_desc .bank_area label{display:inline-block;margin:4px 4px 0 0;font-size:14px;color:#333;font-weight:bold;vertical-align:top}
.account_desc .bank_area select{height:22px}
.account_desc .lst_bank{margin:21px 0 0 2px}
.lst_bank li{margin-top:6px;padding-left:10px;background:url(../img/spr_ico_myinfo.png) no-repeat 0 -32px;font-size:11px;line-height:18px;color:#666;letter-spacing:-1px}

.modifyinfo .result_area{margin:80px 0 0 189px}
.modifyinfo .result_area h3{overflow:hidden;width:564px;height:169px;margin-bottom:48px;background:url(../img/spr_step_myinfo.png) no-repeat 0 0;text-indent:-999em}
.modifyinfo .result_area h3.h_result1{background-position:0 -220px}
.modifyinfo .result_area h3.h_result2{background-position:0 -396px}
.modifyinfo .result_area h3.h_result3{height:178px;margin-bottom:47px;background-position:0 -572px}
.modifyinfo .result_area h3.h_result4{height:173px;background-position:0 -754px}
.modifyinfo .result_area h3.h_result5{height:178px;background-position:0 -932px}
.modifyinfo .result_area h3.h_result6{height:178px;background-position:0 -1117px}
.modifyinfo .result_area h3.h_result7{height:170px;background-position:0 -1300px}
.modifyinfo .result_area h3.h_result9{height:161px;background-position:0 -1475px}
.modifyinfo .result_area h3.h_result10{background-position:0 -1807px}
.modifyinfo .result_area h3.h_result11{background-position:0 -1981px}
.modifyinfo .result_area h3.h_result12{background-position:0 -2183px}
.modifyinfo .result_area p.tx_dsc{margin-top:26px;color:#666;line-height:18px}
.modifyinfo .result_area p.tx_dsc2{margin-top:22px}
.modifyinfo .result_area p.tx_dsc em{color:#568adf}
.modifyinfo .result_area h4.h_info{margin-top:21px;font-size:12px;line-height:18px;color:#333;letter-spacing:-1px}
.modifyinfo .result_area .lst_result li{margin-top:6px;line-height:18px;color:#666}
.modifyinfo .result_area a.btn_info{line-height:18px;color:#32be00;text-decoration:underline}
.modifyinfo .result_area .bx_data{overflow:hidden;width:100%;margin:9px 0 -6px}
.modifyinfo .result_area .bx_data p{float:left;margin:5px 10px 0 0;color:#333;line-height:14px;font-weight:bold;letter-spacing:-1px}
.modifyinfo .result_area .bx_data .change_date{float:left;width:115px;height:22px;margin-right:5px}
.modifyinfo .result_area .bx_data .change_date .i_date{margin:0;padding-top:0;width:85px;height:22px;font-family:helvetica;font-size:16px;line-height:22px;color:#444}
.modifyinfo .result_area .bx_data .option_time{float:left;height:24px}
.modifyinfo .cus_area{margin:16px 0 0 190px;width:500px;padding:20px 20px 17px;border:1px solid #f0f0f0;background-color:#fafafa}
.modifyinfo .cus_area h4{width:45px;height:15px;margin:0;background:url(../img/spr_h2_myinfo.png) no-repeat 0 -375px;}
.modifyinfo .cus_area p{margin:10px 0 7px;color:#666}
.modifyinfo .cus_area li{padding-left:8px;background:url(../img/bu_dot_myinfo2.png) no-repeat 1px 7px;color:#666;line-height:18px}
.modifyinfo .cus_area em{margin-left:5px;padding-left:6px;background:url(../img/bu_line_myinfo.png) no-repeat 0 1px;font-weight:normal;color:#568adf}

/* 메일수신내역 */
.sub_wide #container{background-image:none}
.sub_wide .sub_conwrap{width:758px;padding:25px 112px 25px 110px}
.sub_wide .btn_btarea{margin:40px 0 95px}
.sub_wide .tbl_info{margin-top:35px}
.receive .tit_area{position:relative;min-height:174px;padding:85px 0 33px}
.receive .tit_area h2{overflow:hidden;height:74px;padding:0;margin-bottom:26px;background:url(../img/spr_h_myinfo.png) no-repeat;border:0;text-indent:-999px}
.receive .tit_area .tit{width:340px;background-position:0 -251px}
.receive .tit_area .tit2{width:438px;height:33px;background-position:0 -328px}
.receive .tit_area .tit3{width:214px;background-position:0 -405px}
.receive .tit_area .tit4{width:396px;background-position:0 -482px}
.receive .tit_area .tit5{width:362px;background-position:0 -559px}
.receive .tit_area .tit6{width:393px;background-position:0 -636px}
.receive .tit_area .tit7{width:278px;background-position:0 -713px}
.receive .tit_area .tit8{width:299px;background-position:0 -790px}
.receive .tit_area .tit9{width:278px;background-position:0 -867px}
.receive .tit_area .tit10{width:363px;background-position:0 -944px}
.receive .tit_area .tit11{width:438px;height:33px;background-position:0 -1021px}
.receive .tit_area .tit12{width:242px;background-position:0 -1098px}
.receive .tit_area .tit13{width:208px;background-position:0 -1175px}
.receive .tit_area .tit14{width:215px;background-position:0 -1252px}
.receive .tit_area .tit15{width:243px;background-position:0 -1348px}
.receive .tit_area .tit16{width:249px;background-position:0 -1425px}
.receive .tit_area .tit17{width:207px;height:32px;background-position:0 -1502px}
.receive .tit_area .tit18{width:427px;height:32px;background-position:0 -1057px}
.receive .tit_area .tit19{width:370px;height:33px;background-position:0 -363px}
.receive .tit_area .tit_sub{font-size:14px;line-height:22px;color:#222;letter-spacing:-1px}
.receive .tit_area .tit_sub2{margin-top:7px}
.receive .tit_area .tit_sub em{color:#5184df}
.receive .tit_area .tit_info{margin-top:13px;font-size:14px;line-height:18px;color:#5184df;letter-spacing:-1px}
.receive .tit_area .dsc{margin-top:5px;line-height:22px;color:#666;letter-spacing:-1px}
.receive .tit_area .dsc a{color:#666;text-decoration:underline}
.receive .tit_area .dsc2{margin-top:4px}
.receive .tit_area .dsc em{color:#5184df}
.receive .tit_area .dsc_info{margin:2px 0 -3px;line-height:20px;color:#666;letter-spacing:-1px}
.receive .tit_area .btn_info{display:inline-block;margin-top:6px;font-size:11px;line-height:14px;color:#568adf;text-decoration:underline}
.receive .tbl_info{margin-top:0}
.receive .tbl_info_v3 thead th{border-width:1px 1px 1px 0}
.receive .tbl_info_v3 thead th:first-child{border-width:1px}
.receive .tbl_info_v3 td{padding:0}
.receive .tbl_info_v3 td.tx_ch{border-left:1px solid #eeeff1;color:#5184df}
.receive .dsc_tbl{margin:10px 0 0;color:#666}
.receive .dsc_tbl2{margin:5px 0 0}
.receive .dsc_tbl3{margin:3px 0 0}
.receive .dsc_tbl em{color:#5184df}
.receive .tit_area .ico{position:absolute;top:83px;right:55px;width:248px;height:174px;background:url(../img/spr_tit_ico_myinfo.png) no-repeat}
.receive .tit_area .ico2{right:0;width:272px;height:172px;background-position:0 -179px}
.receive .tit_area .ico3{right:21px}
.receive .tit_area .ico4{top:93px;right:0;background-position:0 -179px}
.receive .tit_area .ico5{top:87px;right:30px;width:199px;height:191px;background-position:0 -356px}
.receive .tit_area .ico6{top:84px;right:12px;width:225px;height:153px;background-position:0 -552px}
.receive .tit_area .ico7{top:82px;right:78px;width:199px;height:170px;background-position:0 -710px}
.receive .tit_area .ico8{top:63px;right:0;width:321px;height:178px;background-position:0 -885px}
.receive .tit_area .ico9{top:63px;right:0;width:321px;height:178px;background-position:0 -1068px}
.receive .tit_area .ico10{right:44px;width:217px;height:169px;background-position:0 -1251px}
.receive .tit_area .ico11{top:77px;right:64px;width:291px;height:177px;background-position:0 -1425px}

/* 회원가입 버튼 */
.sub_join .btn_btarea{margin:55px 0 75px}
.sub_join .btn_btarea_v2{margin-top:56px}
.sub_conwrap .btn_join_next{width:102px;background-position:-240px -200px}
.sub_conwrap .btn_join_prev{width:102px;margin-right:1px;background-position:-105px -266px}
.sub_conwrap .btn_join_id{width:102px;margin-left:1px;background-position:0 -305px}

/* 회원가입 테이블 */
.tbl_info .item_v2{padding-top:5px}
.sub_join .tbl_info .input_rdo{margin: -1px 4px 1px 0;vertical-align:middle}
.sub_join .tbl_info .tx_advts{margin-right:30px;letter-spacing:0}
.modifyinfo .tbl_info .txt_bu{display:inline-block;margin:4px 1px 0 0;vertical-align:top;color:#666}
.sub_join .tbl_info .item span.i_dsc{margin-left:6px;vertical-align:top}
.sub_join .tbl_info .tx_info{display:inline-block;margin:4px 0 -4px 9px;color:#5184df;text-decoration:underline;vertical-align:middle}
.sub_join .advts_area{margin-top:19px;padding:26px 0;border:1px solid #c9c9c9;background:#fff;text-align:center}
.sub_join .advts_area p{font-weight:bold;color:#333;line-height:18px}
.sub_join .advts_area em{color:#568adf}
.sub_join .captcha{margin:30px 0 10px}
.sub_join .captcha h3{width:114px;margin:0;background-position:0 -414px}
.sub_join .captcha_area{overflow:hidden;margin-top:11px;padding:17px 38px 20px;background-color:#fafafa;border-top:1px solid #c9c9c9;border-bottom:1px solid #e1e1e1}
.sub_join .captcha_area img{float:left}
.sub_join .captcha_area .tx_captcha{float:left;margin-left:55px}
.sub_join .captcha p{color:#333;line-height:18px}
.sub_join .captcha .i_text{width:80px;margin:6px 0 0 1px;padding:4px 4px 3px;border:1px solid #bebec1;border-right-color:#d4d4d8;border-bottom-color:#d4d4d8;background:#fff;vertical-align:top}
.modifyinfo .tip_area{margin:-18px 0 0;padding:20px 20px 16px;border:1px solid #f0f0f0;background:#fafafa}
.modifyinfo .tip_area h4{width:62px;background: url(../img/spr_h2_myinfo.png) no-repeat -50px -375px;height:15px;margin: 0;}
.modifyinfo .tip_area p{margin-top:5px;line-height:18px;color:#666}
.modifyinfo .tip_area a{color:#568adf;text-decoration:underline}
.tbl_result{width:488px;margin-bottom:-9px}

/* layer */
.layer{position:absolute;top:0;left:0;z-index:1000;border:3px solid #333;background-color:#fff;color:#333}
.layer .l_header{height:57px;margin:0 20px;border-bottom:2px solid #e5e5e5}
.layer .l_header h1{padding-top:21px;font-size:16px;line-height:18px;color:#333}
.layer .l_header .btn_clse{overflow:hidden;position:absolute;top:17px;right:20px;width:21px;height:21px;background:url(../img/spr_btn_myinfo.png) no-repeat -362px 0;text-indent:-999px}
.layer .l_footer{padding:30px 0 40px;text-align:center}
.layer .l_cont{margin:0 20px}
.layer .refund_info{width:594px}
.layer.email_ceti,.layer.refund_info{width:419px}
.layer.l_login{width:380px}
.layer.email_ceti2,.layer.cell_ceti{width:389px}
.layer.sch_zipcode{width:451px}
.layer.sch_zipcode .l_cont{margin:0}
.layer.refund_regist_info,.layer.refund_regist_biz,.layer.refund_regist,.layer.refund_delete,.layer.sms_cancel,.layer.rest_cycle,.layer.pw_confirm{width:458px}
.layer.refund_info{width:462px}
.layer.id_check{width:474px}
.layer.biz_change,.layer.refund_delete_info,.layer.biznum_change,.layer.result_changeinfo,.layer.result_quit,.layer.result_publish,.layer.result_refund{width:475px}
.layer.ceti_info{width:540px}
.layer.l_ad_agree{width:680px}
.layer .pop_refund_txt,.layer .pop_txt,.layer .pop_tit{margin-top:24px}
.layer .pop_txt_v3{margin-top:15px}
.layer .pop_txt_v4{margin-top:35px}
.layer .info_input{margin:19px 0 0}
.layer .tbl_info{margin:0}
.layer .biz_regist_txt2{margin:3px 0 0;color:#666}
.layer .biz_ref_regist{margin:7px 0;color:#666}
.layer .biz_change_desc{margin-bottom:0}
.layer.refund_delete_info .biz_regist_txt2{margin-top:11px;line-height:18px;color:#666}
.layer .check_area{margin-top:30px;padding:25px 0 25px 43px;border:1px solid #edeff4;background-color:#f7f8fa}
.layer .check_area .i_text{width:243px;height:29px;margin-right:4px;padding:0 0 0 10px;border-color:#afb5bf #aeb4be #9ca1aa;font-size:16px;line-height:28px;color:#5184df;font-weight:bold;letter-spacing:-1px}
.layer .check_area .pop_btn_check{display:inline-block;width:83px;height:31px;background:url(../img/spr_btn_myinfo.png) no-repeat -105px -305px;vertical-align:top}
.layer .check_area .info_check{position:relative;margin:17px 0 -7px;padding-right:43px;color:#5184df;text-align:center}
.layer .dsc_check{margin:17px 0 -5px;line-height:20px;color:#666;letter-spacing:-1px;text-align:center}
.layer .dsc_check em{color:#5184df}
.layer .email_area{margin-top:30px;border:1px solid #edeff4;background-color:#f7f8fa}
.layer .email_area .pop_txt{margin-top:18px}
.layer .email_area .info_input{margin:10px 0 19px}
.layer .ceti_info{margin-top:26px}
.layer .ceti_info h2{font-size:12px;line-height:18px;color:#333}
.layer .ceti_info .dsc{margin-top:3px;font-size:11px;line-height:18px;color:#999}
.layer .ceti_info .dsc em{color:#568adf}
.layer .info_area{margin-top:16px;padding-bottom:12px;border:1px solid #f0f0f0;background-color:#f8f9f9}
.layer .info_area h3{margin:14px 0 0 13px;font-size:12px;line-height:18px;color:#333}
.layer .info_area p{margin:3px 0 0 24px;font-size:12px;line-height:18px;color:#666}

.layer .resale_info .scroll{overflow-y:scroll;height:489px;padding:4px 15px 12px 24px;background-color:#fff;line-height:18px;color:#666;letter-spacing:-1px;line-height:18px;scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#9e9e9f;scrollbar-track-color:#fafafa;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#fff;scrollbar-highlight-color:#dbdbdb;scrollbar-shadow-color:#dbdbdb}
.layer .resale_info h2{margin:22px 0 6px;font-size:12px;color:#333}
.layer .resale_info .tx{margin-bottom:12px;font-size:11px;color:#666;letter-spacing:-1px}
.layer .resale_info .tx2{margin:3px 0 13px;font-size:11px;line-height:17px;color:#999;letter-spacing:-1px}
.layer .resale_info a{font-size:11px;color:#568adf;text-decoration:underline}
.layer .resale_info dt{margin-bottom:2px;padding-left:7px;background:url(../img/bu_dot_myinfo.png) no-repeat 0 8px;font-size:11px;color:#666;letter-spacing:-1px;font-weight:bold}
.l_login .pop_txt{text-align:left}
.l_login .bx{margin-top:5px;padding:20px 0 0 80px;background-color:#f7f8fa;border:1px solid #edeff4}
.l_login .bx_con{position:relative}
.l_login .input_chk{margin:-1px 1px 1px 0;vertical-align:middle}
.l_login .i_text{height:13px;margin-top:3px;font-size:11px}
.l_login label{font-size:11px;color:#575757;letter-spacing:-1px}
.l_login .chk_area{position:absolute;top:7px;left:144px}
.l_login .btn_login{overflow:hidden;position:absolute;top:27px;left:144px;width:52px;height:22px;background:url(../img/spr_btn_myinfo.png) no-repeat -328px -317px;text-indent:-999px}
.l_login .u_find{padding:9px 0 19px}
.l_login .u_find a{color:#787878;letter-spacing:-1px}
.l_login .u_find .bar{margin:0 3px;color:#c6c6c6}

/* pop,layer table */
.tbl_pop{width:100%;border:0;border:1px solid #c9c9c9;border-width:1px 0}
.tbl_pop th{padding:12px 0 10px;background-color:#f8f9f9;border:0}
.tbl_pop thead th{border:1px solid #f0f0f0;border-width:0 1px 1px 0}
.tbl_pop thead th:first-child,.tbl_pop thead th:last-child{border-width:0 0 1px}
.tbl_pop tbody th{border-top:1px solid #f0f0f0;text-align:left}
.tbl_pop tbody th span,.tbl_pop tbody th label{margin-left:16px}
.tbl_pop tbody tr:first-child th{border:0}
.tbl_pop td{padding:13px 0 10px;border:0;border-top:1px solid #f0f0f0;text-align:left}
.tbl_pop td select{height:22px}
.tbl_pop_v2 td{border-right:1px solid #f0f0f0}
.tbl_pop_v2 .cell_bor{border-right:0}
.tbl_pop td .item{margin-left:17px}
.tbl_pop tr:first-child td{border-top:0}

/* ly_calendar */
.ly_calendar{overflow:hidden;position:absolute;top:41px;left:50%;z-index:10;width:687px;margin-left:-343px;background-color:#fff;border:1px solid #454a57}
.ly_calendar .btn{overflow:hidden;position:absolute;top:15px;width:24px;z-index:10;height:22px;background:url(../img/bg_myinfo_calendar.png) no-repeat}
.ly_calendar .prev{left:19px;background-position:-1106px -202px}
.ly_calendar .next{right:19px;background-position:-1135px -202px}
.calendar_area{overflow:hidden;float:left;width:228px;margin-left:-1px;border:1px solid #eee;border-width:0 1px;text-align:center}
.calendar_area .calendar_period{position:relative;height:32px;padding-top:18px}
.calendar_area .calendar_period a{display:inline-block;vertical-align:middle}
.calendar_area .calendar_period a *{cursor:pointer}
.calendar_area .calendar_period a img{vertical-align:top}
.calendar_area .calendar_period strong{display:inline-block;width:83px;font-family:verdana;font-size:13px;color:#333;line-height:15px;text-align:center}
.calendar_area .calendar_period .btn_today{position:absolute;top:18px;left:16px;font-size:11px;color:#888;text-decoration:underline}
.calendar_area .calendar_period  span{overflow:hidden;display:inline-block;height:17px;background:url(../img/bg_myinfo_calendar.png) no-repeat}
.calendar_area .calendar_period .num0{width:12px}
.calendar_area .calendar_period .num1{width:8px;margin-right:2px;background-position:-17px 0}
.calendar_area .calendar_period .num2{width:11px;background-position:-30px 0}
.calendar_area .calendar_period .num3{width:11px;background-position:-46px 0}
.calendar_area .calendar_period .num4{width:12px;background-position:-62px 0}
.calendar_area .calendar_period .num5{width:12px;background-position:-79px 0}
.calendar_area .calendar_period .num6{width:11px;background-position:-96px 0}
.calendar_area .calendar_period .num7{width:11px;background-position:-112px 0}
.calendar_area .calendar_period .num8{width:12px;background-position:-128px 0}
.calendar_area .calendar_period .num9{width:12px;background-position:-145px 0}
.calendar_area .calendar_period .dot{width:4px;margin:0 1px;background-position:-162px 0}
.calendar_area .calendar_inner{background:url(../img/bg_myinfo_calendar2.gif) repeat-x}
.calendar_area table{width:168px;margin:0 auto 11px;border:0}
.calendar_area table th{height:35px;border:0;color:#777;font-weight:normal;text-align:center;vertical-align:top}
.calendar_area table th span{display:block;padding-top:9px}
.calendar_area table td{height:auto;padding:0;border:0;background:#fff;border:0;font-family:arial;font-size:11px;line-height:20px;color:#b3b3b3;text-align:center}
.calendar_area table td.sun a,.group3_v2 .calendar_area table td.sun{color:#f2412c}
.calendar_area table td.sat a,.group3_v2 .calendar_area table td.sat{color:#5266b2}
.calendar_area table td a{display:block;width:28px;height:20px;color:#333;text-align:center;letter-spacing:-1px}
.group3_v2 .calendar_area table td{width:28px;height:20px;color:#333;text-align:center;letter-spacing:-1px}
.calendar_area table td.today a,.group3_v2 .calendar_area table td.today{background:url(../img/bg_myinfo_calendar.png) no-repeat -33px -20px;color:#fff;text-decoration:none}
.calendar_area table td.selected a{background:url(../img/bg_myinfo_calendar.png) no-repeat 0 -20px;color:#fff;text-decoration:none}
.ly_calendar .calendar_input_period{overflow:hidden;width:100%;padding:10px 0;background-color:#fafafa;border-top:1px solid #ebebeb}
.ly_calendar .calendar_input_period label{display:inline-block;margin:6px 7px 0 15px;color:#333;font-weight:bold;vertical-align:top}
.ly_calendar .calendar_input_period input.input_date{width:157px;height:19px;padding:2px 0 0 4px;border:1px solid #bfbfbf;line-height:14px;color:#333;vertical-align:top}
.ly_calendar .calendar_input_period input.focused{width:155px;height:18px;padding-top:1px;border:2px solid #1abc16;color:#333 !important}
.ly_calendar .calendar_input_period a.btn_cal{color:#454545}
.ly_type{position:relative;z-index:20}
.ly_type .ly_calendar{top:23px;width:226px;margin:0}
.ly_type .ly_calendar .btn{position:static;width:15px;height:15px;text-indent:0}
.ly_type .ly_calendar .prev{margin-right:8px;background-position:-66px -20px}
.ly_type .ly_calendar .next{margin-left:4px;background-position:-86px -20px}
.ly_type .ly_calendar .ico{width:7px;height:4px;margin:-5px 0 5px 5px;background:url(../img/bg_myinfo_calendar.png) no-repeat;vertical-align:middle}
.ly_type .ly_calendar .unfd{background-position:-121px -20px}
.ly_type .ly_calendar .fd{background-position:-121px -29px}
.ly_type .btn_clse{overflow:hidden;position:absolute;right:8px;top:9px;width:10px;height:9px;background:url(../img/bg_myinfo_calendar.png) no-repeat -106px -20px;line-height:300px}
.ly_type .ly_sel{position:absolute;top:39px;left:3px;border:1px solid #a3a3a3;background-color:#fff;text-align:left}
.ly_type .ly_sel .dsc{position:absolute;top:9px;left:9px;font-weight:bold;font-size:11px;color:#444}
.ly_type .ly_sel .btn_clse{top:8px}
.ly_type .sel_area{float:left;padding:24px 5px 6px 1px;}
.ly_type .sel_area2{float:left;padding:24px 7px 6px 1px;border-left:1px solid #f4f4f5}
.ly_type .scroll{overflow:hidden;overflow-y:scroll;height:100px;scrollbar-arrow-color:#bcbcbc;scrollbar-face-color:#fff;scrollbar-track-color:#fff;scrollbar-3dlight-color:#e7e7e7;scrollbar-darkshadow-color:#e7e7e7;scrollbar-highlight-color:#e7e7e7;scrollbar-shadow-color:#fff}
.ly_type .sel_area .scroll{width:107px}
.ly_type .sel_area2 .scroll{width:96px}
.ly_type .scroll ul li a{display:block;height:20px;padding-left:8px;line-height:20px;color:#777;letter-spacing:0}
.ly_type .scroll ul li a:hover,.ly_type .scroll ul li a.selected{background-color:#e3edfa;font-weight:bold;color:#010101;text-decoration:none}
.group3_v2 .ly_calendar{position:absolute;top:137px;left:50%;z-index:60;width:458px;padding-top:5px}
.group3_v2 .ly_calendar .calendar_area table td.selected_week{height:18px;margin-top:-1px;border-top:1px solid #7495d8;border-bottom:1px solid #7495d8;background:#7b9ce5;color:#fff}
.group3_v2 .ly_calendar .calendar_area table td.selected_first{height:18px;margin-top:-1px;margin-right:-1px;border-top:1px solid #7495d8;border-bottom:1px solid #7495d8;border-left:1px solid #7495d8;background:#7b9ce5;color:#fff}
.group3_v2 .ly_calendar .calendar_area table td.selected_last{height:18px;margin-top:-1px;margin-left:-1px;border-top:1px solid #7495d8;border-bottom:1px solid #7495d8;border-right:1px solid #7495d8;background:#7b9ce5;color:#fff}
.group3_v2 .ly_calendar .calendar_input_period{padding-left:15px;color:#888;font-size:11px}
.group3_v2 .ly_calendar .btn_colse{display:block;overflow:hidden;position:absolute;top:4%;right:7px;width:21px;height:21px;background:url(../img/ico_month.gif) no-repeat 0 -55px;line-height:310px}
/* //ly_calendar */

/* 121203 add */
.claim{padding:90px 0 95px 40px}
.claim_area,.lst_claim{background:url(../img/bg_myinfo_claim.png) no-repeat}
.claim_area{height:265px}
.lst_claim{height:362px;background-position:0 -265px}
.ad_agree{margin:35px 0 60px;padding:28px 0 25px 22px;border:1px solid #e6e7e9;line-height:18px}
.ad_agree h4{font-size:12px;color:#222;letter-spacing:-1px}
.ad_agree ul{margin:7px 0 0 8px}
.ad_agree li{font-size:11px;color:#666;letter-spacing:-1px;text-indent:-8px}
.ad_agree .ad_chk{margin-top:14px}
.ad_agree .ad_chk input{width:13px;height:13px;margin:-1px 0 1px;vertical-align:middle}
.ad_agree .ad_chk label{font-size:11px;color:#5184df;letter-spacing:-1px}
.l_ad_agree .pop_agree_txt{margin-top:27px;line-height:20px;letter-spacing:-1px}
.l_ad_agree .pop_agree_txt a{color:#578add;text-decoration:underline}
.l_ad_agree .ad_agree{margin:24px 0 27px;padding:18px 0 15px 22px;border-width:1px 0}
/* //121203 add */