@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827 */

/* Common popup */
#pop_wrap{border:1px solid #292e36;background-color:#fff}
#pop_header{height:52px;background-color:#30343f}
#pop_header h1{display:inline-block;margin:14px 0 0 23px;width:105px;height:17px;background:url(../img/spr_h.png) no-repeat;text-indent:-999em}
#pop_container{padding:22px 25px}

/* popup_type1 */
.appl{position:relative;width:748px}
.appl h1{background-position:-90px -20px !important}
.appl .content #slt1{position:absolute;top:116px;right:89px;width:160px}
.appl .content{margin-bottom:20px;border:1px solid #c9c9c9;border-width:1px 0}
.appl .content table{width:100%;border-collapse:collapse;table-layout:fixed;border-spacing:0}
.appl .content th{width:140px}
.appl .content th,.appl .content td{border-bottom:1px solid #f0f0f0}
.appl .content th{padding-left:15px;background-color:#f8f9f9;text-align:left}
.appl .content td{padding:6px 0 6px 18px}
.appl .content input,.online .content select{vertical-align:middle}
.appl .content input{padding:4px 3px;border:1px solid;border-color:#b9bbc0 #dbdfe6 #e3e9ef #e2e3ea}
.appl .content input.file{padding:0}
.appl .content select{width:142px;height:auto;margin-left:5px;border:1px solid #ccc}
.appl .content textarea{overflow-x:hidden;overflow-y:scroll;width:440px;height:286px;margin:7px 0;border:1px solid;border-color:#b9bbc0 #dbdfe6 #e3e9ef #e2e3ea;line-height:18px;scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#9e9e9f;scrollbar-track-color:#fafafa;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#fff;scrollbar-highlight-color:#dbdbdb;scrollbar-shadow-color:#dbdbdb}
.appl .content .txt_top{padding-top:8px;vertical-align:top}
.appl .content .dott_txt{margin:5px 0 10px;padding-left:8px;background:url(../img/bu_dott2.gif) no-repeat 0 5px;font-size:11px;color:#5184df}
.appl .content .dott_txt strong{font-weight:normal}
.appl .content .del{width:46px;height:23px;border:0;background:url(../img/spr_btn.png) no-repeat -200px -140px}
.appl .content .content_view td{padding:11px 0 11px 18px}
.appl .pop_section{margin-left:15px}
.appl .pop_section dt{margin-bottom:8px;font-weight:bold}
.appl .pop_section dd{padding-left:8px;background:url(../img/bu_dott3.gif) no-repeat 0 7px;font-size:11px;line-height:18px;color:#999;letter-spacing:-1px}
.appl .pop_btn{margin-bottom:45px;text-align:center}
.appl .pop_btn .apliy_go{width:84px;height:31px;background:url(../img/spr_btn.png) no-repeat 0 -141px}
.appl .pop_btn a{display:inline-block;overflow:hidden;width:84px;height:31px;margin-left:5px;background:url(../img/spr_btn.png) no-repeat -100px -141px;line-height:999px;vertical-align:top}
.appl .txt_overflow{overflow-x:hidden;overflow-y:scroll;width:435px;height:160px;padding-right:90px;line-height:20px;letter-spacing:-1px;scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#9e9e9f;scrollbar-track-color:#fafafa;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#fff;scrollbar-highlight-color:#dbdbdb;scrollbar-shadow-color:#dbdbdb}
.appl .pop_btn input{width:84px;height:31px;margin-left:5px;border:0;cursor:pointer}
.appl .pop_btn .btn_lst{background:url(../img/spr_btn.png) no-repeat -90px -321px}
.appl .pop_btn .button_ok{background:url(../img/spr_btn.png) no-repeat 0 -321px}
.appl .txt_ok{color:#5185df}

/* popup_type2 */
.appl_ok{width:520px}
.appl_ok h1{background-position:-90px -20px !important}
.appl_ok .content{margin-bottom:14px}
.appl_ok .content p{padding:33px 0;border:5px solid #eff0f1;line-height:18px;font-size:14px;font-weight:bold;text-align:center}
.appl_ok .content p strong{color:#5184df}
.appl_ok .pop_section{font-size:11px;line-height:16px;color:#999}
.appl_ok .pop_section em{color:#5184df;letter-spacing:-1px}
.appl_ok .pop_btn_ok{margin-bottom:30px;text-align:center}
.appl_ok .pop_btn_ok input{width:84px;height:31px;border:0;background:url(../img/spr_btn.png) no-repeat 0 -321px;cursor:pointer}

/* popup_type3 */
.appl_lst h1{background-position:-90px -20px !important}
.appl_lst .content table{width:100%;margin-bottom:25px;border:1px solid #c9c9c9;border-width:1px 0;border-collapse:collapse;text-align:center;border-spacing:0}
.appl_lst .content tr.last td{border-bottom:0}
.appl_lst .content th,.appl_lst .content table td{height:36px;border-bottom:1px solid #f0f0f0}
.appl_lst .content th{background-color:#f8f9f9;text-align:center}
.appl_lst .content td{color:#999}
.appl_lst .content td a{color:#333}
.appl_lst .content td.txt_rgt{padding-left:50px;color:#333;text-align:left}
.appl_lst .content td.ok,.appl_lst .content td .receipt,.appl_lst .content td .not{letter-spacing:-1px}
.appl_lst .content td.ok{color:#5185df}
.appl_lst .content td.receipt{color:#eea200}
.appl_lst .content td.not{color:#999}
.appl_lst .pop_section{margin-left:15px}
.appl_lst .pop_section dt{margin-bottom:8px;font-weight:bold}
.appl_lst .pop_section dd{padding-left:8px;background:url(../img/bu_dott3.gif) no-repeat 0 7px;font-size:11px;line-height:18px;color:#999;letter-spacing:-1px}
.appl_lst .pop_btn_ok{margin-bottom:30px;text-align:center}
.appl_lst .pop_btn_ok input{width:84px;height:31px;border:0;background:url(../img/spr_btn.png) no-repeat 0 -321px;cursor:pointer}

/* 광고안내 팝업 공통 */
#pop_wrap.strategy_set,#pop_wrap.brane_unit{width:462px;border:1px solid #2a2d36;background-color:#fff}
#pop_wrap.weighting,#pop_wrap.adguide{width:638px;border:1px solid #2a2d36;background-color:#fff}
#pop_wrap.advertising,#pop_wrap.seasonal{width:738px;border:1px solid #2a2d36;background-color:#fff}
.brane_unit #pop_header,.weighting #pop_header,.strategy_set #pop_header,.advertising #pop_header,.adguide #pop_header,.seasonal #pop_header{height:49px;border-style:solid;border-width:1px;border-color:#444852 #444852 #2a2d36;background-color:#3a3e49}
.brane_unit #pop_container,.weighting #pop_container,.strategy_set #pop_container{padding:29px 24px 26px;border-top:1px solid #e9eaeb}
.advertising #pop_container,.adguide #pop_container{padding:20px 25px;border-top:1px solid #e9eaeb}
.seasonal #pop_container{padding:20px 25px 30px;border-top:1px solid #e9eaeb}
.brane_unit .pop_btn_cfm,.weighting .pop_btn_cfm,.strategy_set .pop_btn_cfm,.advertising .pop_btn_cfm,.adguide .pop_btn_cfm,.seasonal .pop_btn_cfm{margin-bottom:28px;text-align:center}
.brane_unit .pop_btn_cfm input,.weighting .pop_btn_cfm input,.strategy_set .pop_btn_cfm input,.advertising .pop_btn_cfm input,.adguide .pop_btn_cfm input,.seasonal .pop_btn_cfm input{width:64px;height:31px;border:0;background:url(../img/spr_btn_adguide.png) no-repeat 0 -100px;cursor:pointer}
.brane_unit .dot_txt,.weighting .dot_txt,.seasonal .dot_txt{margin-top:7px;padding-left:8px;background:url(../img/pop_dott2.gif) 0 8px no-repeat;line-height:18px;color:#999;letter-spacing:-1px}
.brane_unit h2,.weighting h2{padding-bottom:9px;font-size:12px;color:#333}
.weighting .txt_phrase,.strategy_set .txt_phrase{line-height:18px;color:#666}
.weighting .txt_phrase span,.strategy_set .txt_phrase span{color:#568adf}
.weighting .txt_phrase2,.strategy_set .txt_phrase2{padding:12px 0 27px;line-height:18px;color:#666}
.strategy_set .txt_phrase3{padding-top:12px;line-height:18px;color:#666}
.advertising .adimg_area,.adguide .adimg_area{padding-bottom:20px;border-bottom:1px solid #c9c9c9}

/* 광고안내 - 입찰가 가중치란? 팝업 */
.weighting h1{width:120px !important;height:20px !important;margin:14px 0 0 23px !important;background:url(../img/spr_h_adguide.png) 0 -290px no-repeat !important}

/* 광고안내 - 컨텐츠 네트워크의 입찰 전략 설정 팝업 */
.strategy_set h1{width:230px !important;height:20px !important;margin:14px 0 0 23px !important;background:url(../img/spr_h_adguide.png) -150px -290px no-repeat !important}

/* 광고안내 - 브랜드 검색 단가표 팝업 */
.brane_unit h1{width:132px !important;height:20px !important;margin:14px 0 0 23px !important;background:url(../img/spr_h_adguide.png) -410px -290px no-repeat !important}

/* 광고안내 - 광고효과 보고서 샘플보기 팝업 */
.advertising h1{width:176px !important;height:20px !important;margin:14px 0 0 23px !important;background:url(../img/spr_h_adguide.png) -580px -290px no-repeat !important}

/* 광고안내 - 광고운영 가이드 샘플보기 팝업 */
.adguide h1{width:176px !important;height:20px !important;margin:14px 0 0 23px !important;background:url(../img/spr_h_adguide.png) -790px -290px no-repeat !important}

/* 광고안내 - 시즈널 키워드 제안 샘플보기 팝업 */
.seasonal h1{width:195px !important;height:20px !important;margin:14px 0 0 23px !important;background:url(../img/spr_h_adguide.png) -1010px -290px no-repeat !important}

/* 광고안내 테이블 */
.tbl_style01{width:100%;border-top:1px solid #c9c9c9;border-bottom:1px solid #f0f0f0;border-collapse:collapse;text-align:center;border-spacing:0}
.tbl_style01 th{height:37px;background-color:#f8f9f9;color:#333}
.tbl_scroll{overflow-y:scroll;overflow-x:hidden;width:100%;border-bottom:1px solid #c9c9c9;scrollbar-face-color:#fff;scrollbar-3dlight-color:#fff;scrollbar-highlight-color:#dadada;scrollbar-shadow-color:#dadada;scrollbar-darkshadow-color:#fff;scrollbar-arrow-color:#aaa;scrollbar-track-color:#f4f4f4}

.tbl_style02{width:100%;border-collapse:collapse;text-align:center;border-spacing:0}
.tbl_style02 td{height:37px;border-bottom:1px solid #f0f0f0;color:#666}

.tbl_style03{width:100%;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;border-collapse:collapse;text-align:center;border-spacing:0}
.tbl_style03 th{height:37px;background-color:#f8f9f9;color:#333}
.tbl_style03 td{height:37px;border-bottom:1px solid #f0f0f0;color:#666}
.tbl_style03 .last td{border-bottom:0}