@charset "utf-8";
/* Bluewave Web Standard Team KKS 120827, JSW 120827, PJC 120827, WSY 120827 */

/* Common popup */
#pop_wrap{border-style:solid;background-color:#fff}
#pop_header{background-color:#3a3e49}
.pop_layer .header .inner{padding:14px 23px 15px;border:1px solid #444852;border-bottom-color:#2a2d36}
.pop_layer h1{width:250px;height:18px;background:url(../img/spr_h_pop.png) no-repeat;text-indent:-9999em}
.pop_btn_cfm{text-align:center}
.pop_layer{border-width:1px;border-color:#2a2d36}
.pop_layer2{border-width:3px;border-color:#999}
.pop_layer .content{padding:25px}
.pop_layer2 .content{padding:71px 25px 22px}
.pop_layer .pop_btn_cfm{margin-bottom:40px}
.pop_layer2 .pop_btn_cfm{margin-bottom:58px}

.pop_layer .tit{margin-top:5px;color:#333}
.pop_layer .tit_v1{overflow:hidden;zoom:1;margin-top:36px}
.pop_layer .tit_v1 strong{float:left}
.pop_layer .tit_v1 em{float:right;font-size:11px;color:#666}
.pop_layer .tit_v1 .req{margin-right:4px}
.pop_layer .rgt{margin-top:5px;color:#666;text-align:right}
.pop_layer .rgt label,.pop_layer .rgt input{vertical-align:middle}
.pop_layer .rgt label{display:inline-block;margin-top:1px}
.pop_layer .rgt .link{margin-right:32px}
.pop_layer .scroll_area{overflow:hidden;overflow-y:scroll;height:627px}

/* 인쇄 레이어 */
.print_layer{height:100%;border:0;background-color:#fff}
.print_layer .header .inner{overflow:hidden;zoom:1;padding:11px 10px 10px 25px;border:1px solid #2a2d36}
.print_layer h1{float:left;margin-top:5px;width:140px;height:18px}
.print_layer h1 span.tx{display:block;background:url(../img/spr_h_pop.png) no-repeat 0 -300px;text-indent:-9999em}
.print_layer h1 img{display:none}
.print_layer button{float:right}
.print_layer .content{padding:38px 40px 40px}
.print_layer .content .n_detail .header{padding-top:0}

.serch_group{}
.serch_group p{overflow:hidden;zoom:1}
.serch_group strong{float:left;margin-top:13px}
.serch_group .rgt{float:right}
.serch_group .btn_area button{margin-right:-1px}
.serch_group .scroll_area{margin-top:2px;padding:15px 0;height:158px;border:1px solid #f0f0f0;border-width:1px 0}
.serch_group .section{margin-top:8px;text-align:right}
.serch_group .scroll_area dt{margin-top:30px;color:#333}
.serch_group .scroll_area dt:first-child{margin-top:0}
.serch_group .scroll_area dd{margin-top:5px}
.serch_group .scroll_area dd a{color:#666}
.serch_group .scroll_area_v1 dd{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.serch_group_v1{}
.serch_group_v1 p{padding-bottom:5px;letter-spacing:-1px}

.serch_group_v1 input,.serch_group_v1 label{vertical-align:middle}
.serch_group_v1 strong{float:none;vertical-align:middle}
.serch_group_v1 strong a{color:#333}
.serch_group .no_result{margin-bottom:72px;width:auto}
.serch_group .no_result p{margin-top:75px;color:#999;text-align:center}
.serch_group .no_result p strong{font-weight:normal}

.serch_group_v2{padding:7px 25px 0;margin-bottom:40px}
.serch_group_v2 .scroll_area{margin-top:6px;padding-right:15px;line-height:1.6}
.serch_group_v2 .scroll_area p{margin-top:19px}
.serch_group_v2 .scroll_area p:first-child{margin-top:0}
.serch_group_v2 .font_level1{font-size:12px}
.serch_group_v2 .font_level2{font-size:13px}
.serch_group_v2 .font_level3{font-size:14px}
.serch_group_v2 .font_level4{font-size:16px}
.serch_group_v2 .font_level5{font-size:18px}

.serch_group_v3{padding:19px 25px 0}
.serch_group_v3 p{padding-bottom:7px}
.serch_group_v4{margin-bottom:72px}

.letter_srch{overflow:hidden;zoom:1}
.letter_srch .btn{float:left;margin-left:2px;width:15px;height:15px;background:url(../img/spr_btn_letter.png) no-repeat}
.letter_srch .total{width:27px;margin:0 3px 0 0;background-position:0 0}
.letter_srch .m1{background-position:0 -20px}
.letter_srch .m2{background-position:0 -40px}
.letter_srch .m3{background-position:0 -60px}
.letter_srch .m4{background-position:0 -80px}
.letter_srch .m5{background-position:0 -100px}
.letter_srch .m6{background-position:0 -120px}
.letter_srch .m7{background-position:0 -140px}
.letter_srch .m8{background-position:0 -160px}
.letter_srch .m9{background-position:0 -180px}
.letter_srch .m10{background-position:0 -200px} 
.letter_srch .m11{background-position:0 -220px}
.letter_srch .m12{background-position:0 -240px}
.letter_srch .m13{background-position:0 -260px}
.letter_srch .m14{background-position:0 -280px}
.letter_srch .m_vowel{width:28px;margin-left:3px;background-position:0 -300px}
.letter_srch .etc{width:27px;margin-left:3px;background-position:0 -320px}
.letter_srch .m1_on{background-position:-30px -20px}
.letter_srch .m2_on{background-position:-30px -40px}
.letter_srch .m3_on{background-position:-30px -60px}
.letter_srch .m4_on{background-position:-30px -80px}
.letter_srch .m5_on{background-position:-30px -100px}
.letter_srch .m6_on{background-position:-30px -120px}
.letter_srch .m7_on{background-position:-30px -140px}
.letter_srch .m8_on{background-position:-30px -160px}
.letter_srch .m9_on{background-position:-30px -180px}
.letter_srch .m10_on{background-position:-30px -200px} 
.letter_srch .m11_on{background-position:-30px -220px}
.letter_srch .m12_on{background-position:-30px -240px}
.letter_srch .m13_on{background-position:-30px -260px}
.letter_srch .m14_on{background-position:-30px -280px}
.letter_srch .total_on{width:27px;margin:0 3px 0 0;background-position:-30px 0}
.letter_srch .m_vowel_on{width:28px;margin-left:3px;background-position:-30px -300px}
.letter_srch .etc_on{width:27px;background-position:-30px -320px}

/* popup_btn */
.p_btn{display:inline-block;overflow:hidden;width:70px;height:33px;border:0;background:url(../img/spr_btn_popup.png) no-repeat;line-height:999em;vertical-align:middle;cursor:pointer}
/* 등록하기 */
.p_openroll{background-position:0 0}
/* 구독해지 */
.p_unscbe{background-position:-75px 0}
/* 주소수정 */
.p_ars_modify{background-position:-150px 0}
/* 참여완료 */
.p_part_cpt{background-position:-225px 0}
/* 닫기 */
.p_close{background-position:-300px 0}
/* 닫기2 */
.p_close2{width:21px;height:21px;background-position:-375px 0}
/* 취소 */
.p_cancle{background-position:-150px -35px}
/* 확인 */
.p_verify{width:70px;height:33px;background-position:0 -70px}
/* 우편번호검색 */
.p_zip{width:72px;height:22px;background-position:-75px -35px}
/* 발송신청 */
.p_sent_app{width:70px;height:33px;background-position:0 -35px}
/* 프린트 */
.p_print{width:70px;height:33px;background-position:-300px -35px}
/* 프린트 아이콘 */
.p_print2{width:28px;height:24px;background-position:-372px -35px}
/* 폰트 보통 */
.font_nmr{width:29px;height:24px;background-position:-75px -70px}
/* 폰트 굵게 */
.font_wgt{width:29px;height:24px;background-position:-117px -70px}
/* 목록보기 */
.lst_view{width:56px;height:24px;background-position:-225px -35px}
/* 삭제 */
.p_del{width:42px;height:22px;background-position:-150px -70px}
/* 상담신청 */
.p_appl{width:70px;height:33px;background-position:-225px -70px}
/* 목록 */
.p_lst{width:70px;height:33px;background-position:-300px -70px}
/* 인쇄하기 */
.p_printing{width:81px;height:29px;background-position:-372px -70px}

/* 줄 넘기기 */
.br{display:block}

/* 인풋 리스트 */
.inp_lst{color:#333}
.inp_lst li{display:inline;margin-left:14px;*margin-left:10px}
.inp_lst li:first-child{margin-left:0}
.inp_lst label{margin-left:-1px;*margin-left:-4px}

.inp_lst_v1 li{margin-left:5px;*margin-left:-3px}

/* 추가설명 */
.info_dsc{color:#666;letter-spacing:-1px}
.info_dsc .num{letter-spacing:0}
.info_dsc_v1{margin-top:7px;line-height:1.5}

/* 안내 영역 */
.info_box{margin-top:8px;padding:11px 14px;border:1px solid #bebec1;color:#666;line-height:1.6;letter-spacing:-1px}
.info_box ol{list-style:decimal inside}
.info_box li{margin-top:3px}
.info_box .link{letter-spacing:0}

/* tbl_form UIO */
.tbl_form{}
.tbl_form table{table-layout:fixed;width:100%;border:1px solid #c9c9c9;border-width:1px 0;border-collapse:collapse;border-spacing:0}
.tbl_form th,.tbl_form td{padding:13px 0 12px 15px;border-top:1px solid #f0f0f0}
.tbl_form tr:first-child th,.tbl_form tr:first-child td{border-top:0}
.tbl_form th{background-color:#f8f9f9;color:#333;text-align:left;vertical-align:top}
.tbl_form td{padding-right:15px;color:#666}
.tbl_form input[type=text],.tbl_form textarea{border:1px solid;border-color:#bebec1 #d4d4d8 #d4d4d8 #bebec1}
.tbl_form input[type=text]{padding:5px 5px 4px;width:97.802%;height:auto}
.tbl_form select{width:34%;height:22px;font-size:12px}
.tbl_form textarea{width:100%;resize:none}
.tbl_form select,.tbl_form input,.tbl_form label,.tbl_form button{vertical-align:middle}
.tbl_form_v1{margin-top:8px}
.tbl_form_v1 td{padding:8px 16px 7px}
.tbl_form_v1 .ipt input{display:inline-block;margin-top:9px}
.tbl_form_v1 .req{margin-right:4px}
.tbl_form_v2{position:relative}
.tbl_form_v2 .fix_header{height:37px;border-top:1px solid #c9c9c9;background-color:#f8f9f9}
.tbl_form_v2 th{height:0;padding:0;text-align:left}
.tbl_form_v2 th span{position:absolute;top:0;height:37px;line-height:37px;text-align:center}
.tbl_form_v2 td{text-align:center}
.tbl_form td.intd{padding:7px 15px 8px 15px}
.tbl_form td.intd2{padding:5px 15px 8px 15px}

/* 팝업 공통 */
.sent_app .tbl_form table,.ep_evt .tbl_form table{border-top-width:2px}

/* 오피니언 리더 Adist에게 묻는다 :: [정보센터 팝업레이어] */
.adist_query{width:638px}
.adist_query h1{background-position:0 0}
.adist_query .content{padding-bottom:15px}
.adist_query .tbl_form td{color:#333}
.adist_query textarea{overflow-y:auto;height:243px}
.adist_query .info_dsc{margin-top:20px}
.adist_query .ex_pit2{margin:-3px 4px 0 0;vertical-align:middle}
.adist_query .dot_lst{margin-top:5px;padding-left:21px;line-height:1.6}
.adist_query .pop_btn_cfm{margin-left:25px;margin-right:25px;padding-top:20px;border-top:1px solid #f0f0f0}
.adist_query .pop_btn_cfm button{margin-right:1px}

/* 알림 */
.alert{position:relative;width:314px}
.alert .content{text-align:center;color:#333}
.alert .p_close2{position:absolute;top:11px;right:10px}
.alert .pop_btn_cfm{margin-top:3px;margin-bottom:56px}

/* 네이버 키워드 스퀘어 구독해지 :: [정보센터 팝업레이어] */
.sq_unscbe{width:462px}
.sq_unscbe h1{background-position:0 -20px}
.sq_unscbe .content{padding-bottom:16px}
.sq_unscbe .tbl_form{margin-top:9px}
.sq_unscbe .info_dsc{margin-top:8px;line-height:1.4}

/* 네이버 키워드 스퀘어 주소수정 :: [정보센터 팝업레이어] */
.ars_modify{width:462px}
.ars_modify h1{background-position:0 -40px}
.ars_modify .content{padding-bottom:17px}
.ars_modify .p_zip{margin-left:1px}

/* 네이버 키워드 스퀘어 발송신청 :: [정보센터 팝업레이어] */
.sent_app{width:462px}
.sent_app h1{background-position:0 -60px}
.sent_app .content{padding-bottom:16px}
.sent_app .info_box{margin-top:9px}
.sent_app .p_zip{margin-left:1px}
.sent_app .info_dsc_v1{margin-top:6px}
.sent_app .pop_btn_cfm{margin-bottom:0;padding-bottom:40px}

/* 당신의 에피소드 이벤트 :: [정보센터 팝업레이어] */
.ep_evt{width:462px}
.ep_evt h1{background-position:0 -80px}
.ep_evt .ep{margin-top:37px}
.ep_evt textarea{margin-top:8px;padding:9px 7px;width:96%;border:1px solid #bebec1;color:#999;resize:none}
.ep_evt .pop_btn_cfm{margin-bottom:0;padding-bottom:40px}

/* 후기 이벤트 :: [정보센터 팝업레이어] */
.review_evt{width:462px}
.review_evt h1{background-position:0 -100px}
.review_evt .question{margin-top:31px}
.review_evt table{border-top-width:2px}
.q_aires_lst{overflow-y:scroll;margin-top:8px;padding:15px 0;height:189px;border:1px solid #c9c9c9;border-width:2px 0 1px;color:#666;letter-spacing:-1px}
.q_aires_lst ol{list-style:decimal inside}
.q_aires_lst li{margin-top:4px;line-height:1.4}
.q_aires_lst li:first-child{margin-top:0}
.q_aires_lst label,.q_aires_lst input{vertical-align:middle}
.q_aires_lst p{margin-top:16px}
.q_aires{padding:8px 0}
.q_aires textarea{overflow-y:auto;margin:9px 0 2px;padding:10px 9px;width:90%;height:47px;border:1px solid #bebec1;color:#999;resize:none}
.q_aires_v1 textarea{margin-top:0}
.review_evt .pop_btn_cfm{margin-bottom:0;padding-bottom:40px}
.q_aires li .etc_txt{width:80%;*width:74%;margin-left:10px}

/* 광고용어사전 :: [정보센터 팝업레이어] */
.ad_dictionary{position:relative;width:490px;height:515px}
.ad_dictionary h1{background-position:0 -120px}
.ad_dictionary .content{padding:0}
.ad_dictionary .pop_srch_area{padding:21px 25px 20px;border-bottom:1px solid #f0f0f0;background-color:#f8f9f9}
.ad_dictionary .srch input{vertical-align:middle}
.ad_dictionary .srch input[type=text]{padding:4px 5px 3px;width:215px}
.ad_dictionary .letter_srch{margin-top:10px}
.ad_dictionary .total{margin-left:0}
.ad_dictionary .rgt .p_print2{float:left;margin-right:5px}
.ad_dictionary .rgt .btn_area{float:left}
.ad_dictionary .p_close{position:absolute;bottom:40px;left:50%;margin-left:-35px}

/* 전체 검색결과 */
.ad_dictionary .result{margin:13px 0 0;padding:0 25px}
.ad_dictionary .result input,.ad_dictionary .result label{vertical-align:middle}
.ad_dictionary .result input{margin-right:4px}
.ad_dictionary .result strong{color:#333}
.ad_dictionary .result p{overflow:hidden;zoom:1;padding-bottom:5px;border-bottom:1px solid #c9c9c9}
.ad_dictionary .result .result_num{float:left;margin-top:2px}
.ad_dictionary .result .p_print2{float:right}
.ad_dictionary .result_lst{overflow:hidden;zoom:1}
.ad_dictionary .result_lst li{float:left;overflow:hidden;text-overflow:ellipsis;padding:12px 0;*padding:8px 0;width:146px;border-bottom:1px solid #f0f0f0;color:#333;white-space:nowrap}
.ad_dictionary .result_lst li a{color:#333}
.ad_dictionary .paging_imsch{margin:16px 0 14px}
.ad_dictionary .pop_btn2_cfm{margin-top:35px}

/* 광고용어사전 미리보기 */
.ad_preview{width:498px}
.ad_preview h1{background-position:0 -140px}
.ad_preview .scroll_area{height:369px}

/* 입찰가 가중치란? */
.weighting{width:638px}
.weighting h1{background-position:0 -160px}
.weighting .section{margin-top:12px;line-height:18px;color:#666}
.weighting .section:first-child{margin-top:0}
.weighting h2{margin-top:27px;font-size:12px;color:#333}
.weighting .tbl_form{margin-top:9px}
.weighting .tbl_form th,.weighting .tbl_form td{text-align:center}
.weighting .dot_txt{margin-top:7px;padding-left:8px;background:url(../img/pop_dott2.gif) 0 8px no-repeat;line-height:18px;color:#999;letter-spacing:-1px;font-size:11px}

/* 컨텐츠 네트워크의 입찰 전략 설정 */
.strategy_set{width:462px}
.strategy_set h1{background-position:0 -180px}
.strategy_set .section{margin-top:12px;line-height:18px;color:#666}
.strategy_set .section:first-child{margin-top:0}

/* 브랜드 검색 단가표 */
.brane_unit{width:462px}
.brane_unit h1{background-position:0 -200px}
.brane_unit h2{margin-top:5px;padding-bottom:9px;font-size:12px;color:#333}
.brane_unit .tbl_form table{border-top:0}
.brane_unit .scroll_area{height:265px;border:1px solid;border-width:1px 0;border-color:#f0f0f0 transparent #c9c9c9}
.brane_unit .dot_txt{margin-top:7px;padding-left:8px;background:url(../img/pop_dott2.gif) 0 8px no-repeat;line-height:18px;color:#999;letter-spacing:-1px;font-size:11px}

/* 광고효과 보고서 샘플보기 */
.advertising{width:738px}
.advertising h1{background-position:0 -220px}
.advertising .adimg_area{margin-top:-3px;padding-bottom:20px;border-bottom:1px solid #c9c9c9}
.advertising .pop_btn_cfm{margin:-5px 0 40px 0}

/* 고운영 가이드 샘플보기 */
.adguide{width:638px}
.adguide h1{background-position:0 -240px}
.adguide .adimg_area{margin-top:1px;padding-bottom:20px;border-bottom:1px solid #c9c9c9}
.adguide .pop_btn_cfm{margin-bottom:33px}

/* 시즈널 키워드 제안 샘플보기 */
.seasonal{width:738px}
.seasonal h1{background-position:0 -260px}
.seasonal .seasonal_con{margin-top:-7px}
.seasonal .dot_txt{margin-top:7px;padding-left:6px;background:url(../img/pop_dott2.gif) 0 8px no-repeat;line-height:18px;color:#999;letter-spacing:-1px;font-size:11px}

/* 온라인 법률상담 */
.appl{width:638px}
.appl h1{background-position:0 -280px}
.appl .scroll_area{height:619px}
.appl .tbl_form td{color:#333}
.appl textarea{overflow-y:auto;height:243px}
.appl .file_srch input{border:1px solid;border-color:#b9bbc0 #dbdfe6 #e3e9ef #e2e3ea;vertical-align:middle}
.appl .file_srch span{display:inline-block;overflow:hidden;width:52px;height:22px;background:url(../img/btn_filesrch.gif) no-repeat;vertical-align:middle}
.appl .file_srch input[type=file]{width:100%;opacity:0;filter:alpha(opacity=0)}
.appl .dott_txt{margin:4px 0 3px;font-size:11px;color:#5184df}
.appl .dott_txt strong{font-weight:normal;font-size:12px}
.appl .info_area{padding-bottom:24px;font-size:11px;border-bottom:1px solid #f0f0f0}
.appl .info_area .info_dsc{margin-top:18px}
.appl .info_area .info_dsc dt .ex_pit2{vertical-align:-4px}
.appl .info_area .info_dsc dd{margin-left:20px}
.appl .info_area .info_dsc .cst{margin-top:9px}
.appl .info_area .info_dsc li{margin-top:7px}
.appl .info_area .info_dsc .dot_lst{margin-top:6px}
.appl .info_area .info_dsc .dot_lst li{margin-top:2px;background-position-y:6px;line-height:1.6}
.appl .info_area input,.appl .info_area label{vertical-align:middle}
.appl .info_area label{margin-left:5px}
.appl .pop_btn_cfm{margin-bottom:0;padding-bottom:40px}

.appl_ok{width:462px}
.appl_ok p{margin-top:6px;text-align:center}
.appl_ok .section{margin-top:16px;color:#666;line-height:1.5}

.appl_lst{width:638px}
.appl_lst p{margin-top:6px}
.appl_lst .tbl_form{margin-top:9px}
.appl_lst .tbl_form th,.appl_lst .tbl_form td{text-align:center}
.appl_lst .tbl_form th{padding-left:0}
.appl_lst .tbl_form td{color:#666}
.appl_lst .tbl_form tr:first-child td{border-top:1px solid #f0f0f0}
.appl_lst .tbl_form .lft{text-align:left}
.appl_lst .tbl_form .ok{color:#568adf}
.appl_lst .tbl_form .receipt{color:#32be00}
.appl_lst .tbl_form .not{color:#999}
.appl_lst .tbl_form a{color:#333}
.appl_lst .paging_imsch{margin-bottom:24px}
.appl_lst .info_dsc{font-size:11px}
.appl_lst .info_dsc dt{color:#333}
.appl_lst .info_dsc dd{margin-top:9px}
.appl_lst .info_dsc li{margin-top:5px;padding-left:8px;background-position-y:6px;line-height:1.5}
.appl_lst .info_dsc li em{font-weight:bold}
.appl_lst .info_dsc ol{margin-top:-4px}
.appl_lst .info_dsc ol li{padding-left:0;background:none}

.appl_view{width:638px}
.appl_view p{margin-top:6px}
.appl_view .tbl_form{margin-top:8px}
.appl_view .scroll_area{padding:10px;height:123px;border:1px solid #bebec1;line-height:1.4}
.appl_view .pop_btn_cfm{margin-top:5px}

/* 키워드광고 시스템 정기점검 안내 */
.system_check{width:462px;height:385px}
.system_check h1{background-position:0 -320px}
.system_check .dsc{margin:12px 0 16px;line-height:1.7;color:#333}
.system_check .info_area{width:396px;height:70px;padding:17px 0 0 14px;margin-bottom:23px;background-color:#f8f9f9;border:1px solid #f1f3f3}
.system_check .info_area li{overflow:hidden;zoom:1;padding-left:10px;background:url(../img/bu_adu_dot.png) no-repeat 0 7px;line-height:1.6;color:#666}
.system_check .info_area li strong,.system_check .info_area li .tx{float:left}
.system_check .info_area li strong{color:#333}
.system_check .info_area li strong span{margin:0 5px;font-weight:normal}
.system_check .info_area li .tx{width:285px}
.system_check .ntc{line-height:1.7;color:#333}
.system_check .ntc .ex_pit2{vertical-align:top}
.system_check .ntc strong{display:inline-block;width:385px;color:#697ab2}
.system_check .ntc p{margin-left:20px}
.system_check .ntc p:first-child{margin-left:0}